<template>
	<view class="cnd-upload-cell" :class="{ border: isborder }">
		<view class="text-container">
			<view class="title-wrapper">
				<text>{{ title }}</text>
			</view>
		</view>
		<view class="img-container" v-if="showTo == '1'|| showTo == '2'">
			<view class="img-box" v-for="(item, index) in imgList" :key="index"  @click="perviewImg(index)" :class="(index + 1) % 3 == 0 ? 'right' : ''">
				<image class="img-wrapper" :src="item.finalStaticPath" mode="aspectFill" />
				<view class="boyImgClose">
					<!-- <image class="iconfont" @click.stop="deteleImg(index)" v-if="isdelete" /> -->
					<i class="iconfont icon-cnd-close" @click.stop="deteleImg()" v-if="isdelete"></i>
					<!-- <image class="iconfont" @click.stop="chooseImage()" v-if="isdelete" /> -->
				</view>
				<view class="boyImgAdd">
					<i class="iconfont icon-cnd-add" @click.stop="chooseImage()" v-if="isdelete"></i>
				</view>
			</view>
			<view class="img-box right" @click="chooseImage()" v-if="imgList.length <= 0">
				<slot></slot>
				
			</view>
		</view>
		
		<view class="img-container" v-if="showTo == '3'">
			<view class="img-box" v-for="(item, index) in imgList" :key="index" :class="(index + 1) % 3 == 0 ? 'right' : ''">
				<image class="img-wrapper" :src="item.finalStaticPath" @click="perviewImg(index)"  mode="aspectFill" />
			</view>
			<view class="img-box right"  v-if="imgList.length <= 0">
				<slot></slot>
				
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import { baseUrl } from '@/common/utils/index.js';
import _ from 'lodash';
export default {
	data() {
		return {coversImg: '',percent: 0};
	},
	
	props: {
		title: {
			type: String,
			default: ''
		},
		isdelete: {
			type: Boolean,
			default: true
		},
		imgList: {
			type: Array,
			default() {
				return [];
			}
		},
		max: {
			type: Number,
			default: 9
		},
		isEdit: {
			type: Boolean,
			default: true
		},
		// 下边框可选，一般除末行都为true
		isborder: {
			type: Boolean,
			default: true
		},
		busId: {
			type: String,
			default: ''
		},
		returnType: {
			type: String,
			default: 'json'
		},
		catalog: {
			type: String,
			default: ''
		},
		showTo: {
			type: String,
			default: ''
		}
	},
	methods: {
		// urlTobase64(url) {
		// 	// console.log('看看有没有');
		// 	let toBase64Url;
		// 	uni.request({
				
		// 		url: url,
		// 		method: 'GET',
		// 		responseType: 'arraybuffer',
		// 		success: async res => {
		// 			let base64 = wx.arrayBufferToBase64(res.data); //把arraybuffer转成base64
		// 			toBase64Url = 'data:image/jpeg;base64,' + base64; //不加上这串字符，在页面无法显示
		// 			this.coversImg = toBase64Url;
		// 			console.log('看看有没有2');
		// 			console.log(this.coversImg+'45');
		// 			await this.parseBlob(toBase64Url)
		// 		},fail: (e) => {
		// 			console.log("图片转换失败1");
		// 		}
		// 	});
			
		// },
    

		// parseBlob(base64) {
		// 	console.log('看看有没有3');
		// 	const arr = base64.split(',')
		// 	const mime = arr[0].match(/:(.*?);/)[1]
			
		// 	const bstr = atob(arr[1])
		// 	const n = bstr.length
		// 	const u8arr = new Uint8Array(n)
		// 	for(let i = 0; i < n; i++) {
		// 		u8arr[i] = bstr.charCodeAt(i)
		// 	}
		// 	const url = URL || webkitURL;
		// 	const blob = new Blob([u8arr])
		// 	const filePath = url.createObjectURL(blob)
		// 	this.upload(filePath);
		// 	console.log('打印二进制',blob)
		// 	// return url.createObjectURL(blob);
			
		// },
		chooseImage() {
			let max = this.max - this.imgList.length;
			uni.$emit('uploadBefore');
			uni.chooseImage({
				count: 1,
				sizeType: ['compressed'], //original 原图，compressed 压缩图，默认二者都有
				success: (chooseImageRes) => {
					this.$emit('add', this.tempFilePaths);
					
					// for (let i = 0; i <= chooseImageRes.tempFilePaths.length; i++) {
						let filePath = chooseImageRes.tempFilePaths[0];
						console.log('上传的图',chooseImageRes.tempFiles[0].size/1024)
						// #ifdef  MP-WEIXIN
						if (chooseImageRes.tempFiles[0].size/1024 > 1024) {
							uni.compressImage({
								src: filePath,
								quality: 30,
								success: res => {
									console.log('124',res)
									
									this.upload(res.tempFilePath);
									// uni.saveImageToPhotosAlbum({
									// 	filePath: res.tempFilePath,
									// 	success(res) {
									// 		uni.showToast({
									// 			title: '已保存到相册',
									// 			duration: 2000
									// 		});
									// 	}
									// });
								}
							})
						}else{
							
							this.upload(filePath);
						}
						// #endif
						
						// #ifdef  H5
						
						this.upload(filePath);
						// #endif
						
					// }
					// console.log('打印图片路径', chooseImageRes.tempFilePaths[0])
					
				}
			});
		},
		async deteleImg(index) {
			let { imgList } = this;
			// if(imgList.length==1){
				for(let i in imgList){
					let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
						dataStores: {},
						parameters: {
							ids: imgList[i].sId,
							_parameters: 'ids',
							_parameterTypes: 'string',
							dcID: 'fs',
							_boId: 'fs_bsbFilesBO_bo',
							_methodName: 'deleteFile',
							_methodParameterTypes: 'String'
						}
					});
					uni.$emit('deleteImg');
					console.log('已删除', '第'+i+'张图')
				}
			// }
		},
		async upload(filePath) {
			await this.deteleImg()
			return new Promise((resolve) => {
				let { busId, returnType, catalog } = this;
				let formData = {
					returnType,
					busId,
					catalog
				};
				let header = {
					'Cookie': 'JSESSIONID=' + uni.getStorageSync('Cookie')
				};
				
				let url = `${baseUrl}/techcomp/ria/richEditorAction.action`
				const uploadTask = uni.uploadFile({
					url,
					method:"POST",
					filePath,
					formData,
					name: 'file',
					header,
					fileType: 'image',
					success: uploadFileRes => {
						if(uploadFileRes.statusCode === 500) {
							// uni.showToast({
							// 	title: `500：网络不佳，请检查网络！`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`500：网络不佳，请检查网络！`,
								timeout:2000,
								isClick:false
							});	
							return
						}
						if(uploadFileRes.statusCode === 403) {
							// uni.showToast({
							// 	title: `403：未知异常！`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content: `403：未知异常！`,
								timeout:2000,
								isClick:false
							});	
							return
						}
						if(uploadFileRes.statusCode === 413) {
							// uni.showToast({
							// 	title: `413：图片太大！`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content: `413：图片太大！`,
								timeout:2000,
								isClick:false
							});	
							return
						}
						if(uploadFileRes.statusCode === 200) {
							uni.showLoading({
								title: 100 + '%',
								mask: true
							})
							uni.$emit('addImg');
							uni.hideLoading()
							
							
						}
						console.log('333', filePath, formData,header, uploadFileRes);
						// uni.hideLoading()
						resolve(uploadFileRes);
						
					},
					fail() {
						this.$refs.mpopup.open({
							type:'warn',
							content: `未知错误！`,
							timeout:2000,
							isClick:false
						});	
						// uni.showToast({
						// 	title: `未知错误！`,
						// 	icon: 'none',
						// 	mask: true
						// });
					}
				});
				// uploadTask.onProgressUpdate(function (res) {
				// 	this.percent = res.progress;  //获取上传进度百分比
				// 	console.log('上传进度' + res.progress);
				// 	console.log('已经上传的数据长度' + res.totalBytesSent);
				// 	console.log('预期需要上传的数据总长度' + res.totalBytesExpectedToSend);
				// });
				uploadTask.onProgressUpdate((res) => {
					uni.showLoading({
						title: +res.progress - 1 + '%',
						mask: true
					})
					this.percent = res.progress
					console.log('上传进度' + res.progress);
					console.log('已经上传的数据长度' + res.totalBytesSent);
					console.log('预期需要上传的数据总长度' + res.totalBytesExpectedToSend);
				})

			});
		},
		perviewImg(index) {
			let urls = [];
			this.imgList.forEach(function(v) {
				urls.push(v.staticPath);
			});

			uni.previewImage({
				loop: true,
				current: index,
				urls: urls
			});
		},
		
	},
	watch: {
		// imgInfos: {
		// 	handler(newval) {
		// 		if(newval) {
		// 			// blob:http://localhost:8001/0fdbf674-cbbf-4bf2-902a-4c84c76cfba2
		// 			this.urlTobase64('http://121.37.193.224:8080/framework/techcomp/ria/unieapx/themes/gainsboro/images/menu/bootstrap_menu_logo.png')
		// 			console.log('看看有没有4', newval);
		// 		}
		// 	},
		// 	deep: true,
		// 	// immediate: true 
		// },
	}
	
};
</script>

<style lang="scss">
	// .boyImg {
	// 	position: absolute;
	// 	right: 10rpx;
	// 	top: 10rpx;
	// 	// font-size: 40rpx;
	// 	// width: 40rpx;
	// 	// height: 40rpx;
	// 	// background-image: url('@/static/images/edit.png');
	// 	background-size: 100%;
	// }
	.boyImgClose{
		position: absolute;
		left: 10rpx;
		top: 10rpx;
		.iconfont{
			color: brown;
			border: 1px solid brown;
		}
	}
	.boyImgAdd{
		position: absolute;
		right: 10rpx;
		top: 10rpx;
		.iconfont{
			color: forestgreen;
			border: 1px solid forestgreen;
		}
	}
	.iconfont{
		// position: absolute;
		
		top: 10rpx;
		font-size: 52rpx;
		font-weight: 600;
		background: #fff;
		border-radius: 50%
	}
	// .iconfont:nth-of-type(1){
	// 	color: brown;
	// 	border: 1px solid brown;
	// 	left: 10rpx;
	// }
	// .iconfont:nth-of-type(2){
	// 	color: forestgreen;
	// 	border: 1px solid forestgreen;
	// 	right: 10rpx;
	// }
</style>
