/* pages/apply/apply.wxss */
.upload-container {
	text-align: center;
	color: #666;
	letter-spacing: 1px;
	line-height: 1.25rem;
	font-size: .875rem;
	overflow: hidden;
  position: relative;
}
.paths{
  position: absolute;
  top: 0;
  left: 0;
}
.upload-container .img-cover {
	position: absolute;
	width: 97%;
	height: 97%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-position: 50%;
	background-size: cover;
	overflow: hidden
}


.cube-upload {
	position: absolute;
	width: 97%;
	height: 97%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 10upx auto
}

.cube-upload .img-error {
	margin-top: 1.25rem;
	color: #fd4d4d
}

.cube-upload .clear-fix,.cube-upload .cube-upload-btn {
	height: 100%
}

.cube-upload .cube-upload-btn>div {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%
}

.cube-upload .cube-upload-file {
	height: 100%;
	z-index: 2
}

.cube-upload .cube-upload-file-def {
	width: 100%;
	height: 100%
}

.icon-camera {
	position: relative;
	display: block;
	width: 54upx;
	height:54upx;
	margin: 0 auto .75rem;
	border-radius: 50%;
	background-color: rgba(0,0,0,.5);
    padding:20upx;
}

.icon-camera:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 54upx;
    height: 44upx;
    background: url('@/static/images/new1.png') no-repeat;
    background-size: 100% 100%;
}

.upload-text-tips {
	line-height: 28upx;
	margin-bottom: 4upx;
	font-size: 28upx
}

.athm-iconfont {
	font-family: athm-iconfont!important;
	font-size: 1rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.upload-container {
	position: relative;
	// padding-bottom: 67%;
	margin-bottom: 1.25rem;
	border: 2px dashed #eee;
	border-radius: .9375rem;
    padding:8upx;
}
.upload-xingshizheng {
	background:url('@/static/images/xsz.png') no-repeat;
	background-size: 97%;
	background-position: 50%;
    width: 340upx;
}

.upload-jiashizheng {
	background: url('@/static/images/jsz.png') no-repeat;
	background-size: 97%;
	background-position: 50%;
    width: 340upx;
}

.upload-zhengjianzhao {
    width: 310upx;
    height: 200upx;
}
.detail-item {
    // border-bottom: 6rpx solid #F5F5F5;
    // display: flex;
    // justify-content: space-around;
    overflow: hidden;
    // display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parti-form-dialog {
    // height: 600rpx;
    // background: #FFFFFF;
    // width: 100%;
    .header {
        height: 100rpx;
        position: relative;
        padding-left: 20rpx;
        display: flex;
        align-items: center;
        color: #333;
        font-weight: 700;
        font-size: 28rpx;
    }
    .content {
        height: calc(600rpx - 200rpx);
        padding: 20rpx;
        background: #ffffff;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        height: 100rpx;
        display: flex;
        border-top: 2rpx solid #f5f5f5;
        .item {
            flex: 1;
            height: auto;
            border-radius: 0;
        }
    }
}
.cnd-upload-cell{
    // width: 50%;
    // float: left;
}
.img-container{
    display: block;
}
.ht {
	position: relative;
	// height: 3.125rem;
	// line-height: 3.125rem;
	font-size: 30upx;
	overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 70rpx 0 50rpx 0;
}

.ht label {
	max-width: 100%;
    float: left;

}
.boxImg{
    padding: 0 30upx;
	margin-top: 200upx;
}
.upload-must-tips{
    color: red;
}
// 图
$detail-cell-long-padding-v: 12rpx;
$detail-cell-long-title-width: 96rpx * 2;
$detail-cell-long-title-margin-right: 16rpx;

.cnd-upload-cell {
	position: relative;

	&.border:after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		right: 0;
		bottom: 0;
		left: 0;
		border-bottom: 2rpx solid $gray-2;
		-webkit-transform: scaleY(0.8);
		transform: scaleY(0.8);
	}
}

.text-container {
	width: 100%;
	padding: $detail-cell-long-padding-v 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;

	.title-wrapper {
		min-width: $detail-cell-long-title-width;
		width: $detail-cell-long-title-width;
		margin-right: $detail-cell-long-title-margin-right;
		font-size: $font-size-body;
		line-height: $line-height-body;
		color: $gray-6;
		overflow: hidden;
		white-space: nowrap;
	}
}

// .img-container {
// 	// display: flex;
// 	width: 100%;
// 	flex-direction: row;
// 	// justify-content: space-between;
// 	flex-wrap: wrap;
// 	padding-right: -10rpx;
// 	// justify-content: space-around;
// 	.img-box {
// 		box-sizing: border-box;
// 		position: relative;
// 		// width: 210rpx;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		// height: 210rpx;
// 		margin-bottom: 14rpx;
// 		margin-right: 14rpx;
// 		border-radius: 10rpx;
// 		overflow: hidden;

// 		&.right {
// 			margin-right: 0rpx;
// 		}

// 		.iconfont {
// 			position: absolute;
// 			right: 10rpx;
// 			top: 10rpx;
// 			// font-size: 40rpx;
// 			width: 40rpx;
// 			height: 40rpx;
// 			background-image: url('@/static/images/delete.png');
// 			background-size: 100%;
// 		}

// 		.new-img-box {
// 			background-color: $gray-2;
// 			flex-direction: column;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			width: 100%;
// 			// height: 210rpx;
// 			border-radius: 10rpx;
// 			overflow: hidden;

// 			.new-img-wrapper {
// 				width: 72rpx;
// 				height: 72rpx;
// 				margin-bottom: 10rpx;
// 				background-image: url('@/static/images/jsz.png');
// 				background-size: 100%;
// 			}

// 			text {
// 				font-size: $font-size-body;
// 				color: $cnd-blue-5;
// 			}
// 		}

// 		.img-wrapper {
// 			width:100%;
// 			height: 400rpx;
// 			border-radius: 10rpx;
// 			overflow: hidden;
// 		}
// 	}
// }

