<template>
	<view class="cnd-tab" :class="{'disabled':disabled, 'active':isActive}" :style="{minWidth:tabWidth}" @click="getActive()">
		<view class="item">
			<text>{{title}}</text>
		</view>
		<view class="badge-wrapper" v-show="isBadge">
			<cnd-badge color="red" :dot="isDot" :number="badgeNum"></cnd-badge>
		</view>
	</view>
</template>

<script>
	import cndBadge from "./badge.vue"
	export default {
		name: 'cnd-tab',
		data() {
			return {
				isBadge: true,
				isDot: false,
				badgeNum: null,
				isActive: false,
				tabWidth: null,
			}
		},
		components:{
			cndBadge
		},
		props:{
			// 所选值
			value:{
				type: Number,
				reqiured: true
			},
			// 标签名称
			title:{
				type: String,
				reqiured: true
			},
			//匹配标识符,不传入默认为index
			index:{
				type: Number,
				reqiured: true
			},
			// 是否禁用
			disabled:{
				type: Boolean,
				default: false
			},
			// 角标
			badge:{
				type: String,
				default: "no"
			},
			// 最小宽度
			width:{
				type: String,
				default: ""
			},
		},
		beforeMount:function(){
			if(this.badge == "no"){
				this.isBadge = false
			}else if(this.badge == "dot"){
				this.isDot = true
			}else{
				this.badgeNum = parseInt(this.badge)
			}
			
			this.getTabWidth()
			this.ifActive()
		},
		inject: ["length"],
		watch:{
			value: function(){
				this.ifActive()
			}
		},
		methods: {
			// 激活
			getActive(){
				if(!this.disabled){
					this.$emit('input',this.index)
					this.$emit('getActive',this.index)
				}
			},
			// 激活绑定样式
			ifActive(){
				if(this.index == this.value){
					this.isActive = true
				}else{
					this.isActive = false
				}
			},
			// 计算标签宽度
			getTabWidth(){
				if(this.width) {
					this.tabWidth = this.width
				} else {
					if(this.length == 2){
						this.tabWidth = '50%'
					} else if(this.length == 3){
						this.tabWidth = '33.3%'
					} else if(this.length == 4){
						this.tabWidth = '25%'
					} else {
						this.tabWidth = '180rpx'
					}
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	
	$tab-padding-v: 20rpx;
	
	.cnd-tab{
		padding: $tab-padding-v 0;
		background-color: $gray-0;
		display: inline-flex;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		position: relative;
		
		.item {
			line-height: $line-height-body;
			text {
				font-size: $font-size-subhead;
				color: $gray-8;
			}
		}
		
		&.disabled{
			.item {
				text {
					color: colorDisable($gray-8);
				}
			}
		}
		
		&.active{
			.item {
				text {
					color: $cnd-blue-5;
				}
			}
			&::after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 4rpx;
				background-color: $cnd-blue-5;
			}
		}
		
		.badge-wrapper{
			position: absolute;
			top: 8rpx;
			right: 8rpx;
		}
	}
</style>
