<template>
	<view class="scroll-container" :class="{'scrollable':scrollable}">
		<view class="container" style="display: flex;">
			<slot></slot>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-tabs',
		data() {
			return {
				maxlength: 4,
				currentIndex: 0,
			}
		},
		props: {
			length: {
				type: Number,
				required: true
			},
			// 最小宽度
			width:{
				type: String,
				default: ""
			},
		},
		provide() {
			return {
				length: this.length,
			}
		},
		computed: {
			scrollable() {
				return this.length > this.maxlength
			},
			// 计算标签组宽度
			minWidth() {
				if(this.width) {
					return this.width
				} else {
					if(this.scrollable){
						return (this.length * 180) + 'rpx'
					} else {
						return ''
					}
				}
			}
		},
		methods: {
			
		}
	}
</script>

<style lang="scss">
	.scroll-container{
		width: 100%;
		background-color: $gray-0;
		border-bottom: 2rpx solid $gray-2;
		display: block;
		
		.container {
			width: 100%;
			display: block;
			background-color: $gray-0;
		}	
		
		&.scrollable{
			overflow: scroll;
			
			.container{
				
			}
		}
	}
</style>
