<template>
	<view class="bodyView">
        <view class="list-box first-list-box">
            <cnd-list-group>
                <cnd-form>
                    <cnd-form-item label="货主" class="titlelab">
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addGoodsOwnerData.codeName" @click="goodsOwnerPicker" placeholder="--请选择货主--" disabled/>
                    </cnd-form-item>
					<cnd-form-item label="产地" class="titlelab">
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addOrginData.codeName" @click="orginPicker()" placeholder="--请选择产地--" disabled/>
					</cnd-form-item>
					<cnd-form-item label="品名" class="titlelab">
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addGoodsData.codeName" @click="goodsPicker()" placeholder="--请选择品名--" disabled/>
					</cnd-form-item>
					<cnd-form-item label="材质" class="titlelab">
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addMaterialData.codeName" @click="materialPicker()" placeholder="--请选择材质--" disabled/>
					</cnd-form-item>
					<cnd-form-item label="规格" class="titlelab">
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addSpecificationData.codeName" @click="specificationPicker()" placeholder="--请选择规格--" disabled/>
					</cnd-form-item>
                </cnd-form>
            </cnd-list-group>
        </view>
        <!-- 收货单位选择 -->
		<custom-picker
			ref="goodsOwner"
			title="请输入收货单位"
			confirmColor="#4cd964"
			@onConfirm="goodsOwnerChange"
			@on_close="closePicker"
			@showMoreChange="getGoodsOwnerList"
			@confirm="bindGoodsOwnerEvent"
			:pickerList="goodsOwnerList"
			:parameter="true"
			:addmaterialTypeData="addGoodsOwnerData.jobId">
		</custom-picker>
		<!-- 产地选择 -->
		<custom-picker
			ref="orgin"
			title="请输入产地名"
			confirmColor="#4cd964"
			@onConfirm="orginChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addOrginData.jobId">
		</custom-picker>
		<!-- 品名选择 -->
		<custom-picker
			ref="goods"
			title="请输入品名"
			confirmColor="#4cd964"
			@onConfirm="goodsChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addGoodsData.jobId">
		</custom-picker>
		<!-- 材质选择 -->
		<custom-picker
			ref="material"
			title="请输入材质"
			confirmColor="#4cd964"
			@onConfirm="materialChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addMaterialData.jobId">
		</custom-picker>
		<!-- 规格选择 -->
		<custom-picker
			ref="specification"
			title="请输入规格"
			confirmColor="#4cd964"
			@onConfirm="specificationChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addSpecificationData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import CndListGroup from '@/components/list-group/list-group.vue'
import customPicker from '@/components/picjerDiy.vue';
import {
	uniToRpx,
	formatTime
} from "@/common/utils/index.js";

export default {
	components: {
		CndForm,
		CndFormItem,
		CndListGroup,
		customPicker,
	},
	props: {
		sWarehouseId: String,
	},
	data() {
		return {
			setinfo:{},
			inputDisabled: false,
			// 收货单位
			goodsOwnerList: [],
			addGoodsOwnerData: {
				list: [],
				page: 1,
				pageSize: 20,
				loadState: 'loadmore',
				jobId: '',
				codeName: "",
			},
			addData: {
				setList: [],
				list: [],
				page: 1,
				pageSize: 20,
				loadState: 'loadmore',
				parameter: '',
				getType: '',
			},
			// 产地
			addOrginData: {
				jobId: '',
				codeName: "",
			},
			// 品名
			addGoodsData: {
				jobId: '',
				codeName: "",
			},
			// 材质
			addMaterialData: {
				jobId: '',
				codeName: "",
			},
			// 规格
			addSpecificationData: {
				jobId: '',
				codeName: "",
			},
			index: 0,
			detaSid: '',
			deteleType: false,
			// sWarehouseId: '',
			showTo: '',
			sId: '',
			sWarehouseName: '',
			parameter: '',
			formDataEdit: {},
			material:[],
			addressObj:{},
			formDataSid: {
				sCreateDate: '',
				sCreateDateTo: '',
				sOperator: '',
				sGoodsOwnerId: '',
				sGoodsId: '',
				sMaterialId: '',
				sSpecificationId: '',
				sOrginId: '',
				sSheetStatus: 10,
				sWarehouseId: '',
			},
		};
	},
	onLoad() {
		
	},
	async mounted() {
		this.getGoodsOwnerList()
	},
	created() {
		
		
	},
	methods: {
		closePicker(){
			// this.parameter = ''
			this.inputDisabled = false
		},
		// 货主
		bindGoodsOwnerEvent(value) {
			this.parameter = value
			this.addGoodsOwnerData.loadState = 'loadmore';
			this.addGoodsOwnerData.page = 1
			this.addGoodsOwnerData.list = []
			this.getGoodsOwnerList()
		},
		//打开
		
		goodsOwnerPicker(){
			
			this.parameter = ''
			this.inputDisabled = true
			this.$refs.goodsOwner._open()
		},
		//确定：接收子组件传来的参数
		goodsOwnerChange(checked){
			this.addGoodsOwnerData.jobId = checked.value
			this.addGoodsOwnerData.codeName = checked.label
			// this.info.sGoodsOwnerName = this.addGoodsOwnerData.codeName
			this.formDataSid.sGoodsOwnerId = this.addGoodsOwnerData.jobId
			this.inputDisabled = false
		},
		
		async getGoodsOwnerList() {
			// let { page, pageSize, loadState, list } = this.addGoodsOwnerData;
			if (this.addGoodsOwnerData.loadState != 'loadmore') {
				return;
			}
			this.addGoodsOwnerData.loadState = 'loading';
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					 "sSheetCode": "",//wms.move.plan
					"mapParams": {
						"keywords": this.parameter,
						"pageNum": this.addGoodsOwnerData.page,
						"pageSize": this.addGoodsOwnerData.pageSize,
						"sWarehouseIdList": [
							this.sWarehouseId
						]
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsCustomerInfoBO_bo",
					"_methodName": "queryCustomerInfoFuzzy",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				data = data || [];
				console.log('货主列表111',data);
				if (data.length < this.addGoodsOwnerData.pageSize) {
					this.addGoodsOwnerData.loadState = 'nomore';
				} else {
					this.addGoodsOwnerData.loadState = 'loadmore';
					this.addGoodsOwnerData.page++;
				}
				this.addGoodsOwnerData.list = [...this.addGoodsOwnerData.list, ...data];
				this.goodsOwnerList = this.addGoodsOwnerData.list.map(ele => {
					return{
						value: ele.sId,
						label: ele.sChineseName
					}
				})
				console.log('货主列表',this.goodsOwnerList);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		
		bindConfirmEvent(value) {
			this.addData.parameter = value
			this.addData.loadState = 'loadmore';
			this.addData.page = 1
			this.addData.list = []
			this.getList()
		},
		// 产地
		//打开
		orginPicker(){
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			this.addData.setList = []
			this.addData.getType = '20'
			this.addData.page = 1
			this.addData.loadState = 'loadmore';
			this.addData.list = []
			this.addData.parameter = ''
			this.getList()
			this.addOrginData.jobId = ''
			this.inputDisabled = true
			this.$refs.orgin._open()
		},
		//确定：接收子组件传来的参数
		orginChange(checked){
			this.formDataSid.sOrginId = checked.value
			this.addOrginData.jobId = checked.value
			this.addOrginData.codeName = checked.label
			this.inputDisabled = false
		},
		
		// 品名
		//打开
		goodsPicker(){
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			this.addData.setList = []
			this.addData.getType = '10'
			this.addData.page = 1
			this.addData.loadState = 'loadmore';
			this.addData.list = []
			this.addData.parameter = ''
			this.getList()
			this.addGoodsData.jobId = ''
			this.inputDisabled = true
			this.$refs.goods._open()
		},
		//确定：接收子组件传来的参数
		goodsChange(checked){
			
			this.formDataSid.sGoodsId = checked.value
			this.addGoodsData.jobId = checked.value
			this.addGoodsData.codeName = checked.label
			this.inputDisabled = false
		},
		
		// 材质
		//打开
		materialPicker(){
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			this.addData.setList = []
			this.addData.getType = '30'
			this.addData.page = 1
			this.addData.loadState = 'loadmore';
			this.addData.list = []
			this.addData.parameter = ''
			this.getList()
			this.addMaterialData.jobId = ''
			this.inputDisabled = true
			this.$refs.material._open()
		},
		//确定：接收子组件传来的参数
		materialChange(checked){
			
			this.formDataSid.sMaterialId = checked.value
			this.addMaterialData.jobId = checked.value
			this.addMaterialData.codeName = checked.label
			this.inputDisabled = false
		},
		
		// 规格
		//打开
		specificationPicker(){
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			this.addData.setList = []
			this.addData.getType = '40'
			this.addData.page = 1
			this.addData.loadState = 'loadmore';
			this.addData.list = []
			this.addData.parameter = ''
			this.getList()
			this.addSpecificationData.jobId = ''
			this.inputDisabled = true
			this.$refs.specification._open()
		},
		//确定：接收子组件传来的参数
		specificationChange(checked){
			
			this.formDataSid.sSpecificationId = checked.value
			this.addSpecificationData.jobId = checked.value
			this.addSpecificationData.codeName = checked.label
			this.inputDisabled = false
		},
		async getList() {
			// let { page, pageSize, loadState, list } = this.addData;
			if (this.addData.loadState != 'loadmore') {
				return;
			}
			
			this.addData.loadState = 'loading';
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					"sSheetCode": "",//wms.move.plan
					"mapParams": {
						"keyWords": this.addData.parameter,
						"type":this.addData.getType,
						"pageNum": this.addData.page,
						"pageSize": this.addData.pageSize,
						"sWarehouseIdList": [
							this.sWarehouseId
						]
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsArtnoCollectBO_bo",
					"_methodName": "queryWmsArtnoCollectFuzzy",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				uni.hideLoading();
				data = data || [];
				console.log('下拉列表',data);
				if (data.length < this.addData.pageSize) {
					this.addData.loadState = 'nomore';
				} else {
					this.addData.loadState = 'loadmore';
					this.addData.page++;
				}
				this.addData.list = [...this.addData.list, ...data];
				this.addData.setList = this.addData.list.map(ele => {
					return{
						value: ele.sId,
						label: ele.name
					}
				})
				console.log('下拉列表赋值',this.addData.setList);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
	},
	watch: {
		// warehouse: {
		// 	handler(newval) {
		// 		// if (newval) {
		// 			if (this.formDataSid.sId) {
		// 				this.addGoodsOwnerData.codeName = this.info.sGoodsOwnerName
		// 				this.addGoodsOwnerData.jobId = this.info.sGoodsOwnerId
		// 			}
		// 			if (newval.sName) {
		// 				this.sWarehouseName = newval.sName
		// 				this.info.sWarehouseName = newval.sName;
		// 				this.info.sWarehouseId = newval.sId
						
						
		// 			}else{
		// 				this.sWarehouseName = newval.sWarehouseName
		// 				this.info.sWarehouseName = newval.sWarehouseName;
		// 				this.info.sWarehouseId = newval.sWarehouseId
						
		// 			}
		// 			console.log('打印地图传入仓库',newval,'名称',this.info.sWarehouseName,this.info.sWarehouseId)
		// 		// }
				
		// 	},
		// 	// deep: true,
		// 	immediate: true
		// },
	}
};
</script>
<style lang="scss" scoped>
	.headstock {
    	margin-top: 0 !important;
	}
	input{
		font-size: 28rpx!important;
	}
	/deep/.disabledInput .cnd-field-value .cnd-field-value-body{
		background: whitesmoke!important;
		// padding: 12upx 20upx!important;
	}
	.bodyView{
		position: relative;
	}
	.showss{
		width: 100%;
		height:100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
	}
</style>

