<template>
	<view>
		<cnd-scroll ref="scroll" class="scroll-out" :fixed="true" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @init="mescrollInit">
			<block>
				<view :class="['container', { 'b-f': pdList.length }]" :style="{ marginTop: CustomBar + 'px' }">
					<view v-for="(item, index) in pdList" :key="index" class="container-box">
						<view :class="['item', { have: item.sIsGoods, have2: index == selectIndex }]" @click.stop.prevent="bindStoreClick(item, index)">{{ item.sName }}</view>
					</view>
				</view>
			</block>
			
		</cnd-scroll>
		<view class="mask" v-if="detailShow" @tap="detailShowChange">
			<view class="popup flex-column-box" @tap.stop="stop">
				<view class="popup-tt">商品明细</view>
				<view class="disflex">
					<scroll-view scroll-y="true">
						<view class="list-box">
							<view class="list-box-item" v-for="(item, index) in list" :key="index">
								<label class="flex-box" @tap="selectChange(index)">
									<icon class="checkbox" v-if="item.select" type="success" size="30" color="#408CDA"/>
									<icon class="checkbox" v-else type="circle" size="30"/>
									<view class="flex flex-box">
										<text class="label">货主：</text>
										<view class="flex">{{ item.sGoodsOwnerName ||'无' }}</view>
									</view>
								</label>
								<view class="flex-box">
									<view class="flex flex-box">
										<text class="label">品名：</text>
										<view class="flex">{{ item.sGoodsName ||'无' }}</view>
									</view>
									<view class="flex flex-box">
										<text class="label">材质：</text>
										<view class="flex">{{ item.sMaterialName ||'无' }}</view>
									</view>
								</view>
								<view class="flex-box">
									<view class="flex flex-box">
										<text class="label">规格：</text>
										<view class="flex">{{ item.sSpecificationName ||'无' }}</view>
									</view>
									<view class="flex flex-box">
										<text class="label">产地：</text>
										<view class="flex">{{ item.sOrginName ||'无' }}</view>
									</view>
								</view>
								<view class="flex-box">
									<view class="flex flex-box">
										<text class="label">{{ x1 }}</text>
										<view class="flex">{{ item.sQtx ||'无' }}</view>
									</view>
									<view class="flex flex-box">
										<text class="label">{{ y1 }}</text>
										<view class="flex">{{ item.sQty ||'无' }}</view>
									</view>
								</view>
								<view class="flex-box">
									<view class="flex flex-box">
										<text class="label">{{ z1 }}</text>
										<view class="flex"><input class="input" v-model="list[index].sQtx1" type="number" @input="sQtxInput" :data-index="index" /></view>
									</view>
									<view class="flex flex-box">
										<text class="label">{{ k1 }}</text>
										<view class="flex">{{ item.sQty1 ||'无' }}</view>
									</view>
								</view>
								<view class="flex-box">
									<view class="flex flex-box">
										<text class="label">库区：</text>
										<view class="flex">{{ item.sWarehouseAreaName ||'无' }}</view>
									</view>
									<view class="flex flex-box">
										<text class="label">库位：</text>
										<view class="flex">{{ item.sWarehouseLocationName ||'无' }}</view>
									</view>
								</view>
							</view>
						</view>
					</scroll-view>
				</view>
				<view class="popup-btn" @tap="confirm">移库</view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import cndScroll from '../../stores/components/scroll/mescroll-uni.vue';
export default {
	components: {
		cndScroll
	},
	data() {
		return {
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				isLock: true,
				auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar,
			selectIndex: -1,
			list: [],
			detailShow: false,
			saving: false,
			x1: '库存件数: ',
			y1: '库存吨数: ',
			z1: '可拣配件数: ',
			k1: '可拣配吨数: '
		};
	},
	props: {
		formData: Object
	},
	mounted() {
		// 第一个tab,自动加载数据
		if (!this.isInit) {
			this.isInit = true; // 标记为true
			this.mescroll.triggerDownScroll();
		}
	},
	methods: {
		async bindStoreClick(item, index) {
			if (!item.sIsGoods) {
				return;
			}
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					locationId: item.sId,
					_parameters: 'locationId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsMoveStockBalanceBO_bo',
					_methodName: 'queryJcwmsStockBalancesByLocationId',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				console.log('商品列表', data);
				data.forEach(item => {
					console.log(item)
					item.sQty1 = item.sQty1 && item.sQty1.toFixed(3);
					item.sQty = item.sQty && item.sQty.toFixed(3);
				});
				this.list = data;
				this.detailShow = true;
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		sQtxInput(e) {
			let { value } = e.detail;
			let { index } = e.currentTarget.dataset;
			let item = this.list[index];
			if (value > item.sQtx) {
				value = Number(item.sQtx);
			}
			let sQty1 = (value * item.sUnitQtys).toFixed(3);
			this.$nextTick(() => {
				this.$set(this.list[index], 'sQtx1', value);
				this.$set(this.list[index], 'sQty1', sQty1);
				setTimeout(() => {
					this.x1 = !value ? '库存件数: ' : '可拣配件数: '
					this.y1 = !value ? '库存吨数: ' : '可拣配吨数: '
					this.z1 = !value ? '可拣配件数: ' : '拣配件数: '
					this.k1 = !value ? '可拣配吨数: ' : '拣配吨数: '
				}, 200)
			});
		},
		stop() {
			return;
		},
		detailShowChange() {
			this.detailShow = !this.detailShow;
		},
		selectChange(index) {
			this.$set(this.list[index], 'select', !this.list[index].select)
		},
		async confirm() {
			if (this.saving) {
				return
			}
			this.saving = true
			let { select, list: data } = this;
			let list = data.filter(item => item.select)
			if (!list.length) {
				// uni.showToast({
				// 	title: '请勾选移库商品数据',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:'请勾选移库商品数据',
					timeout:2500,
					isClick:false
				});	
				this.saving = false
				return;
			}
			let arr = [];
			let sGoodsOwnerId = list[0].sGoodsOwnerId;
			let sWarehouseId = list[0].sWarehouseId;
			for (let i in list) {
				let item = list[i];
				console.log(sGoodsOwnerId, item.sGoodsOwnerId);
				if (sGoodsOwnerId != item.sGoodsOwnerId) {
					// uni.showToast({
					// 	title: '勾选中的商品信息货主不一致',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'勾选中的商品信息货主不一致',
						timeout:2500,
						isClick:false
					});	
					this.saving = false
					return;
				}
				if (sWarehouseId != item.sWarehouseId) {
					// uni.showToast({
					// 	title: '勾选中的商品信息仓库不一致',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'勾选中的商品信息仓库不一致',
						timeout:2500,
						isClick:false
					});	
					this.saving = false
					return;
				}
				if (item.sQtx1 > item.sQtx) {
					// uni.showToast({
					// 	title: '移库件数超出',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`移库件数超出`,
						timeout:2500,
						isClick:false
					});
					this.saving = false
					return;
				}
				arr.push(item);
			}
			uni.showLoading({
				title: '请稍候',
				mask: 'true'
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {
					mapParams: {
						rowSet: {
							primary: arr,
							filter: [],
							delete: []
						},
						name: 'mapParams',
						pageNumber: 1,
						pageSize: 2147483647,
						recordCount: 0,
						rowSetName: 'com.cnd.intfservice.wmsjccwis.move.dto.JcwmsStockBalanceDTO'
					}
				},
				parameters: {
					sId: this.formData.sId,
					_parameters: 'mapParams,sId',
					_parameterTypes: 'pojoList,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsMovePlanBO_bo',
					_methodName: 'doCreateMovePlan',
					_methodParameterTypes: 'java.util.List,String',
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				this.detailShowChange();
				uni.navigateTo({
					url: `/pOperationLib/store-move/move-prev?id=${sWarehouseId}&oid=${data[0].id}`
				});
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			this.saving = false
			uni.hideLoading();
		},
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			mescroll.resetUpScroll();
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				mescroll.num,
				mescroll.size,
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess(curPageData.length);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					this.pdList = curPageData; //追加新数据
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(pagenum, pagesize, successCallback, errorCallback) {
			let { info } = this;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					// sParentId: this.formData.parentId,
					// _parameters: 'sParentId',
					// _parameterTypes: 'string',
					// dcID: 'wmsjccwis',
					// _boId: 'wmsjccwis_ifsJcwmsWarehouseAreaBO_bo',
					// _methodName: 'queryJcwmsWarehouseLocationByParentId',
					// _methodParameterTypes: 'String'

					"parentId": this.formData.parentId,
					"type": '2',
					"_parameters": "type,parentId",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsWarehouseBO_bo",
					"_methodName": "selectWmsWarehouseInfo",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let formList = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				let data = formList.dataList
				let pageObj = {
					pageNumber: data.pageNumber,
					pageSize: data.pageSize,
					recordCount: data.recordCount,
					totalPage: this.getPageCount(data.recordCount, data.pageSize)
				};
				uni.setStorageSync('pageObj', pageObj);
				let list = data || [];
				console.log('仓储列表', list);
				successCallback && successCallback(list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		getPageCount(totalnum, limit) {
			return totalnum > 0 ? (totalnum < limit ? 1 : totalnum % limit ? parseInt(totalnum / limit) + 1 : totalnum / limit) : 0;
		},
		bindAction(obj) {
			this.$emit('action', obj);
		}
	}
};
</script>
<style lang="scss" scoped>
// @import '../../lib-move/common/style.scss';
@import '../../stores/common/style.scss';
.container {
	margin-bottom: 20rpx;
	padding-left: 0;
	.container-box {
		width: 20%;
		padding: 0 10rpx;
		float: left;
		box-sizing: border-box;
	}
	.item {
		width: 100%;
		margin-right: 0;
		// &.have{
		// 	background-color: #75fa4c;
		// }
		// &.have2{
		// 	background-color: #f29d39;
		// }
	}
	.align {
		text-align: start;
	}
}

// .list-box + .list-box {
// }
.list-box{
	min-height:623rpx;
} 
.list-box-item {
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 16rpx;
	padding: 24rpx;
	color: #262626;
	font-size: 32rpx;
	line-height: 40rpx;
	margin: 20rpx 0 ;
	// & + .list-box-item {
	// 	border-top: #eee 2rpx solid;
	// }
	.label {
		color: #8c8c8c;
	}
	.input {
		font-size: 32rpx;
		border: #ddd 2rpx solid;
		margin: 0 8rpx;
		padding: 4rpx 10rpx;
		border-radius: 8rpx;
	}
}
.popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	background-color: rgb(255, 255, 255);
	// transition: all .3s;
}
.popup-tt {
	height: 90rpx;
	line-height: 90rpx;
	background-color: #408cda;
	color: #fff;
	text-align: center;
}
.popup-btn {
	height: 90rpx;
	line-height: 90rpx;
	background-color: #408cda;
	color: #fff;
	text-align: center;
}
.flex-box{
	padding: 6rpx 0
}
.checkbox {
    width: 54rpx!important;
    height: 54rpx!important;
}
.disflex{
	display: flex;
	flex: 1;
    overflow: hidden;
	height: 100%;
}
</style>
