<template>
	<view>
		<view class="list-box">
			<view class="list-box-item" v-for="(item, index) in list" :key="index">
				<label class="flex-box" @tap="selectChange(index)">
					<icon class="checkbox" v-if="item.select" type="success" size="20" color="#408CDA"/>
					<icon class="checkbox" v-else type="circle" size="20"/>
					<view class="flex flex-box">
						<text class="label">货主：</text>
						<view class="flex">{{ item.sGoodsOwnerName }}</view>
					</view>	
				</label>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">品名：</text>
						<view class="flex">{{ item.sGoodsName }}</view>
					</view>
					<view class="flex flex-box">
						<text class="label">材质：</text>
						<view class="flex">{{ item.sMaterialName }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">规格：</text>
						<view class="flex">{{ item.sSpecificationName }}</view>
					</view>
					<view class="flex flex-box">
						<text class="label">产地：</text>
						<view class="flex">{{ item.sOrginName }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">库存件数：</text>
						<view class="flex">{{ item.sQtx }}</view>
					</view>
					<view class="flex flex-box">
						<text class="label">库存吨数：</text>
						<view class="flex">{{ item.sQty }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">可拣配件数：</text>
						<view class=""><input class="input" v-model="list[index].sQtx1" type="number" @input="sQtxInput" :data-index="index"/></view>
					</view>
					<view class="flex flex-box">
						<text class="label">可拣配吨数：</text>
						<view class="flex">{{ sQty1 }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">库区：</text>
						<view class="flex">{{ item.sWarehouseAreaName }}</view>
					</view>
					<view class="flex flex-box">
						<text class="label">库位：</text>
						<view class="flex">{{ item.sWarehouseLocationName }}</view>
					</view>
				</view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndButton from '../../components/button/button.vue';
export default {
	name: 'pd-list',
	components: {
		CndButton
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	data() {
		return{
			saving: false,
			sQty1: ''
		}
	},
	created() {
		uni.$on('moveDetailsubmit', () => {
			this.confirm()
		})
		uni.$on('initSelect', () => {
			this.select = []
		})
	},
	methods: {
		selectChange(index) {
			this.$set(this.list[index], 'select', !this.list[index].select)
		},
		async confirm() {
			if (this.saving) {
				return
			}
			this.saving = true
			let { select, list: data } = this;
			let list = data.filter(item => item.select)
			console.log(list)
			if (!list.length) {
				// uni.showToast({
				// 	title: '请勾选移库商品数据',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:'请勾选移库商品数据',
					timeout:2500,
					isClick:false
				});	
				this.saving = false
				return;
			}
			let arr = [];
			let sGoodsOwnerId = list[0].sGoodsOwnerId;
			let sWarehouseId = list[0].sWarehouseId;
			for (let i in list) {
				let item = list[i];
				if (sGoodsOwnerId != item.sGoodsOwnerId) {
					// uni.showToast({
					// 	title: '勾选中的商品信息货主不一致',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'勾选中的商品信息货主不一致',
						timeout:2500,
						isClick:false
					});	
					this.saving = false
					return;
				}
				if (sWarehouseId != item.sWarehouseId) {
					this.$refs.mpopup.open({
						type:'warn',
						content:'勾选中的商品信息货主不一致',
						timeout:2500,
						isClick:false
					});	
					this.saving = false
					return;
				}
				if (item.sQtx1 > item.sQtx ) {
					// uni.showToast({
					// 	title: '移库件数超出',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'移库件数超出',
						timeout:2500,
						isClick:false
					});	
					this.saving = false
					return;
				}
				arr.push(item);
			}
			uni.showLoading({
				title: '请稍候',
				mask: 'true'
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {
					"mapParams": {
					  "rowSet": {
					    "primary": arr,
					    "filter": [],
					    "delete": []
					  },
					  "name": "mapParams",
					  "pageNumber": 1,
					  "pageSize": 2147483647,
					  "recordCount": 0,
					  "rowSetName": "com.cnd.intfservice.wmsjccwis.move.dto.JcwmsStockBalanceDTO"
					}
				},
				parameters: {
					sId: '',
					_parameters: 'mapParams,sId',
					_parameterTypes: 'pojoList,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsMovePlanBO_bo',
					_methodName: 'doCreateMovePlan',
					_methodParameterTypes: 'java.util.List,String',
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				uni.navigateTo({
					url: `/pOperationLib/store-move/move-prev?id=${sWarehouseId}&oid=${data[0].id}`
				})
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			this.saving = false
			uni.hideLoading()
		},
		sQtxInput(e) {
			let { value } = e.detail;
			let { index } = e.currentTarget.dataset;
			let item = this.list[index];
			if (value > item.sQtx) {
				value = Number(item.sQtx);
			}
			this.sQty1 = (value * item.sUnitQtys).toFixed(3);
			console.log('cs',value,item.sQtx,index,item,this.sQty1)
			this.$nextTick(() => {
				this.$set(item, 'sQtx1', value);
				this.$set(item, 'sQty1', this.sQty1);
			});
		},
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
}
.list-box-item {
	margin-top: 16rpx;
	background-color: #fff;
	border-radius: 16rpx;
	padding: 24rpx;
	color: #262626;
	font-size: 28rpx;
	line-height: 40rpx;
	.label {
		color: #8c8c8c;
		font-size: 30rpx;
	}
	.input {
		font-size: 30rpx;
		border: #ddd 2rpx solid;
		margin-right: 30rpx;
		padding: 0 10rpx;
	}
}
</style>
