<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<view class="list-box-item" @tap="goUrl(item)">
				<view class="flex-box">
					<view class="flex">
						<text class="label">单号：</text>
						{{ item.sCode }}
					</view>
					<view v-if="item.sSheetStatus == 10" @tap.stop="stop"><cnd-button color="primary" :disabled="false" size="small" icon="no" type="outlined" @clickEvent="submit(index)">提交</cnd-button></view>
					<view v-if="item.sSheetStatus == 10" style="margin-left: 20rpx;" @tap.stop="stop"><cnd-button color="primary" :disabled="false" size="small" icon="no" type="outlined" @clickEvent="del(item)">删除</cnd-button></view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">状态：</text>
						<view class="flex">{{ item.sSheetStatus == 70 ? '已审核' : '准备' }}</view>
					</view>
					<view class="flex flex-box">
						<text class="label">操作人：</text>
						<view class="flex">{{ item.sModifier || '无' }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">创建日期：</text>
						<view class="flex">{{ item.date }}</view>
					</view>
				</view>
				<view class="flex-box">
					<view class="flex flex-box">
						<text class="label">货主：</text>
						<view class="flex">	{{ item.sGoodsOwnerName || '无' }}</view>
					</view>
				</view>
				<block v-for="(item2, index2) in item.details" :key="index2">
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">品名：</text>
							<view class="flex">{{ item2.sGoodsDetailName || '无' }}</view>
						</view>
						<view class="flex flex-box">
							<text class="label">材质：</text>
							<view class="flex">{{ item2.sMetailName || '无' }}</view>
						</view>
					</view>
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">规格：</text>
							<view class="flex">{{ item2.sSpecificationName || '无' }}</view>
						</view>
						<view class="flex flex-box">
							<text class="label">产地：</text>
							<view class="flex">{{ item2.sOrginName || '无' }}</view>
						</view>
					</view>
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">件数：</text>
							<view class="flex">{{ item2.sQtx || '无' }}</view>
						</view>
						<view class="flex flex-box">
							<text class="label">吨数：</text>
							<view class="flex">{{ item2.sQty || '无' }}</view>
						</view>
					</view>
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">转出库区：</text>
							<view class="flex">{{ item2.sOutWarehouseAreaName || '无' }}</view>
						</view>
						<view class="flex flex-box">
							<text class="label">转出库位：</text>
							<view class="flex">{{ item2.sOutWarehouseLocationName || '无' }}</view>
						</view>
					</view>
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">转入库区：</text>
							<view class="flex">{{ item2.sInWarehouseAreaName || '无' }}</view>
						</view>
						<view class="flex flex-box">
							<text class="label">转入库位：</text>
							<view class="flex">{{ item2.sInWarehouseLocationName || '无' }}</view>
						</view>
					</view>
				</block>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndButton from '../../components/button/button.vue';
export default {
	name: 'pd-list',
	components: {
		CndButton
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		},
		formData: Object,
	},
	methods: {
		stop() {
			return false
		},
		del(item) {
			uni.showModal({
				title: '提示',
				content: '确定删除？',
				success: async (res) => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								sId: item.sId,
								_parameters: 'sId',
								_parameterTypes: 'string',
								dcID: 'wmsjccwis',
								_boId: 'wmsjccwis_ifsJcwmsMovePlanBO_bo',
								_methodName: 'deleteJcwmsMovePlan',
								_methodParameterTypes: 'String'
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '删除成功',
							// 	icon: 'none',
							// });
							this.$refs.mpopup.open({
								type:'success',
								content:'删除成功',
								timeout:2000,
							});
							uni.$emit('update')
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		},
		submit(index) {
			let item = this.list[index]
			uni.showModal({
				title: '提示',
				content: '确定提交？',
				success: async (res) => {
					if (res.confirm) {
						uni.showLoading({
							title: '请稍候',
							mask: true
						})
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
							dataStores: {},
							parameters: {
								"sId": item.sId,
								"_parameters": "sId",
								"_parameterTypes": "string",
								"dcID": "wmsjccwis",
								"_boId": "wmsjccwis_ifsJcwmsMovePlanBO_bo",
								"_methodName": "doConfirmMovePlan",
								"_methodParameterTypes": "String"
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '移库成功',
							// 	icon: 'none'
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'移库成功',
								timeout:2000,
							});
							this.$set(this.list[index], 'sSheetStatus', 70)
							console.log(this.list)
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
						uni.hideLoading()
					}
				}
			});
		},
		goUrl(item) {
			if (item.sSheetStatus == 10) {
				uni.navigateTo({
					
					url: `/pOperationLib/store-move/store-prev?sId=${item.sId}&parentId=${this.formData.primary.sWarehouseId}`
				});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
}
.list-box-item {
	background-color: #fff;
	border-radius: 16rpx;
	padding: 24rpx;
	color: #262626;
	font-size: 28rpx;
	line-height: 40rpx;
	.label {
		color: #8c8c8c;
	}
}
.flex-box{
	padding:4rpx 0 ;
}
</style>
