<template>
	<view class="container">
		<view class="tabTop" @click="bookingDelivery"><text>预约送货</text></view>
        <view class="tabBottom" @click="queryProgress"><text>查看进度</text></view>
		<my-popup @uuidCallback="uuidCallback" @closeCallback="closeCallback" ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>

	export default {
		name: 'index',
		data() {
			return {
				menuList: [],
				username: '',
				version: '',
				info: {},
				openid: '',
				unionid: '',
				session_key: ''
			};
		},
		onLoad() {
		},
		 onShow() {
        },
		computed: {
			getTimeState() {
				let date = new Date();
				let hours = date.getHours();
				let text = ``;
				if (hours >= 6 && hours < 12) {
					text = `早上好`;
				} else if (hours >= 12 && hours < 19) {
					text = `下午好`;
				} else {
					text = `晚上好`;
				}
				return text;
			}
		},
		methods: {
			bookingDelivery(){
                uni.navigateTo({
					url: '/pages/bookingDelivery/index'
				})
            },
            queryProgress(){
                uni.navigateTo({
					url: '/pages/queryProgress/index'
				})
            },
			getUserProfile() {
				let that = this
				uni.getUserProfile({
					desc: "用于完善用户信息",
					success: (res1) => {
						that.info = res1.userInfo;
						console.log(res1)
						// uni.showToast({
						// 	icon: "none",
						// 	title: '获取成功'
						// })
						this.$refs.mpopup.open({
							type:'success',
							content:'获取成功',
							timeout:2000,
						});
					},
					fail: (err) => {
						console.log(err)
						uni.showToast({
							icon: "none",
							title: '用户拒绝获取'
						})
					}
				})
			},
			// async getMenuList() {
			// 	let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
			// 		dataStores: {},
			// 		parameters: {
			// 			appId: 'intfservice',
			// 			_parameters: 'appId',
			// 			_parameterTypes: 'string',
			// 			dcID: 'common',
			// 			_boId: 'basedata_bdaMenuBO_bo',
			// 			_methodName: 'getAuthorityMenus',
			// 			_methodParameterTypes: 'String',
			// 			_pageNumber: 1,
			// 			_pageSize: 20,
			// 			_calcRecordCount: true,
			// 			nom: 'getAuthorityMenus'
			// 		}
			// 	});
			// 	let list = res.dataStores.result.rowSet.primary;
			// 	this.menuList = list;
			// 	console.log('菜单列表', list);
			// },
			// async getUser() {
			// 	let userInfo = uni.getStorageSync('userInfo');
			// 	console.log(userInfo);
			// 	let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
			// 		dataStores: {},
			// 		parameters: {
			// 			account: userInfo.user,
			// 			_parameters: 'account',
			// 			_parameterTypes: 'string',
			// 			dcID: 'baseis',
			// 			_boId: 'baseis_upOrgUserBO_bo',
			// 			_methodName: 'getUserName',
			// 			_methodParameterTypes: 'String'
			// 		}
			// 	});
			// 	if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
			// 		let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
			// 		this.username = data[0].username;
			// 	} else {
			// 		uni.showToast({
			// 			title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
			// 			icon: 'none',
			// 			mask: true
			// 		});
			// 	}
			// }
		}
	};
</script>

<style lang="scss">
	// @import './style.scss';
	page {
		height: 100%;
		background-color: #f1f5f7;
        width: 100%;
	}
	.container {
         display: flex;
         flex-direction: column;  
		.tabTop{
            height: calc(60vh - 88px );
            background: rgb(31, 164, 253);
            line-height: calc(60vh - 88px );
            text{
                display: block;
                color: #fff;
                text-align: center;
            }
        }
        .tabBottom{
            flex-grow: 1;
            text{
                display: block;
                text-align: center;
                color: rgb(31, 164, 253);
                line-height: calc(60vh - 88px );
            }
        }
	}
</style>
