<template>
	<view class="container">
		<cnd-navbar color="touming" :isBack="false">
			<block slot='content'>首页</block>
		</cnd-navbar>
		<view class="app-card mt" v-if="SupervisionWarehouse">
			<!-- <view class="app-card-title">我的应用</view> -->
			<view class="app-card-content">
				<view class="boyView" @click="bindSupervisionWarehouse">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/SupervisionWarehouse.png" /></view>
						<text class="app-text">监管仓</text>
					</view>
				</view>
				<view class="boyView" @click="bindOperationLib">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/operation.png" /></view>
						<text class="app-text">库内操作</text>
					</view>
				</view>
			</view>
		</view>
		<view class="app-card mt"  v-else>
			<!-- <view class="app-card-title">我的应用</view> -->
			<view class="app-card-content">
				<!-- <view class="boyView" v-if="roleNameDeliveryMan">
					<view class="item pickUpGoods" hover-class="none" @click="bindPickerPicker">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/delivery.png" /></view>
						<text class="app-text">预约送货(加工厂)</text>
					</view>
					<view class="item pickUpGoods" hover-class="none" @click="bindQuery">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/query.png" /></view>
						<text class="app-text">预约单据查询</text>
					</view>
				</view> -->
				<!-- <view class="boyView" v-else>
					<navigator class="item pickUpGoods" url="/pages/index/index" hover-class="none">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/delivery.png" /></view>
						<text class="app-text">预约送货(加工厂)</text>
					</navigator>
					<view class="item pickUpGoods" hover-class="none">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/query.png" /></view>
						<text class="app-text">预约单据查询</text>
					</view>
				</view> -->
				<view class="boyView" @click="bindPickerPicker" v-if="roleNameDeliveryMan || roleNameDeliveryMan_driver">
					<view class="item pickUpGoods" hover-class="none">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/delivery.png" /></view>
						<text class="app-text">预约送货</text>
					</view>
				</view>
				<view class="boyView" @click="bindSupervisionWarehouse">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/SupervisionWarehouse.png" /></view>
						<text class="app-text">监管仓</text>
					</view>
				</view>
				<view class="boyView" @click="bindreceivingNeijiang">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/receivingNeijiang.png" /></view>
						<text class="app-text">收货</text>
					</view>
				</view>
				<view class="boyView" @click="bindOperationLib">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/operation.png" /></view>
						<text class="app-text">库内操作</text>
					</view>
				</view>
				<view class="boyView" @click="bindPickUpGoods">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/pickUpGoods.png" /></view>
						<text class="app-text">提货</text>
					</view>
				</view>
				<view class="boyView" @click="binddeliveryNotice" v-if="roleNamedeliveryWrkbench">
					<view class="item pickUpGoods">
						<view class="icon-bac"><image class="app-icon" src="../../static/images/index/deliveryNotice.png" /></view>
						<text class="app-text">发货工作台</text>
					</view>
				</view>
			</view>
		</view>
		<view class="version">v{{ version }}</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	// import { baseUrl, getReqTime } from '@/common/utils/index.js'
	import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	export default {
		name: 'index',
		components: {
			CndNavbar
		},
		data() {
			return {
				menuList: [],
				username: '',
				version: '',
				info: {},
				openid: '',
				unionid: '',
				session_key: '',
				userInfo: {},
				roleName: '',
				roleNameDeliveryMan: null,
				roleNameDeliveryMan_driver: null,
				SupervisionWarehouse: null,
				roleNamedeliveryWrkbench: null,
				material: [],
				roleNameStatus: {
					deliveryMan: '【小程序】通用预约送货', // 送货人
					salesman: '【小程序】通用送货审批', // 业务管理
					driver: '【小程序】通用预约送货', // 司机
					securityStaff: '【小程序】通用保安', // 保安
					deliveryMan_driver: '【小程序】通用预约送货', // 小程序-废钢结算人司机
					Quality: '小程序-质检员', // 小程序-质检员
					Storekeeper: '【小程序】通用保管员', // 小程序-保管员
					SupervisionWarehouse: '监管仓', // 监管仓
					deliveryWrkbench: '【小程序】通用发货工作台', // 小程序-发货工作台
				},
				storeOptions: [],
			};
		},
		onLoad() {
			// getCurVersion().then(data => {
			// 	this.version = data
			// })
			// this.getMenuList();
			// this.getUser();
			// #ifdef  MP-WEIXIN
			const accountInfo = wx.getAccountInfoSync();
			this.version = accountInfo.miniProgram.version 
			// #endif
			// this.getInfo()
		},
		onShow() {
			uni.setStorageSync('roleNameStatus', this.roleNameStatus)
			this.getStoreList()
			
			this.userInfo = uni.getStorageSync('userInfo')
			// if(!this.userInfo){
				uni.$on('setInfo', () => {
					this.getStoreList()
					this.sMaterial()
				})
			// }
			
        },
		mounted() {
			// 仓库
			this.sMaterial()
			// this.datasId()
			
		},
		computed: {
			// getTimeState() {
			// 	let date = new Date();
			// 	let hours = date.getHours();
			// 	let text = ``;
			// 	if (hours >= 6 && hours < 12) {
			// 		text = `早上好`;
			// 	} else if (hours >= 12 && hours < 19) {
			// 		text = `下午好`;
			// 	} else {
			// 		text = `晚上好`;
			// 	}
			// 	return text;
			// }
		},
		methods: {
			binddeliveryNotice(){
				uni.navigateTo({
					url: '/pOperationLib/deliveryNotice/index'
				})
			},
			async bindPickerPicker(){
				let str=encodeURIComponent(JSON.stringify(this.material))
                uni.navigateTo({
					url: '/pAppointmentDelivery/bookingDelivery/map?items='+str
				})
			},
			bindQuery(){
				// let str=encodeURIComponent(JSON.stringify(this.material))
                uni.navigateTo({
					url: '/pAppointmentDelivery/bookingDelivery/query'
				})
			},
			bindSupervisionWarehouse(){
				uni.navigateTo({
					url: '/pSupervisionWarehouse/index/index'
				})
			},
			bindOperationLib(){
				uni.navigateTo({
					url: '/pOperationLib/kunei/index'
				})
			},
			bindPickUpGoods(){
				uni.navigateTo({
					url: '/pOperationLib/pickUpGoods/index?stapdList=1'
				})
			},
			bindreceivingNeijiang(){
				uni.navigateTo({
					url: '/pOperationLib/receivingNeijiang/index'
				})
			},
			async sMaterial() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"mapParams": {
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getAllWareHouseListForMiniApp",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					this.material = material
					console.log('仓库', this.material)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2000,
						isClick:false
					});
				}
			},
			async getStoreList() {
				uni.showLoading({
					title: '加载中...'
				})
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=13', {
					dataStores: {
						"mapParams": {
							"rowSet": {
								"primary": [
									{
										"sCode": "", 
										"sName": "", 
										"sStatus": "", 
										"sType": ""
									}
								], 
								"filter": [ ], 
								"delete": [ ]
							}, 
							"name": "mapParams", 
							"pageNumber": 1, 
							"pageSize": 2147483647, 
							"recordCount": 0, 
							"rowSetName": "com.cnd.wms.basedatawms.entity.WmsWarehouse"
						}
					},
					"parameters": {
						"sSheetCode": "wms.stockwms.stock.select", 
						"pageNumber": "1", 
						"pageSize": "999", 
						"_parameters": "sSheetCode,mapParams,pageNumber,pageSize", 
						"_parameterTypes": "string,pojo,string,string",
						"dcID": "wmsis", 
						"_boId": "wmsis_ifsWmsWarehouseBO_bo", 
						"_methodName": "queryWarehouseInfo", 
						"_methodParameterTypes": "String,com.cnd.wms.basedatawms.entity.WmsWarehouse,int,int"
					}
				})
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				this.storeOptions = list.map(ele => {
					return{
						id: ele.sId,
						name: ele.sName
					}
				})
				this.getInfo()
				console.log('当前用户仓库', this.storeOptions)
			},
			async getInfo() {
				let userName = uni.getStorageSync('userName')
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						"account": userName,
						"_parameters": "account",
						"_parameterTypes": "string",
						"dcID": "baseis",
						"_boId": "baseis_ifsLogginEnableBO_bo",
						"_methodName": "queryAdminRoleUser",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('用户明细数据查询', info);
					// this.getStoreList()
					this.info = info;
					if(info.role.length == 0){
						uni.removeStorageSync('userInfo')
						return
					}
					this.info.warehouse = this.storeOptions
					console.log('用户明细数据查询2', this.info);
					let newobj = {};
					this.info.warehouse = this.info.warehouse .reduce((preVal, curVal) => {
						newobj[curVal.name] ? '' : newobj[curVal.name] = preVal.push(curVal); 
						return preVal 
					}, [])
					uni.setStorageSync('userInfo', this.info)
					uni.hideLoading()
					// this.roleName = info.role[0].roleName
					for(let i in info.role){
						// console.log('用户明细数据查询角色名称1',this.info.role[i].roleName);
						this.roleNameDeliveryMan = info.role[i].roleName == this.roleNameStatus.deliveryMan
						this.roleNameDeliveryMan_driver = info.role[i].roleName == this.roleNameStatus.deliveryMan_driver
						this.SupervisionWarehouse = info.role[i].roleName.indexOf(this.roleNameStatus.SupervisionWarehouse) != -1
						if(this.roleNameDeliveryMan == true || this.roleNameDeliveryMan_driver == true){
							break
						}
						// if(this.roleNameDeliveryMan == true){
						// 	break
						// }
					}
					// 配置发货工作台
					for(let i in info.role){
						this.roleNamedeliveryWrkbench = info.role[i].roleName == this.roleNameStatus.deliveryWrkbench
						if(this.roleNamedeliveryWrkbench == true){
							break
						}
					}
					
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2000,
						isClick:false
					});
				}
			},
		}
	};
</script>

<style lang="scss">
	@import './style.scss';
	page {
		overflow-y: scroll;
		height: 100%;
		background-color: #047cdd;
	}
	
	.container {
		height: 100%;
		// background: linear-gradient(124deg,transparent 50%,rgb(31, 164, 253) 50%);
		background-image: url('../../static/images/index/index.jpg');
		background-size:cover;
		// background: #148ae4;
		position: relative;
		.delivery{
			position: absolute;
			top: 20%;
			left: 20%;
			.app-text{
				color: rgb(31, 164, 253);
			}
		}
		.boyView{
			width: 92%;
			padding: 12rpx 0;
			background: #ffffff24;
			border-radius: 14rpx;
			margin: 16rpx auto;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-around;
		}
		.boyView .pickUpGoods{
			// position: absolute;
			// bottom: 20%;
			// right: 20%;
			color: rgb(255, 255, 255)
		}
		.setting {
			position: fixed;
			padding-top: var(--status-bar-height);
			right: 40rpx;
			top: 10rpx;
			z-index: 1;
			width: 50rpx;

			image {
				width: 100%;
			}
		}

		.version {
			position: absolute;
			right: 20rpx;
			bottom: 20rpx;
			color: #666666;
		}
	}
	
</style>
