	.app-card {
		.app-card-title {
			position: relative;
			height: 78rpx;
			display: flex;
			align-items: center;
			padding-left: 34rpx;
			box-sizing: border-box;
			color: #636363;
			font-size: 28rpx;
			&:after {
				content: "";
				position: absolute;
				z-index: 2;
				bottom: 0;
				left: 0;
				right: auto;
				top: auto;
				width: 100%;
				height: 2rpx;
				background-color: #FBFBFB;
			}
		}
		.app-card-content {
			display: flex;
			flex-wrap: wrap;
			padding-top: 40rpx;
			.item {
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// margin-bottom: 32rpx;
				.icon-bac {
					background-color: #eff8fd00;
					width: 110rpx;
					height: 110rpx;
					border-radius: 24rpx;
					display: flex;
					justify-content: center;
					align-items: center;
					&.dash {
						border: 2rpx dashed #3A8FE4;
					}
				}
				.app-icon {
					font-size: 60rpx;
					color: #4897E6;
					width: 110rpx;
					height: 110rpx;
				}
				.app-text {
					font-size: 34rpx;
					margin-top: 10rpx;
					font-size: #666666;
				}
			}
		}
	}
	