<script>
	import Vue from 'vue'
	import {
		update_app
	} from '@/common/utils/update_app.js'
	export default {
		onLaunch: function() {
			// #ifdef APP-PLUS
			update_app("onLaunch")
			// #endif
			console.log('App Launch')

			uni.getSystemInfo({
				success: (e) => {
					console.log(e)
					Vue.prototype.System = e
					// #ifndef APP-PLUS
					Vue.prototype.StatusBar = e.statusBarHeight
					if (e.platform === 'android') {
						Vue.prototype.CustomBar = 64 - e.statusBarHeight
					} else {
						Vue.prototype.CustomBar = 64 - e.statusBarHeight - 5
					}
					// #endif
					// #ifndef MP
					Vue.prototype.StatusBar = e.statusBarHeight;
					if (e.platform == 'android') {
						Vue.prototype.CustomBar = e.statusBarHeight + 50
					} else {
						Vue.prototype.CustomBar = e.statusBarHeight + 45
					};
					// #endif
					// #ifdef MP-WEIXIN
					Vue.prototype.StatusBar = e.statusBarHeight;
					let custom = uni.getMenuButtonBoundingClientRect()
					Vue.prototype.Custom = custom
					Vue.prototype.CustomBar = custom.bottom + custom.top - e.statusBarHeight
					// #endif		
					// #ifdef H5
					if (e.platform == 'android') {
						Vue.prototype.CustomBar = e.statusBarHeight + 50
					} else {
						Vue.prototype.CustomBar = e.statusBarHeight + 45
					}
					// #endif
					// #ifdef MP-ALIPAY
					Vue.prototype.StatusBar = e.statusBarHeight
					Vue.prototype.CustomBar = e.statusBarHeight + e.titleBarHeight
					// #endif

					// 获取屏幕可用高度
					Vue.prototype.WindowHeight = e.windowHeight
				}
			});

			//新版本更新
			if (uni.canIUse('getUpdateManager')) {
				//判断当前微信版本是否支持版本更新
				const updateManager = uni.getUpdateManager();
				updateManager.onCheckForUpdate(function(res) {
					if (res.hasUpdate) {
						// 请求完新版本信息的回调
						updateManager.onUpdateReady(function() {
							uni.showModal({
								title: '更新提示',
								content: '新版本已经准备好，请点击进行版本更新',
								cancelText: "取消", // 取消按钮的文字  
								confirmText: "确定", // 确认按钮文字  
								showCancel: false, // 是否显示取消按钮，默认为 true
								confirmColor: '#39B54A',
								cancelColor: '#f55850',
								success: function(res) {
									if (res.confirm) {
										// 新的版本已经下载好，调用 applyUpdate 应用新版本并重启
										updateManager.applyUpdate();
									}
								},
							});
						});
						updateManager.onUpdateFailed(function() {
							// 新的版本下载失败
							// uni.showModal({
							// 	title: '已经有新版本了哟~',
							// 	content: '新版本已经上线啦~，请您删除当前小程序，重新搜索打开哟~',
							// });
							uni.showToast({
								title: '新版本已经上线啦~，请您删除当前小程序，重新搜索打开哟~',
								icon: 'none',
								mask: true
							})
						});
					} else {}
				});
			} else {
				// 如果希望用户在最新版本的客户端上体验您的小程序，可以这样子提示
				// uni.showModal({
				// 	title: '提示',
				// 	content: '当前微信版本过低，无法使用该功能，请升级到最新微信版本后重试。',
				// });
				uni.showToast({
					title: '当前微信版本过低，无法使用该功能，请升级到最新微信版本后重试。',
					icon: 'none',
					mask: true
				})
			}

		},
		// onShow: function() {
		// 	console.log('App Show')
		// #ifdef MP-WEIXIN
		// uni.getProvider({
		// 	service: 'oauth',
		// 	success: function (res) {
		// 	if (~res.provider.indexOf('weixin')) {
		// 		uni.login({
		// 			provider: 'weixin',
		// 			success: (res2) => {

		// 				uni.getUserInfo({
		// 					provider: 'weixin',
		// 					success: (info) => {//这里请求接口
		// 						console.log('res2我是微信授权', res2);
		// 						console.log('info我是微信授权', info);
		// 						uni.setStorage({
		// 							key: 'res2',
		// 							data: res2,
		// 						})
		// 						uni.setStorage({
		// 							key: 'infoData',
		// 							data: info,
		// 						})
		// 					},
		// 					fail: () => {
		// 						uni.showToast({title:"微信登录授权失败",icon:"none"});
		// 					}
		// 				})

		// 			},
		// 			fail: () => {
		// 				uni.showToast({title:"微信登录授权失败",icon:"none"});
		// 			}
		// 		})

		// 	}else{
		// 		uni.showToast({
		// 			title: '请先安装微信或升级版本',
		// 			icon:"none"
		// 		});
		// 	}
		// 	}
		// });
		//#endif
		// },
		onShow: function() {
			
		},
		onHide: function() {
			console.log('App Hide')
		},
		onload() {

		}
	}
</script>

<style lang="scss">
	@import '@/common/style/style.scss';
	@import '@/common/style/iconfont/iconfont.css';
	// @import 'cndapp-ui/components/style/common.scss';
	/*每个页面公共css */
	// page {
	// 	background-color: #F1F5F7;
	// }
	.wrapper-width-auto {
		width: auto !important;

		text {
			width: auto !important;
		}
	}

	.flex-column-box {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.flex-box {
		display: flex;
	}

	.flex {
		flex: 1;
		overflow: hidden;
	}

	.checkbox {
		.uni-checkbox-input {
			width: 36rpx;
			height: 36rpx;

			&.uni-checkbox-input-checked:before {
				font-size: 32rpx;
			}
		}
	}

	.mask {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 99;
		background-color: rgba($color: #000000, $alpha: 0.5);
	}

	.h100p {
		height: 100%;
	}

	.checkbox {
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 20px;
		margin-right: 10rpx;
	}
</style>
