<template>
	<view class="main">
		<cnd-navbar color="white" isWebBack>
			<block slot="content">出错啦~</block>
		</cnd-navbar>
		<view class="error-box">
			<image class="error-img" src="../../static/images/common/comesoon.png"></image>
			<view class="error-tip">
				<text>对不起！数据异常...\n您请求的接口已下班...</text>
				<!-- <text>风筝断了线，数据出了错</text> -->
			</view>
		</view>
	</view>
</template>

<script>
	import cndNavbar from '@/components/navbar/cnd-navbar.vue'
	export default {
		components: {
			cndNavbar
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss" scoped>
	.error-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 300rpx;
	
		image {
			width: 300rpx;
			height: 300rpx;
		}
		
		.error-tip {
			margin-top: 20rpx;
			font-size: $font-size-body;
			color: $gray-5;
		}
	}
	
	// .error-box {
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: #F1F5F7;
	// 	position: fixed;
	// 	left: 0;
	// 	top: 0;

	// 	.img-error {
	// 		display: block;
	// 		width: 240rpx;
	// 		height: 240rpx;
	// 		margin: 0 auto;
	// 		position: absolute;
	// 		left: 50%;
	// 		top: 50%;
	// 		margin: -120rpx 0 0 -120rpx;
	// 	}
	// }
</style>
