<template>
	<view class="cnd-option-card" :class="{'disabled':disabled, 'active':isChecked}" :style="{width: itemWidth}" @click="getChecked()">
		<text>{{data[name_key]}}</text>
	</view>
</template>

<script>
	export default {
		name: 'cnd-option-card',
		data() {
			return {
				
			}
		},
		props:{
			// 传入的对象
			data: {
				type: Object,
				reqiured: true
			},
			// 名称字段
			name_key: {
				type: String,
				default: 'label',
			},
			// id 字段
			id_key: {
				type: String,
				default: 'itemID',
			},
			// 是否禁用
			disabled:{
				type: Boolean,
				default: false
			},
		},
		computed: {
			isChecked() {
				return this.optionCardGroup && this.optionCardGroup.value.indexOf(this.data[this.id_key]) !== -1
			},
			itemWidth() {
				if(this.optionCardGroup.length == 2){
					return '50%'
				} else if(this.optionCardGroup.length == 3){
					return '33.3%'
				} else if(this.optionCardGroup.length == 4){
					return '25%'
				}
			}
		},
		inject: {
			optionCardGroup: {
				default: null
			},
		},
		methods: {
			// 选中
			getChecked() {
				if (this.disabled) {
					return
				}
				
				if (this.optionCardGroup) {
					this.optionCardGroup.check(this.data,this.id_key)
				}
				
				// this.$emit('change',this.data)
			}
		}
	}
</script>

<style lang="scss" scoped>
	//引入colors色盘配置
	@import "../style/color/_colors.scss";
	//引入colors状态颜色改变
	@import "../style/color/statusColors.scss";
	//引入fonts字阶行高配置
	@import "../style/font/_font.scss";
	//引入公共样式
	@import "../style/common.scss";
	
	.cnd-option-card{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		
		box-sizing: border-box;
		height: 64rpx;
		
		line-height: $line-height-body;
		font-size: $font-size-caption;
		color: $gray-8;
		background-color: $gray-0;
		
		&.disabled{
			color: colorDisable($gray-8);
		}
		
		&.active{
			background-color: $cnd-blue-5;
			color: $gray-0;
			
			&.disabled {
				background-color: colorDisable($cnd-blue-5);
			}
		}
	}
</style>
