<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view>
					<cnd-list-content title="仓库" :value="item.sWarehouseName || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="预达日期" :value="item.sReceiveTime || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="收货单位" :value="item.sGoodsOwnerName || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="车牌号" :value="item.sVehicleVesselNo || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="吨数" :value="String(item.sQty) || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="预约单号" :value="item.sCode || '无'" type="alignLeft"></cnd-list-content>
					
				</view>
				<view class="state">{{item.sSheetCodeName}}</view>
				<view class="btn">
					<cnd-button 
						color="primary" 
						size="block" 
						type="outlined" 
						icon="no" 
						@clickEvent="callPhone(item)" >
						联系客服
					</cnd-button>
				</view>
			</cnd-list-group>
			
			<my-popup ref="mpopup" :isdistance="true"></my-popup>
		</view>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndButton from '@/components/button/button';
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndButton,
			cndPopContent,
			CndFormItem,
			CndListContent,
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
			}
		},
		// async mounted() {
		// 	// 货主
		// 	this.sMaterialType()
		// },
		methods: {
			
			
			// 拨打电话
			async callPhone(item){
				// 拿到号码
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sWarehouseId": item.sWarehouseId
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getWmsWarehouseBaseInfoById",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('仓库明细查询数据电话', info);
					this.info = info;
					this.phone = this.info.sPhone
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.makePhoneCall({
					// 手机号
					phoneNumber: this.phone, 
					// 成功回调
					success: (res) => {
					console.log('调用成功!')	
					},
				});
			},
			// 进入详情
			goDetail(item) {
				uni.navigateTo({
					url: `/pAppointmentDelivery/bookingDelivery/index?sId=${item.sId}&statusEdit=` + false
				});

			},
			
		}
	}
</script>

<style lang="scss" scoped>
// .btn{
// 	z-index: 999;
// 	border-top: 1px solid #dedede;
// 	.block{
// 		font-size: 28upx!important;
// 		padding:0 14upx!important;
// 	}
// }
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}

.state{
    z-index: 999;
    border-top: 1px solid #dedede;
	border-top: 1px solid #dedede;
    float: left;
    font-size: 30upx;
    color: #408CDA;
    padding: 30upx;
}
</style>

