<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>监管仓</block>
		</cnd-navbar>
		<view class="container">
			<view class="top-blue-bg">
				<view class="greeting">
					{{ getTimeState }}
					<text style="margin-left: 30rpx;">{{ userName }}</text>
				</view>
				<!-- <image style="width: 200px; height: 200px; background-color: #eeeeee;" src="https://img-cdn-qiniu.dcloud.net.cn/uniapp/images/shuijiao.jpg"></image> -->
			</view>
			<view class="app-card mt">
				<view class="app-card-title">我的应用</view>
				<view class="app-card-content">
					<navigator class="item" url="../inventoryManagement/index?page=1" hover-class="none" v-if="SupervisionWarehouse">
						<view class="icon-bac"><image class="app-icon" src="../static/store.png"></image></view>
						<text class="app-text">库存管理</text>
					</navigator>
					<navigator class="item" url="../noticeDelivery/index?page=1" hover-class="none" v-if="SupervisionWarehouse">
						<view class="icon-bac"><image class="app-icon" src="../static/store.png"></image></view>
						<text class="app-text">发货通知单</text>
					</navigator>
					<navigator class="item" url="../transferTitle/index?page=1" hover-class="none" v-if="SupervisionWarehouse">
						<view class="icon-bac"><image class="app-icon" src="../static/store.png"></image></view>
						<text class="app-text">货权转移</text>
					</navigator>
					
				</view>
			</view>
			<view class="version">v{{ version }}</view>
		</view>
	</view>
</template>

<script>
// import { getCurVersion } from '@/common/utils/tools.js'
import CndNavbar from '@/components/navbar/cnd-navbar'
export default {
	components: { CndNavbar },
	name: 'index',
	data() {
		return {
			menuList: [],
			username: ``,
			version: '',
			SupervisionWarehouse: ''
		};
	},
	onLoad() {
		// #ifdef  MP-WEIXIN
		const accountInfo = wx.getAccountInfoSync();
		this.version = accountInfo.miniProgram.version 
		// #endif
		// getCurVersion().then(data => {
		// 	this.version = data
		// })
		this.userName = uni.getStorageSync('userInfo').user.name
		// this.getMenuList();
		
	},
	onShow(){
		let userInfo = uni.getStorageSync('userInfo')
		this.roleNameStatus = uni.getStorageSync('roleNameStatus')
		for(let i in userInfo.role){
			this.SupervisionWarehouse = userInfo.role[i].roleName.indexOf(this.roleNameStatus.SupervisionWarehouse) != -1
			if(this.SupervisionWarehouse == true){
				return
			}
		}
		// this.userName = uni.getStorageSync('userName')
	},
	computed: {
		getTimeState() {
			let date = new Date();
			let hours = date.getHours();
			let text = ``;
			if (hours >= 6 && hours < 9) {
				text = `早上好`;
			} else if (hours >= 9 && hours < 11) {
				text = `上午好`;
			} else if (hours >= 11 && hours < 13) {
				text = `中午好`;
			} else if (hours >= 13 && hours < 18) {
				text = `下午好`;
			} else if (hours >= 18 && hours < 20) {
				text = `傍晚好`;
			} else {
				text = `晚上好`;
			}
			return text;
		}
	},
	methods: {
		
	}
};
</script>

<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss">
@import './style.scss';
.container {
	.top-blue-bg {
		display: flex;
		align-items: center;
		height: 420rpx;
		background: url(../static/1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	
		.greeting {
			padding-left: 50rpx;
			color: #ffffff;
			font-size: 36rpx;
		}
	}
	
	.mt {
		margin-top: -120rpx;
	}
	.setting {
		position: fixed;
		padding-top: var(--status-bar-height);
		right: 40rpx;
		top: 10rpx;
		z-index: 1;
		width: 50rpx;
		image {
			width: 100%;
		}
	}
	.version {
		position: absolute;
		right: 20rpx;
		bottom: 20rpx;
		color: #666666;
	}
}

</style>
