//----------字体样式定义----------

//字阶定义（小）
$small-font-size-h1: 112rpx;
$small-font-size-h2: 92rpx;
$small-font-size-h3: 76rpx;
$small-font-size-h4: 60rpx;
$small-font-size-h5: 48rpx;
$small-font-size-h6: 40rpx;
$small-font-size-headline: 36rpx;
$small-font-size-subhead: 32rpx;
$small-font-size-callout: 30rpx;
$small-font-size-body: 28rpx;
$small-font-size-caption: 24rpx;
$small-font-size-footnote: 20rpx;

//字阶定义（默认/大）
$font-size-h1: 112rpx;
$font-size-h2: 92rpx;
$font-size-h3: 76rpx;
$font-size-h4: 60rpx;
$font-size-h5: 48rpx;
$font-size-h6: 40rpx;
$font-size-headline: 36rpx;
$font-size-subhead: 36rpx;
$font-size-callout: 30rpx;
$font-size-body: 32rpx;
$font-size-caption: 28rpx;
$font-size-footnote: 24rpx;

//字阶说明：
// 我们采用 14即body 作为主字体大小。
// 字体大小建议采用偶数。
// 常用字阶尽量控制在 5 种以内: h6, headline, subhead, body, caption.
// 在一些展示型页面中，可以考虑 h5 及更大的字阶。
// footnote 一般只搭配 icon 使用，比如 Tabbar。
// 15 号的 callout 是保留字阶，在特殊情况下使用。

//行高定义（小）
$small-line-height-h1: $small-font-size-h1 + 12rpx;
$small-line-height-h2: $small-font-size-h2 + 12rpx;
$small-line-height-h3: $small-font-size-h3 + 12rpx;
$small-line-height-h4: $small-font-size-h4 + 12rpx;
$small-line-height-h5: $small-font-size-h5 + 12rpx;
$small-line-height-h6: $small-font-size-h6 + 12rpx;
$small-line-height-headline: $small-font-size-headline + 8rpx;
$small-line-height-subhead: $small-font-size-subhead + 8rpx;
$small-line-height-callout: $small-font-size-callout + 8rpx;
$small-line-height-body: $small-font-size-body + 8rpx;
$small-line-height-caption: $small-font-size-caption + 4rpx;
$small-line-height-footnote: $small-font-size-footnote + 4rpx;

//行高定义（默认/大）
$line-height-h1: $font-size-h1 + 12rpx;
$line-height-h2: $font-size-h2 + 12rpx;
$line-height-h3: $font-size-h3 + 12rpx;
$line-height-h4: $font-size-h4 + 12rpx;
$line-height-h5: $font-size-h5 + 12rpx;
$line-height-h6: $font-size-h6 + 12rpx;
$line-height-headline: $font-size-headline + 8rpx;
$line-height-subhead: $font-size-subhead + 8rpx;
$line-height-callout: $font-size-callout + 8rpx;
$line-height-body: $font-size-body + 8rpx;
$line-height-caption: $font-size-caption + 4rpx;
$line-height-footnote: $font-size-footnote + 4rpx;

//字重定义
$font-weight-normal: normal;
$font-weight-bold: bold;

//字体定义
$font-family-base: 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-code: Consolas, Menlo, Courier, monospace;
$font-variant-numeric: tabular-nums; //数字字体等宽设置