<template>
	<view>
		<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
		<cnd-scroll :top="top" bottom="0" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<view class="list-box" v-if="info.sId">
				<cnd-list-group>
					<cnd-list-title :status="info.sStatus == 0 ? '未完成' : '已完成'"></cnd-list-title>
					<cnd-list-content title="商品" :value="info.sArtName || ''" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="件数" :value="countVal(info)" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="重量" :value="weightVal(info)" type="alignLeft"></cnd-list-content>
					<view class="preview-btn" @click="goSpreview">库存拣配</view>
				</cnd-list-group>
			</view>
			<pd-list :list="pdList" :formData="formData" :sStatus="info.sStatus"></pd-list>
		</cnd-scroll>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import PdList from './pd-preview-list.vue';
import cndScroll from '@/components/scroll/mescroll-uni.vue';
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
import { uniToRpx } from '@/common/utils/index.js';
export default {
	components: {
		PdList,
		cndScroll,
		CndListGroup,
		CndListTitle,
		CndListContent
	},
	props: {
		info: Object,
		formData: Object
	},
	data() {
		return {
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				// isLock: true,
				auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar
		};
	},
	computed: {
		top() {
			const CustomBar = this.CustomBar;
			return uniToRpx(parseInt(CustomBar) + 10);
		}
	},
	mounted() {
		// 第一个tab,自动加载数据
		if (!this.isInit) {
			this.isInit = true; // 标记为true
			this.mescroll.triggerDownScroll();
		}
	},
	methods: {
		countVal(item) {
			return `${item.sPieceCount || 0}${item.sPieceCountUnitName || ''}（未拣货${item.sNoPickPieceCount || 0}${item.sPieceCountUnitName || ''}）`;
		},
		weightVal(item) {
			item.sWeight = Number(item.sWeight).toFixed(3)
			item.sNoPickWeight = Number(item.sNoPickWeight).toFixed(3)
			return `${item.sWeight || 0}${item.sWeightUnitName || ''}（未拣货${item.sNoPickWeight || 0}${item.sWeightUnitName || ''}）`;
		},
		goSpreview(index) {
			uni.navigateTo({
				url: `/pOperationLib/shipped/spreview?id=` + this.info.sId
			})
		},
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			uni.$emit('update')
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess([1]);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					this.pdList = curPageData; //追加新数据
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(successCallback, errorCallback) {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					sPickId: this.info.sId,
					_parameters: 'sPickId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsStockReceiptDetailBO_bo',
					_methodName: 'queryJcwmsStockReceiptDetails',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				let list = data || [];
				console.log('拣货明细列表', list);
				successCallback && successCallback(list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		getPageCount(totalnum, limit) {
			return totalnum > 0 ? (totalnum < limit ? 1 : totalnum % limit ? parseInt(totalnum / limit) + 1 : totalnum / limit) : 0;
		},
		bindAction(obj) {
			this.$emit('action', obj);
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin: 0 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
}
</style>
