<template>
	<view>
		<block v-for="(item, index) in list" :key="index">
			<view class="list-box">
				<cnd-list-group>
					<cnd-list-content title="商品" :value="item.sArtName || ''" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="件数" :value="countVal(item)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="重量" :value="weightVal(item)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="库区" :value="item.sWarehouseAreaName" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="库位" :value="item.sWarehouseLocationName" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<view v-if="sStatus == 0" class="del" @tap="del(item.sId)"><icon type="clear" size="26"></icon></view>
				</cnd-list-group>
			</view>
		</block>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListTitle,
		CndListContent
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		},
		sStatus: [String, Number],
		formData: Object
	},
	methods: {
		goSpreview(index) {
			uni.navigateTo({
				url: `/pOperationLib/shipped/spreview`
			});
		},
		countVal(item) {
			return `${item.sPieceCount || 0}${item.sPieceCountUnitName || ''}`;
		},
		weightVal(item) {
			item.sWeight = Number(item.sWeight).toFixed(3)
			return `${item.sWeight || 0}${item.sWeightUnitName || ''}`;
		},
		del(id) {
			uni.showModal({
				title: '提示',
				content: '是否删除明细？',
				success: async (res) => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
							dataStores: {},
							parameters: {
								sId: id,
								_parameters: 'sId',
								_parameterTypes: 'string',
								dcID: 'wmsjccwis',
								_boId: 'wmsjccwis_ifsJcwmsStockReceiptDetailBO_bo',
								_methodName: 'deleteJcwmsStockReceiptDetails',
								_methodParameterTypes: 'String'
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '删除成功',
							// 	icon: 'none'
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'删除成功',
								timeout:2000,
							});
							uni.$emit('update')
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		}
	}
};
</script>

<style lang="scss">
.list-box {
	position: relative;
	margin: 0 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
	.list-content-container {
		padding-right: 120rpx;
	}
	.del {
		position: absolute;
		top: 50%;
		right: 30rpx;
		transform: translate(0, -50%);
	}
}
</style>
