<template>
	<view>
		<block v-for="(item, index) in setList" :key="index">
			<view class="list-box">
				<cnd-list-group class="list-item">
					<cnd-list-content title="商品" :value="item.sArtName || ''" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="库区" :value="item.sWarehouseAreaName || ''" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="库位" :value="item.sWarehouseLocationName || ''" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="件数" :value="'' + (item.sQtx || 0) + item.sQtxUnitName" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="重量" :value="'' + (item.sQty || 0) + item.sQtyUnitName" type="alignLeft"></cnd-list-content>
					<view class="spreview-btn">
						<input placeholder="请输入" v-model="item.sQtxNum" type="number" @input="sQtxInput" :data-index="index" placeholder-style="color: #8C8C8C; font-size: 28rpx"/>
						<input placeholder="请输入" v-model="item.sQtyNum" type="digit" :disabled="true" placeholder-style="color: #8C8C8C; font-size: 28rpx"/>
					</view>
				</cnd-list-group>
			</view>
		</block>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListTitle,
			CndListContent
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				sQtyNum:0,
				setList: []
			}
		},
		methods: {
			goSpreview(index) {
				uni.navigateTo({
					url: `/pages/shipped/spreview`
				})
			},
			sQtxInput(e) {
				let {value} = e.detail
				let {index} = e.currentTarget.dataset
				let item = this.list[index]
				
				if (+e.detail.value > this.list[index].sQtx) {
					value = Number(item.sQtx)
					// item.sQtxNum = value
				}
				let sQty = (value * item.sQty1).toFixed(3)
				this.$nextTick(() => {
					item.sQtyNum = sQty
					this.$set(this.list[index], 'sQtxNum', value)
					// this.$set(this.list[index], 'sQtyNum', sQty)
					// uni.setStorage({
					// 	key:'infoNum',
					// 	data: this.list
					// });
					uni.setStorageSync('infoNum', this.list);
					console.log('打印该打的东西33',uni.getStorageSync('infoNum'))
				})
			},
			sQtyInput(e) {
				let {value} = e.detail
				let {index} = e.currentTarget.dataset
				let item = this.list[index]
				if (value > item.sQty) {
					item.sQtyNum = Number(item.sQty)
				}
				// this.$nextTick(() => {
				// 	this.$set(this.list[index], 'sQtyNum', value)
				// })
			}
		},
		watch: {
			list: {
				handler(newval){
					if (newval) {
						this.setList = newval
						console.log('库存预拣货列表2',this.setList)
					}
				},
				deep: true,
				// immediate: true 
			},
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin: 0 16rpx 16rpx 16rpx;
		&.first-list-box {
			margin-top: 16rpx;
		}
		.list-item {
			position: relative;
		}
		.spreview-btn {
			width: 160rpx;
			min-width: 160rpx;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 16px;
			position: absolute;
			right: 0;
			bottom: 8px;
			input{
				font-size: 16px;
			}
		}
	}
</style>
