<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index" @click="goDetail(item)">
			<cnd-list-group>
				<cnd-list-content title="货主确认单号" :value="item.sGoodsOwnerConfirmCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="item.vSubWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="转出货主" :value="item.vSubOutGoodsOwnerName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="转入货主" :value="item.vSubInGoodsOwnerName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="移动日期" :value="item.sMoveDate || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="转移重量" :value="String(+(item.vSubQty.toFixed(6))) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="转移件数" :value="String(+(item.vSubQtx.toFixed(6))) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="备注" :value="item.sRemark|| '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="附件数量" :value="String(item.vSubAttachmentCount) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListContent,
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		goDetail(item) {
			uni.navigateTo({
				url: `/pSupervisionWarehouse/transferTitle/detail?page=${this.$store.state.page}&id=` + item.sId + '&sWarehouseId=' + item.sWarehouseId
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
.list-box{
	position: relative;
}

</style>
