<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>发货通知单详情</block>
		</cnd-navbar>
		<detail-loc @saveBefore='saveBefore' :details="details" :sIsFinish="sIsFinish" ref="storeForm" @change="bindParChange"></detail-loc>
		<view style="height: 136rpx;"></view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
import DetailLoc from './components/detail-loc.vue';
export default {
	components: { 
		CndNavbar, 
		DetailLoc,  
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			isShow1: false,
			sIsFinish: undefined,
			detailList: [],
			info: {},
			details: {},
			housing: [],
			initForm: true,
			isUpdate: false,
			saveing: false,
			index: 0,
			dataList: {},
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sWarehouseId } = e;
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sWarehouseId = sWarehouseId;
		this.sIsFinish = ~~sIsFinish
		await this.getdetails()
	},
	async onShow() {
		// await this.getList()
		// this.dataList = this.$refs.storeForm.dataList
		if (this.isUpdate) {
			
		}
		// await this.getdetails()
		this.isUpdate = true;
	},
	async mounted () {
	},
	methods: {
		async getdetails() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"sSheetCode": "",
					"mapParams": {
						"sId": this.formData.sId,
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmssupvis",
					"_boId": "wmssupvis_ifsSupervisorForMiniAppBO_bo",
					"_methodName": "queryWmsOutNotifyInfoById",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('收货通知信息', details);
				this.details = details;
				await this.getImgList()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formData.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.details, 'imgList', infos)
		},
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		// margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
/deep/.cnd-field-item .cnd-field-label {
	width: 248rpx!important;
}
/deep/.textareas .cnd-field-value{
	background: whitesmoke!important;
	padding: 12upx 20upx!important;
}
/deep/.textarea{
	height: 200rpx;
}
// /deep/.cnd-field-value{
// 	padding-left:20rpx;
// 	background: rgb(255, 255, 245);
// }
/deep/.title-container .icon-wrapper{
	width: 50rpx!important;
	height: 50rpx!important;
}
</style>
