<template>
	<view>
        <cnd-navbar color="white" isBack>
			<!-- <block slot='left'>
                <text @click="toShow">筛选</text>
			</block> -->
			<block slot='content'>发货通知单</block>
		</cnd-navbar>
		<query ref="all" :warehouse="warehouse" @getAllValue="getAllValue"></query>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
        <cnd-search-group v-model="isShow" @emptyAllValue="emptyAllValue()">
			
			<!-- <view class="function-box new-page new-button" >
				<view class="block"><button color="primary" size="block" icon="no">确认</button></view>
			</view> -->
		</cnd-search-group>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	import MescrollItem from './components/mescroll-item.vue'
    import cndSearchGroup from "../components/search-cell/search-group.vue"
    import query from './components/querys.vue'
	export default {
		name: 'index',
		components: { CndNavbar, MescrollItem, cndSearchGroup, query },
		data() {
			return {
				formData: {
					parameter: {}
				},
				isReload: false,
               formList: {
					sWarehouse: [], //仓库
					sWarehouseIdList: [], //仓库全部id
					sWarehouseId: '', //仓库id
					sWarehouseName: "", //仓库名称
				},
                warehouse: [],
                isShow: false,
                userInfo: {},
                warehouse: []
				// page: null
			}
		},
		onLoad (option) {
			this.page = option.page
			this.onWarehouse()
		},
		onShow() {
			
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
			
			this.isReload = true;
		},
		methods: {
			async onWarehouse(){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"sSheetCode": "wms.stockwms.stock.select",//wms.stockwms.stock.select
						"mapParams": {
							"sWarehouseType": ""
						},
						"_parameters": "sSheetCode,mapParams",
						"_parameterTypes": "string,string",
						"dcID": "wmssupvis",
						"_boId": "wmssupvis_ifsSupervisorForMiniAppBO_bo",
						"_methodName": "queryWarehouseList",
						"_methodParameterTypes": "String,String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					
					this.warehouse  = material
					let _b = [{sName: '--所有仓库--', sId: 'quanbu'}]
					this.warehouse  = _b.concat(this.warehouse );
					this.warehouse  = this.warehouse.map(ele => {
						return{
							value: ele.sId,
							label: ele.sName
						}
					})
					console.log('监管仓仓库',this.warehouse)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
            change(e) {},
            // 打开筛选框
			toShow() {
				this.isShow = true
			},
			// 获取筛选数据
			getAllValue(v){
				console.log('获取筛选数据', v)
				this.formData.parameter = v
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
				this.isShow = false
			},
		}
	}
</script>

<style scoped lang="scss">
	@import "../../common/style/nav.scss";
    .containerBoy {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 18upx 36upx 18upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	input{
		width: 100%;
	}
    // 
    /deep/.container{
		padding:24upx 0 0 0!important;
	}
	/deep/.navbar.custom.navbar.action {
		width: 33%!important;
		justify-content: space-between!important;
		margin-left: 24upx!important;
	}
	/deep/.cnd-field {
		margin: 0!important;
	}

	/deep/.cnd-field-item .cnd-field-label {
		width: 96upx!important;
	}
    /deep/.sCarNo .cnd-field-label {
		width: 200upx!important;
	}
	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		padding-right: 0!important;
	}
	/deep/.cssfl {
		width: 50%;
		float: left;
	}
	/deep/.cnd-field-item {
		height: 95upx!important;
		// line-height: 65upx!important;
		padding: 32upx!important;
	}
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	// .new-button{
	// 	width: 100%;
	// 	.block {
	// 		// margin: 0 10rpx;
	// 		width: 100% !important;
	// 		button {
	// 			width: 100% !important;
	// 			background-color: #4191ea;
	// 			color: #fff;
	// 			font-size: 34rpx;
	// 			padding: 6rpx 0;
	// 		}
	// 	}
	// }
	.footer-wrapper {
		// min-height: $search-group-footer-height;
		padding: 20rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		// border-top: 2rpx solid $gray-4;
		.block {
			// width: $search-group-footer-button-width;
			box-sizing: border-box;
		}
	}
	/deep/.cnd-field-item .cnd-field-label {
		color: #333;
	}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
