<template>
	<view>
		<cnd-navbar color="white" :isBack="true">
			<block slot='content'>收货</block>
		</cnd-navbar>
		<view>
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>引用证件模板</label>
				<cnd-switch v-model="switchValue1" :disabled="false"></cnd-switch>
			</view> -->
			<view class="list-storeLoc">
				<storeLoc ref="store" :info="list" :showTos="'1'" ></storeLoc>
			</view>
		</view>
        <view class="list-box" v-for="(item, index) in list.detailList" :key="index" @click.stop="goShippeDetail(item)">
			<cnd-list-group>
				<view class="item-list">
					<text class="title">货号</text>
					<text class="val">{{item.sArtName || '无'}}</text>
				</view>
				<view class="item-list">
					<text class="title">件数</text>
					<text class="val">{{item.sQtx || '无'}}</text>
				</view>
				<view class="item-list">
					<text class="title">吨数</text>
					<text class="val">{{item.sQty || '无'}}</text>
				</view>
			</cnd-list-group>
		</view>
        <view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveId">执行收货</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue'
import CndButton from '@/components/button/button';
import storeLoc from './components/store-loc.vue'
import CndListGroup from '../components/list-group/list-group.vue'
import { uniToRpx, formatTime } from '@/common/utils/index.js';
export default {
	components: { 
		CndNavbar, 
		CndButton, 
		storeLoc, 
        CndListGroup
	},
	data() {
		return {
			
			switchValue1: false,
			switchValue2: false,
			showTo: '',
			list: {},
			sId: '',
			userInfo:{},
			sSheetStatus: '',
			imgcode: false,
			sCarNo: ''
		};
	},
	onLoad(e) {
		// this.info = JSON.parse(decodeURIComponent(e.info))
		this.sId =  e.sId
		this.sSheetStatus = e.sSheetStatus
        this.getList()
		console.log('打印this.sCarNo',this.sCarNo)
		
	},
	mounted() {
		// this.formSubmit()
	},
	onShow(){
		// await this.getInfo()
		
		
	},
	methods: {
        async getList() {
            uni.showLoading({
                title: '加载中~~~'
            })
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
                 "parameters": {
                    "sSheetCode": "",
                    "mapParams": {
                        "sId": this.sId
                    },
                    "_parameters": "sSheetCode,mapParams",
                    "_parameterTypes": "string,string",
                    "dcID": "wmsjccwis",
                    "_boId": "wmsjccwis_ifsJcwmsInBillBO_bo",
                    "_methodName": "queryJcwmsInBillsInfo",
                    "_methodParameterTypes": "String,String"
                }
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				let list = data || [];
				console.log('明细列表11', list);
				this.list = list
                this.list.sArrivalTime = this.list.sArrivalTime ? formatTime(this.list.sArrivalTime) :'无'
                
                uni.hideLoading()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
        async saveId() {
				if(!this.list.detailList.length){
					// uni.showToast({
					// 	// title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,//没有预拣配数据，不允许提交
					// 	title: `明细为空`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`明细为空`,
						timeout:2500,
						isClick:false
					});	
					return
				}
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					"parameters": {
                        "sSheetCode": "",
                        "mapParams": {
                            "sId":this.sId
                        },
                        "_parameters": "sSheetCode,mapParams",
                        "_parameterTypes": "string,string",
                        "dcID": "wmsjccwis",
                        "_boId": "wmsjccwis_ifsJcwmsInBillBO_bo",
                        "_methodName": "doReceiptWmsInBillForMiniApp",
                        "_methodParameterTypes": "String,String"
                    }
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功',
					// 	icon: 'none',
					// 	success: () => {
                    //         setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/receivingNeijiang/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = false
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/receivingNeijiang/index')
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = false
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	// title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,//没有预拣配数据，不允许提交
					// 	title: `不允许提交`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`不允许提交`,
						timeout:2500,
						isClick:false
					});	
				}
			},
		
	},
	watch: {
	}
};
</script>

<style lang="scss" scoped>
@import '@/components/upload/styleImg.scss';
page{
	background: #eee;
}
.idBoy{
	width: 86%;
	border: 1px solid #fdf0be;
    background: cornsilk;
	display: flex;
	align-items: center;
	padding: 16upx;
	margin: auto;
	.icon {
		flex-shrink: 0;
		width: 50upx;
		height: 50upx;

		image {
			width: 50upx;
			height: 50upx;
		}
	}
	.text {
		padding-left: 20upx;
		width: 100%;
		color: #666;
		font-size: 28upx;
	}
}
.list-storeLoc{
	margin-top: 40rpx;
	// background: #fff;
	// padding: 20rpx;
}
.list-img{
	margin: 40rpx 20rpx 20rpx 20rpx;
	background: #fff;
	// padding: 20rpx;
}
/deep/.blue .title-wrapper.default{
	color: #408CDA!important;
}
.list-box {
    margin-left: 16rpx;
    margin-right: 16rpx;
    overflow: hidden;
    .item-list {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 6rpx 24rpx;
        box-sizing: border-box;
        width: 100%;
        font-size: 32rpx;
        line-height: 40rpx;
        .title {
            color: #8c8c8c;
            display: inline-block;
            width: 150rpx;
            min-width: 150rpx;
        }
        .blue{
            color:#408CDA;
        }
        .val {
            margin-left: 10rpx;
            -webkit-box-flex: 1;
            flex-grow: 1;
            color: #262626;
            display: flex;
            -webkit-box-align: center;
        }
    }
    .btn {
        overflow: hidden;
        color: #fff;
        background-color: #408CDA;
        width: 140rpx;
        height: 40rpx;
        font-size: 10px;
        text-align: center;
        line-height: 40rpx;
        border-radius: 8rpx;
        cursor: pointer;
    }
}
</style>
