<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>收货</block>
		</cnd-navbar>
		<search-bar placeholder="请输入派车单号" @confirm="bindConfirmEvent" :scanningCode="true"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-index-item.vue'
	import CndButton from '@/components/button/button'; 
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem, CndButton },
		data() {
			return {
				formData: {
					parameter: '',
					sId: ''
				},
				isReload: false,
				item: {}
			}
		},
		onShow() {
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
				this.isReload = true;
			} else {
				// this.$refs.me.mescroll.resetUpScroll();
				
			}
		},
		onLoad(e) {
			this.formData.sId =  e.sId
			let sCustomerNo = e.sCustomerNo
			if (sCustomerNo) {
				this.formData.parameter = sCustomerNo
			}
			
		},
		methods: {
			// toBack () {
			// 	uni.navigateTo({
			// 		url: '/pOperationLib/kunei/index'
			// 	})
			// },
			
			bindConfirmEvent(value) {
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
				if(this.$refs.me.pdList.length && this.formData.parameter){
					let pdList = this.$refs.me.pdList
					pdList.map(ele =>{
						if (ele.sCustomerNo == this.formData.parameter) {
							uni.navigateTo({
								url: `/pOperationLib/receivingNeijiang/detail?showTo=1&sId=${ele.sId}&sSheetStatus=${ele.sSheetStatus}`
							})
						}
					})
				}
					
			},
			
		}
	}
</script>

<style lang="scss">
	// @import "../../common/style/nav.scss";
</style>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
