<template>
	<view>
		<cnd-navbar color="white" :isBack="true">
			<block slot='content'>上传证件照</block>
		</cnd-navbar>
		<view>
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>引用证件模板</label>
				<cnd-switch v-model="switchValue1" :disabled="false"></cnd-switch>
			</view> -->
			<view class="list-storeLoc">
				<storeLoc ref="store" :info="info" :showTos="'1'" ></storeLoc>
			</view>
			<view class="list-img">
				<id-img :formImg="formImg" :info="info" :showTo="showTo" photoB="0"></id-img>
			</view>
			<!-- <id-img-lock v-if="showTo == '3'" :formImg="formImg" :info="info"></id-img-lock> -->
			
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>设置为证件模板，下次可直接使用</label>
				<cnd-switch v-model="switchValue2" :disabled="false"></cnd-switch>
			</view> -->
			<view class="function-box new-page">
				<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveId">下一步</cnd-button></view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue'
import CndButton from '@/components/button/button';
import storeLoc from './components/store-loc.vue'
import idImg from '@/components/upload/idImg.vue'
export default {
	components: { 
		CndNavbar, 
		CndButton, 
		storeLoc, 
		idImg 
	},
	data() {
		return {
			formImg:[
				{
					title: '拍摄身份证正面照',
					img: '../../static/images/sfz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄身份证反面照',
					img: '../../static/images/sfzf.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄驾驶证照',
					img: '../../static/images/jsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄行驶证照',
					img: '../../static/images/xsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				}
			],
			switchValue1: false,
			switchValue2: false,
			showTo: '',
			info: {},
			sId: '',
			imgListNum: [],
			userInfo:{},
			sSheetStatus: '',
			imgcode: false,
			sCarNo: ''
		};
	},
	onLoad(e) {
		this.info = JSON.parse(decodeURIComponent(e.info))
		this.sId =  e.sId
		this.sCarNo = this.info.sExtend1
		this.sSheetStatus = e.sSheetStatus
		this.formImg[0].sId = e.sId + '_01'
		this.formImg[1].sId = e.sId + '_02'
		this.formImg[2].sId = e.sId + '_03'
		this.formImg[3].sId = e.sId + '_04'
		this.showTo = e.showTo;
		uni.$on('addImg', () => {
			this.getInfo()
			this.imgcode = true
		})
		uni.$on('deleteImg', () => {
			this.getInfo()
		})
		console.log('打印this.sCarNo',this.sCarNo)
		
	},
	mounted() {
		// this.formSubmit()
	},
	async onShow(){
		await this.images()
		// await this.getInfo()
		await this.getInfo()
		console.log('上传证件照',this.info)
		
	},
	methods: {
		async photosForCarNo(){
			
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"mapParams": {
						"sId": this.sId,
						"userId": this.userInfo.user.id,
						"sCarNo": this.sCarNo,
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsjccwis",
					"_boId": "wmsjccwis_ifsJcwmsPickPlanBO_bo",
					"_methodName": "copyUserModelPhotosForCarNo",
					"_methodParameterTypes": "String"
				}
			});
			this.imgcode = false
			console.log('只调用一次copyUserModelPhotosForCarNo')
		},
		async getInfo(){
			await this.getImgList()
			await this.getImgList2()
			await this.getImgList3()
			await this.getImgList4()
		},
		async images(){
			this.imgListNum = uni.getStorageSync('imgListNum')
			this.userInfo = uni.getStorageSync('userInfo')

			// 当前用户附件
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.userInfo.user.id,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusIdLike',
					_methodParameterTypes: 'String'
				}
			});
			let list = res.dataStores.result.rowSet.primary || [];
			this.imgListNum = list

			if(this.imgListNum && this.showTo == '1'){
				// 用户附件模板获取赋到预约单附件
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": this.sId,
							"userId": this.userInfo.user.id,
							"sCarNo": this.sCarNo,
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsjccwis",
						"_boId": "wmsjccwis_ifsJcwmsPickPlanBO_bo",
						"_methodName": "copyUserModelPhotosForPickPlan",
						"_methodParameterTypes": "String"
					}
				});
				// let imagesUserList = res.dataStores.result.rowSet.primary || [];
				// console.log('用户附件模板获取', imagesUserList);
			}

			// for (let i in this.imgListNum){
			// 	if(this.userInfo.role[0].userId + '_01' == this.imgListNum[i].sBusId && this.formImg[0].imgList.length == 0){
			// 		// this.formImg[0].sId = e.sId + '_01'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[0].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_02' == this.imgListNum[i].sBusId && this.formImg[1].imgList.length == 0){
			// 		// this.formImg[1].sId = e.sId + '_02'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[1].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_03' == this.imgListNum[i].sBusId && this.formImg[2].imgList.length == 0){
			// 		// this.formImg[2].sId = e.sId + '_03'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[2].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_04' == this.imgListNum[i].sBusId && this.formImg[3].imgList.length == 0){
			// 		// this.formImg[3].sId = e.sId + '_04'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[3].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// }
		},
		// 提交证件照
		async saveId(item){
			if(this.formImg[0].imgList.length != 0 && this.formImg[1].imgList.length != 0 || this.formImg[2].imgList.length != 0){}else
			{
				this.$refs.mpopup.open({
					type:'warn',
					content:'请上传身份证正反照！或 请上传驾驶证！',
					timeout:2500,
					isClick:false
				});
				return
			}
			
			// if(this.formImg[1].imgList.length == 0){
			// 	uni.showToast({
			// 		title: '请上传身份证背面照！',
			// 		icon: 'none',
			// 		success: () => {}
			// 	});
			// 	return
			// }
			// if(this.formImg[2].imgList.length == 0){
			// 	uni.showToast({
			// 		title: '请上传驾驶证！',
			// 		icon: 'none',
			// 		success: () => {}
			// 	});
			// 	return
			// }
			if(this.formImg[3].imgList.length == 0){
				this.$refs.mpopup.open({
					type:'warn',
					content:'请上传行驶证！',
					timeout:2500,
					isClick:false
				});
				return
			}
			// if(this.formImg[0].imgList.length == 0){
			// 	this.$refs.mpopup.open({
			// 		type:'warn',
			// 		content:'请上传身份证正面照！',
			// 		timeout:2000,
			// 		isClick:false
			// 	});	
			// 	return
			// }
			// if(this.formImg[1].imgList.length == 0){
			// 	this.$refs.mpopup.open({
			// 		type:'warn',
			// 		content:'请上传身份证背面照！',
			// 		timeout:2000,
			// 		isClick:false
			// 	});	
			// 	return
			// }
			// if(this.formImg[2].imgList.length == 0){
			// 	this.$refs.mpopup.open({
			// 		type:'warn',
			// 		content:'请上传驾驶证！',
			// 		timeout:2000,
			// 		isClick:false
			// 	});	
			// 	return
			// }
			// if(this.formImg[3].imgList.length == 0){
			// 	this.$refs.mpopup.open({
			// 		type:'warn',
			// 		content:'请上传行驶证！',
			// 		timeout:2000,
			// 		isClick:false
			// 	});	
			// 	return
			// }
			console.log('打印对象',this.info)
			if (this.imgcode == true) {
				this.photosForCarNo()
			}
			
			uni.navigateTo({
				
				url: `/pOperationLib/pickUpGoods/index?stapdList=2&sId=${this.sId}&sBlCode=${this.info.sBlCode}`
			})
			// let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
			// 	"dataStores": {},
			// 	"parameters": {
			// 		"mapParams": {
			// 			"sId": this.sId
			// 		},
			// 		"_parameters": "mapParams",
			// 		"_parameterTypes": "string",
			// 		"dcID": "wmsdeliveryis",
			// 		"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
			// 		"_methodName": "doSubmitCanBeDeliveryDetails",
			// 		"_methodParameterTypes": "String"
			// 	}
			// });
			// if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
			// 	uni.showToast({
			// 		title: '证件照操作成功！',
			// 		icon: 'none',
			// 		success: () => {
			// 			uni.reLaunch({
			// 				url: `/pages/queryProgress/index`
			// 			})
			// 		}
			// 	});
			// } else {
			// 	uni.showToast({
			// 		title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
			// 		icon: 'none',
			// 		mask: true
			// 	});
			// }
		},
        // async getInfo() {
		// 	let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
		// 		"dataStores": {},
		// 		"parameters": {
		// 			"mapParams": {
		// 				"sId": this.sId
		// 			},
		// 			"_parameters": "mapParams",
		// 			"_parameterTypes": "string",
		// 			"dcID": "wmsdeliveryis",
		// 			"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
		// 			"_methodName": "getWmspAppointmentDeliveryDetailsInfoById",
		// 			"_methodParameterTypes": "String"
		// 		}
		// 	});
		// 	if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
		// 		let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
		// 		// console.log('明细查询数据', info);
		// 		this.info = info;
		// 		await this.getImgList()
		// 		await this.getImgList2()
		// 		await this.getImgList3()
		// 		await this.getImgList4()
		// 		await this.getImgList5()
				
		// 	} else {
		// 		uni.showToast({
		// 			title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
		// 			icon: 'none',
		// 			mask: true
		// 		});
		// 	}
		// },
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId + '_01',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('身份证明细图片', infos);
			this.$set(this.info, 'imgList', infos)
			this.formImg[0].imgList = this.info.imgList
		},
		async getImgList2() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId + '_02',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', infos);
			this.$set(this.info, 'imgList2', infos)
			this.formImg[1].imgList = this.info.imgList2
		},
		async getImgList3() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId + '_03',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList3', infos)
			this.formImg[2].imgList = this.info.imgList3
		},
		async getImgList4() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId + '_04',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList4', infos)
			this.formImg[3].imgList = this.info.imgList4
		},
	},
	watch: {
	}
};
</script>

<style lang="scss" scoped>
@import '@/components/upload/styleImg.scss';
// page{
	// background: #eee;
// }
.idBoy{
	width: 86%;
	border: 1px solid #fdf0be;
    background: cornsilk;
	display: flex;
	align-items: center;
	padding: 16upx;
	margin: auto;
	.icon {
		flex-shrink: 0;
		width: 50upx;
		height: 50upx;

		image {
			width: 50upx;
			height: 50upx;
		}
	}
	.text {
		padding-left: 20upx;
		width: 100%;
		color: #666;
		font-size: 28upx;
	}
}
.list-storeLoc{
	margin-top: 40rpx;
	background: #fff;
	// padding: 20rpx;
}
.list-img{
	margin: 40rpx 20rpx 20rpx 20rpx;
	background: #fff;
	// padding: 20rpx;
}
</style>
