<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>提货</block>
		</cnd-navbar>
		<search-bar v-show="stapdList == '1'" placeholder="请输入派车单号" @confirm="bindConfirmEvent" :scanningCode="true"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData" :stapdList="stapdList"></mescroll-item>
		</view>
		<view class="function-box new-page" v-if="stapdList == '2'">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveId">提交</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-index-item.vue'
	import CndButton from '@/components/button/button';
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem, CndButton },
		data() {
			return {
				formData: {
					parameter: '',
					sId: ''
				},
				isReload: true,
				stapdList: '',
				item: {}
			}
		},
		onShow() {
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
				this.isReload = true;
			} else {
				// this.$refs.me.mescroll.resetUpScroll();
				
			}
		},
		onLoad(e) {
			this.stapdList =  e.stapdList
			this.formData.sId =  e.sId
			let sBlCode = e.sBlCode
			if (sBlCode) {
				this.formData.parameter = sBlCode
			}
			
		},
		methods: {
			// toBack () {
			// 	uni.navigateTo({
			// 		url: '/pOperationLib/kunei/index'
			// 	})
			// },
			
			bindConfirmEvent(value) {
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
				if(this.$refs.me.pdList.length && this.formData.parameter){
					let pdList = this.$refs.me.pdList
					pdList.map(ele =>{
						if (ele.sBlCode == this.formData.parameter) {
							let str = encodeURIComponent(JSON.stringify(ele))
							uni.navigateTo({
								url: `/pOperationLib/pickUpGoods/idPhoto?showTo=1&sId=${ele.sId}&sSheetStatus=${ele.sSheetStatus}&info=${str}`
							})
						}
					})
				}
					
			},
			async saveId() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						"sId": this.formData.sId,
						"_parameters":"sId",
						"_parameterTypes":"string",
						"dcID":"wmsjccwis",
						"_boId":"wmsjccwis_ifsJcwmsPickPlanBO_bo",
						"_methodName":"doSubmitWmsPickPlan",
						"_methodParameterTypes":"String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '提交成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/pickUpGoods/index?stapdList=1')
					// 			this.$nextTick(() => {
					// 				this.$refs.me.mescroll.triggerDownScroll()
					// 			})
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 2 : getCurrentPages().length - iIndex - 2
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'提交成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/pickUpGoods/index?stapdList=1')
						this.$nextTick(() => {
							this.$refs.me.mescroll.triggerDownScroll()
						})
						uni.navigateBack({
							delta: iIndex === -1 ? 2 : getCurrentPages().length - iIndex - 2
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	// title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,//没有预拣配数据，不允许提交
					// 	title: `没有预拣配数据，不允许提交`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'没有预拣配数据，不允许提交',
						timeout:2500,
						isClick:false
					});	
				}
			},
		}
	}
</script>

<style lang="scss">
	// @import "../../common/style/nav.scss";
</style>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
