<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>库存预拣配</block>
		</cnd-navbar>
		<view class="list-container"><mescroll-item :formData="formData" ref="me" :info="info"></mescroll-item></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">确定</cnd-button></view>
		</view>
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar'
import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-preview-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { CndNavbar, CndButton, SearchBar, MescrollItem },
	data() {
		return {
			formData: {
				// 筛选条件
				putawayId: '', //单id
				packageNumber: '',
				sId:''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			info: {}
		};
	},
	onLoad(e) {
		let { index, sId } = e;
		this.formData.sId = sId;
		this.formData.index = ~~index;
		// uni.$on('update', async () => {
		// 	await this._onLoad();
		// });
	},
	async onShow() {
		await this._onLoad();
	},
	methods: {
		async _onLoad() {
			await this.getList();
			// this.$refs.me.mescroll.resetUpScroll();
			// if (!this.isReload) {
			// 	this.isReload = true;
			// } else {
				
			// }

			if (!this.isReload) {
				await this.getList();
				this.$refs.me.mescroll.resetUpScroll();
			}
			
			this.isReload = true;
		},
		toBack() {
			this.$util.pageBack();
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sId":this.formData.sId ,
					"_parameters":"sId",
					"_parameterTypes":"string",
					"dcID":"wmsjccwis",
					"_boId":"wmsjccwis_ifsJcwmsPickPlanBO_bo",
					"_methodName":"doPrePickWmsStockBalances",
					"_methodParameterTypes":"String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		async submit() {
			this.$util.pageBack();
		},
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
</style>

<style>
page {
	background-color: #f1f5f7;
}
</style>
