<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>实际拣货明细</block>
		</cnd-navbar>
		<view class="list-container"><mescroll-item :formData="formData" ref="me" :info="info"></mescroll-item></view>
		<!-- <view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">确定</cnd-button></view>
		</view> -->
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-spreview-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { 
		CndNavbar, 
		// CndButton, 
		SearchBar, 
		MescrollItem 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				putawayId: '',
				packageNumber: '',
				sId: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			info: {}
		};
	},
	onLoad(e) {
		let { sId, info } = e;
		this.info = JSON.parse(decodeURIComponent(info))
		this.formData.sId = sId;
	},
	onShow() {
		// this.$refs.me.getList();
	},
	methods: {
		toBack() {
			this.$util.pageBack();
		},
		
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
</style>

<style>
page {
	background-color: #f1f5f7;
}
</style>
