<template>
	<view>
		<block v-for="(item, index) in list" :key="index">
			<view class="list-box" @click="goInfo(index, item.sIsFinish, item)">
				<cnd-list-group>
					<cnd-list-title :status="(!item.sIsFinish || item.sIsFinish === 'null' || item.sIsFinish == 0) ? '未完成' : '已完成'">
<!-- 						<block slot="left">
							<view class="title-btn-container">
								<button size="mini" class="title-btn" @click="bindTitleBtnClick(item)">入库分拆</button>
							</view>
						</block> -->
					</cnd-list-title>
					<cnd-list-content title="通知件数" :value="countVal(item)" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="通知重量" :value="weightVal(item)" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="货主" :value="item.vSubGoodsOwnerName" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="商品" :value="item.sArtName" type="alignLeft"></cnd-list-content>
				</cnd-list-group>
			</view>
		</block>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndButton from '../../components/button/button.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListTitle,
			CndListContent,
			CndButton
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		methods: {
			countVal(item) {
				return `${item.sQtx || 0} 已收${item.sRealQtx || 0}`;
			},
			weightVal(item) {
				item.sQty = Number(item.sQty).toFixed(3)
				item.sRealQty = Number(item.sRealQty).toFixed(3)
				return `${item.sQty || 0} 已收${item.sRealQty || 0}`;
			},
			goInfo(index, sIsFinish, e) {
				uni.navigateTo({
					url: `/pOperationLib/stores/index?page=${this.$store.state.page}&id=${this.formData.sId}&index=${index}&sIsFinish=${sIsFinish}&sLabelNo=${e.sLabelNo}&sId=${e.sId}`
				})
			},
			bindTitleBtnClick(item) {
				this.$emit('leftAction', item)
			},
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin: 0 16rpx 16rpx 16rpx;
		&.first-list-box {
			margin-top: 16rpx;
		}
		.title-btn-container {
			width: auto; flex-shrink: 0;
			.title-btn {
				background: #FFFFFF; position: absolute; left: 24rpx; top: 50%; transform: translateY(-50%);
			}
		}

	}
</style>
