<template>
	<view>
		<view class="list-box" :class="['list-box', { 'mark': item.sSign === '1' }]" @click="goDetail(item)" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<cnd-list-content title="入库单号" :value="item.sCode || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="货主" :value="item.vSubGoodsOwnerName || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="日期" :value="item.date || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="车牌号" :value="item.sVehicleVesselNo || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="派车单号" :value="item.sCustomerNo || '无'" type="alignLeft"></cnd-list-content>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListTitle,
		CndListContent
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		goDetail(item) {
			uni.navigateTo({
				url: `/pOperationLib/receiving/detail?page=${this.$store.state.page}&id=` + item.sId
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
}
</style>
