<template>
	<view class="content">
		<cnd-navbar color="white" rightType="icon" rightIcon="icon-cnd-add-circle-outline" isBack :rightSize="24" :father="this">
			<block slot='content'>标题</block>
		</cnd-navbar>
		<view class="footer-wrapper">
			<view class="describe-wrapper">
				<view>【 color - String 】导航栏主题风格, white: 白色， blue: 蓝色</view>
				<view>【 rightType - String 】右侧按钮风格, icon: 图标，text: 文字</view>
				<view>【 rightIcon - String 】右侧的图标名称</view>
				<view>【 rightSize - String 】右侧的图标或文字大小</view>
				<view>【 isBack - Boolean 】能否返回</view>
			</view>
		</view>
	</view>
</template>

<script>
	import cndNavbar from "../cnd-navbar"

	export default {
		name: 'cnd-navbar-demo',
		data() {
			return {

			}
		},
		components: {
			cndNavbar
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	.content{
		width: 100%;
		.footer-wrapper {
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
			justify-content: space-between;
			align-items: center;
			padding: 24rpx 24rpx;
			width: 100%;
			flex-wrap: nowrap;
			
			border-top: 2rpx solid $gray-2;
				
			.describe-wrapper {
				font-size: $font-size-footnote;
				color: $gray-6;
			}
		}
	}
</style>
