<template>
	<view>
		<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
		<cnd-scroll :top="top" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<pd-list :list="pdList"></pd-list>
		</cnd-scroll>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import PdList from './pd-list.vue';
import cndScroll from '@/components/scroll/mescroll-uni.vue';
import {
	uniToRpx,
	formatTime
} from "@/common/utils/index.js";
export default {
	components: {
		PdList,
		cndScroll
	},
	props: {
		formData: Object,
		page: String
	},
	data() {
		return {
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				// isLock: true,
				// auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 10, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar,
			sWarehouseIdList: [],
			settlementUser: '',
			pdLists: [],
		};
	},
	computed: {
		top() {
			const CustomBar = this.CustomBar;
			// return uniToRpx(parseInt(CustomBar) + 96)
			return uniToRpx(parseInt(CustomBar));
		},
	},
	mounted() {
		// 第一个tab,自动加载数据
		// if (!this.isInit) {
		// 	this.isInit = true; // 标记为true
		// 	this.mescroll.triggerDownScroll();
		// }
	},
	methods: {
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			mescroll.resetUpScroll();
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				mescroll.num,
				mescroll.size,
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess(curPageData.length);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					// this.pdList = curPageData; //追加新数据
					
					this.pdList = this.pdList.concat(curPageData); //追加新数据
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(pagenum, pagesize, successCallback, errorCallback) {
			let userInfo = uni.getStorageSync("userInfo");
			let roleNameStatus = uni.getStorageSync("roleNameStatus");
			// console.log('打印判断的东西', userInfo, roleNameStatus)
			for(let j in userInfo.role){
				if (
					userInfo.role[j].roleName == roleNameStatus.deliveryMan ||
					userInfo.role[j].roleName == roleNameStatus.salesman
				) {
					this.settlementUser = userInfo.user.mobileTelephone;
					this.sWarehouseIdList = []
					for (let i in userInfo.warehouse) {
						this.sWarehouseIdList.push(userInfo.warehouse[i].id);
					}
				}
			}
			let signatureStatusList = []
			signatureStatusList.push(String(this.formData.status))
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"mapParams": {
						"sWarehouseIdList": this.sWarehouseIdList,
						"signatureStatusList": signatureStatusList,
						"settlementUserAccount": this.settlementUser,
						pageNumber: pagenum,
						pageSize: pagesize,
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsdeliveryis",
					"_boId": "wmsdeliveryis_ifsWmsSettlementBillBO_bo",
					"_methodName": "queryWmsSettlementBillByPage",
					"_methodParameterTypes": "String"
				}
			});
			uni.hideKeyboard();
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				// list = list.concat(this.pdLists)
				
				if (list.length) {
					list = list.map(ele => {
						return {
							...ele,
							sReceiptTime: ele.sReceiptTime ? formatTime(ele.sReceiptTime,"Y-M-D") : '无',
						};
					});
				}
				
				console.log('结算单列表', list);
				successCallback && successCallback(list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		
		bindAction(obj) {
			this.$emit('action', obj);
		}
	}
};
</script>
