<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view class="goDetail">
					<view class="leftList">
						<cnd-list-content title="单号" :value="item.sCode || '无'" type="alignLeft"></cnd-list-content>
						<cnd-list-content title="仓库" :value="item.sWarehouseName || '无'" type="alignLeft"></cnd-list-content>
						<cnd-list-content title="结算吨数" :value="String(item.sWeight) || '无'" type="alignLeft"></cnd-list-content>
						<cnd-list-content title="结算人" :value="item.sSettlementUser || '无'" type="alignLeft"></cnd-list-content>
					</view>
					<!-- <block v-for="(coms,i) in userInfo.role" :key="i"> -->
						<view class="rightBut" @click="signPdf(item)">
							
							<text v-if="item.sSignatureStatus == '70' || userRoleName">查看</text>
							<text v-else>签字</text>
							
						</view>
					<!-- </block> -->
					
				</view>
				<!-- <view class="viewDetail" @click="tableShows(index)">{{ idx==index ? viewDetail : viewDetailToo}}</view>
				<table-list :list="list"   v-show="idx==index" class="show-more"></table-list> -->
			</cnd-list-group>
			
	
		</view>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	// import tableList from './tableList.vue';
	
	export default {
		// name: 'pd-list',
		components: {
			CndListGroup,
			CndListContent,
			// tableList,
			
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				viewDetail: '收起明细∧',
				viewDetailToo: '展开明细∨',
				isShow: true,
				idx: -1,
				userInfo: {},
     			roleNameStatus: {},
				userRoleName: ''
				
			}
		},
		async mounted() {
			this.userInfo = uni.getStorageSync("userInfo");
			this.roleNameStatus = uni.getStorageSync('roleNameStatus')
			// this.userRoleName =  this.userInfo.role[0].roleName
			for (let i in this.userInfo.role) {
				this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.salesman;
				if (this.userRoleName == true) {
					break
				}
				
			}
		},
		methods: {
			signPdf(e) {
				
				let pdfFildId = ''
				let signImgId = '';
				let projectId = '';
				uni.navigateTo({
					// url: `/pAppointmentDelivery/autograph/SignPdf?imgList=${e.imgList}&sId=${e.sId}&sSignatureStatus=${e.sSignatureStatus}&list=` + encodeURIComponent(JSON.stringify(this.list))
					url: `/pAppointmentDelivery/autograph/SignPdf?sId=${e.sId}&sSignatureStatus=${e.sSignatureStatus}`
				});
				console.log('点击了')
			},
			// tableShows(index){
			// 	console.log(index)
			// 	// this.idx=index  //这种情况点击后显示内容，再次点击不起作用
			// 	this.idx = this.idx == index ? -1 : index //这种情况点击后显示内容，再次点击隐藏
			// }
			
		}
	}
</script>

<style lang="scss" scoped>
/* 点击更多的样式 */
.show-more{
	transition:height 1s;
	-moz-transition:height 1s; /* Firefox 4 */
	-webkit-transition:height 1s; /* Safari and Chrome */
	-o-transition:height 1s; /* Opera */
	transition: all 0.3s ease;
	transform: translateY(0%) !important;
}


.goDetail{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
	padding-bottom: 16rpx;
	border-bottom: 1px solid #f5f5f5;
	.leftList{
		width: 82%;
		border-right: 1px solid #f5f5f5;
		padding-right: 16rpx;
	}
	.rightBut{
		width: 18%;
		// padding-left: 16rpx;
		text-align: center;
		color: #007aff;
		height: 100%;
		line-height: 4;
	}
}
.viewDetail{
	font-size: 24rpx;
	text-align: center;
	color: #999;
	padding-top: 16rpx;
	padding-bottom: 16rpx;
	border-bottom: 1px solid #f5f5f5;
}
// .btn{
// 	z-index: 999;
// 	border-top: 1px solid #dedede;
// 	.block{
// 		font-size: 28upx!important;
// 		padding:0 14upx!important;
// 	}
// }
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}
.container{
	padding:24upx 0!important;
}
</style>

