<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view class="listFlex">
					<cnd-list-content class="list-content" title="料型" :value="item.sArtName || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="车牌号" :value="item.sCarNo || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="司机电话" :value="item.sDriverPhone || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="净重(吨)" :value="String(item.sNetWeight) || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="毛重(吨)" :value="String(item.sGrossWeight) || ''" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="皮重(吨)" :value="String(item.sTareWeight) || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					<cnd-list-content class="list-content" title="收货日期" :value="item.sReceiptTime || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
					
				</view>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndButton from '@/components/button/button';
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndButton,
			cndPopContent,
			CndFormItem,
			CndListContent,
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			}
		},
		data () {
			return {
				
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
			}
		},
		// async mounted() {
		// 	// 货主
		// 	this.sMaterialType()
		// },
		methods: {
			
			
			
		}
	}
</script>

<style lang="scss" scoped>
.listFlex{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
	border: 1px solid #e7e7e7;
    border-radius: 12rpx;
}
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}
.container{
	padding:0!important;
}
.state{
    z-index: 999;
    border-top: 1px solid #dedede;
	border-top: 1px solid #dedede;
    float: left;
    font-size: 30upx;
    color: #408CDA;
    padding: 30upx;
}
.list-content{
	width: 50%;
}
</style>

