<template>
	<view>
		<cnd-table :columns="columns" :list="list"></cnd-table>
	</view>


</template>

<script>
	import cndTable from "./table/table.vue"
	// import cndTableColumn from "cndapp-ui/components/table/table-column.vue"
	export default {
		name: 'pd-list',
		components: {
			cndTable,
			// cndTableColumn
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			}
		},
		data () {
			return {
				columns: [{
						title: "料型",
						key: "sArtName",
						$width:"100px",
					},
					{
						title: '车牌号',
						key: 'sCarNo',
						$width:"110px"
					},
					{
						title: '司机电话',
						key: 'sDriverName',
						$width:"110px"
					},
					{
						title: '净重',
						key: 'sNetWeight',
						$width:"80px",
					},
					{
						title: '毛重',
						key: 'sGrossWeight',
						$width:"80px",
					},
					{
						title: '皮重',
						key: 'sTareWeight',
						$width:"80px",
					},
					{
						title: '收货日期',
						key: 'sReceiptTime',
						$width:"120px",
					}
				],
			}
		},
		methods: {
		}
	}
</script>

<style lang="scss" scoped>

</style>
