<template>
	<view>
		<view class="query-tt">规格<text>{{name}}</text></view>
		<view>
			<view class="query-item" :class="{ act: value == item.id }" v-for="(item, index) in list" :key="item.id" v-if="index < 4" @tap="change(item)">{{ item.value }}</view>
			<view class="query-item" @tap="showMoreChange">更多分类</view>
		</view>
		<view class="mask" v-if="showMore" @tap="showMoreChange" style="z-index: 100;">
			<view class="popup flex-column-box" @tap.stop="stop">
				<view class="popup-tt">规格</view>
				<view class="flex">
					<scroll-view class="popup-scroll" scroll-y="true" @scrolltolower="getList">
						<view class="query-item2" :class="{ act: value == item.id }" v-for="(item, index) in list" :key="item.id" @tap="change(item)">{{ item.value }}</view>
					</scroll-view>
				</view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			list: [],
			page: 1,
			pageSize: 20,
			loadState: 'loadmore',
			showMore: false,
			name: ''
		};
	},
	created() {
		this.getList();
		uni.$on('queryInit', () => {
			this.name = ''
		})
	},
	methods: {
		async getList() {
			let { page, pageSize, loadState, list } = this;
			if (loadState != 'loadmore') {
				return;
			}
			this.loadState = 'loading';
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					sSheetCode: 'wms.move.plan',
					attrType: '02',
					pageNumber: page,
					pageSize: pageSize,
					_parameters: 'sSheetCode,attrType,pageNumber,pageSize',
					_parameterTypes: 'string,string,string,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsQueryParamBO_bo',
					_methodName: 'queryJcBdaGoodsAttributeDetails',
					_methodParameterTypes: 'String,String,int,int'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				data = data || [];
				console.log('规格列表', data);
				if (data.length < pageSize) {
					this.loadState = 'nomore';
				} else {
					this.loadState = 'loadmore';
					this.page++;
				}
				this.list = [...list, ...data];
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		stop() {
			return false;
		},
		showMoreChange() {
			this.showMore = !this.showMore;
		},
		change(item) {
			if (this.value != item.id) {
				this.name = item.value
				this.$emit('input', item.id)
				this.showMore = false
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.query-tt {
	font-size: 30rpx;
	margin-top: 30rpx;
	margin-bottom: 20rpx;
	text{
		float: right;
		color: #408cda;
		font-size: 28rpx;
	}
}
.query-item{
	display: inline-block;
	margin-right: 20rpx;
	margin-bottom: 20rpx;
	height: 50rpx;
	line-height: 50rpx;
	padding: 0 20rpx;
	font-size: 26rpx;
	color: #8C8C8C;
	background-color: #f5f5f5;
	&.act {
		background-color: #408cda;
		color: #fff;
		border-color: #408cda;
	}
}
.query-item2 {
	height: 70rpx;
	line-height: 70rpx;
	border-bottom: #eee 2rpx solid;
	margin: 0 30rpx;
	&.act {
		color: #408cda;
	}
}
.popup {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	background-color: #fff;
}
.popup-tt {
	height: 90rpx;
	line-height: 90rpx;
	background-color: #408cda;
	color: #fff;
	text-align: center;
}
.popup-scroll {
	height: 100%;
}
</style>
