<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>出库列表</block>
		</cnd-navbar>
		<search-bar placeholder="请输入派车单号或车牌号" @confirm="bindConfirmEvent" :scanningCode="true"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-index-item.vue'
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem },
		data() {
			return {
				formData: {
					parameter: ''
				},
				isReload: false,
			}
		},
		onShow() {
			if (!this.isReload) {
				this.isReload = true;
			} else {
				this.$refs.me.mescroll.resetUpScroll();
			}
		},
		methods: {
			// toBack () {
			// 	uni.navigateTo({
			// 		url: '/pOperationLib/kunei/index'
			// 	})
			// },
			bindConfirmEvent(value) {
				
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
			}
		}
	}
</script>

<style lang="scss">
	// @import "../../common/style/nav.scss";
</style>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
