<template>
	<view>
		<cnd-navbar color="white" :isBack="true">
			<block slot='content'>实际拣货明细</block>
			<block slot='left'>
				<text @click="submit" v-if="info.sStatus == 0">完成</text>
				<text @click="cancel" v-if="info.sStatus == 1">取消完成</text>
			</block>
		</cnd-navbar>
		<view class="list-container" v-if="info"><mescroll-item :formData="formData" ref="me" :info="info"></mescroll-item></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="prev">上一条</cnd-button></view>
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="next">下一条</cnd-button></view>
		</view>
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '../components/cnd-navbar.vue';
import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-preview-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { CndNavbar, CndButton, SearchBar, MescrollItem },
	data() {
		return {
			formData: {
				// 筛选条件
				putawayId: '', //上架单id
				packageNumber: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			info: {}
		};
	},
	onLoad(e) {
		let { index, id } = e;
		this.formData.sStockReceiptId = id;
		this.formData.index = ~~index;
		uni.$on('update', async () => {
			await this._onLoad();
		});
	},
	async onShow() {
		await this._onLoad();
	},
	methods: {
		async _onLoad() {
			await this.getList();
			if (!this.isReload) {
				this.isReload = true;
			} else {
				this.$refs.me.mescroll.resetUpScroll();
			}
		},
		toBack() {
			this.$util.pageBack();
		},
		async getList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sStockReceiptId: this.formData.sStockReceiptId,
					parameter: this.formData.parameter,
					_parameters: 'sStockReceiptId,parameter',
					_parameterTypes: 'string,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsPickPlanDetailBO_bo',
					_methodName: 'queryJcwmsPickPlanDetail',
					_methodParameterTypes: 'String,String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('待拣货明细', list);
				this.list = list;
				if (list.length) {
					this.info = list[this.formData.index];
				}
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		prev() {
			let { formData } = this;
			if (formData.index > 0) {
				let index = formData.index - 1;
				this.info = this.list[index];
				this.formData.index = index;
				this.$nextTick(() => {
					this.$refs.me.mescroll.resetUpScroll();
				});
			}
		},
		next() {
			let { formData, list } = this;
			if (formData.index < list.length - 1) {
				let index = formData.index + 1;
				this.info = this.list[index];
				this.formData.index = index;
				this.$nextTick(() => {
					this.$refs.me.mescroll.resetUpScroll();
				});
			}
		},
		async submit() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsPickPlanDetailBO_bo',
					_methodName: 'updateFinishStatus',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '提交成功',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'提交成功',
					timeout:2000,
				});
				this.$util.pageBack();
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async cancel() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsPickPlanDetailBO_bo',
					_methodName: 'doCancelFinishStatus',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '取消成功',
				// 	icon: 'none'
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'取消成功',
					timeout:2000,
				});
				this.getList();
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		}
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
</style>

<style>
page {
	background-color: #f1f5f7;
}
</style>
