<template>
	<view>
		<cnd-navbar color="white" isBack @back="back"><block slot="content">实际拣货</block></cnd-navbar>
		<!-- <view class="container">
			<view class="input-area">
				<text class="iconfont icon-cnd-search c-gray-8"></text>
				<input type="text" confirm-type="search" v-model="formData.goodsName" placeholder="输入商品查询" placeholder-style="color: #8C8C8C; font-size: 28rpx" @confirm="getList" />
			</view>
		</view> -->
		<view class="containersearch" style="padding-top: 0;">
			<view class="input-area">
				<text class="iconfont icon-cnd-search c-gray-8"></text>
				<input disabled type="text" v-model="formData.wlName" placeholder="选择库位查询" placeholder-style="color: #8C8C8C; font-size: 28rpx" @tap="goStore" />
			</view>
		</view>
		<view class="list-container"><mescroll-item :formData="formData" ref="me" :info="info"></mescroll-item></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" type="outlined" @clickEvent="getList">查询</cnd-button></view>
			<view class="block"><cnd-button color="primary" size="block" icon="no" :disabled="info.sStatus == 1"  @clickEvent="confirm">确认</cnd-button></view>
		</view>
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue';
import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-spreview-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { CndNavbar, CndButton, SearchBar, MescrollItem },
	data() {
		return {
			formData: {
				// 筛选条件
				pickplandetailId: '', //待拣货明细id
				goodsName: '',
				wlName: '',
				wlid: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			info: {}
		};
	},
	async onLoad(e) {
		let { id } = e;
		this.formData.pickplandetailId = id;
		await this.getInfo();
		this.$nextTick(() => {
			this.getList();
		});
		uni.$on('searchBack', (data) => {
			console.log('ondata', data)
			this.formData.wlName = data.sName
			this.formData.wlid = data.sId
		})
	},
	methods: {
		goStore() {
			console.log(11)
			uni.navigateTo({
				url: '/pOperationLib/store-static/store-prev'
			});
		},
		async getInfo() {
			let { pickplandetailId } = this.formData;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					sPickPlanDetialId: pickplandetailId,
					_parameters: 'sPickPlanDetialId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsPickPlanDetailBO_bo',
					_methodName: 'queryJcwmsPickPlanDetailById',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				this.info = data;
				console.log(data);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		getList() {
			this.$refs.me.mescroll.resetUpScroll();
		},
		back(){
			uni.removeStorageSync('infoNum')
		},
		async confirm() {
			let { info } = this;
			let list = uni.getStorageSync('infoNum') || this.$refs.me.pdList;
			console.log('打印该打的东西888',list)
			// let list = this.$refs.me.pdList;
			let sQtxTotal = 0;
			let sQtyTotal = 0;
			let params = [];
			list.forEach(item => {
				let sQtxNum = item.sQtxNum || 0;
				let sQtyNum = item.sQtyNum || 0;
				if (sQtxNum > 0) {
					sQtxTotal += Number(sQtxNum);
					sQtyTotal += Number(sQtyNum);
					let str = `${item.sId}-${sQtxNum}-${sQtyNum}`;
					params.push(str);
				}
			});
			uni.removeStorageSync('infoNum')
			console.log('打印该打的东西',params)
			// if (sQtxTotal == 0) {
			// 	uni.showModal({
			// 		title: '提示',
			// 		content: '请输入拣货件数',
			// 		showCancel: false
			// 	});
			// 	return;
			// }
			// if (sQtxTotal > info.sNoPickPieceCount) {
			// 	uni.showModal({
			// 		title: '提示',
			// 		content: '拣货件数总和超额',
			// 		showCancel: false
			// 	});
			// 	return;
			// }
			// if (sQtyTotal > info.sNoPickWeight) {
			// 	uni.showModal({
			// 		title: '提示',
			// 		content: '拣货重量总和超额',
			// 		showCancel: false
			// 	});
			// 	return;
			// }
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					pickplandetailId: info.sId,
					params: params.join(','),
					_parameters: 'pickplandetailId,params',
					_parameterTypes: 'string,string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsStockBalanceBO_bo',
					_methodName: 'doPrePickWmsStockReceiptDetails',
					_methodParameterTypes: 'String,String'
				}
			})
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '拣货成功',
				// 	icon: 'none'
				// })
				this.$refs.mpopup.open({
					type:'success',
					content:'拣货成功',
					timeout:2000,
				});
				this.$util.pageBack()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading()
		}
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
/deep/.container{
	position: relative;
}
.containersearch {
	display: flex;
	height: 72rpx;
	z-index: 9998;
	padding: 16rpx;
	.input-area {
		border-radius: 8rpx;
		flex: 1;
		padding: 16rpx;
		display: flex;
		background: $gray-0;
		display: flex;
		align-items: center;
		.iconfont {
			font-size: 40rpx;
			margin-right: 16rpx;
			font-weight: 700;
		}
		input {
			flex: 1;
		}
	}
}
</style>
