<template>
	<view>
		<view class="picker_modal" v-if="showPicker" :style="{height: modalHeight}" @click="_close"></view>
		<view class="picker-content" :style="{transform:  showPicker ? 'translateY(0)' : 'translateY(100%)'}">
			<view class="picker-header">
				<view :style="{color: cancelColor, fontSize: cancleFontSize}" v-if="cancelType=='text'"  @click="_close">取消</view>
				<icon type="clear" size="18" v-else @click="_close"/>
				<view class="input-area">
					<text class="iconfont icon-cnd-search c-gray-8"></text>
					<input type="text" v-model="value" :adjust-position="true" @input="onSsearch" confirm-type="search" @confirm="bindConfirm" :placeholder="titles" placeholder-style="color: #8C8C8C; font-size: 28rpx" />
					<text @click="deleteins" class="deleteins iconfont icon-cnd-close-circle-outline c-gray-8" v-if="value"></text>
				</view>
					<!-- <input class="packer-title" type="text" v-model="value" :adjust-position="false" confirm-type="search" @confirm="bindConfirm" :placeholder="titles" placeholder-style="color: #8C8C8C; font-size: 28rpx" /> -->
					<!-- <view class="packer-title" :style="{color:titleColor, fontSize:titleFontSize}">{{titles}}</view> -->
				<view :style="{color: confirmColor, fontSize: confirmFontSize, fontWeight:confirmFontWeight}" @click="__confirmPicker">确定</view>
			</view>
			<scroll-view scroll-y="true" @scrolltolower="getList">
				<!-- <view class="view-content"> -->
					<view :style="{height:phoneHeight}" :class="{view_content: pickerList.length<4}">
						<view style="height: 90rpx;" v-for="(item, index) in list" :key="index" class="picker-view" :class="{'actives': checkedValue.indexOf(item.value)!=-1}" @click="changePicker(item, index)">
							<view>
								<view class="picker-item" :style="{fontSize:itemFontSize}"  >{{item.label}}</view>
							</view>
						</view>
					</view>
				<!-- </view> -->
			</scroll-view>
		</view>
	</view>
</template>

<script>
	export default {
		props:{
			cancelColor: {   // 取消按钮颜色
				type: String,
				default: '#808080' 
			},
			cancelType: {      // text显示文字，icon显示图片
				type: String,
				default: 'text' 
			},
			cancleFontSize:{  //取消文字大小
				type:String,
				default:'28rpx'
			},
			title: {        //标题文字
				type: String,
				default: ""
			},
			titleColor: {   //标题文字颜色
				type: String,
				default: ""
			},
			titleFontSize:{ //标题文字大小
				type:String,
				default:'26rpx'
			},
			confirmColor:{ // 确定按钮颜色
				type:String,
				default:''
			},
			confirmFontSize:{ //确定文字大小
				type:String,
				default:'28rpx'
			},
			confirmFontWeight: { //确定按钮的字体粗细
				type: String,
				default: '' 
			},
			itemFontSize:{ //选项文字大小
				type:String,
				default:'32rpx'
			},
			pickerList: { //数据
				type: Array
			},
			addmaterialTypeData: {
				type:String,
				default:''
			},
			clickActive: {
				type: Boolean,
				default: false 
			},//是否必选一个
			parameter: {
				type: Boolean,
				default: false 
			},//是否接口模糊查询，默认不为接口模糊查询
		}, 
		data(){
			return{
				pickerLists: [],
				showPicker: false,
				pickerValue: 0,
                checkedLabel: '',
                checkedValue: '',
                isChange: '',
                phoneHeight: '',
                titles: '',
				hecked: {},
				modalHeight: '',
				value: '',
				list:[],
			}
		},
        mounted() {
            let _this = this;
            wx.getSystemInfo({
                success: res => {
                    _this.phoneHeight = res.windowHeight - 80 + 'rpx';
					_this.modalHeight = res.windowHeight + 'px';
                }
            });
            this.titles = this.title
			
        },
		methods:{
			getList(){
				this.$emit('showMoreChange')
			},
			onSsearch(){
				if(this.parameter == true){
					this.$emit('confirm', this.value)
					this.list = this.pickerLists
					console.log('要展示的数据true',this.list.length)
				}else{
					// this.pickerLists  总数据 
					// this.list     要展示的数据
					// this.value 输入框的内容
					
					// 模糊搜索
					//首先判断输入框是否为空
					if(this.value === ''){    
					//this.list是下拉框显示的内容，如果为空就展示全部数据
						this.list = this.pickerLists  
					//否则执行下面内容
					}else{
						//先清空展示的数据
						this.list = []
						//然后开始循环全部数据
						
						for(var i=0;i<this.pickerLists.length;i++){
							//判断数据里面是否有符合输入的内容  不符合返回-1 只需要大于或等于0就是符合
							if(this.pickerLists[i].label.indexOf(this.value)>=0){
							
								// console.log(this.pickerLists[i].label)
								//然后把它丢进要展示的数组里面
								this.list.push(this.pickerLists[i])
								console.log('要展示的数据false',this.list.length)
								//我这里是必选项为防止用户不选择判断如有数据默认第一个
								// if(this.list.length != 0){
								// //在用户选择下拉框内容时会被替换掉 
								// 	this.checkedValue =this.list[0].value
								// 	this.checked =  this.list[0]
								// }
									
							}
							
						}
					}
				}
				
				

			},
			bindConfirm() {
				// this.onSsearch()
			},
			deleteins() {
				this.value = ''
				this.onSsearch()
			},
			moveHandle() {
			},
			_close(){
				this.value = ''
				this.showPicker = false
				this.$emit('on_close') 
			},
			_open(){
				if(this.parameter == true){
					this.list = this.pickerLists
				}else{
					if(this.value === ''){    
						//this.list是下拉框显示的内容，如果为空就展示全部数据
						this.list = this.pickerLists  
						
					}
				}
				this.showPicker = true
			},
            //选中picker
			changePicker(item, index) {
				if (this.clickActive == true) {
					this.checkedValue =  item.value
					this.checked =  item
					if (this.title != '') {
						this.titles = item.label
					}
				} else if(this.clickActive == false) {
					if (this.checkedValue.indexOf(item.value) == -1) {
						// this.checkedLabel =  item.label
						this.checkedValue =  item.value
						this.checked =  item
						if (this.title != '') {
							this.titles = item.label
						}
					}else{
						// this.checkedLabel =  ''
						this.checkedValue =  ''
						this.titles = this.title
						this.checked = {}
					}
				}
                // console.log(this.checked)
			},
			//确定
			__confirmPicker(){
				this.showPicker = false
				if (this.checked) {
					this.$emit('onConfirm', this.checked)
				}
				this.value = ''
			},
			
		},
		watch: {
			addmaterialTypeData:{
				handler(newval) {
					this.checkedValue = newval
				},
				deep: true,
				immediate: true 
			},
			pickerList:{
				handler(newval) {
					this.pickerLists = newval
					if(this.parameter == true){
						this.list = newval
					}else{
						if(this.value === ''){    
							//this.list是下拉框显示的内容，如果为空就展示全部数据
							this.list = newval
							
						}
					}
					console.log('数据长度',this.list.length)
				},
				deep: true,
				immediate: true 
			},
		}
	}
</script>

<style lang="scss" scoped>
	.picker_modal{
		position: fixed;
		/* top: 0; */
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000;
	}
	.picker-content{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: #fff;
		transition: all .3s;
		border-radius: 12rpx 12rpx 0 0;
	}
	.picker-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* margin:0 20rpx; */
		padding: 20rpx 20rpx;
		border-bottom: 1px solid #ececec;
	}
	.packer-title{
		text-align: center;
	}
	.picker-view {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		height: 490rpx;
		background-color: rgba(255, 255, 255, 1);
        width: 100%;
		border-bottom: 1px solid #f5f5f5;
	}
	.picker-view:first-child {
		border-top: 1px solid #f5f5f5;
	}
	.picker-item {
		text-align: center;
		line-height: 90rpx;
		text-overflow: ellipsis;
        
	}
    .actives{
        border-bottom: 1px solid #00adff;
        border-top: 1px solid #00adff;
        color: #fff;
        background: #00adff;
    }
    .view_content{
        display: flex;
        justify-content: center;
		align-items: baseline;
		flex-direction: column;
    }
	input{
		width: 100%;
		
		height: 60rpx;
		
	}
	.input-area {
		width: 70%;
		border: 1px solid #dedede;
		border-radius: 8rpx;
		padding:0 8rpx;
		/* flex: 1; */
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		.iconfont {
			font-size: 40rpx;
			margin-right: 16rpx;
			font-weight: 700;
			color: #666;
		}
	}
</style>
