<template>
	<view>
		<view class="list-box" v-for="(item, i) in list" :key="i">
			<cnd-list-group>
				<view @click="goDetail(item)">
					<cnd-list-content title="预达日期" :value="item.sReceiveTime || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="收货单位" :value="item.sGoodsOwnerName || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="车牌号" :value="item.sVehicleVesselNo || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="仓库" :value="item.sWarehouseName || '无'" type="alignLeft"></cnd-list-content>
					
				</view>
				
				<view class="btn">
					<block v-for="(coms,index) in item.userInfo.role" :key="index">
						<cnd-button
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="modify(item)" 
							v-if="item.sSheetStatus == '10' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.salesman">
							修改
						</cnd-button>
						<cnd-button
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="Approval(item)" 
							v-if="item.sSheetStatus == '10' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.salesman">
							审批
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="callPhone(item)" 
							v-if="
								item.sSheetStatus == '20' && 
								item.userInfo.role[index].roleName == item.roleNameStatus.driver || 
								item.sSheetStatus == '30'  && 
								item.userInfo.role[index].roleName == item.roleNameStatus.driver || 
								item.sSheetStatus == '10' && 
								item.userInfo.role[index].roleName == item.roleNameStatus.deliveryMan">
							联系客服
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="modifyStatus(item,'50')" 
							v-if="item.sSheetStatus == '10' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.deliveryMan ">
							取消预约
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="modifyStatus(item,'60')" 
							v-if="item.sSheetStatus == '10' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.salesman">
							驳回
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="imgUpload(item)"
							v-if="item.sSheetStatus == '20' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.driver ||
							item.sSheetStatus == '30' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.driver">
							上传证件照
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="imgHeadstock(item)"
							v-if="item.sSheetStatus == '30' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.securityStaff">
							上传车头照
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="imgLockUp(item)"
							v-if="item.sSheetStatus == '30' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.securityStaff">
							查看证件照
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="modifyStatus(item,'40')"
							v-if="item.sSheetStatus == '30' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.securityStaff">
							放行
						</cnd-button>
						<cnd-button 
							color="primary" 
							size="block" 
							type="outlined" 
							icon="no" 
							@clickEvent="modifyStatus(item,'70')"
							v-if="item.sSheetStatus == '40' && 
							item.userInfo.role[index].roleName == item.roleNameStatus.securityStaff">
							放行
						</cnd-button>
					</block>
				</view>
				<!-- <block v-for="(comst,j) in item.userInfo.role" :key="j">
					<view class="adds" v-if="item.sSheetStatus == '10' && item.userInfo.role[j].roleName == item.roleNameStatus.salesman">
						<view class="skill-item" :class="{'active': isChange.indexOf(item.sId)!=-1}" @click="clickBtn(i, item)"> 
							<i></i>
						</view>
					</view>
				</block> -->
				
			</cnd-list-group>
			
	
		</view>
		<!-- <view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">批量审批</cnd-button></view>
		</view> -->
		<!-- 审批窗口 -->
		<cnd-pop-content v-model="show">
			<approval ref="me" :sWarehouseId="sWarehouseId" @change="bindParClose" @clickEvent="bindParConfirm"></approval>
		</cnd-pop-content>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndButton from '@/components/button/button';
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import approval from './approval.vue';
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListContent,
			CndButton,
			cndPopContent,
			CndFormItem,
			approval
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
			}
		},
		async mounted() {
			// await this.releaseAutomatic()

		},
		methods: {
			
			async Approval(item){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"sBoardTicketId":item.sId,
						"_parameters":"sBoardTicketId",
						"_parameterTypes":"string",
						"dcID":"wmsis",
						"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
						"_methodName":"doCreateInbill",
						"_methodParameterTypes":"String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			
			bindParClose(){
				this.show = false
			},
			// 状态修改
			async modifyStatus(item,sta){

				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"sBoardTicketId":item.sId,
						"sStatus":sta,
						"_parameters":"sBoardTicketId,sStatus",
						"_parameterTypes":"string,string",
						"dcID":"wmsis",
						"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
						"_methodName":"updateBoardTicketStatus",
						"_methodParameterTypes":"String,String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			// 审批
			async bindParConfirm(v){
				// this.sGoodsOwnerId = uni.getStorageSync('jobId')
				// this.sGoodsOwnerName = uni.getStorageSync('codeName')
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": this.approvalsId,
							"sGoodsOwnerId": v.value,
							"sGoodsOwnerName": v.label
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "approveWmspAppointmentDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 		this.show = false
					// 		// uni.removeStorageSync('jobId')
					// 		// uni.removeStorageSync('codeName')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
					this.show = false
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			// 驳回预约
			async reject(item){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": item.sId
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "refuseWmspAppointmentDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			// 入场放行
			async admissionRelease(item){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": item.sId
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "enterPermitWmspAppointmentDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			// 出场放行
			async exitRelease(item){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": item.sId
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "exitPermitWmspAppointmentDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '操作成功！',
					// 	icon: 'none',
					// 	success: () => {
					// 		this.$emit('change')
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功！',
						timeout:2000,
					});
					this.$emit('change')
				} else {
					// uni.showToast({
					// 	title: `未执行入库，无法放行！`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`未执行入库，无法放行！`,
						timeout:2500,
						isClick:false
					});
				}
			},
			clickBtn(index, item){
				
				// 多选
				if (this.isChange.indexOf(item.sId) == -1) {
					if(this.sWarehouseIds == ''){
						// console.log('仓库一致！', this.a)
						this.a.push(item.sWarehouseId)
					}
					if(this.a.indexOf(item.sWarehouseId) == -1){
						// uni.showToast({
						// 	title: `仓库不一致！`,
						// 	icon: 'none',
						// 	mask: true	
						// })
						this.$refs.mpopup.open({
							type:'warn',
							content:`仓库不一致！`,
							timeout:2500,
							isClick:false
						});
						return
						
					} else {
						this.sWarehouseIds = this.a[0]
						this.isChange.push(item.sId);//选中添加到数组里
					}
					
				} else {
					
					this.isChange.splice(this.isChange.indexOf(item.sId), 1); //取消选中
					if(this.isChange.length == 0){
						this.a = []
						this.sWarehouseIds = ''
						uni.removeStorageSync('sId')
						uni.removeStorageSync('sWarehouseIds')
					}
				}
				uni.setStorage({
					key: 'sId',
					data: this.isChange
				})
				uni.setStorage({
					key: 'sWarehouseIds',
					data: this.sWarehouseIds
				})
				let list2 =  []
				for(let i in this.isChange){
					list2.push(this.list[this.isChange[i]])
				}
				console.log('审批时的id', this.isChange)
			},
			
			// 拨打电话
			async callPhone(item){
				// 拿到号码
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sWarehouseId": item.sWarehouseId
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "getWmsWarehouseBaseInfoById",
						"_methodParameterTypes": "String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('仓库明细查询数据电话', info);
					this.info = info;
					this.phone = this.info.sPhone
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.makePhoneCall({
					// 手机号
					phoneNumber: this.phone, 
					// 成功回调
					success: (res) => {
					console.log('调用成功!')	
					},
				});
			},
			// 业务管理修改
			modify(item) {
				uni.navigateTo({
					url: `/pAppointmentDelivery/bookingDelivery/store?sId=${item.sId}&statusEdit=` + false + '&carform='  + false 
				});
			},
			// 进入详情
			goDetail(item) {
				let tooUrl = false
				let carform = true
				for (let i in item.userInfo.role) {
					if (item.userInfo.role[i].roleName == item.roleNameStatus.salesman && item.sSheetStatus == '10') {
						tooUrl = true
						carform = false
						break
					}
					if (item.userInfo.role[i].roleName == item.roleNameStatus.deliveryMan && item.sSheetStatus == '50' || item.userInfo.role[i].roleName == item.roleNameStatus.deliveryMan && item.sSheetStatus == '60') {
						tooUrl = true
						break
					}
				}
				
				if (tooUrl == true && carform == true) {
					uni.navigateTo({
						url: `/pAppointmentDelivery/bookingDelivery/store?sId=${item.sId}&statusEdit=` + true
					});
				}else if (tooUrl == true && carform == false) {
					uni.navigateTo({
						url: `/pAppointmentDelivery/bookingDelivery/store?sId=${item.sId}&statusEdit=` + false + '&carform='  + false 
					});
				} else {
					uni.navigateTo({
						url: `/pAppointmentDelivery/bookingDelivery/store?sId=${item.sId}&statusEdit=` + false
					});
				}
				
				// uni.setStorage({
				// 	key: 'groundingItem',
				// 	data: item,
				// 	success: () => {
				// 		uni.navigateTo({
				// 			url: `/pAppointmentDelivery/bookingDelivery/index`
				// 		})
				// 	}
				// })

			},
			// 上传证件照
			imgUpload(item){
				uni.navigateTo({
					url: `/pages/queryProgress/idPhoto?showTo=1&sId=${item.sId}&sSheetStatus=${item.sSheetStatus}`
				})
			},
			// 上传车头照
			imgHeadstock(item){
				uni.navigateTo({
					url: `/pages/queryProgress/idPhoto?showTo=2&sId=${item.sId}`
				})
			},
			// 查看证件照
			imgLockUp(item) {
				uni.navigateTo({
					url: `/pages/queryProgress/idPhoto?showTo=3&sId=${item.sId}`
				})
			},
			
		}
	}
</script>

<style lang="scss" scoped>
// .btn{
// 	z-index: 999;
// 	border-top: 1px solid #dedede;
// 	.block{
// 		font-size: 28upx!important;
// 		padding:0 14upx!important;
// 	}
// }
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}
.container{
	padding:24upx 0!important;
}
</style>

