<template>
	<view>
		<view class="list-box" v-if="info.sId">
			<cnd-list-group>
				<cnd-list-content title="货号名称" :value="info.vSubArtName || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="通知吨数" :value="String(info.sQty)" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="通知件数" :value="String(info.sQtx)" type="alignLeft"></cnd-list-content>
			</cnd-list-group>
		</view>
		<pd-list :list="pdList" :formData="formData" ref="me" :info="info"></pd-list>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">确定</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import PdList from './pd-spreview-list.vue';
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListContent from '@/components/list-group/list-content.vue';
import CndButton from '../../components/button/button.vue';
export default {
	components: {
		PdList,
		CndListGroup,
		CndListContent,
		CndButton
	},
	props: {
		formData: Object,
		info: Object
	},
	data() {
		return {
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			CustomBar: this.CustomBar,
			daList: [],
			sumvSubPlanQty: 0
		};
	},
	computed: {
	},
	mounted() {
		this.getList()
	},
	methods: {
		async getList() {
			uni.showLoading({
				title: '请稍等...'
			})
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=19', {
				dataStores: {},
				parameters: {
					"sPickPalnPreId":this.formData.sId,
					"_parameters":"sPickPalnPreId",
					"_parameterTypes":"string",
					"dcID":"wmsjccwis",
					"_boId":"wmsjccwis_ifsJcwmsPickPlanBO_bo",
					"_methodName":"queryWmsStockBalanceDTOsShow",
					"_methodParameterTypes":"String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				uni.hideLoading()
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				this.pdList = list
				console.log('查询可拣配信息', list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		// 确定接口
		async submit (showResult = true) {
			this.daList = this.$refs.me.daList
			
			// for(let i in this.daList){
			// 	if (i <= this.daList.length) {
			// 		this.sumvSubPlanQty += this.daList[i].vSubPlanQty
			// 		console.log('打印可用吨数',this.sumvSubPlanQty)
			// 		if (this.sumvSubPlanQty > this.info.sQty) {
			// 			this.sumvSubPlanQty = 0
			// 			uni.showToast({
			// 				title: '提示：拣配吨数总和不能大于通知吨数',
			// 				icon: 'none'
			// 			});
			// 			return

			// 		}
			// 	}else{
			// 		break
			// 	}
				
			// }
			for(let i = 0; i < this.daList.length; i++){
				if(this.daList[i].vSubPlanQtx == 0){
					this.daList.splice(this.daList.findIndex(item => item.vSubPlanQtx == 0), 1);
					i--;
				}
			}
			console.log('打印传值',this.daList)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"wsbDTOs": {
						"rowSet": {
							"primary": this.daList,
							"filter": [],
							"delete": []
						},
						"name": "wsbDTOs",
                        "pageNumber": 1,
                        "pageSize": 2147483647,
                        "recordCount": 0,
                        "rowSetName": "com.cnd.wms.storage.stock.dto.WmsStockBalanceDTO"
					}
				},
				parameters: {
					"sPickPalnPreId": this.formData.sId,
					"_parameters":"sPickPalnPreId,wsbDTOs",
					"_parameterTypes":"string,pojoList",
					"dcID":"wmsjccwis",
					"_boId":"wmsjccwis_ifsJcwmsPickPlanBO_bo",
					"_methodName":"doPickWmsStockBalances",
					"_methodParameterTypes":"String,java.util.List"
				}
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/pickUpGoods/preview')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = false
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/pickUpGoods/preview')
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = false
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					this.sumvSubPlanQty = 0
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			}
		},
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin: 16rpx 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
}
</style>
