<template>
	<view>
		<block v-for="(item, index) in pdList" :key="index">
			<view class="list-box">
				<cnd-list-group>
					<cnd-list-content title="货品名称" :value="item.vSubArtName || '无'" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="通知件数" :value="String(item.sQtx)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="通知吨数" :value="String(item.sQty)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<view class="tableSta">
						<tableList :list="item.pojoList" :sId="formData.sId" @chang="deleteFn"></tableList>
					</view>
					<view class="addInfo" @click="setAdd(item)">
						<i class="iconfont icon-cnd-add-circle-solid"></i>
						<text>添加</text>
					</view>
				</cnd-list-group>
				
			</view>
		</block>
	</view>
</template>

<script>
import tableList from './tableList.vue';
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListTitle,
		CndListContent,
		tableList
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		},
		sStatus: [String, Number],
		formData: Object
	},
	data () {
		return {
			pdList:[]
		}
	},
	methods: {
		deleteFn(e){
			this.$emit('chang', e)
		},
		
		setAdd(item){
			let str = encodeURIComponent(JSON.stringify(item))
			uni.navigateTo({
				url: `/pOperationLib/pickUpGoods/spreview?sId=${item.sId}&info=${str}`
			})
		}
	},
	watch: {
		list: {
			handler(newval){
				this.pdList = newval
			},
			deep: true,
			immediate: true 
		}
	}
};
</script>

<style lang="scss">
.list-box {
	border: 1px solid #eee;
	position: relative;
	margin: 0 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
	// .list-content-container {
	// 	padding-right: 120rpx;
	// }
	.del {
		position: absolute;
		top: 50%;
		right: 30rpx;
		transform: translate(0, -50%);
	}
}
.tableSta{
	margin-top: 16rpx;
	border:1px solid #eee;
}
.addInfo{
	text-align: center;
	color: #40da85;
	padding: 18rpx 0 38rpx;
	.iconfont{
		font-size: 80rpx;
		display:block;
	}
	text{
		font-size: 34rpx;
		display:block;
	}
}
</style>
