<template>
	<view class="list-box">
		<view v-for="(item, index) in daList" :key="index" class="dataList">
			<cnd-list-group>
				<view class="warehouse">
					<view class="item-list">
						<text class="title">库区</text>
						<text class="val">{{item.vSubDpsWarehouseAreaName || '无'}}</text>
					</view>
					<view class="item-list">
						<text class="title">库位</text>
						<text class="val">{{item.vSubDpsWarehouseLocationName || '无'}}</text>
					</view>
				</view>
				<cnd-list-content title="可用件数" :value="String(item.sQtx1)" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="可用吨数" :value="String(item.sQty1)" type="alignLeft"></cnd-list-content>
				<view class="item-input">
					<text class="title">拣配件数</text>
					<input type="number" placeholder="请输入..." v-model="item.planQtx" class="val" @input="onvSubPlanQtx(item)" @focus="focus(item)" @blur="blur(item)"/>
				</view>
				<cnd-list-content title="拣配吨数" :value="String(item.vSubPlanQty)" type="alignLeft"></cnd-list-content>
			</cnd-list-group>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListContent
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object,
			info: Object,
		},
		data () {
			return {
				sQtyNum:0,
				daList: [],
				parWeight: '',
				sumvSubPlanQty: 0,
				planQty: ''
			}
		},
		mounted() {
		},
		methods: {
			
			// 拣配件数vSubPlanQtx
			onvSubPlanQtx(item) {
				item.vSubPlanQtx = Number(item.planQtx)
				if (item.vSubPlanQtx <= item.sQtx1 && item.vSubPlanQtx <= item.sQty1) {
					console.log('打印输入框222',item.vSubStandardQty ,item.sExtend1)
					if (!item.vSubStandardQty || item.vSubStandardQty == 0 || item.vSubStandardQty == NaN || item.vSubStandardQty == null) {
						item.vSubPlanQty = item.vSubPlanQtx * +item.sExtend1
						
					}else{
						item.vSubPlanQty = item.vSubPlanQtx * item.vSubStandardQty
					}
					
				}else{
					item.vSubPlanQtx = 0
					item.vSubPlanQty = 0
					// uni.showToast({
					// 	title: '拣配件数不能大于可用件数;拣配吨数不能大于可用吨数',
					// 	icon: 'none'
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:'拣配件数不能大于可用件数;拣配吨数不能大于可用吨数',
						timeout:2500,
						isClick:false
					});	
				}
				// for(let i in this.daList){
				// 	// this.sumvSubPlanQty = item.vSubPlanQty
				// 	this.sumvSubPlanQty += this.daList[i].vSubPlanQty
				// 	if (this.sumvSubPlanQty <= this.info.sQty) {
						

				// 	}else{
				// 		item.vSubPlanQtx = 0
				// 		item.vSubPlanQty = 0
				// 		uni.showToast({
				// 			title: '提示：拣配吨数总和不能大于通知吨数',
				// 			icon: 'none'
				// 		});
				// 		break
				// 	}
				// }
				
				console.log('打印输入框',this.sumvSubPlanQty, item.vSubPlanQty)
			},
			focus(item){
				// item.vSubPlanQtx = ''
			},
			blur(item){
				
				// item.vSubPlanQtx = item.vSubPlanQtx
			}
		},
		watch: {
			list: {
				handler(newval){
					this.daList = newval
					
					this.daList.map(ele =>{
						return{
							...ele,
							planQtx: ''
						}
					})
				},
				deep: true,
				immediate: true 
			}
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin: 0 16rpx 20rpx 16rpx;
		padding-bottom: 150rpx;
		.dataList{
			margin-top: 14rpx;
		}
		&.first-list-box {
			margin-top: 16rpx;
		}
		.list-item {
			position: absolute;
		}
		.spreview-btn {
			width: 160rpx;
			min-width: 160rpx;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 16px;
			position: absolute;
			right: 0;
			bottom: 8px;
			input{
				font-size: 16px;
			}
		}
	}
	.warehouse{
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-align: start;
		align-items: flex-start;
		-webkit-box-pack: justify;
		justify-content: space-between;
		.item-list {
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			flex-direction: row;
			-webkit-box-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			justify-content: space-between;
			padding: 6rpx 24rpx;
			box-sizing: border-box;
			width: 50%;
			font-size: 32rpx;
			line-height: 40rpx;
			.title {
				color: #8c8c8c;
				display: inline-block;
				width: 152rpx;
				min-width: 152rpx;
			}
			.val {
				margin-left: 10rpx;
				-webkit-box-flex: 1;
				flex-grow: 1;
				color: #262626;
				display: flex;
				-webkit-box-align: center;
			}
		}
	}
	.item-input {
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-align: start;
		align-items: flex-start;
		-webkit-box-pack: justify;
		justify-content: space-between;
		padding: 6rpx 24rpx;
		box-sizing: border-box;
		width: 100%;
		font-size: 32rpx;
		line-height: 40rpx;
		.title {
			color: #8c8c8c;
			display: inline-block;
			width: 152rpx;
			min-width: 152rpx;
			color: red;
		}
		.val {
			margin-left: 10rpx;
			-webkit-box-flex: 1;
			flex-grow: 1;
			color: #262626;
			display: flex;
			-webkit-box-align: center;
		}
		input{
			width: 100%;
			border-bottom: 1px solid #eee;
			padding:0 0 12rpx;
		}
	}
</style>
