<template>
	<view>
		<cnd-table :columns="columns" :list="list" @delete="deleteFn"></cnd-table>
	</view>
</template>

<script>
	import cndTable from "./table/table.vue"
	// import cndTableColumn from "cndapp-ui/components/table/table-column.vue"

	export default {
		name: 'pd-list',
		components: {
			cndTable,
			// cndTableColumn
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			sId: {
				// 数据列表
				type: String,
				default () {
					return '';
				}
			}
		},
		data () {
			return {
				columns: [{
						title: "库位",
						key: "sWarehouseLocationName",
						$width:"150",
					},
					{
						title: '货号名称',
						key: 'sArtName',
						$width:"170"
					},
					{
						title: '件数',
						key: 'sPickPieceCount',
						$width:"140"
					},
					{
						title: '吨数',
						key: 'sPickWeight',
						$width:"140",
					},
					{
						title: "操作",
						key: "$operate",
						$width:"110",
						$operateList: [{
								label: "删除",
								event: "delete",
								id: "delete",
								styles: 'btn-delete'
							}
						]
					}
				],
			}
		},
		methods: {
			deleteFn(data) {
				this.$emit('chang', data)
				console.log('删除',data)
				
			},
		}
	}
</script>

<style lang="scss" scoped>
/deep/.btn-delete{
	font-size: 26rpx;
}
</style>
