<template>
	<view class="cnd-button" :class="[color,size,state,type,icon]" @click="clickEvent()">
		<view class="icon-wrapper" :class="[icon == 'no' ? 'unshow':'show']">
			<i class="iconfont" :class="iconClass"></i>
		</view>
		<view class="font-wrapper" :class="[icon == 'only' ? 'unshow':'show']">
			<slot></slot>
		</view>
		<view class="loading-wrapper" :class="[state == 'loading' ? 'show':'unshow']">
			<view class="lds-ring">
				<view></view>
				<view></view>
				<view></view>
				<view></view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-button',
		data() {
			return {
				state: '',
				active: false,
				classList: [],
				iconClass: [],
			}
		},
		props: {
			// icon存在状态为'no', 'with', 'only'
			icon: {
				type: String,
				default: 'no'
			},
			// 类型为'contained', 'outlined', 'flat'
			type: {
				type: String,
				default: 'contained'
			},
			// 颜色色调为'default', 'primary', 'danger', 'warning', 'info', 'inverse'
			color: {
				type: String,
				default: 'default'
			},
			// 按钮大小为'small', 'medium', 'block'
			size: {
				type: String,
				default: 'medium'
			},
			// 状态位为'normal', 'active', 'disabled', 'loading', 可传入参数为'disabled', 'loading'
			// 是否禁用
			disabled: {
				type: Boolean,
				default: false
			},
			// 是否loading
			loading: {
				type: Boolean,
				default: false
			},
			// icon更改
			iconName: {
				type: String,
				default: null
			}
		},
		watch:{
			loading: function () {
				if(this.loading){
					this.state = "loading"
				} else {
					this.state = "normal"
				}
				
				// this.classList = [this.color,this.size,this.state,this.type,this.icon]
			},
			disabled: function () {
				if(this.disabled){
					this.state = "disabled"
				} else {
					this.state = "normal"
				}
				
				// this.classList = [this.color,this.size,this.state,this.type,this.icon]
			}
		},
		mounted:function(){
			if(this.disabled){
				this.state = "disabled"
			}else if(this.loading){
				this.state = "loading"
			}else{
				this.state = "normal"
			}
			
			// this.classList = [this.color,this.size,this.state,this.type,this.icon]
			this.getIconClass()
		},
		methods: {
			clickEvent() {
				if(this.state=="normal"){
					this.$emit('clickEvent')
					// console.log("click-cnd-button")
				}
			},
			// 判断图标类型
			getIconClass(){
				if(this.iconName){
					this.iconClass = this.iconName
				} else {
					if(this.type == 'contained'){
						this.iconClass = 'icon-cnd-add-circle-outline'
					} else {
						this.iconClass = 'icon-cnd-add-circle-solid'
					}
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.unshow {
		display: none;
	}

	// ------️------局部自定义变量------️------
	$button-height-small : 60rpx;
	$button-height-medium : 96rpx;
	$button-height-block : 96rpx;

	$button-padding-h-small : 24rpx;
	$button-padding-h-medium : 24rpx;

	$button-icon-padding-small : 0rpx;
	$button-icon-padding-medium : 0rpx;
	// ------️------局部自定义变量------️------


	//️ ------️------尺寸调整区️------️------
	// 按钮大小为'small', 'medium', 'block'
	.cnd-button {
		box-sizing: border-box;
		border-radius: 6rpx;
		border-width: 2rpx;
		border-style: solid;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;

		//---'flat'样式特殊设置---
		&.flat {
			height: auto !important;
			padding: 0 !important;
			
			.icon-wrapper {
				padding: 0 !important;
				margin-right: 12rpx;
			}
		}

		//---'flat'样式特殊设置---
		&.small {
			height: $button-height-small;
			// 尺寸特调
			// min-width: 160rpx;
			width: 100%;
			display: flex !important;
			padding: 0 $button-padding-h-small;

			font-size: $font-size-body;

			.icon-wrapper {
				padding: 0 $button-icon-padding-small;
				margin-right: 12rpx;

				.iconfont {
					font-size: $font-size-body;
				}
			}
		}

		&.medium {
			height: $button-height-medium;
			padding: 0 $button-padding-h-medium;

			font-size: $font-size-body;

			.icon-wrapper {
				padding: 0 $button-icon-padding-medium;
				margin-right: 12rpx;

				.iconfont {
					font-size: $font-size-body;
				}
			}
		}

		&.block {
			height: $button-height-block;
			width: 100%;
			display: flex !important;
			padding: 0 $button-padding-h-medium;

			font-size: $font-size-body;

			.icon-wrapper {
				padding: 0 $button-icon-padding-small;
				margin-right: 12rpx;

				.iconfont {
					font-size: $font-size-body;
				}
			}
		}
	}

	//️ ------️------尺寸调整区️------️------


	// ️------️------颜色调整区️------️------
	// 颜色色调为'default', 'primary', 'danger', 'warning', 'info', 'inverse'
	// 状态位为'active', 'disabled'的上色; 'loading'的颜色为'normal'
	.default {
		background-color: $gray-2;
		border-color: $gray-4;
		color: $gray-7;
		
		&.normal{
			&.contained:active{
				background-color: colorActived($gray-2);
				border-color: colorActived($gray-4);
			}
			&.outlined:active{
				border-color: colorActived($gray-4);
				color: colorActived($gray-7);
			}
			&.flat:active{
				color: colorActived($gray-7);
			}
		}

		&.disabled {
			background-color: colorDisable($gray-2);
			border-color: colorDisable($gray-4);
			color: colorDisable($gray-7);
		}

		//"loading"颜色变化
		&.outlined {
			.lds-ring view {
				border-color: $gray-8;
				border-color: $gray-8 transparent transparent transparent;
			}
		}

		&.flat {
			.lds-ring view {
				border-color: $gray-8;
				border-color: $gray-8 transparent transparent transparent;
			}
		}
	}

	.primary {
		background-color: $cnd-blue-5;
		border-color: $cnd-blue-5;
		color: $cnd-blue-5;
		
		&.normal{
			&.contained:active{
				background-color: colorActived($cnd-blue-5);
				border-color: colorActived($cnd-blue-5);
			}
			&.outlined:active{
				color: colorActived($cnd-blue-5);
				border-color: colorActived($cnd-blue-5);
			}
			&.flat:active{
				color: colorActived($cnd-blue-5);
			}
		}

		&.disabled {
			background-color: colorDisable($cnd-blue-5);
			border-color: colorDisable($cnd-blue-5);
			color: colorDisable($cnd-blue-5);
		}

		//"loading"颜色变化
		&.outlined {
			.lds-ring view {
				border-color: $cnd-blue-5;
				border-color: $cnd-blue-5 transparent transparent transparent;
			}
		}

		&.flat {
			.lds-ring view {
				border-color: $cnd-blue-5;
				border-color: $cnd-blue-5 transparent transparent transparent;
			}
		}
	}

	.danger {
		background-color: $red-5;
		border-color: $red-5;
		color: $red-5;
		
		&.normal{
			&.contained:active{
				background-color: colorActived($red-5);
				border-color: colorActived($red-5);
			}
			&.outlined:active{
				border-color: colorActived($red-5);
				color: colorActived($red-5);
			}
			&.flat:active{
				color: colorActived($red-5);
			}
		}

		&.disabled {
			background-color: colorDisable($red-5);
			border-color: colorDisable($red-5);
			color: colorDisable($red-5);
		}

		//"loading"颜色变化
		&.outlined {
			.lds-ring view {
				border-color: $red-5;
				border-color: $red-5 transparent transparent transparent;
			}
		}

		&.flat {
			.lds-ring view {
				border-color: $red-5;
				border-color: $red-5 transparent transparent transparent;
			}
		}
	}

	.warning {
		background-color: $orange-5;
		border-color: $orange-5;
		color: $orange-5;
		
		&.normal{
			&.contained:active{
				background-color: colorActived($orange-5);
				border-color: colorActived($orange-5);
			}
			&.outlined:active{
				border-color: colorActived($orange-5);
				color: colorActived($orange-5);
			}
			&.flat:active{
				color: colorActived($orange-5);
			}
		}

		&.disabled {
			background-color: colorDisable($orange-5);
			border-color: colorDisable($orange-5);
			color: colorDisable($orange-5);
		}

		//"loading"颜色变化
		&.outlined {
			.lds-ring view {
				border-color: $orange-5;
				border-color: $orange-5 transparent transparent transparent;
			}
		}

		&.flat {
			.lds-ring view {
				border-color: $orange-5;
				border-color: $orange-5 transparent transparent transparent;
			}
		}
	}

	.info {
		background-color: $green-5;
		border-color: $green-5;
		color: $green-5;
		
		&.normal{
			&.contained:active{
				background-color: colorActived($green-5);
				border-color: colorActived($green-5);
			}
			&.outlined:active{
				border-color: colorActived($green-5);
				color: colorActived($green-5);
			}
			&.flat:active{
				color: colorActived($green-5);
			}
		}
		
		&.disabled {
			background-color: colorDisable($green-5);
			border-color: colorDisable($green-5);
			color: colorDisable($green-5);
		}

		//"loading"颜色变化
		&.outlined {
			.lds-ring view {
				border-color: $green-5;
				border-color: $green-5 transparent transparent transparent;
			}
		}

		&.flat {
			.lds-ring view {
				border-color: $green-5;
				border-color: $green-5 transparent transparent transparent;
			}
		}
	}

	// 类型为'contained', 'outlined', 'flat'
	.cnd-button {
		&.outlined {
			background-color: $gray-0;
		}

		&.flat {
			background-color: $gray-0;
			border-color: $gray-0;
		}

		&.contained {
			color: $gray-0;

			//"default"需要重新定义
			&.default {
				border-color: $gray-2;
				color: $cnd-blue-8;

				&.normal:active {
					border-color: colorActived($gray-2);
					color: colorActived($cnd-blue-8);
				}

				&.disabled {
					border-color: colorDisable($gray-2);
					color: colorDisable($cnd-blue-8);
				}

				//"loading"颜色变化
				.lds-ring view {
					border-color: $cnd-blue-8;
					border-color: $cnd-blue-8 transparent transparent transparent;
				}
			}
		}
	}

	//'inverse'色系暂时不做
	.inverse {}

	// ️------️------颜色调整区️------️------


	// ️------️------"loading"样式区️------️------
	.loading {
		.show {
			&.icon-wrapper {
				display: inline-flex;
				visibility: hidden;
			}

			&.font-wrapper {
				display: inline-flex;
				visibility: hidden;
			}
		}
	}

	.cnd-button {
		position: relative;
	}

	.lds-ring {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		justify-content: center;
		align-items: center;
	}

	.lds-ring view {
		box-sizing: border-box;
		display: block;
		position: absolute;
		border: 2rpx solid #fff;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;
	}

	.lds-ring view:nth-child(1) {
		animation-delay: -0.45s;
	}

	.lds-ring view:nth-child(2) {
		animation-delay: -0.3s;
	}

	.lds-ring view:nth-child(3) {
		animation-delay: -0.15s;
	}

	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.small {
		.lds-ring {
			width: $font-size-body;
			height: $font-size-body;
			margin-left: -$font-size-body/2;
			margin-top: -$font-size-body/2;
		}

		.lds-ring view {
			width: $font-size-body;
			height: $font-size-body;
		}
	}

	.block {
		.lds-ring {
			width: $font-size-body;
			height: $font-size-body;
			margin-left: -$font-size-body/2;
			margin-top: -$font-size-body/2;
		}

		.lds-ring view {
			width: $font-size-body;
			height: $font-size-body;
		}
	}

	.medium {
		.lds-ring {
			width: $font-size-body;
			height: $font-size-body;
			margin-left: -$font-size-body/2;
			margin-top: -$font-size-body/2;
		}

		.lds-ring view {
			width: $font-size-body;
			height: $font-size-body;
		}
	}

	// ️------️------"loading"样式区️------️------


	// ️------️------"only"样式区️------️------
	.only {
		.icon-wrapper {
			margin-right: 0 !important;
		}
	}

	// ️------️------"only"样式区️------️------
</style>
