<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<cnd-list-content title="仓库" :value="item.vSubWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="库存日期" :value="item.sStockDate || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="总入库吨数" :value="String(+(item.sTotalInboundTonnageQty))|| '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="待货主确认吨数" :value="String(+(item.sGoodsOwnerConfirmQty)) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="ERP出库吨数" :value="String(+(item.sTotalOutboundTonnageQty)) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="开单未提吨数" :value="String(+(item.sTotalIssueAdjustmentQty)) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="实际库存吨数" :value="String(+(item.sTotalQty)) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="总ERP吨数" :value="String(+(item.sTotalErpQty)) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<!-- <cnd-list-content title="当日期初总库存" :value="String(+(item.sTotalInventoryDateQty.toFixed(6))) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content> -->
				<cnd-list-content title="超一周未办进仓吨数" :value="item.sUntreatedRemark || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="疫情影响" :value="item.TheEpidemicType || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="异常汇报" :value="item.sAbnormalReport || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="修改人" :value="item.sModifier || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="修改日期" :value="item.sModifyDate || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
			</cnd-list-group>
			
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
// import CndListTitle from 'cndapp-ui/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'history-list',
	components: {
		CndListGroup,
		// CndListTitle,
		CndListContent,
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
.list-box{
	position: relative;
}

</style>
