<template>

	<view>
		<cnd-form>
			<cnd-form-item label="仓库" solid >
				{{ dataList.vSubWarehouseName }}
				<!-- <input v-model="addremarkData.codeName" @click="remarkPicker" placeholder="--请选择仓库--" disabled /> -->
				<!-- <input v-model="dataList.vSubWarehouseName"  placeholder="--请选择仓库--" disabled /> -->
			</cnd-form-item>
			<view class="demo-wrapper">
				<cnd-form-item label="库存日期" solid>
					<input v-model="timeRes" disabled />
					<!-- <cnd-datepicker :level="3" :format="'yyyy-MM-dd'" @change="bindChange">{{timeRes ? timeRes : datej}}</cnd-datepicker> -->
				</cnd-form-item>
			</view>
			
			<!-- <cnd-form-item label="当日期初总库存" solid>
				<input v-model="dataList.sTotalInventoryDateQty" disabled />
			</cnd-form-item> -->
		</cnd-form>
		<cnd-form>
			<view class="detail-item">
				<cnd-form-item label="总入库吨数" solid class="rks">
					<input type="digit" v-model="dataList.sTotalInboundTonnageQty" :disabled="inputDisabled"/>
				</cnd-form-item>
				<cnd-form-item label="待货主确认吨数" solid class="rks">
					<input type="digit" v-model="dataList.sGoodsOwnerConfirmQty" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="ERP出库吨数" solid>
					<input type="digit" v-model="dataList.sTotalOutboundTonnageQty" disabled />
				</cnd-form-item>
				<cnd-form-item label="开单未提吨数" solid class="rks">
					<input type="digit" v-model="dataList.sTotalIssueAdjustmentQty" :disabled="inputDisabled" />
				</cnd-form-item>
				<!-- <cnd-form-item label="短信发货吨数" solid class="blue">
					<input type="digit" v-model="dataList.sMessageDeliverQty" @input="onDeliverQty" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="短信补单吨数" solid class="blue">
					<input type="digit" v-model="dataList.sMessageReplenishmentQty" @input="onReplenishmentQty" :disabled="inputDisabled" />
				</cnd-form-item> -->
				<cnd-form-item label="实际库存吨数" solid class="rks">
					<input type="digit" v-model="dataList.sTotalQty" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="总ERP库存" solid class="rks">
					<input type="digit" v-model="dataList.sTotalErpQty" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="超一周未办进仓吨数" solid class="rks">
					<input v-model="dataList.sUntreatedRemark" :disabled="inputDisabled" />
				</cnd-form-item>
				<cnd-form-item label="疫情影响" solid class="rks">
					<!-- {{ dataList.vSubWarehouseName }} -->
					<input v-model="addsThicknessRangeData.codeName" @click="sThicknessRangePicker" placeholder="--请选择疫情影响--" disabled />
					<!-- <input v-model="dataList.vSubWarehouseName"  placeholder="--请选择仓库--" disabled /> -->
				</cnd-form-item>
				<cnd-form-item label="异常报告" solid class="rks">
					<textarea :adjust-position="true" maxlength="1100" class="textarea" placeholder="请输入异常报告..." v-model="dataList.sAbnormalReport"></textarea>
				</cnd-form-item>
				<cnd-form-item label="图片"></cnd-form-item>
				<view style="margin-left: 40rpx;">
					<gUpload v-if="details" :busId="dataList.sId" :imgList="detailImage.imgList"></gUpload>
				</view>
			</view>
		</cnd-form>
		<!-- 备注选择 -->
		<!-- <custom-picker
			ref="remark"
			title="--请选择仓库--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="remarkChange"
			@on_close="closePicker"
			:pickerList="warehouse">
		</custom-picker> -->
		<!-- 疫情影响 -->
		<custom-picker
			ref="sThickness"
			title="--请选择疫情影响--"
			titleColor="#808080"
			titleFontSize="26rpx"
			cancelType='icon'
			cancelColor="#999999"
			cancleFontSize="28rpx"
			confirmColor="#4cd964"
			confirmFontSize="34rpx"
			confirmFontWeight="500"
			itemFontSize="32rpx"
			@onConfirm="sThicknessRangeChange"
			@on_close="closePicker"
			:pickerList="sThicknessRangeList"
			:addmaterialTypeData="addsThicknessRangeData.jobId">
		</custom-picker>
	</view>
</template>

<script>
	// import CndUploadCell from 'cndapp-ui/components/upload/upload';
	import CndForm from '../../components/form/cnd-form';
	import CndFormItem from '../../components/form-item/cnd-form-item';
	// import CndInput from 'cndapp-ui/components/input/cnd-input';
	// import CndTextarea from '@/components/textarea/cnd-textarea';
	import CndButton from '../../components/button/button';
	import customPicker from '@/components/picjerDiy.vue';
	import { uniToRpx, formatTime } from '@/common/utils/index.js'
	import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
	import gUpload from '@/components/upload/g-upload.vue'
	export default {
		components: {
			// CndUploadCell,
			CndForm,
			CndFormItem,
			// CndInput,
			// CndTextarea,
			CndButton,
			customPicker,
			CndDatepicker,
			gUpload,
		},
		props: {
			details: Object,
			sIsFinish: [Number, String, Boolean],
			sWarehouseId: String,
			TheEpidemicType: Array,
			detailImage: Object,
		},
		data() {
			return {
				datej: new Date().format('yyyy-MM-dd'),
				inputDisabled: false,
				dataList: {},
				dialogValue: '',
				index: undefined,
				clickItem: undefined,
				parWeight: 0,
				// 仓库
				remarkList: [],
				addremarkData: {
					jobId: '',
					codeName: "",
				},
				formData:{
					sDeliveryDate: ''
				},
				timeRes: '',
				formList:{
					sWarehouse:[],
					sWarehouseId: '',
					sWarehouseName: '',
				},
				warehouse: [],
				// 疫情影响
				sThicknessRangeList: [],
				addsThicknessRangeData: {
					jobId: '',
					codeName: "",
				},
			};
		},
		async mounted() {
			// this.sThickness()
			if(this.dataList.sStockDate) {
				this.timeRes = formatTime(this.dataList.sStockDate, 'Y-M-D')
			}
		},
		methods: {
			// a)实际库存吨数 = 当日期初总库存 + 总入库吨数 - ERP出库吨数 + 开单未提吨数 - 短信发货吨数 + 短信补单吨数
			// b)总ERP库存 = 实际库存吨数  - 待货主确认吨数
			// 总入库吨数this.dataList.sTotalInboundTonnageQty
			// onInbound(e) {
			// 	let detail = Number(e.detail.value)
			// 	this.dataList.sTotalQty = +this.dataList.sTotalInventoryDateQty + detail - +this.dataList.sTotalOutboundTonnageQty + +this.dataList.sTotalIssueAdjustmentQty - +this.dataList.sMessageDeliverQty + +this.dataList.sMessageReplenishmentQty
			// 	this.dataList.sTotalErpQty = +this.dataList.sTotalQty - +this.dataList.sGoodsOwnerConfirmQty
			// 	console.log(detail)
			// },
			// // 待货主确认吨数this.dataList.sGoodsOwnerConfirmQty
			// onOwnerConfirm(e) {
			// 	let detail = Number(e.detail.value)
			// 	this.dataList.sTotalQty = +this.dataList.sTotalInventoryDateQty + +this.dataList.sTotalInboundTonnageQty - +this.dataList.sTotalOutboundTonnageQty + +this.dataList.sTotalIssueAdjustmentQty - +this.dataList.sMessageDeliverQty + +this.dataList.sMessageReplenishmentQty
			// 	this.dataList.sTotalErpQty = +this.dataList.sTotalQty - detail
			// 	console.log(e)
			// },
			// // 开单未提吨数this.dataList.sTotalIssueAdjustmentQty 
			// onIssueAdjustment(e) {
			// 	console.log(e.detail)
			// 	let detail = Number(e.detail.value)
				
			// 	if (!detail) {
			// 		console.log('转换',detail)
			// 		// e.detail.value = e.detail.value.substring(0,e.detail.value.length-1)
			// 		// this.dataList.sTotalIssueAdjustmentQty = e.detail.value
			// 		this.dataList.biaoshi = '0'
			// 		if (this.dataList.biaoshi == '0') {
			// 			detail = 0
			// 		}
			// 	}else{
			// 		this.dataList.biaoshi = ''
			// 	}
			// 	this.dataList.sTotalQty = +this.dataList.sTotalInventoryDateQty + +this.dataList.sTotalInboundTonnageQty - +this.dataList.sTotalOutboundTonnageQty + detail - +this.dataList.sMessageDeliverQty + +this.dataList.sMessageReplenishmentQty
			// 	this.dataList.sTotalErpQty = +this.dataList.sTotalQty - +this.dataList.sGoodsOwnerConfirmQty
				
			// },
			// // 短信发货吨数this.dataList.sMessageDeliverQty
			// onDeliverQty(e) {
			// 	let detail = Number(e.detail.value)
			// 	this.dataList.sTotalQty = +this.dataList.sTotalInventoryDateQty + +this.dataList.sTotalInboundTonnageQty - +this.dataList.sTotalOutboundTonnageQty + +this.dataList.sTotalIssueAdjustmentQty - detail + +this.dataList.sMessageReplenishmentQty
			// 	this.dataList.sTotalErpQty = +this.dataList.sTotalQty - this.dataList.sGoodsOwnerConfirmQty
			// 	console.log(e)
			// },
			// // 短信补单吨数this.dataList.sMessageReplenishmentQty
			// onReplenishmentQty(e) {
			// 	let detail = Number(e.detail.value)
			// 	this.dataList.sTotalQty = +this.dataList.sTotalInventoryDateQty + +this.dataList.sTotalInboundTonnageQty - +this.dataList.sTotalOutboundTonnageQty + +this.dataList.sTotalIssueAdjustmentQty - +this.dataList.sMessageDeliverQty + detail
			// 	this.dataList.sTotalErpQty = +this.dataList.sTotalQty - this.dataList.sGoodsOwnerConfirmQty
			// 	console.log(e)
			// },
			// bindChange(e) {
			// 	this.timeRes = e.format('yyyy-MM-dd')
			// 	this.dataList.sStockDate = this.timeRes
			// 	console.log('时间时间', this.dataList.sDeliveryDate)
			// },
			//关闭上浮窗
			closePicker(){
				this.inputDisabled = false
			},
			
			// //打开
			// remarkPicker(){
			// 	this.inputDisabled = true
			// 	this.$refs.remark._open()
			// },
			// //确定：接收子组件传来的参数
			// remarkChange(checked){
			// 	this.addremarkData.jobId = checked.value
			// 	this.addremarkData.codeName = checked.label
			// 	this.dataList.sWarehouseId = this.addremarkData.jobId
			// 	this.inputDisabled = false
			// },
			// async sRemark() {
			// 	let userInfo = uni.getStorageSync("userInfo");
			// 	let warehouse = userInfo.warehouse
				
			// 	this.warehouse = warehouse.map(ele => {
			// 		return{
			// 			value: ele.id,
			// 			label: ele.name
			// 		}
			// 	})
			// 	this.formList.sWarehouse = this.warehouse
			// 	this.formList.sWarehouseName = this.warehouse[0].label
			// 	this.formList.sWarehouseId = this.warehouse[0].value
			// 	if (this.dataList.sWarehouseId) {
			// 		this.addremarkData.jobId = this.dataList.sWarehouseId
			// 		this.addremarkData.codeName = remark.filter(a => a.codeValue == this.addremarkData
			// 			.jobId)[0].codeName
			// 	}
			// }

			// 疫情影响
			//打开
			sThicknessRangePicker(){
				this.inputDisabled = true
				this.$refs.sThickness._open()
			},
			//确定：接收子组件传来的参数
			sThicknessRangeChange(checked){
				this.addsThicknessRangeData.jobId = checked.value
				this.addsThicknessRangeData.codeName = checked.label
				this.dataList.sInfluenceOfTheEpidemicType = this.addsThicknessRangeData.jobId
				this.inputDisabled = false
			},
				
		},
		watch: {
			details: {
				handler(newVal) {
					if (newVal) {
						this.dataList = newVal
						// this.dataList.sTotalInventoryDateQty= newVal.sTotalInventoryDateQty.toFixed(4)
						// this.dataList.sTotalInboundTonnageQty= newVal.sTotalInboundTonnageQty.toFixed(4)
						// this.dataList.sGoodsOwnerConfirmQty= newVal.sGoodsOwnerConfirmQty.toFixed(4)
						// this.dataList.sTotalOutboundTonnageQty= newVal.sTotalOutboundTonnageQty.toFixed(4)
						// this.dataList.sTotalIssueAdjustmentQty= newVal.sTotalIssueAdjustmentQty.toFixed(4)
						// this.dataList.sTotalQty= newVal.sTotalQty.toFixed(4)
						// this.dataList.sTotalErpQty= newVal.sTotalErpQty.toFixed(4)
						if(this.dataList.sStockDate) {
							this.timeRes = formatTime(this.dataList.sStockDate, 'Y-M-D')
						}
						if (this.dataList.sInfluenceOfTheEpidemicType) {
							this.addsThicknessRangeData.jobId = this.dataList.sInfluenceOfTheEpidemicType
							this.addsThicknessRangeData.codeName = this.sThicknessRangeList.filter(a => a.value == this.addsThicknessRangeData.jobId)[
								0].label
						}
					}
					
				},
				// deep: true,
				immediate: true
			},
			TheEpidemicType: {
				handler(newval) {
					if (newval) {
						this.sThicknessRangeList = newval
						if (this.dataList.sInfluenceOfTheEpidemicType) {
							this.addsThicknessRangeData.jobId = this.dataList.sInfluenceOfTheEpidemicType
							this.addsThicknessRangeData.codeName = this.sThicknessRangeList.filter(a => a.value == this.addsThicknessRangeData.jobId)[
								0].label
						}
						
					}
					
				},
				// deep: true,
				immediate: true
			},
		}
	};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;

		&.right-icon2 {
			margin-right: 20rpx;
		}
	}

	/deep/ .rks .cnd-field-label {
		color: red;
	}
	
	.rk {
		margin: 40rpx;
		display: inline-block;
		cursor: pointer;
		color: red;
		font-size: 14px;
		text-decoration: underline;
	}

	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}

	.parti-form-dialog {

		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}

		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}

		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;

			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}
	/deep/.textarea{
		border: 1px solid #f1f1f1;
		background: rgb(255, 255, 245);
		padding:10rpx 18rpx;
		border-radius: 12rpx;
		display: block;
	}
	input{
		padding-left:20rpx;
	}
	
</style>
