<template>
	<view class="x-p-titleList">
        <view class="title">E钢铁仓储通隐私政策</view>
        <view class="text">（版本发布时间：2022年2月13日）</view>
		<view class="text">引言</view>
		<scroll-view class="scroller" scroll-y="true" scroll-with-animation="true">
			<view id="item1" class="x-p-listItem">
				<view class="text-indent">
					根据法律规定，开发者仅处理实现小程序功能所必要的信息。我们一直非常重视用户的隐私和个人信息保护。您在使用我们的产品与/或服务时，我们可能会收集和使用您的相关信息。在您使用我们的产品与/或服务前，请仔细阅读并确认您已经充分理解本政策所写明的内容，尤其是里面加粗的条款。当您使用我们的产品与/或服务时，或在本政策更新后继续使用的，即视为您已经阅读、理解并同意本政策及其更新的版本。如您不同意本政策的任何条款，您有权立即停止使用我们的产品与/或服务。
				</view>
			</view>
			
			<view id="item1" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">1.收集证件</view>
				<view>
					为了确保登录信息的真实性，开发者将在获取你的明示同意后，收集你的身份证、驾驶证、行驶证，用于确保登录信息的真实性和送货司机信息的真实性。
				</view>
			</view>

			<view id="item1" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">2.获取位置</view>
				<view>
					为了你能使用导航功能，开发者将在获取你的明示同意后，获取你的地理位置。
				</view>
			</view>

			<view id="item1" class="x-p-listItem">
				<view style="font-size: 15px;font-weight: 600" class="contentTit">3.获取相册</view>
				<view>
					为了保证图片上传功能正常使用，开发者将在获取你的明示同意后，使用你的相册权限。
				</view>
			</view>
		
		</scroll-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
				toView:''
			}
		},
		methods: {
			
		}
	}
</script>

<style lang="scss">
	page{
		background: #fff;
	}
	.header_88{
		height: calc(var(--status-bar-height) + 100rpx);
	}
	.StatusBarPanel{
		width: 100%;
		height: var(--status-bar-height);
		background-color: #fff;
		position: fixed;
		top: 0;
		z-index: 1;
	}
	
	.title {
        width: 100%;
        color:#000;
        text-align: center;
        font-size: 42rpx;
        font-weight: 600;
        margin: 20rpx;
    }
    .text{
        width: 100%;
        color:#000;
        text-align: center;
        font-size: 36rpx;
        font-weight: 600;
        margin: 20rpx;
    }
	.privacyTop{
		// border: 1px solid red;
		width: 95%;
		display: flex;
		margin: auto;
		margin-top: 20rpx;
		line-height: 50rpx;
	}
	
	.tit {
		// border: 1px solid red;
		width: 95%;
		display: flex;
		margin: auto;
		line-height: 50rpx;
		margin-top: 10rpx;
        font-size: 38rpx;
        font-weight:700;
        margin: 20rpx;
	}
	
	.xp-t-title {
		.xp-t-titleItem{
			// border: 1px solid red;
			width: 90%;
			display: flex;
			margin: auto;
			line-height: 50rpx;
			color: blue;
			font-weight: 800;
			line-height: 80rpx;
		}
	}
	
	.x-p-listItem{
		// border: 1px solid red;
		width: 90%;
		margin: auto;
		line-height: 75rpx;
	}
    .text-indent{
        text-indent:35px
    }
    .marginLeft{
        margin-left: 50rpx;
    }
</style>
