<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>收货明细</block>
		</cnd-navbar>
		<search-bar placeholder="输入商品查询" @confirm="bindConfirmEvent"></search-bar>
		<view class="list-container"><mescroll-item :formData="formData" ref="me" @leftAction="bindTitleClick"></mescroll-item></view>
		<!-- <view class="function-box index-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" :loading="commitLoading" @clickEvent="bindCommit">提交</cnd-button></view>
		</view> -->
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue';
import CndButton from '../components/button/button.vue';
import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-detail-item.vue';
import CndForm from '../components/form/cnd-form';
import CndFormItem from '../components/form-item/cnd-form-item';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'detail',
	components: { CndNavbar, CndButton, SearchBar, MescrollItem, CndForm, CndFormItem },
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '', //上架单id
				parameter: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			info: {},
			clickItem: {},
			pageObj: {},
			parameters: {
				"sId": "",
				"sQtx": "",
				"_parameters": "sId,sQtx",
				"_parameterTypes": "string,string",
				"dcID": "wmsjccwis",
				"_boId": "wmsjccwis_ifsJcwmsInBillDetailBO_bo",
				"_methodName": "splitWmsInBillDetail",
				"_methodParameterTypes": "String,String"
			},
			parWeight: 0
		};
	},
	computed: {

	},
	onLoad(e) {
		this.formData.sId = e.id;
	},
	onShow() {
		if (!this.isReload) {
			this.isReload = true;
		} else {
			this.$refs.me.mescroll.resetUpScroll();
		}
	},
	methods: {
		toBack() {
			this.$util.pageBack();
		},
		bindConfirmEvent(value) {
			uni.hideKeyboard();
			this.formData.parameter = value;
			this.$refs.me.mescroll.triggerDownScroll();
		},

		bindCommit() {
			let list = this.$refs.me.pdList;
			for (let i in list) {
				if (list[i].sIsFinish == 0) {
					uni.showModal({
						title: '提示',
						content: '存在未完成记录，请处理',
						showCancel: false
					});
					return;
				}
			}
			uni.showModal({
				title: '提示',
				content: '确认提交？',
				success: async res => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								sSheetCode: 'wms.receipt.bill',
								sId: this.formData.sId,
								_parameters: 'sSheetCode,sId',
								_parameterTypes: 'string,string',
								dcID: 'wmsjccwis',
								_boId: 'wmsjccwis_ifsJcwmsInBillBO_bo',
								_methodName: 'doSubmitJcwmsInBill',
								_methodParameterTypes: 'String,String'
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '提交成功',
							// 	icon: 'none'
							// });
							this.$refs.mpopup.open({
								type:'success',
								content:'提交成功',
								timeout:2000,
							});
							uni.navigateTo({
								url: '/pOperationLib/receiving/index?page=2'
							})
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});	
						}
					}
				}
			});
		},
		bindTitleClick(item) {
			this.parWeight = 0
			this.parameters['sQtx'] = ''
			this.$refs.par.open()
			console.log(item)
			this.clickItem = item
		},
		bindParDialogChange(e) {
			console.log(e)
			// if(e.show) this.$refs.loading.open()
		},
		async getInfo() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.list[this.formData.index].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsInBillDetailBO_bo',
					_methodName: 'queryJcwmsInBillDetailById',
					_methodParameterTypes: 'String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('待拣货明细', info);
				this.info = info;
				await this.getImgList()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
			uni.hideLoading();
		},
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss">

</style>
