<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>收货单列表</block>
		</cnd-navbar>
		<search-bar placeholder="输入车牌号或派车单号" @confirm="bindConfirmEvent" :scanningCode="true"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-item.vue'
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem },
		data() {
			return {
				formData: {
					parameter: ''
				},
				isReload: false,
				page: null
			}
		},
		onLoad (option) {
			this.page = option.page
		},
		onShow() {
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
			})
			if (this.page == 1) {
				this.$store.dispatch('toSetPage', 1)
			} else if (this.page == 2) {
				this.$store.dispatch('toSetPage', 2)
			}
			const { page } = this.$store.state
			console.error(page === 1 ? '废钢' : '建材')
			if(!this.isReload) return
			this.$refs.me.mescroll.triggerDownScroll()
			this.isReload = false
		},
		methods: {
			// toBack () {
			// 	uni.navigateTo({
			// 		url: `/pOperationLib/kunei/index?page=${this.$store.state.page}`
			// 	})
			// },
			bindConfirmEvent(value) {
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	// @import "../../common/style/nav.scss";
	/deep/ .list-box {
		margin-left: 16rpx;
		margin-right: 16rpx;
		&.mark {
			.container {
				background: pink;
			}
		} 
	}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
