<template>

	<view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-content title="发货通知日期" :value="setInfo.sScheduleDeliveryTime || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="ERP出仓单号" :value="setInfo.erpCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="发货通知单号" :value="setInfo.sCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="提货单位" :value="setInfo.vSubBuyOrSaleName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="货主" :value="setInfo.vSubGoodsOwnerName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="setInfo.vSubWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<block v-for="(item, index) in pdList" :key="index">
					<view class="listArt">
						<cnd-list-content title="品名" :value="item.vExtend1Name || item.vSubGoodsDetailName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
						<cnd-list-content title="货品名称" :value="item.sArtnoName || item.sArtName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
						<cnd-list-content title="通知吨数" :value="String(item.sQty)" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
						<cnd-list-content title="已拣配吨数" :value="String(item.amountsQty)" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
					</view>
				</block>
			</cnd-list-group>
		</view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-title title="车牌号/预拣配" v-if="curIndex == '0' && userRoleName" icon="icon-cnd-fitness" id="id" :rightDisared="false" rightDelLabel="新增" @redDel="onSee"></cnd-list-title>
				<cnd-list-title title="车牌号/预拣配" v-else icon="icon-cnd-fitness" id="id"></cnd-list-title>
				<view v-for="(item, ind) in testOptions" :key="ind" class="mgb24" style="">
					<view class="displayflex">
						<!-- <i class="iconfont redDel icon-cnd-close-circle-solid" v-if="curIndex == '0' && userRoleName" @click="bindsLicenseTo(item)"></i> -->
						<view :class="['text',{'greenText': item.sStatus == 1}]" @click="bindParConfirmTo(item)" v-if="curIndex == '0' && userRoleName">{{item.sLicensePlate}}</view>
						<view class="text2" v-else>{{item.sLicensePlate}}</view>
						<view class="butcz">
							<view class="buttomBlue" v-if="curIndex == '0' && userRoleName" @click="bindIdTo(item)">上传证件照</view>
							<view class="buttomBlue" v-else @click="bindIdckTo(item)">查看证件照</view>
							<view class="buttoms" v-if="curIndex == '0' && userRoleName" @click="bindsLicenseTo(item)">删除</view>
						</view>
					</view>
					<view class="tableSta">
						<tableList :list="item.list" :curIndex="curIndex" :sStatus="item.sStatus" :userRoleName="userRoleName" @chang="onDel"></tableList>
					</view>
				</view>
			</cnd-list-group>
		</view>
		<cnd-pop-content v-model="show">
			<view class="textarea" :style="'height:'+phoneHeight">
				<view class="footer">
					<view class="item cancel" @click="bindParClose">取消</view>
					<view class="item define" @click="bindParConfirm">确定</view>
				</view>
				<textarea maxlength="1000" v-if="show == true" :adjust-position="true" placeholder="若是多个车牌号，车牌号之间请用逗号隔开，例如：闽D666666，闽D888888" v-model="addremarkData.codeName"></textarea>
			</view>
		</cnd-pop-content>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import { uniToRpx, formatTime } from '@/common/utils/index.js'
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndButton from '@/components/button/button.vue';
	import tableList from './tableList.vue';
	
	export default {
		components: {
			CndListGroup,
			CndListContent,
			CndListTitle,
			cndPopContent,
			CndButton,
			tableList,
		},
		props: {
			pdLists: Array,
			details: Array,
			info: Object,
			sId: [Number, String, Boolean],
			sWarehouseId: String,
			curIndex: String
		},
		data() {
			return {
				pdList: [],
				addremarkData: {
					jobId: '',
					codeName: "",
				},
				testOptions: [],
				tooList: [
				],
				show: false,
				selectedItem:{},
				selectedArray:[],
				setInfo:{},
				testOptionstoString:'',
				selected: {}, //选取的分类 ,用对象更方便存取数据
				userInfo:{},
				roleNameStatus: {},
				userRoleName:'',
				phoneHeight: '',
				setListTo: []
			};
		},
		mounted() {
			this.userInfo = uni.getStorageSync("userInfo");
			this.roleNameStatus = uni.getStorageSync("roleNameStatus");
			for (let i in this.userInfo.role) {
				this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.deliveryWrkbench;
				if (this.userRoleName == true) break
			}
			let _this = this;
            wx.getSystemInfo({
                success: res => {
                    _this.phoneHeight = res.windowHeight - 180 + 'px';
                }
            });
		},
		methods: {
			
			//选取分类
			onSelectClassify(item) {
				
				if (this.tooList.indexOf(item.sId) == -1) {
					this.tooList.push(item.sId)
					this.setListTo.push(item)
				} else {
					this.tooList.splice(this.tooList.indexOf(item.sId), 1); //取消
					this.setListTo.splice(this.tooList.indexOf(item), 1); //取消
				}
				console.log('打印tooList', this.tooList, this.setListTo)
				
			},
			onSee(){
				this.show = true
				this.tooList = []
				this.setListTo = []
				this.addremarkData.codeName = ''
				// this.testOptions = ''
				
			},
			
			toHide(){
				// uni.$emit('toHide')
			},
			bindParClose(){
				this.show = false
				// this.$emit('bindParClose')
				
			},
			bindParConfirm(){
				console.log('新增bindParConfirm',this.setInfo)
				this.testOptions = this.addremarkData.codeName.replace(/，/g,",").split(",")
				let setTo = []
				setTo = this.testOptions.map(ele => {
					return{
						"sOutNotifyId": this.setInfo.sId,
						"sWarehouseId": this.setInfo.sWarehouseId,
						"sLicensePlate": ele
					}
					
				})
				this.setAdd(setTo)
				this.show = false
			},
			bindIdckTo(item){
				// let str=encodeURIComponent(JSON.stringify(this.setInfo))
				uni.navigateTo({
					
					url: `/pOperationLib/deliveryNotice/idPhoto?page=${this.$store.state.page}&vSubStockReceiptId=${item.vSubStockReceiptId}&sCarInfoId=${item.sId}&curIndex=${this.curIndex}&showTo=3`
				});
				this.show = false
			},
			bindIdTo(item){
				// let str=encodeURIComponent(JSON.stringify(this.setInfo))
				uni.navigateTo({
					
					url: `/pOperationLib/deliveryNotice/idPhoto?page=${this.$store.state.page}&vSubStockReceiptId=${item.vSubStockReceiptId}&sCarInfoId=${item.sId}&curIndex=${this.curIndex}&showTo=1`
				});
				this.show = false
			},
			bindParConfirmTo(item){
				let str=encodeURIComponent(JSON.stringify(this.setInfo))
				uni.navigateTo({
					
					url: `/pOperationLib/deliveryNotice/productName?page=${this.$store.state.page}&sId=${this.setInfo.sId}&sCarInfoId=${item.sId}&sBuyOrSale=${this.info.sBuyOrSale}&info=${str}`
				});
				this.show = false
			},
			// 添加车辆信息
			async setAdd(setTo) {
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores": {
							"mapParams": {
								"rowSet": {
									"primary": setTo,
									"filter": [],
									"delete": []
								},
								"name": "mapParams",
								"pageNumber": 1,
								"pageSize": 2147483647,
								"recordCount": 0,
								"rowSetName": "wms.storage.entity.WmsOutNotifyCarInfo"
							}
						},
						"parameters": {
							"_parameters": "mapParams",
							"_parameterTypes": "pojoList",
							"dcID": "wmsis",
							"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
							"_methodName": "addCarInfo",
							"_methodParameterTypes": "java.util.List"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
					// 		this.$emit('bindParClose')
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					this.$emit('bindParClose')
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			// 删除
			async bindsLicenseTo(item) {
				uni.showModal({
					title: '提示',
					content: '是否确认删除？',
					success: (res)=> {
						if (res.confirm) {
							this.actionsLicense(item)
						} else if (res.cancel) {
							console.log('取消');
						}
					}
				});
				
			},

			async actionsLicense(e){
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						"parameters":{
							"sId": e.sId,
							"sWarehouseId": this.setInfo.sWarehouseId,
							"_parameters": "sId,sWarehouseId",
							"_parameterTypes": "string,string",
							"dcID": "wmsis",
							"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
							"_methodName": "deleteCarInfo",
							"_methodParameterTypes": "String,String"
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
					// 		this.$emit('bindParClose')
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					this.$emit('bindParClose')
				} else {
					// uni.showToast({
					// 	title: '失败提示：'+`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`失败提示：'+${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			
			// 删除明细
			onDel(item){
				this.setDel(item)
				console.log('删除',item)
				
			},
			async setDel(item) {
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						dataStores: {},
						"parameters":{
							"sId": item.sId,
							"sWarehouseId":this.setInfo.sWarehouseId,
							"_parameters": "sId,sWarehouseId",
							"_parameterTypes": "string,string",
							"dcID": "wmsis",
							"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
							"_methodName": "deleteCarInfoDetail",
							"_methodParameterTypes": "String,String"
							
						}
					}
				);
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: "操作成功",
					// 	icon: "none",
					// 	success: () => {
					// 		this.$emit('bindParClose')
					// 	},
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'操作成功',
						timeout:2000,
					});
					this.$emit('bindParClose')
				} else {
					// uni.showToast({
					// 	title: '失败提示：'+`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: "none",
					// 	mask: true,
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`失败提示：'+${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			},
			 change(e) {},
			
		},
		watch: {
			details: {
				handler(newval){
					if (newval) {
						this.testOptions = newval
					}
				},
				// deep: true,
				immediate: true 
			},
			pdLists: {
				handler(newval){
					if (newval) {
						this.pdList = newval
					}
				},
				// deep: true,
				immediate: true 
			},
			info: {
				handler(newval){
					if (newval) {
						this.setInfo = newval
						this.setInfo.sScheduleDeliveryTime = this.setInfo.sScheduleDeliveryTime ? formatTime(this.setInfo.sScheduleDeliveryTime) : '无'
						console.log('详细信息',this.setInfo)
						// this.getList()
					}
				},
				deep: true,
				// immediate: true 
			},
		}
	};
</script>

<style lang="scss" scoped>
	
	.tableSta{
		margin-top: 16rpx;
		border:1px solid #eee;
	}
	.list-box {
		margin-bottom: 6rpx;
		/deep/ &.mark {
			.container {
				background: pink;
			}
		} 
	}
	.list-box{
		position: relative;
	}
	/deep/.textarea{
		// padding:10rpx 18rpx;
		border-radius: 12rpx;
		display: block;
		// height: 400rpx!important;
		
		
	}
	input{
		padding-left:20rpx;
	}
	
	.getInfo{
		padding: 10rpx 0;
		border-bottom: 3px solid #f1f1f1
	}
	.enclosure{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: 70rpx;
		padding: 0 28rpx;
		margin: 0 0 14rpx 0;
		box-sizing: border-box;
		width: 100%;
		border-bottom: 2rpx solid #f5f5f5;
		i{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40rpx;
			width: 40rpx;
			border-radius: 50%;
			background-color: #f1ebf9;
			margin-right: 16rpx;
			font-style: normal;
			color: #999;
			font-size: 20rpx;
		}
		text{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 30rpx;
		}
	}
	.codeDisplay{
		display: flex;
		flex-direction: column;
    	flex-wrap: nowrap;
		padding: 28rpx 20rpx;
		.mgb24{
			// width: 50%;
			padding: 14rpx 0;
			font-size: 34rpx;
			text{
				padding:20rpx 30rpx;
				color: #1fa4fd;
				border: 1px solid #dedede;
			}
		}
	}
	.mgb24{
		// width: 50%;
		// padding: 14rpx 0;
		// font-size: 34rpx;
		border-bottom:8rpx solid #f1f5f7;
		.displayflex{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: baseline;
			margin: 0 30rpx;
			.text{
				padding:14rpx 30rpx 0 0rpx;
				color: #1fa4fd;
				// border: 1px solid #dedede;
				display: block;
				// text-align: right;
				font-weight: 600;
			}
			.greenText{
				color: #20a856!important;
				
			}
			.text2{
				padding:14rpx 30rpx 0 0rpx;
				color: #666;
				// border: 1px solid #dedede;
				display: block;
				// text-align: right;
				font-weight: 600;
			}
			.butcz{
				display: flex;
				.buttoms{
					// float: right;
					border: 1px solid #b50000;
					border-radius: 12rpx;
					color:#b50000;
					padding:2rpx 14rpx 2rpx 14rpx;
					
					font-size: 28rpx;
					margin: 0 6rpx;
				}
				.buttomBlue{
					border: 1px solid #2891f3;
					border-radius: 12rpx;
					color:#2891f3;
					padding:2rpx 14rpx 2rpx 14rpx;
					margin: 0 6rpx;
					font-size: 28rpx;
				}
			}
			
		}
	}
	.footer {
		z-index: 1000;
		background: #ffffff;
		height: 80rpx;
		// display: flex;
		// justify-content: center;
		flex-wrap: nowrap;
		border-top: 2rpx solid #f5f5f5;
		border-bottom: 2rpx solid #f5f5f5;
		padding: 0 40upx;
		.item {
			flex: 1;
			height: 90upx;
			border-radius: 0;
			background-color: #ffffff11!important;
			border:0!important;
			line-height: 90upx;
		}
		.cancel{
			color: #999!important;
			float: left;
		}
		.define{
			color: #1fa4fd!important;
			float: right;
		}
	}
	.atNull{
		color: #999;
		text-align: center;
		padding: 50rpx 0;
		font-size: 30rpx;
	}
 .classifyBigBox {
    // margin: 30rpx 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24rpx;
  }

  .oneClassify {
    display: flex;
    align-items: center;
    padding: 12rpx 17rpx;
    justify-content: center;
    background: F7F7F7;
    border-radius: 13rpx;
    color: #999;
    border: 2rpx solid #dedede;
	font-size: 36rpx;
  }

  .selectActive {
    background: #2891f3;
    color: #FFFFFF;
  }
.listArt{
	border-top:8rpx solid #f1f5f7;
}
</style>
