<template>
	<view>
		<!-- 数据列表 -->
		<block v-for="(item, index) in pdList" :key="index">
			<view class="list-box" @click="goStore(item)">
				<cnd-list-group>
					<view class="item-list">
						<text class="title">品名</text>
						<text class="val">{{item.vExtend1Name || item.vSubGoodsDetailName || '无'}}</text>
					</view>
					<view class="item-list">
						<text class="title">货品名称</text>
						<text class="val">{{item.sArtnoName || item.sArtName || '无'}}</text>
					</view>
					<view class="item-list">
						<text class="title">通知件数</text>
						<text class="val">{{item.sQtx}}</text>
					</view>
					<view class="item-list">
						<text class="title">通知重量</text>
						<text class="val">{{item.sQty}}</text>
					</view>
				</cnd-list-group>
			</view>
		</block>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import cndScroll from '@/components/scroll/mescroll-uni.vue';
import { uniToRpx } from '@/common/utils/index.js'
import CndButton from '../../components/button/button.vue'
import CndListGroup from '@/components/list-group/list-group.vue'
export default {
	components: {
		cndScroll,
		CndButton,
		CndListGroup
	},
	props: {
		formData: Object
	},
	data() {
		return {
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar
		};
	},
	computed: {
	},
	mounted() {
		// 第一个tab,自动加载数据
		this.getList();
	},
	methods: {
		
		async getList() {
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sOutNotifyId": this.formData.sId,
					"sWarehouseId": this.formData.sWarehouseId,
					"_parameters": "sOutNotifyId,sWarehouseId",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
					"_methodName": "queryOutNotifyDetailByOutNotifyId",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细货号查询', list);
				uni.hideLoading();
				this.pdList = list;
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`失败提示：'+${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		goStore(item){
			let str=encodeURIComponent(JSON.stringify(item))
			uni.navigateTo({
				
				url: `/pOperationLib/deliveryNotice/spreview?page=${this.$store.state.page}&sId=${this.formData.sId}&info=${str}&sCarInfoId=${this.formData.sCarInfoId}&sBuyOrSale=${this.formData.sBuyOrSale}&sGoodsOwnerId=${this.formData.sGoodsOwnerId}&sWarehouseId=${this.formData.sWarehouseId}`
			});
		}
	}
};
</script>
<style lang="scss" scoped>
	.addArt {
		position: absolute;
		top: 40%;
    	right: 0px;
		transform: translate(0, -50%);
	}
	// .list-box {
	// 	margin-left: 16rpx;
	// 	margin-right: 16rpx;
	// 	position: relative;
	// }
	// .list-box-item {
	// 	background-color: #fff;
	// 	border-radius: 16rpx;
	// 	padding: 24rpx;
	// 	color: #262626;
	// 	font-size: 32rpx;
	// 	line-height: 40rpx;
	// 	padding-right: 100upx;
	// 	.label {
	// 		color: #000;
	// 	}
	// }
	.list-box {
		margin-left: 16rpx;
		margin-right: 16rpx;
		margin-top: 16rpx;
		overflow: hidden;
		.item-list {
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			flex-direction: row;
			-webkit-box-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			justify-content: space-between;
			padding: 6rpx 24rpx;
			box-sizing: border-box;
			width: 100%;
			font-size: 32rpx;
			line-height: 40rpx;
			.title {
				color: #8c8c8c;
				display: inline-block;
				width: 160rpx;
				min-width: 160rpx;
			}
			.blue{
				color:#408CDA;
			}
			.val {
				margin-left: 10rpx;
				-webkit-box-flex: 1;
				flex-grow: 1;
				color: #262626;
				display: flex;
				-webkit-box-align: center;
			}
		}
		.btn {
			overflow: hidden;
			color: #fff;
			background-color: #408CDA;
			width: 140rpx;
			height: 40rpx;
			font-size: 10px;
			text-align: center;
			line-height: 40rpx;
			border-radius: 8rpx;
			cursor: pointer;
		}
	}
</style>
