<template>
	<view>
		<view class="list-box" v-if="info.sId">
			<cnd-list-group>
				<cnd-list-content title="品名" :value="info.vExtend1Name || info.vSubGoodsDetailName || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="货号名称" :value="info.sArtnoName || info.sArtName || '无'" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="通知吨数" :value="String(info.sQty)" type="alignLeft"></cnd-list-content>
				<cnd-list-content title="通知件数" :value="String(info.sQtx)" type="alignLeft"></cnd-list-content>
			</cnd-list-group>
		</view>
		<search-bar placeholder="请输入库位OR钢卷号" @confirm="bindConfirmEvent" :scanningCode="true"></search-bar>
		<cnd-scroll :top="top" bottom="0" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<pd-list :list="pdList" :formData="formData" ref="me" :info="info"></pd-list>
		</cnd-scroll>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">确定</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
	<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
	
</template>

<script>
// import PdList from './pd-spreview-list.vue';
import cndScroll from '@/components/scroll/mescroll-uni.vue';
import PdList from './pd-spreview-list.vue';
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListContent from '@/components/list-group/list-content.vue';
import CndButton from '../../components/button/button.vue';
import SearchBar from '../../components/search/index.vue'
import { uniToRpx } from '@/common/utils/index.js';
export default {
	components: {
		PdList,
		cndScroll,
		CndListGroup,
		CndListContent,
		CndButton,
		SearchBar,
	},
	props: {
		formData: Object,
		info: Object
	},
	data() {
		return {
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				// isLock: true,
				auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 10, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar,
			daList: [],
			parameter: ''
		};
	},
	computed: {
		top() {
			const CustomBar = this.CustomBar;
			return uniToRpx(parseInt(CustomBar) + 180);
		}
	},
	methods: {
		bindConfirmEvent(value) {
				
			uni.hideKeyboard()
			this.parameter = value
			this.$nextTick(() => {
				this.mescroll.triggerDownScroll()
			})
		},
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			mescroll.resetUpScroll();
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				mescroll.num,
				mescroll.size,
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess(curPageData.length);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					this.pdList = this.pdList.concat(curPageData); //追加新数据
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(pagenum, pagesize, successCallback, errorCallback) {
			let {info} = this
			uni.showLoading({
				title: '请稍后...'
			})
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				"dataStores": {
					"mapParams": {
						"rowSet": {
							"primary": [
								{
									"sWarehouseId": this.info.sWarehouseId,
									"sArtId": this.info.sArtId,
									"sGoodsOwnerId": this.formData.sGoodsOwnerId,
									"vSubDpsWarehouseLocationName": this.parameter,
									"vSubGoodsId": this.info.sExtend1,
								}
							],
							"filter": [],
							"delete": []
						},
						"name": "mapParams",
						"pageNumber": 1,
						"pageSize": 2147483647,
						"recordCount": 0,
						"rowSetName": "com.cnd.wms.storage.stock.dto.WmsStockBalanceDTO"
					}
				},
				"parameters": {
					"sWarehouseId": this.formData.sWarehouseId,
					"pageIndex": pagenum,
					"pageSize": pagesize,
					"_parameters": "mapParams,sWarehouseId,pageIndex,pageSize",
					"_parameterTypes": "pojo,string,string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
					"_methodName": "queryWmsStockBalanceDTOsShow",
					"_methodParameterTypes": "com.cnd.wms.storage.stock.dto.WmsStockBalanceDTO,String,int,int"
				}
			});
			uni.hideLoading()
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				// let pageObj = {
				// 	pageNumber: data.pageNumber,
				// 	pageSize: data.pageSize,
				// 	recordCount: data.recordCount,
				// 	totalPage: this.getPageCount(data.recordCount, data.pageSize)
				// };
				// uni.setStorageSync('pageObj', pageObj);
				// let list = data || [];
				// list.forEach(item => {
				// 	item.sQty = item.sQty.toFixed(3)
				// })
				// list = list.map(ele=>{
				// 	return{
				// 		...ele,
				// 		sQtyNum: '0',
				// 	}
				// })
				console.log('查询可拣配信息', list);
				successCallback && successCallback(list);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`失败提示：'+${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// 确定接口
		async submit (showResult = true) {
			this.daList = this.$refs.me.daList
			
			// for(let i in this.daList){
			// 	if (i <= this.daList.length) {
			// 		this.sumvSubPlanQty += this.daList[i].vSubPlanQty
			// 		console.log('打印可用吨数',this.sumvSubPlanQty)
			// 		if (this.sumvSubPlanQty > this.info.sQty) {
			// 			this.sumvSubPlanQty = 0
			// 			uni.showToast({
			// 				title: '提示：拣配吨数总和不能大于通知吨数',
			// 				icon: 'none'
			// 			});
			// 			return

			// 		}
			// 	}else{
			// 		break
			// 	}
				
			// }
			for(let i = 0; i < this.daList.length; i++){
				if(this.daList[i].vSubPlanQtx == 0){
					this.daList.splice(this.daList.findIndex(item => item.vSubPlanQtx == 0), 1);
					i--;
				}
			}
			this.daList = this.daList.map(ele => {
				return{
					"sCarInfoId": this.formData.sCarInfoId,//车辆
					"sOutNotifyDetailId": this.formData.sId,//明细
					"sWarehouseAreaId": ele.sDpsWarehouseAreaId,//kuqu
					"sWarehouseLocationId": ele.sDpsWarehouseLocationId,//库位
					"sArtId": ele.sArtId,//货号
					"sStockBalanceId": ele.sId,//库存
					"sGoodsId": ele.vSubGoodsId,//品名
					"sQtx": ele.vSubPlanQtx,//件数
					"sQty": ele.vSubPlanQty,//重量
				}
			})
			console.log('打印传值',this.daList)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {
					"mapParams": {
						"rowSet": {
							"primary": this.daList,
							"filter": [],
							"delete": []
						},
						"name": "mapParams",
						"pageNumber": 1,
						"pageSize": 2147483647,
						"recordCount": 0,
						"rowSetName": "wms.storage.entity.WmsOutNotifyCarInfoDetail"
					}
				},
				parameters: {
					"_parameters": "mapParams",
					"_parameterTypes": "pojoList",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
					"_methodName": "addCarInfoDetails",
					"_methodParameterTypes": "java.util.List"
				}
			});
			if (showResult) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/deliveryNotice/detail')
					// 			// console.log('返回状态',iIndex,getCurrentPages().length)
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = false
					// 			uni.navigateBack({
					// 				// delta: iIndex === 2 ? 2 : getCurrentPages().length - iIndex - 3
					// 				delta: iIndex === -1 ? 1 : getCurrentPages()
					// 				.length - iIndex - 1,
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pOperationLib/deliveryNotice/detail')
						// console.log('返回状态',iIndex,getCurrentPages().length)
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = false
						uni.navigateBack({
							// delta: iIndex === 2 ? 2 : getCurrentPages().length - iIndex - 3
							delta: iIndex === -1 ? 1 : getCurrentPages()
							.length - iIndex - 1,
						})
					}, 500)
				} else {
					this.sumvSubPlanQty = 0
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`失败提示：'+${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		getPageCount(totalnum, limit) {
			return totalnum > 0 ? (totalnum < limit ? 1 : totalnum % limit ? parseInt(totalnum / limit) + 1 : totalnum / limit) : 0;
		},
		bindAction(obj) {
			this.$emit('action', obj);
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin: 16rpx 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
}
</style>
