<template>
	<view>
		<cnd-table :columns="columns" :list="list" @delete="deleteFn" v-if="curIndex == '0' && userRoleName && sStatus != 1"></cnd-table>
		<cnd-table :columns="FormList" :list="list" v-else></cnd-table>
	</view>
</template>

<script>
	import cndTable from "./table/table.vue"
	// import cndTableColumn from "cndapp-ui/components/table/table-column.vue"

	export default {
		name: 'pd-list',
		components: {
			cndTable,
			// cndTableColumn
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			userRoleName: Boolean,
			curIndex: String,
			sStatus:Number,
			sId: {
				// 数据列表
				type: String,
				default () {
					return '';
				}
			}
		},
		data () {
			return {
				columns: [
					
					{
						title: '品名',
						key: 'vSubArtName',
						$width:"240"
					},
					{
						title: '重量',
						key: 'sQty',
						$width:"140",
					},
					{
						title: "库位",
						key: "vSubWarehouseLocationName",
						$width:"170",
					},
					{
						title: "操作",
						key: "$operate",
						$width:"110",
						$operateList: [{
								label: "删除",
								event: "delete",
								id: "delete",
								styles: 'btn-delete'
							}
						]
					}
				],
				FormList: [
					
					{
						title: '品名',
						key: 'vSubArtName',
						$width:"340"
					},
					{
						title: '重量',
						key: 'sQty',
						$width:"140",
					},
					{
						title: "库位",
						key: "vSubWarehouseLocationName",
						$width:"180",
					}
				],
			}
		},
		methods: {
			deleteFn(data) {
				this.$emit('chang', data.row)
				
				
			},
		}
	}
</script>

<style lang="scss" scoped>
/deep/.btn-delete{
	font-size: 26rpx;
}
</style>
