<template>

	<view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-content title="货主确认单号" :value="datadetails.sGoodsOwnerConfirmCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="datadetails.sWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="通知时间" :value="datadetails.sScheduleDeliveryTime || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="发货通知单号" :value="datadetails.sCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="备注" :value="datadetails.sRemark || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
			</cnd-list-group>
		</view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-title title="发货明细" icon="icon-cnd-metal-confirm-contract"></cnd-list-title>
				<view v-if="infoList.length">
					<view v-for="(item, index) in infoList" :key="index">
						<view class="getInfo">
							<cnd-list-content title="重量" :value="String(+(item.sQty.toFixed(6))) || '无'" type="alignLeft"></cnd-list-content>
							<cnd-list-content title="件数" :value="String(+(item.sQtx.toFixed(6))) || '无'" type="alignLeft"></cnd-list-content>
							<cnd-list-content title="备注" :value="item.sRemark || '无'" type="alignLeft"></cnd-list-content>
						</view>
					</view>
				</view>
				<view class="atNull" v-else>当前发货明细为空~~</view>
			</cnd-list-group>
		</view>
		<view class="list-box first-list-box">
			<cnd-list-group>
				<cnd-list-title title="附件" icon="icon-cnd-folder-open"></cnd-list-title>
				<view v-if="pdfList.length">
					<view v-for="(pdf, index) in pdfList" :key="index">
						<view class="enclosure" @click="linktap(pdf.staticPath)">
							<i>{{index + 1}}</i>
							<text>{{ pdf.sName }}</text>
						</view>
					</view>
				</view>
				<view class="atNull" v-else>当前无附件~~</view>
				<!-- <view class="enclosure" @click="linktap('https://steelwmstest.cndmaterial.com/attachment/default/e01a8c8d4d4745b8ba3114bb4e0aef11.pdf')">
					<i>2</i>
					<text>发货通知单.PDF</text>
				</view> -->
			</cnd-list-group>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import { uniToRpx, formatTime } from '@/common/utils/index.js'
	export default {
		components: {
			CndListGroup,
			CndListContent,
			CndListTitle,
		},
		props: {
			details: Object,
			sIsFinish: [Number, String, Boolean],
		},
		data() {
			return {
				inputDisabled: false,
				datadetails: {},
				dialogValue: '',
				index: undefined,
				clickItem: undefined,
				parWeight: 0,
				// 备注
				remarkList: [],
				datadetails: {
					jobId: '',
					codeName: "",
				},
				formData:{
					sDeliveryDate: ''
				},
				pdfList: [],
				infoList: []
			};
		},
		async mounted() {
		},
		methods: {
			linktap(v) {
				uni.showLoading({
					title: '加载中~~~'
				})
				// uni.showLoading({title: '加载中...',mask:true});
				let url = v;
				if(/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(url)){ //图片预览
					uni.previewImage({
						urls: [ url ],
						success: function(res) {
							console.log('打印data',res)
							uni.hideLoading()
						},
						fail: function(err) {
							console.log(err.errMsg);
							uni.hideLoading()
						}
						// longPressActions: {
						// 	itemList: ['发送给朋友', '保存图片', '收藏'],
						// 	success: function(res) {
						// 		console.log('打印data',res)
						// 		uni.hideLoading()
						// 	},
						// 	fail: function(err) {
						// 		console.log(err.errMsg);
						// 		uni.hideLoading()
						// 	}
						// }
					});
				}else{ //文件预览
					uni.downloadFile({
						url: url,
						success: function(res) {
							var filePath = res.tempFilePath;
							//打开文件有效值 doc, xls, ppt, pdf, docx, xlsx, pptx
							uni.openDocument({
								filePath: filePath,
								success: function(res) {
									uni.hideLoading()
								},
								fail() {
									// uni.showToast({
									// 	title: '暂不支持此类型',
									// 	duration: 3000
									// });
									this.$refs.mpopup.open({
										type:'warn',
										content:'暂不支持此类型',
										timeout:2500,
										isClick:false
									});	
									uni.hideLoading();
								}
							}); 
						}
					});
				}
			},
		},
		watch: {
			details(newVal) {
				this.datadetails = newVal
				this.pdfList = newVal.imgList
				this.infoList = newVal.detailList
				this.datadetails.sScheduleDeliveryTime = formatTime(newVal.sScheduleDeliveryTime, 'Y-M-D')
			}
		}
	};
</script>

<style lang="scss" scoped>
	/deep/ .iconfont {
		font-size: 40rpx;

		&.right-icon2 {
			margin-right: 20rpx;
		}
	}

	.list-box {
		margin-bottom: 6rpx;
		/deep/ &.mark {
			.container {
				background: pink;
			}
		} 
	}
	.list-box{
		position: relative;
	}
	/deep/.textarea{
		border: 1px solid #f1f1f1;
		background: rgb(255, 255, 245);
		padding:10rpx 18rpx;
		border-radius: 12rpx;
		display: block;
	}
	input{
		padding-left:20rpx;
	}
	.getInfo{
		padding: 10rpx 0;
		border-bottom: 3px solid #f1f1f1
	}
	.getInfo:last-child{
		border-bottom: 0 solid #f1f1f1
	}
	.enclosure{
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: 70rpx;
		padding: 0 28rpx;
		margin: 0 0 14rpx 0;
		box-sizing: border-box;
		width: 100%;
		border-bottom: 2rpx solid #f5f5f5;
		i{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40rpx;
			width: 40rpx;
			border-radius: 50%;
			background-color: #d3eaff;
			margin-right: 16rpx;
			font-style: normal;
			color: #2196f3;
			font-size: 20rpx;
		}
		text{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 30rpx;
		}
	}
	.atNull{
		color: #999;
		text-align: center;
		padding: 50rpx 0;
		font-size: 30rpx;
	}
</style>
