<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index" @click="goDetail(item)">
			<cnd-list-group>
				<cnd-list-content title="货主通知单号" :value="item.sGoodsOwnerConfirmCode || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="仓库" :value="item.sWarehouseName || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="通知时间" :value="item.sScheduleDeliveryTime || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="通知重量" :value="String(+(item.vSubSumQty.toFixed(6))) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="通知件数" :value="String(+(item.vSubSumQtx.toFixed(6))) || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="备注" :value="item.sRemark|| '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
				<cnd-list-content title="附件数量" :value="item.vSubAttachments || '无'" type="alignLeft" titleW="235" :valueW="true"></cnd-list-content>
			</cnd-list-group>
		</view>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListContent,
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		goDetail(item) {
			uni.navigateTo({
				url: `/pSupervisionWarehouse/noticeDelivery/detail?page=${this.$store.state.page}&id=` + item.sId + '&sWarehouseId=' + item.sWarehouseId
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	/deep/ &.mark {
		.container {
			background: pink;
		}
	} 
}
.list-box{
	position: relative;
}

</style>
