<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index">
			<cnd-list-group>
				<view class="item-list">
					<text class="title">收货通知单号</text>
					<text class="val">{{ item.sCode }}</text>
				</view>
				<view class="item-list">
					<text class="title">日期</text>
					<text class="val">{{ item.date }}</text>
				</view>
				<view class="item-list">
					<text class="title">车牌号</text>
					<text class="val">{{ item.sVehicleVesselNo }}</text>
				</view>
				<view class="item-list">
					<text class="title">客户单号</text>
					<text class="val">{{ item.sCustomerNo }}</text>
					<view class="btns" @click="goReceiving(item.sId)">收货</view>
				</view>
			</cnd-list-group>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListTitle,
		CndListContent
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		}
	},
	data() {
		return {
			createing: false
		};
	},
	methods: {
		async goReceiving(id) {
			if (this.createing) {
				return;
			}
			this.createing = true;
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					sId: id,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'wmsjccwis',
					_boId: 'wmsjccwis_ifsJcwmsReceiveWorkbenchBO_bo',
					_methodName: 'doCreateWmsInBill',
					_methodParameterTypes: 'String'
				}
			});
			this.createing = false
			if(res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData)
				console.log('入库单',data)
				uni.navigateTo({
					url: `/pOperationLib/receiving/detail?id=` + data[0].inbillId
				});
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true	
				// })
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
	overflow: hidden;
	.item-list {
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-align: start;
		align-items: flex-start;
		-webkit-box-pack: justify;
		justify-content: space-between;
		padding: 6rpx 24rpx;
		box-sizing: border-box;
		width: 100%;
		font-size: 32rpx;
		line-height: 40rpx;
		.title {
			color: #8c8c8c;
			display: inline-block;
			width: 210rpx;
			min-width: 210rpx;
		}
		.val {
			margin-left: 10rpx;
			-webkit-box-flex: 1;
			flex-grow: 1;
			color: #262626;
			display: flex;
			-webkit-box-align: center;
		}
	}
	.btns {
		overflow: hidden;
		color: #fff;
		background-color: #408cda;
		width: 140rpx;
		height: 40rpx;
		font-size: 10px;
		text-align: center;
		line-height: 40rpx;
		border-radius: 8rpx;
		cursor: pointer;
	}
}
</style>
