<template>
	<view class="container" :style="{background: background}">
		<view class="input-area">
			<text class="iconfont icon-cnd-search c-gray-8"></text>
			<input style="width:100%" type="text" v-model="value" :adjust-position="false" confirm-type="search" @confirm="bindConfirm" :placeholder="placeholder" placeholder-style="color: #8C8C8C; font-size: 28rpx" />
			<text @click="deleteins" class="deleteins iconfont icon-cnd-close-circle-outline c-gray-8" v-if="value"></text>
			<text @click="scanning" class="scanCode iconfont icon-cnd-qr-scanner c-gray-8" v-if="scanningCode"></text>
		</view>
		<view class="search-btn" @click="bindClick">搜索</view>
	</view>
</template>

<script>
	export default {
		name: 'index',
		props: {
			background: {
				type: String,
				default() {
					return '#F1F5F7'
				}
			},
			placeholder: String,
			scanningCode: {
				type: Boolean,
				default: false
			},
		},
		data() {
			return {
				value: ''
			}
		},
		methods: {
			bindClick() {
				uni.hideLoading()
				this.$emit('confirm', this.value)
			},
			bindConfirm() {
				this.$emit('confirm', this.value)
			},
			scanning() {
				uni.scanCode({
					scanType: ['qrCode', 'barCode'],
					success: res => {
						console.log('条码类型：' + res.scanType);
						console.log('条码内容：' + res.result);
						// this.value = res.result
						let a_ = res.result.replace(/，/g,",")
						if (a_.indexOf(',') != -1) {
							this.value = a_.substring(0,a_.lastIndexOf(","))
						}else{
							this.value = res.result
						}
						this.bindClick()
						// this.$emit('scanning', this.value)
					}
				});
				// this.value = this.value.substring(0,this.value.lastIndexOf("，")-1)
				
			},
			deleteins() {
				this.value = ''
				this.bindClick()
			},
		}
	}
</script>

<style lang="scss" scoped>
	.container {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
	.scanCode{
		font-size: 54rpx!important;
		color: cornflowerblue;
	}
	.deleteins{
		font-size: 54rpx!important;
		color: rgb(177, 176, 176);
	}
</style>
