<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>待收货列表</block>
		</cnd-navbar>
		<search-bar placeholder="请输入车号或贸易方" @confirm="bindConfirmEvent"></search-bar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import SearchBar from '../components/search/index.vue'
	import MescrollItem from './components/mescroll-item.vue'
	export default {
		name: 'index',
		components: { CndNavbar, SearchBar, MescrollItem },
		data() {
			return {
				formData: {
					parameter: ''
				},
				page: 2,
				isReload: false
			}
		},
		onShow() {
			if (this.page == 1) {
				this.$store.dispatch('toSetPage', 1)
			} else if (this.page == 2) {
				this.$store.dispatch('toSetPage', 2)
			}
			const { page } = this.$store.state
			console.error(page === 1 ? '废钢' : '建材')
			if (!this.isReload) {
				this.isReload = true;
			} else {
				this.$refs.me.mescroll.resetUpScroll();
			}
		},
		onLoad (option) {
			this.page = option.page
		},
		methods: {
			// toBack () {
			// 	uni.navigateTo({
			// 		url: `/pOperationLib/index/index`
			// 	})
			// },
			bindConfirmEvent(value) {
				uni.hideKeyboard()
				this.formData.parameter = value
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
				})
			}
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss">
	// @import "../../common/style/nav.scss";
</style>
