<template>
	<view class="cnd-tabs-demo">
		<cnd-navbar color="white" :isBack="true">
			<!-- <block slot='left'>
				<block v-for="(coms,i) in userInfo.role" :key="i">
					<text
						@click="complete_ask"
						v-if="userInfo.role[i].roleName == roleNameStatus.deliveryMan ||
						userInfo.role[i].roleName == roleNameStatus.salesman">
						结算单
					</text>
				</block>
			</block> -->
			<block slot='content'>查询进度</block>
		</cnd-navbar>
		<view class="demo-box">
			
            <view class="list-container">
                <mescroll-item ref="me" :formData="formData" :state="state" :warehouse="warehouse" :stateList="stateList"></mescroll-item>
                <!-- <mescroll-item ref="me1" :formData="formData" :i="1" :index="currentIndex5"></mescroll-item> -->
            </view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from './components/cnd-navbar.vue'
    import MescrollItem from './components/mescroll-item.vue'
	
	export default {
		name: 'cnd-tabs-demo',
		data() {
			return {
				currentIndex5: null,
				state:[],
				stateList: [],
				badge:'no',
				dataList5: [],
                formData: {
					parameter: '',
					status: '',
					scrollHeight: 0,
				},
				sId: [],
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				show: false,
				userInfo: {},
				roleNameStatus: {},
				sWarehouseId: '',
				warehouse: [],
				
			}
		},
		components: {
			CndNavbar,
            MescrollItem,
			
		},
		onShow(){
			// this.$nextTick(() => {
			// 	this.$refs.me.mescroll.triggerDownScroll()
			// 	this.$refs.me.mescroll.scrollTo(0, 300)
			// })
			this.userInfo = uni.getStorageSync("userInfo");
			let warehouse = this.userInfo.warehouse
			let _b = [{name: '--所有仓库--', id: 'quanbu'}]
			warehouse = _b.concat(warehouse);
			this.warehouse = warehouse.map(ele => {
				return{
					value: ele.id,
					label: ele.name
				}
			})
			
		},
		mounted() {
			this.sState()
			this.roleNameStatus = uni.getStorageSync('roleNameStatus')
			// for(let i in this.userInfo.role){
			// 	if(this.userInfo.role[i].roleName == this.roleNameStatus.driver && this.userInfo.role.length <= 1 || this.userInfo.role[i].roleName == this.roleNameStatus.securityStaff && this.userInfo.role.length <= 1){
			// 		this.formData.scrollHeight = 420
			// 	}else{
			// 		this.formData.scrollHeight = 570
			// 	}
			// }
		},
		methods: {
			complete_ask(){
				let pdfFildId = ''
				let signImgId = '';
				let projectId = '';
				uni.navigateTo({
					url: `/pAppointmentDelivery/autograph/index?pdfFildId=${pdfFildId}&signImgId=${signImgId}`
				});
			},
			async sState() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					
					"dataStores": {},
					"parameters": {
						"type": "dev.common.sheet.status.wx.delivery",
						"_parameters": "type",
						"_parameterTypes": "string",
						"dcID": "wmsmetalis",
						"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
						"_methodName": "queryCodeList",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					let stateList = []
					stateList = stateList.concat([list[0], list[2], list[3], list[4], list[5], list[6]])
					this.state = stateList
					let infoList = []
					for(let i in this.userInfo.role){
						
						if(this.userInfo.role[i].roleName == this.roleNameStatus.Quality){
							// let driverSecurity = []
							infoList = infoList.concat()
						}
						if(this.userInfo.role[i].roleName == this.roleNameStatus.Storekeeper){
							// let driverSecurity = []
							// this.state = driverSecurity
							infoList = infoList.concat()
						}
						if(this.userInfo.role[i].roleName == this.roleNameStatus.driver){
							let driverSecurity = []
							infoList = infoList.concat([stateList[1], stateList[5]])
						}
						if(this.userInfo.role[i].roleName == this.roleNameStatus.securityStaff){
							let driverSecurity = []
							infoList = infoList.concat([stateList[1], stateList[2], stateList[5]])
						}
						if(this.userInfo.role[i].roleName == this.roleNameStatus.salesman){
							// let driverSecurity = driverSecurity.concat([list])
							// this.state = list
							infoList = infoList.concat(stateList)
							// break
						}
						if(this.userInfo.role[i].roleName == this.roleNameStatus.deliveryMan){
							infoList = infoList.concat(stateList)
						}
						// if(this.userInfo.role[i].roleName == this.roleNameStatus.deliveryMan_driver){
						// 	infoList = infoList.concat(list)
						// }
					}
					// 状态数组去重
					let temp = [];//这个是代表新的数组容器  最后想要得到的数组
					let index = 0;
					for(let j=0;j<infoList.length;j++){
						if(temp.indexOf(infoList[j]) == -1){
							temp[index] = infoList[j];
							index++;
						}
					}
					 this.state = temp
					 // 状态标签按钮排序
					 this.state.sort(function(a,b){return a.codeValue-b.codeValue});
					//  拼接入全部按钮
					 let _a = [{codeName: '全部', codeValue: '1'}]
					 this.stateList = _a.concat(stateList);
					 this.state = _a.concat(this.state);
					//  计算上拉列表与上边距的距离，注意搜索栏变化变化scrollHeight值也要根据高度增加
					 let scrollHeight = 450
					 let num_ = 0
					 let j_ = 0
					 for (let i = 1; i <= 10; i++){
						 num_ = i * 4
						 j_ = num_ - 3
						 scrollHeight += 75
						 if (this.state.length >= j_ && this.state.length <= num_) {
							break
						 }
					 }
					this.formData.scrollHeight = scrollHeight
					//
					 console.log('状态', this.state,this.formData.scrollHeight);
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.hideLoading();
			},
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	
	.cnd-tabs-demo {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: auto;
			// background-color: $gray-0;
			border-radius: 0;
		
			
			.demo-wrapper {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding 0 $cnd-demo-wrapper-padding 0;
				
				&.block {
					display: block;
				}
			}
		}
	}
	.demo-wrapper  .scroll-container.scrollable {
		overflow: initial;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	/deep/.navbar.custom.navbar.action {
		width: 33%!important;
		justify-content: space-between!important;
		margin-left: 24upx!important;
	}
	/deep/.cnd-field {
		margin: 0!important;
	}

	/deep/.cnd-field-item .cnd-field-label {
		width: 96upx!important;
	}

	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		padding-right: 0!important;
	}
	/deep/.cssfl {
		width: 50%;
		float: left;
	}
	/deep/.cnd-field-item {
		height: 95upx!important;
		// line-height: 65upx!important;
		padding: 32upx!important;
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 16upx 36upx 16upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	.uni-input-placeholder {
		color: black!important;
	}
</style>
