<template>
	<view class="list-content-container" :class="[type,layoutSize]">
		<view class="title-wrapper" :class="titleColor" :style="{'width': titleW +'rpx' ,'min-width': titleW +'rpx'}">
			<text :style="{'width': titleW + 'rpx'}">{{title}}</text>
		</view>
		<view class="value-wrapper" :class="[valueColor,{'valueW':valueW}]">
			<text :selectable="true">{{value}}</text>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-list-content',
		data() {
			return {

			}
		},
		props: {
			// 布局尺寸
			layoutSize: {
				type: String,
				default: 'default'
			},
			// 标题
			title: {
				type: String || Number,
				required: true
			},
			// 内容
			value: {
				type: String || Number,
				default: ''
			},
			// 对齐方式 "alignLeft", "alignBoth"
			type: {
				type: String,
				default: 'alignBoth'
			},
			// 标题颜色 "blue","default","red","green"
			titleColor: {
				type: String,
				default: 'default'
			},
			// 内容颜色 "blue","default","red","green"
			valueColor: {
				type: String,
				default: 'default'
			},
			titleW: {
				type: String,
				default: ''
			},
			
			valueW: {
				type: Boolean,
				default(){
					return false
				}
			}
			
		},
		methods: {

		}
	}
</script>

<style lang="scss">
	
	// 正常尺寸
	$list-content-padding-v: 6rpx;
	$list-content-padding-h: 24rpx;
	$list-content-value-margin-left: 10rpx;
	$list-content-align-both-width: 330rpx;
	
	$list-content-title-width: 150rpx;
	$list-content-title-text-width: 128rpx;
	
	// 小尺寸
	$small-list-content-padding-v: 2rpx;
	$small-list-content-padding-h: 12rpx;
	$small-list-content-value-margin-left: 10rpx;
	$small-list-content-align-both-width: 330rpx;
	
	$small-list-content-title-width: 150rpx;
	$small-list-content-title-text-width: 128rpx;

	.list-content-container {
		display: flex;
		flex-direction: row;
		// align-items: center;
		align-items: flex-start;
		justify-content: space-between;
		padding: $list-content-padding-v $list-content-padding-h;
		box-sizing: border-box;

		width: 100%;
		font-size: $font-size-body;
		line-height: $line-height-body;
		
		.title-wrapper {
			display: flex;
			align-items: center;
			
			&.blue{
				color: $cnd-blue-6;
			}
			&.default{
				color: $gray-6;
			}
			&.red{
				color: $red-6;
			}
			&.green{
				color: $green-6;
			}
		}
		
		.value-wrapper {
			display: flex;
			align-items: center;
			
			&.blue{
				color: $cnd-blue-6;
			}
			&.default{
				color: $gray-8;
			}
			&.red{
				color: $red-6;
			}
			&.green{
				color: $green-6;
			}
		}
		
		// 两端对齐
		&.alignBoth{
			.value-wrapper{
				width: $list-content-align-both-width;
				
				text {
					width: $list-content-align-both-width;
					text-align: right;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
		
		&.alignLeft{
			justify-content:left;
			
			.title-wrapper{
				width: $list-content-title-width;
				min-width: $list-content-title-width;
				
				text {
					width: $list-content-title-text-width;
				}
			}
			
			.value-wrapper{
				margin-left: $list-content-value-margin-left;
				flex-grow: 1;
				
				text {
					width: 500rpx;
					word-wrap: break-word;
					word-break: break-all; 
					// 文字省略
					// overflow: hidden;
					// text-overflow: ellipsis;
					// white-space: nowrap;
				}
			}
		}
		
		// 小尺寸布局
		&.small {
			padding: $small-list-content-padding-v $small-list-content-padding-h;
			font-size: $small-font-size-body;
			line-height: $small-line-height-body;
			
			// 两端对齐
			&.alignBoth{
				.value-wrapper{
					width: $small-list-content-align-both-width;
					
					text {
						width: $small-list-content-align-both-width;
					}
				}
			}
			
			&.alignLeft{
				.title-wrapper{
					width: $small-list-content-title-width;
					min-width: $small-list-content-title-width;
					
					text {
						width: $small-list-content-title-text-width;
					}
				}
				
				.value-wrapper{
					margin-left: $small-list-content-value-margin-left;
					
					text {
						width: 500rpx;
					}
				}
			}
		}
	}
	.valueW text{
		width: auto !important;
	}
</style>
