<template>
	<view class="title-container" :class="layoutSize">
		<view class="icon-wrapper" v-if="!leftLabel && icon">
			<i class="iconfont" :class="icon"></i>
		</view>
		<view class="left-wrapper" v-if="leftLabel" @click.stop="leftClick">
			<slot name="left"></slot>
		</view>
		<view class="title-wrapper" :style="[(status||rightLabel)?{}:{width:'580rpx'}]">
			<text>{{title}}</text>
		</view>
		<view class="status-wrapper" :class="[statusType,statusColor]" v-if="status">
			<text>{{status}}</text>
		</view>
		<view class="right-wrapper" :class="{'disabled' : rightDisabled}" v-if="rightLabel" @click.stop="rightClick">
			<text>{{rightLabel}}</text>
		</view>
		<view class="redDel" v-if="rightDelLabel" :class="{'disared' : rightDisared}" @click.stop="rightDelClick">
			<text>{{rightDelLabel}}</text>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-list-title',
		data() {
			return {

			}
		},
		props: {
			// 布局尺寸
			layoutSize: {
				type: String,
				default: 'default'
			},
			icon: {
				type: String,
				default: 'icon-cnd-list'
			},
			title: {
				type: String || Number,
				default: ''
			},
			status: {
				type: String || Number,
				default: ''
			},
			// 颜色色调为'default', 'primary', 'danger', 'warning', 'info'
			statusColor: {
				type: String,
				default: 'primary'
			},
			// normal、bold
			statusType: {
				type: String,
				default: 'normal'
			},
			rightLabel: {
				type: String,
				default: ''
			},
			rightDelLabel: {
				type: String,
				default: ''
			},
			rightDisabled: {
				type: Boolean,
				default() {
					return false
				}
			},
			rightDisared: {
				type: Boolean,
				default() {
					return false
				}
			},
			leftLabel: {
				type: Boolean,
				default: false
			}
		},
		methods: {
			rightClick() {
				this.$emit('action')
			},
			rightDelClick() {
				this.$emit('redDel')
			},
			leftClick() {
				this.$emit('leftAciton')
			}
		}
	}
</script>

<style lang="scss">
	
	// 正常尺寸
	$list-title-height: 80rpx;
	$list-title-fixed-width: 450rpx;
	
	$list-title-padding-h: 24rpx;
	$list-title-margin-bottom: 10rpx;
	$list-title-margin-right: 20rpx;
	
	$list-title-icon-margin-right: 20rpx;
	$list-title-icon-diameter: 36rpx;
	
	// 小尺寸
	$small-list-title-height: 48rpx;
	$small-list-title-fixed-width: 450rpx;
	
	$small-list-title-padding-h: 12rpx;
	$small-list-title-margin-bottom: 6rpx;
	$small-list-title-margin-right: 10rpx;
	
	$small-list-title-icon-margin-right: 8rpx;
	$small-list-title-icon-diameter: 28rpx;

	.title-container {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: $list-title-height;
		padding: 0 $list-title-padding-h;
		margin: 0 0 $list-title-margin-bottom 0;
		box-sizing: border-box;

		width: 100%;
		border-bottom: 2rpx solid $gray-2;

		.icon-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;

			height: $list-title-icon-diameter;
			width: $list-title-icon-diameter;
			border-radius: 50%;
			background-color: $cnd-blue-4;

			margin-right: $list-title-icon-margin-right;

			.iconfont {
				font-size: $font-size-footnote;
				color: $gray-0;
			}
		}
		
		.left-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			
			height: 60rpx;
			width: 60rpx;
			
			padding-right: $list-title-icon-margin-right;
		}

		.title-wrapper {
			display: flex;
			align-items: center;
			color: $gray-8;
			font-size: $font-size-subhead;
			line-height: $line-height-subhead;
			width: $list-title-fixed-width;
			margin-right: $list-title-margin-right;
			
			text {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.status-wrapper {
			display: flex;
			align-items: center;
			color: $cnd-blue-5;
			font-size: $font-size-body;
			line-height: $list-title-icon-diameter;
			flex-grow: 1;
			justify-content: flex-end;
			
			// 正常状态
			&.normal {
				
			}
			
			// 加粗状态
			&.bold {
				font-weight: bold;
			}
			
			// 颜色
			&.default {
				color: $gray-7;
			}
			&.primary {
				color: $cnd-blue-5;
			}
			&.danger {
				color: $red-5;
			}
			&.warning {
				color: $orange-5;
			}
			&.info {
				color: $green-5;
			}
		}
		
		.right-wrapper {
			padding: 8.5rpx 32rpx;
			color: #4497FD;
			border: 2rpx solid #4497FD;
			font-size: 28rpx;
			border-radius: 10rpx;
			position: absolute;
			top: 50%;
			right: 160rpx;
			transform: translateY(-50%);
			
			&.disabled {
				border-color: $gray-5;
				color: $gray-5;
			}
		}
		.redDel {
			padding: 8.5rpx 32rpx;
			color: #4497FD;
			border: 2rpx solid #4497FD;
			font-size: 28rpx;
			border-radius: 10rpx;
			position: absolute;
			top: 50%;
			right: 24rpx;
			transform: translateY(-50%);
			&.disared{
				border-color: red;
				color: red;
			}
		}
		// 小号尺寸
		&.small {
			height: $small-list-title-height;
			padding: 0 $small-list-title-padding-h;
			margin: 0 0 $small-list-title-margin-bottom 0;
			
			.icon-wrapper {
				height: $small-list-title-icon-diameter;
				width: $small-list-title-icon-diameter;
			
				margin-right: $small-list-title-icon-margin-right;
			
				.iconfont {
					font-size: $small-font-size-footnote;
				}
			}
			
			.title-wrapper {
				font-size: $small-font-size-body;
				line-height: $small-line-height-body;
				width: $small-list-title-fixed-width;
				margin-right: $small-list-title-margin-right;
			}
			
			.status-wrapper {
				font-size: $small-font-size-body;
				line-height: $small-list-title-icon-diameter;
				
				// 正常状态
				&.normal {
					
				}
				
				// 加粗状态
				&.bold {
					font-weight: bold;
				}
				
				// 颜色
				&.default {
					color: $gray-7;
				}
				&.primary {
					color: $cnd-blue-5;
				}
				&.danger {
					color: $red-5;
				}
				&.warning {
					color: $orange-5;
				}
				&.info {
					color: $green-5;
				}
			}
			
			// 这两个是啥？？ 
			.left-wrapper {
			
			}
			
			.right-wrapper {
				
			}
		}
	}
</style>
