<template>
	<view class="search-group" :class="{'show': value}" :style="[{top:StatusBar+'px',height:'calc(100vh - ' + StatusBar + 'px)'}]">
		<view class="header-wrapper">
			<view class="close-icon" @click="toHide()">
				<i :class="['iconfont', icon]"></i>
			</view>
			<view class="title">
				<text>{{title}}</text>
			</view>
			<view class="right-slot-wrapper" @click="rightClick()">
				<slot name="right"></slot>
			</view>
		</view>
		
		<view class="content-wrapper" id="search-group-content">
			<!-- <scroll-view scroll-y show-scrollbar :style="{ height: WindowHeight * 2 - 100 + 'rpx' }"> -->
			<scroll-view scroll-y show-scrollbar>
				<slot></slot>
				<view class="blank-index-group"></view>
			</scroll-view>
			<view style="height: 122rpx;"></view>
			<slot name="bottom"></slot>
		</view>

		
	</view>


</template>

<script>
	import cndButton from "@/components/button/button.vue"

	export default {
		name: 'cnd-search-group',
		data() {
			return {
				isEmptyCount: 0,
				CustomBar: this.CustomBar,
				StatusBar: this.StatusBar
			}
		},
		components: {
			cndButton
		},
		props: {
			value: {
				type: Boolean,
				default: false
			},
			closeAuto: {
				type: Boolean,
				default: true
			},
			title: {
				type: String,
				default: '筛选'
			},
			icon: {
				type: String,
				default: 'icon-cnd-close'
			},
		},
		provide() {
			return {
				searchGroup: this,
			}
		},
		methods: {
			toHide() {
				this.$emit('input', false)
				this.$emit('toHide')
			},
			getAllValue() {
				// console.log('click-search-group-determine')
				if(this.closeAuto){
					this.$emit('getAllValue')
					this.$emit('input', false)
				} else {
					this.$emit('getAllValue')
				}
			},
			emptyAllValue() {
				// console.log('click-search-group-empty')
				this.$emit('emptyAllValue')
				this.isEmptyCount = this.isEmptyCount + 1
			},
			rightClick() {
				this.$emit('rightClick')
			}
		}
	}
</script>

<style lang="scss" scoped>
	$search-group-header-height: 100rpx;
	$search-group-footer-height: 136rpx;
	$search-group-container-padding-h: 32rpx;
	$search-group-container-padding-left: $search-group-container-padding-h;
	$search-group-container-padding-right: $search-group-container-padding-h - 16rpx;
	$search-group-footer-button-width: 174rpx * 2;

	.search-group {
		z-index: 998;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $gray-0;

		visibility: hidden;
		transform: translateY(+100%);
		transition: all .5s ease-in-out;

		display: flex;
		flex-direction: column;

		&.show {
			visibility: visible;
			transform: translateY(0);
		}

		.header-wrapper {
			width: 750rpx;
			box-sizing: border-box;
			border-bottom: 2rpx solid $gray-4;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			height: $search-group-header-height;
			min-height: $search-group-header-height;
			padding: 0 $search-group-container-padding-h;
			// margin-bottom: 10rpx;
			
			box-shadow: 0 10rpx 10rpx -6rpx rgba(0, 0, 0, 0.1);

			.close-icon {
				width: 160rpx;
				height: 64rpx;
				display: flex;
				// justify-content: center;
				align-items: center;

				.iconfont {
					font-size: 64rpx;
					color: $gray-9;
				}
			}

			.title {
				line-height: $line-height-subhead;
				font-size: $font-size-body;
				font-weight: 700;
				color: $gray-9;
			}

			.right-slot-wrapper {
				width: 160rpx;
			}
		}

		.footer-wrapper {
			min-height: $search-group-footer-height;
			padding: 20rpx;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			// border-top: 2rpx solid $gray-4;
			.block {
				width: $search-group-footer-button-width;
				box-sizing: border-box;
			}
		}

		.content-wrapper {
			z-index: 999;
			width: 750rpx;
			flex-grow: 1;
			overflow-x: hidden;
			overflow-y: scroll;
			box-sizing: border-box;
			// padding-left: $search-group-container-padding-left;
			
			.blank-index-group {
				width: 750rpx;
				display: block;
				box-sizing: border-box;
				height: 120rpx;
			}
		}
	}
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.new-button{
		width: 100%;
		.block {
			// margin: 0 10rpx;
			width: 100% !important;
			button {
				width: 100% !important;
				background-color: #4191ea;
				color: #fff;
				font-size: 34rpx;
				padding: 6rpx 0;
			}
		}
	}
</style>
