<template>
	<view v-if="showPopup" style="z-index: 999;">
		<uni-transition v-if="maskShow" class="uni-mask--hook" :mode-class="['fade']" :styles="maskClass" :show="showTrans" @click="close" />
		<uni-transition :duration="400" :mode-class="['slide-bottom']" :styles="transClass" :show="showTrans">
			<view class="uni-popup__wrapper-box" @click.stop="clear" style="z-index: 1000;">
				<slot />
			</view>
		</uni-transition>
	</view>

</template>
<script>
	export default {
		name: 'parti-dialog',
		data() {
			return {
				showPopup: false,
				maskShow: true,
				transClass: {
					'position': 'fixed',
					'left': 0,
					'right': 0,
					'bottom': 0,
					'height': '600rpx',
					'background': '#e0dfe0',
					'zIndex': 999,
					'borderRadius': '24rpx 24rpx 0 0'
				},
				showTrans: false,
				maskClass: {
					'position': 'fixed',
					'bottom': 0,
					'top': 0,
					'left': 0,
					'right': 0,
					'backgroundColor': 'rgba(0, 0, 0, 0.4)',
					'zIndex': 998
				},
				timer: null
			}
		},
		methods: {
			clear(e) {
				e.stopPropagation()
			},
			open() {
				this.showPopup = true
				this.$nextTick(() => {
					new Promise(resolve => {
						clearTimeout(this.timer)
						this.timer = setTimeout(() => {
							this.showTrans = true
							// fixed by mehaotian 兼容 app 端
							this.$nextTick(() => {
								resolve();
							})
						}, 50);
					}).then(res => {
						// 自定义打开事件
						this.$emit('change', {
							show: true,
							type: this.type
						})
					})
				})
			},
			close(type) {
				this.showTrans = false
				this.$nextTick(() => {
					this.$emit('change', {
						show: false,
						type: this.type
					})
					clearTimeout(this.timer)
					// 自定义关闭事件
					this.customOpen && this.customClose()
					this.timer = setTimeout(() => {
						this.showPopup = false
					}, 300)
				})
			},
		}
	}
</script>