<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>待拣货明细</block>
		</cnd-navbar>
		<!-- <search-bar placeholder="输入商品查询" @confirm="bindConfirmEvent"></search-bar> -->
		<view class="tab">
			<cnd-tabs :length="tabList.length">
				<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
				 @getActive="changeTab(item.status)"></cnd-tab>
			</cnd-tabs>
		</view>
		<view class="list-container"><mescroll-item @status="status" :account="account" :formData="formData" :insexstatus="String(curIndex)" ref="me"></mescroll-item></view>
		<view class="function-box index-page" v-if="curIndex == 0">
			<view class="block"><cnd-button color="primary" size="block" icon="no" :loading="commitLoading" @clickEvent="bindCommit">提交</cnd-button></view>
		</view>
		
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue';
import CndButton from '../components/button/button.vue';
// import SearchBar from '../components/search/index.vue';
import MescrollItem from './components/mescroll-detail-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
import CndTab from '@/components/tabs/tab.vue';
import CndTabs from '@/components/tabs/tabs.vue';
export default {
	name: 'detail',
	components: { 
		CndNavbar,
		CndButton, 
		// SearchBar, 
		MescrollItem ,
		CndTab,
		CndTabs
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sStockReceiptId: '',
				parameter: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			tabList: [{
					title: '实际拣货',
					status: 0
				},
				{
					title: '复核拣货',
					status: 2
				}
			],
			curIndex: 0,
			userInfo:{},
			account: '',
			sAppletSubmitter: '',
			accountNme: true,
		};
	},
	onLoad(e) {
		let { id } = e;
		this.formData.sStockReceiptId = id;
		
		this.userInfo = uni.getStorageSync('userInfo')
		this.account = this.userInfo.user.account
		// if(this.$refs.me.pdList){
		// 	for(let i in this.$refs.me.pdList){
		// 		this.sAppletSubmitter = this.$refs.me.pdList[i].sAppletSubmitter
				
		// 		break
		// 	}
		// }
		// console.log('按钮控制1',this.accountNme,this.sAppletSubmitter)
	},
	onShow() {
		// this.account = this.userInfo.user.account
		// this.sAppletSubmitter = this.$refs.me.sAppletSubmitter
		// if(this.account == this.sAppletSubmitter){
		// 	this.accountNme = false
		// }
		// console.log('按钮控制',this.accountNme,this.sAppletSubmitter,this.userInfo.user.account)
		if (!this.isReload) {
			this.isReload = true;
		} else {
			this.$refs.me.mescroll.triggerDownScroll()
			this.$refs.me.mescroll.scrollTo(0, 300)
		}
		
		// if(this.$refs.me.pdList){
		// 	this.userInfo = uni.getStorageSync('userInfo')
		// 	this.account = this.userInfo.user.account
		// 	for(let i in this.$refs.me.pdList){
		// 		this.sAppletSubmitter = this.$refs.me.pdList[i].sAppletSubmitter
		// 		break
		// 	}
		// 	// this.sAppletSubmitter = this.$refs.me.sAppletSubmitter
		// 	if(this.account == this.sAppletSubmitter){
		// 		this.accountNme = false
		// 	}
		// 	console.log('按钮控制',this.accountNme,this.sAppletSubmitter)
		// }
	},
	methods: {
		status(e){
			this.curIndex = e
		},
		async changeTab(event) {
			
			// this.formData.primary.sSheetStatus = event
			this.curIndex = event
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
			// if(this.$refs.me.pdList){
			// 	// this.userInfo = uni.getStorageSync('userInfo')
			// 	this.account = this.userInfo.user.account
			// 	for(let i in this.$refs.me.pdList){
			// 		this.sAppletSubmitter = this.$refs.me.pdList[i].sAppletSubmitter
			// 		break
			// 	}
			// 	// this.sAppletSubmitter = this.$refs.me.sAppletSubmitter
			// 	if(this.account == this.sAppletSubmitter){
			// 		this.accountNme = false
			// 	}
			// 	console.log('按钮控制',this.accountNme,this.sAppletSubmitter)
			// }
			// console.log('this.status', this.curIndex);
		},
		toBack() {
			uni.navigateTo({
				url: `/pOperationLib/warehouseEx/index`
			});
		},
		bindConfirmEvent(value) {
			uni.hideKeyboard();
			this.formData.parameter = value;
			this.$refs.me.mescroll.triggerDownScroll();
		},
		bindCommit() {
			// console.log(999, this.$refs.me.pdList)
			
			// // 通知件数: item.sPieceCount || 0}${item.sPieceCountUnitName
			// // 拣货件数: tem.sPickPieceCount || 0}${item.sPieceCountUnitName
			// let list = this.$refs.me.pdList;
			// let fIndex = list.findIndex(item => item.sStatus == 0)
			// if(fIndex !== -1) return uni.showModal({
			// 	title: '提示',
			// 	content: '存在未完成记录, 请处理',
			// 	showCancel: false
			// })
			// const fIndex2s = list.filter((item, index) => (item.sPickPieceCount || 0) < (item.sPieceCount || 0))
			// .map((ele, i) => { return { idx: i + 1, value: ele.sPieceCount - ele.sPickPieceCount} })
			// if(fIndex2s && fIndex2s.length) return uni.showModal({
			// 	title: '提示',
			// 	content: `第${fIndex2s.map((item, index) => index).join(',')}条数据未拣货, 未拣货数据分别为${fIndex2s.map(item => item.value).join(',')}, 是否确定提交`,
			// 	success: (res) => {
			// 		if(res.confirm) this.commitRequest()
			// 	}
			// })
			// const fIndex3s = list.filter((item, index) => (item.sPickPieceCount || 0) > (item.sPieceCount || 0))
			// .map((ele, i) => { return i })
			// console.log('fIndex2s', fIndex2s, 'fIndex3s', fIndex3s)
			this.commitRequest()
			// if(fIndex3s && fIndex3s.length) return uni.showToast({
			// 	title: `第${fIndex3s.map(item => item + 1).join(',')}条数据拣货件数超出!`,
			// 	icon: 'none'
			// })
			// if(fIndex2 !== -1)
			
			// list.forEach((item, index) => {
			// 	let sPickPieceCount = 
			// 	let sPieceCount = item.sPieceCount || 0
			// 	console.log(sPickPieceCount, sPieceCount)
			// 	let res1 = 
			// 	if(sPickPieceCount < sPieceCount) {
			// 		uni.showModal({
			// 				title: '提示',
			// 				content: `第${parseInt(index + 1)}条数据未拣货件数${sPieceCount - sPickPieceCount}, 是否确定提交?`,
			// 				success: (res) => {
			// 					if(res.confirm) this.commitRequest()
			// 				}
			// 			})
			// 		} 
			// 	}
			// })
			// for (let i in list) {
			// 	let sPickPieceCount = list[i].sPickPieceCount || 0
			// 	let sPieceCount = list[i].sPieceCount || 0
			// 	console.log(sPickPieceCount, sPieceCount)
			// 	if (list[i].sStatus == 0) {
			// 		uni.showModal({
			// 			title: '提示',
			// 			content: '存在未完成记录, 请处理',
			// 			showCancel: false
			// 		});
			// 		return;
			// 	} 
			// 	else if(sPickPieceCount < sPieceCount) {
			// 		uni.showModal({
			// 			title: '提示',
			// 			content: `第${parseInt(i + 1)}条数据未拣货件数${sPieceCount - sPickPieceCount}, 是否确定提交?`,
			// 			success: (res) => {
			// 				if(res.confirm) this.commitRequest()
			// 			}
			// 		})
			// 	} 
			// 	else if(sPickPieceCount > sPieceCount) {
			// 		return uni.showToast({
			// 			title: `第${parseInt(i + 1)}条数据拣货件数超出!`,
			// 			icon: 'none'
			// 		}) 
			// 	} else {
			// 		this.commitRequest()
			// 	}
			// }
		},
		commitRequest() {
			uni.showModal({
				title: '提示',
				content: '确认提交？',
				success: async res => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								"sSheetCode": "wms.pick.plan.real",//wms.pick.plan.real
								"sId": this.formData.sStockReceiptId,
								"_parameters": "sSheetCode,sId",
								"_parameterTypes": "string,string",
								"dcID": "wmsis",
								"_boId": "wmsis_ifsWmsStockReceiptBO_bo",
								"_methodName": "doFinishWmsStockReceipt",
								"_methodParameterTypes": "String,String"
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '提交成功',
							// 	icon: 'none'
							// });
							this.$refs.mpopup.open({
								type:'success',
								content:'提交成功',
								timeout:2000,
							});
							this.curIndex = 2
							this.$refs.me.mescroll.resetUpScroll();
							// this.$util.pageBack();
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});	
						}
					}
				}
			});
		},
		
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
// #ifdef MP-WEIXIN
	.contentsTab{
		display: contents !important;
	}
// #endif
.tab{
	margin: 16rpx 0;
}
</style>
<style>
page {
	background-color: #f1f5f7;
}
.function-box.new-page .block{
	margin: 0 10rpx!important;
}
</style>
