<template>
	<view class="cnd-selector-group-container">
		<view class="mask" @click.prevent="toHide()" :class="{'mask-show': value}" @touchmove.stop.prevent="doNothing"></view>
		<view class="content-wrapper" :class="{'show': value}" :style="{height:(height * WindowHeight * 2) + 'rpx'}"
		 @touchmove.stop.prevent="doNothing">
			<view class="slot-wrapper">
				<slot></slot>
				<!-- <scroll-view scroll-y show-scrollbar @scrolltolower="reachBottomEvent()" :style="{ height: ((height * WindowHeight * 2) - 172 + 'rpx') }">
					<slot></slot>
					<view class="blank-index-group"></view>
				</scroll-view> -->
			</view>
		</view>
	</view>
</template>

<script>
	import _ from 'lodash'
	
	export default {
		name: 'cnd-selector-group',
		data() {
			return {
				WindowHeight: this.WindowHeight,
			}
		},
		props: {
			// 控制弹窗是否弹出
			value: {
				type: Boolean,
				default: false
			},
			// 占屏幕高度的百分比
			height: {
				type: Number,
				default: 0.5
			},
		},
		methods: {
			// 禁止触摸
			doNothing() {},
			// 键盘关闭
			hideKeyboard() {
				uni.hideKeyboard();
			},
			// 关闭弹窗
			toHide() {
				this.$emit('input', false);
				this.$emit('close');
				this.hideKeyboard();
			}
		}
	}
</script>

<style lang="scss" scoped>
	
	.cnd-selector-group-container {
		// 遮罩
		.mask {
			z-index: 998;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.6);
			visibility: hidden;
			opacity: 0;
			transition: all .3s ease-in-out;

			
		}
		.mask-show {
			visibility: visible;
			opacity: 1;
		}

		.content-wrapper {
			z-index: 999;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 16rpx 16rpx 0 0;
			background-color: $gray-0;
			visibility: hidden;

			transform: translateY(100%);
			transition: all .3s ease-in-out;

			&.show {
				transform: translateY(0);
				visibility: visible;
			}

			@-webkit-keyframes rotation {
				from {
					-webkit-transform: rotate(0deg)
				}

				to {
					-webkit-transform: rotate(360deg)
				}
			}
		}
		
		.blank-index-group {
			width: 750rpx;
			display: block;
			box-sizing: border-box;
			height: 120rpx;
		}
	}
</style>
