<template>
  <!-- <div v-show="showCanvas"> -->
  <div class="contain">
	<view class="topHint">签名区域</view>
    <canvas
      canvas-id="mycanvas"
      class="canvas"
      disable-scroll="true"
      @touchstart="starts"
      @touchmove="moves"
      @touchend="end"
	  style="height:330rpx;width:100%;background:#fff;"
    ></canvas>
    <view class="content">
      <view class="function-box new-page">
        <view class="block"><cnd-button type="outlined" color="primary" size="block" icon="no" @clickEvent="clear">重签</cnd-button></view>
		<view class="block" ><cnd-button color="primary" size="block" icon="no"  @clickEvent="close">确定</cnd-button></view>
      </view>
    </view>
  </div>
</template>

<script>
import CndButton from "@/components/button/button";
import { baseUrl } from '@/common/utils/index.js';
	export default {
		components: {
			CndButton,
		},
		props: {
			sId: String,
			imgSid: String
		},
		data() {
			return {
				dom: '',
				line: [],
				radius: 0,
				// width: '0rpx',
				// height: '0rpx',
				busId: '',
				returnType: 'json',
				catalog: ''
			}
		},
		onLoad() {},
		computed: {},
		created() {
			

		},
		 mounted() {
			this.dom = uni.createCanvasContext('mycanvas', this);
			this.initCanvas()
		},
		onShow() {
			this.dom = uni.createCanvasContext('mycanvas', this);
		},
		methods: {
			// 保存图片
			close() {
				this.busId = this.sId + '-image'
				setTimeout(()=>{
					uni.canvasToTempFilePath({
							canvasId: "mycanvas",
							fileType: 'png',
							quality: 1, //图片质量
							success: (res) => {
								console.log("res", res.tempFilePath);
								let canvas = res.tempFilePath;
								this.upload(canvas)
								// uni.saveImageToPhotosAlbum({
								// 	filePath: res.tempFilePath,
								// 	success(res) {
								// 		uni.showToast({
								// 			title: '已保存到相册',
								// 			duration: 2000
								// 		});
								// 	}
								// });
							},
					},this);
				},100)
				
			},
			upload(filePath) {
				this.deteleImg()
				return new Promise((resolve) => {
					let { busId, returnType, catalog } = this;
			
					let formData = {
						returnType,
						busId,
						catalog
					};
					let header = {
						'Cookie': 'JSESSIONID=' + uni.getStorageSync('Cookie')
					};
					uni.showLoading({
						title: '上传中...',
						mask: true
					})
					let url = `${baseUrl}/techcomp/ria/richEditorAction.action`
					uni.uploadFile({
						url,
						filePath,
						formData,
						name: 'file',
						header,
						fileType: 'image',
						success: uploadFileRes => {
							console.log('333', filePath, formData,header, uploadFileRes);
							uni.hideLoading()
							resolve(uploadFileRes);
							uni.$emit('addImg');
							this.$emit('addCavas')
						},
						fail() {
							uni.hideLoading()
						}
					});
					

				});
			},
			deteleImg() {
				// let { imgList } = this;
				// if(imgList.length==1){
				console.log('打印图片id',this.imgSid)
				let res = this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						ids: this.imgSid,
						_parameters: 'ids',
						_parameterTypes: 'string',
						dcID: 'fs',
						_boId: 'fs_bsbFilesBO_bo',
						_methodName: 'deleteFile',
						_methodParameterTypes: 'String'
					}
				});
				// }
				// uni.$emit('deleteImg');
			},
			initCanvas() {
				this.dom = uni.createCanvasContext('mycanvas', this);
				// this.showCanvas = true;
				//设置画笔样式
				this.dom.lineWidth = 4;
				this.dom.lineCap = "round";
				this.dom.lineJoin = "round";
				this.dom.strokeStyle = "black";
				this.dom.fillStyle = "transparent";
				this.dom.lineWidth = 5;
				this.dom.fillRect(0, 0, 400, 700);
				this.dom.fill();
				this.dom.draw();
			},
			end(e) {},
			distance(a, b) {
				let x = b.x - a.x;
				let y = b.y - a.y;
				return Math.sqrt(x * x + y * y);
			},
			// 开始
			starts(e) {
				this.line.push({
					points: [{
						time: new Date().getTime(),
						x: e.touches[0].x,
						y: e.touches[0].y,
						dis: 0
					}]
				})
				let currentPoint = {
					x: e.touches[0].x,
					y: e.touches[0].y
				}
				this.currentPoint = currentPoint
				this.drawer(this.line[this.line.length - 1])
				// console.log('打印路线', this.line)
			},
			// 滑动
			moves(e) {
				let point = {
					x: e.touches[0].x,
					y: e.touches[0].y
				}
				this.lastPoint = this.currentPoint,
					this.currentPoint = point
				this.line[this.line.length - 1].points.push({
					time: new Date().getTime(),
					x: e.touches[0].x,
					y: e.touches[0].y,
					dis: this.distance(this.currentPoint, this.lastPoint)
				})
				this.drawer(this.line[this.line.length - 1])
			},
			// 书写
			drawer(item) {
				let x1, x2, y1, y2, len, radius, r, cx, cy, t = 0.5,
					x, y;
				var time = 0;
				if (item.points.length > 2) {
					let lines = item.points[item.points.length - 3];
					let line = item.points[item.points.length - 2];
					let end = item.points[item.points.length - 1];
					x = line.x;
					y = line.y;
					x1 = lines.x;
					y1 = lines.y;
					x2 = end.x;
					y2 = end.y;
					var dis = 0;
					time = (line.time - lines.time) + (end.time - line.time)
					dis = line.dis + lines.dis + end.dis;
					var dom = this.dom;
					var or = Math.min(time / dis * this.linePressure + this.lineMin, this.lineMax);
					cx = (x - (Math.pow(1 - t, 2) * x1) - Math.pow(t, 2) * x2) / (2 * t * (1 - t))
					cy = (y - (Math.pow(1 - t, 2) * y1) - Math.pow(t, 2) * y2) / (2 * t * (1 - t))
					dom.setLineCap('round')
					dom.beginPath();
					dom.setStrokeStyle('black')
					dom.setLineWidth(5)
					dom.moveTo(x1, y1);
					dom.quadraticCurveTo(cx, cy, x2, y2);
					dom.stroke();
					dom.draw(true)
				}
			},
			// 清除
			clear() {
				this.dom.clearRect(0, 0, 1000, 1000)
				this.dom.draw()
			},
			
		}
	}
</script>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss">
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important; 
		}
	}
}
.contain {
  height: 100vh;
  position: relative;
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
	background-color: #F1F5F7;
  .button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ffffff;
  }

  .header-box {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 20rpx;
    color: red;
  }

  .content-box {
    width: 100%;
    height: 500px;
    //   background-color: aliceblue;
    padding: 20rpx;
    box-sizing: border-box;
  }

  .signature {
    position: fixed;
    top: 30%;
    left: 2%;
    z-index: 999;
    width: 96%;
  }

  .mycanvas {
    width: 100%;
    height: 330rpx;
    background: #fff;
   
  }

  .footer {
    font-size: 14px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f2f3f5;
    .footer-wrap {
      height: 100%;
      padding: 57rpx 37rpx 17rpx 37rpx;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
  }
  .sty-single {
    position: absolute;
    top: 70rpx;
    left: 0rpx;
    width: 569rpx;
    height: 200rpx;
    z-index: 111;
  }
}
.btn {
  height: 100%;
}
.content {



  // canvas

  .btns {
    padding: 0 15px;
    height: 100upx;
    overflow: hidden;
    // position: absolute;
    // top: 20upx;
    // left: 0;
    // right: 0;
    margin: auto;
    margin-top: 40upx;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 40%;
      text-align: center;
      font-size: 28upx;
      height: 60upx;
      line-height: 60upx;
      background-color: #999;
      color: #fff;
      border-radius: 6upx;
    }
  }
}
.topHint{
	width: 100%;
	height: 80rpx;
	line-height: 80rpx;
	font-size: 30rpx;
	color: #999999;
	text-align: center;
}
</style>

