<template>
	<view>
		<cnd-navbar color="white" :isBack="true" v-if="showTo == '1'">
			<block slot='content'>上传证件照</block>
		</cnd-navbar>
		<cnd-navbar color="white" :isBack="true" v-if="showTo == '2'">
			<block slot='content'>上传车头照</block>
		</cnd-navbar>
		<cnd-navbar color="white" :isBack="true" v-if="showTo == '3'">
			<block slot='content'>查看证件照</block>
		</cnd-navbar>
		<view class="idBoy" v-if="showTo == '1'">
			<view class="icon">
				<image src="@/static/images/tips.png" />
			</view>
			<view class="text">请上传驾驶证、行驶证、身份证照片</view>
		</view>
		<view :class="['boxImg', {headstock: showTo == '2'}, {lockUp: showTo == '3'}]">
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>引用证件模板</label>
				<cnd-switch v-model="switchValue1" :disabled="false"></cnd-switch>
			</view> -->
			
			<id-img :formImg="showTo == '2' ? headstockImg : formImg" :info="info" :showTo="showTo"></id-img>
			<!-- <id-img-lock v-if="showTo == '3'" :formImg="formImg" :info="info"></id-img-lock> -->
			
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>设置为证件模板，下次可直接使用</label>
				<cnd-switch v-model="switchValue2" :disabled="false"></cnd-switch>
			</view> -->
			<view class="function-box new-page">
				<view class="block"  v-if="showTo == '1' && sSheetStatus == '20'"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveId">提交</cnd-button></view>
				<view class="block"  v-if="showTo == '1' && sSheetStatus == '30'"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveIds">提交</cnd-button></view>
				<view class="block"  v-if="showTo == '2'"><cnd-button color="primary" size="block" icon="no" @clickEvent="saveHeadstock">提交车头照</cnd-button></view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar.vue'
import CndButton from '@/components/button/button';
// import cndSwitch from "@/components/switch/switch.vue"
import idImg from '@/components/upload/idImg.vue'
export default {
	components: { 
		CndNavbar, 
		CndButton, 
		// cndSwitch, 
		idImg 
	},
	data() {
		return {
			formImg:[
				{
					title: '拍摄身份证正面照',
					img: '../../static/images/sfz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄身份证反面照',
					img: '../../static/images/sfzf.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄驾驶证照',
					img: '../../static/images/jsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄行驶证照',
					img: '../../static/images/xsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				}
			],
			headstockImg:[
				{
					title: '拍摄现场车头照',
					img: '../../static/images/ctz.png',
					sId: '',
					imgList: []
				}
			],
			switchValue1: false,
			switchValue2: false,
			showTo: '',
			info: {},
			sId: '',
			imgListNum: [],
			userInfo:{},
			sSheetStatus: ''
			
		};
	},
	onLoad(e) {
		this.sId =  e.sId
		this.sSheetStatus = e.sSheetStatus
		this.formImg[0].sId = e.sId + '_06'
		this.formImg[1].sId = e.sId + '_07'
		this.formImg[2].sId = e.sId + '_08'
		this.formImg[3].sId = e.sId + '_09'
		this.headstockImg[0].sId = e.sId + '_05'
		this.showTo = e.showTo;
		uni.$on('addImg', () => {
			this.getInfo()
		})
		uni.$on('deleteImg', () => {
			this.getInfo()
		})
		
		
	},
	mounted() {
		// this.formSubmit()
	},
	async onShow(){
		await this.images()
		await this.getInfo()
		
	},
	methods: {
		async images(){
			this.imgListNum = uni.getStorageSync('imgListNum')
			this.userInfo = uni.getStorageSync('userInfo')

			// 当前用户附件
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.userInfo.user.id,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusIdLike',
					_methodParameterTypes: 'String'
				}
			});
			let list = res.dataStores.result.rowSet.primary || [];
			this.imgListNum = list

			if(this.imgListNum && this.showTo == '1'){
				// 用户附件模板获取赋到预约单附件
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": this.sId,
							"userId": this.userInfo.user.id,
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "copyUserModelPhotosForDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				let imagesUserList = res.dataStores.result.rowSet.primary || [];
				// console.log('用户附件模板获取', imagesUserList);
			}

			// for (let i in this.imgListNum){
			// 	if(this.userInfo.role[0].userId + '_01' == this.imgListNum[i].sBusId && this.formImg[0].imgList.length == 0){
			// 		// this.formImg[0].sId = e.sId + '_01'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[0].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_02' == this.imgListNum[i].sBusId && this.formImg[1].imgList.length == 0){
			// 		// this.formImg[1].sId = e.sId + '_02'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[1].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_03' == this.imgListNum[i].sBusId && this.formImg[2].imgList.length == 0){
			// 		// this.formImg[2].sId = e.sId + '_03'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[2].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// 	if(this.userInfo.role[0].userId + '_04' == this.imgListNum[i].sBusId && this.formImg[3].imgList.length == 0){
			// 		// this.formImg[3].sId = e.sId + '_04'
			// 		// this.urlTobase64(this.imgListNum[i].staticPath)
			// 		this.formImg[3].imgInfos = this.imgListNum[i].staticPath
			// 	}
			// }
		},
		// 提交证件照
		async saveId(){
			if(this.formImg[0].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传身份证正面照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传身份证正面照！',
					timeout:2500,
					isClick:false
				});
				return
			}
			if(this.formImg[1].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传身份证背面照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传身份证背面照！',
					timeout:2500,
					isClick:false
				});
				return
			}
			if(this.formImg[2].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传驾驶证！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传驾驶证！',
					timeout:2500,
					isClick:false
				});
				return
			}
			if(this.formImg[3].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传行驶证！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传行驶证！',
					timeout:2500,
					isClick:false
				});
				return
			}
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"sBoardTicketId":this.sId,
					"sStatus":'30',
					"_parameters":"sBoardTicketId,sStatus",
					"_parameterTypes":"string,string",
					"dcID":"wmsis",
					"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
					"_methodName":"updateBoardTicketStatus",
					"_methodParameterTypes":"String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '证件照操作成功！',
				// 	icon: 'none',
				// 	success: () => {
				// 		setTimeout(() => {
				// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
				// 			let iPage = getCurrentPages()[iIndex]
				// 			iPage.$vm.isReload = false
				// 			uni.navigateBack({
				// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				// 			})
				// 		}, 500)
				// 	}
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'证件照操作成功！',
					timeout:2500,
				});
				setTimeout(() => {
					let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
					let iPage = getCurrentPages()[iIndex]
					iPage.$vm.isReload = false
					uni.navigateBack({
						delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					})
				}, 500)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		// 待进场时提交证件照
		saveIds() {
			// uni.showToast({
			// 	title: '操作成功',
			// 	icon: 'none',
			// 	success: () => {
			// 		setTimeout(() => {
			// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
			// 			let iPage = getCurrentPages()[iIndex]
			// 			iPage.$vm.isReload = false
			// 			uni.navigateBack({
			// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// 			})
			// 		}, 500)
			// 	}
			// });
			this.$refs.mpopup.open({
				type:'success',
				content:'操作成功',
				timeout:2500,
			});
			setTimeout(() => {
				let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
				let iPage = getCurrentPages()[iIndex]
				iPage.$vm.isReload = false
				uni.navigateBack({
					delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				})
			}, 500)
		},
		// 提交车头照
		async saveHeadstock(item){
			if(this.headstockImg[0].imgList.length == 0){
				// uni.showToast({
				// 	title: '请上传车头照！',
				// 	icon: 'none',
				// 	success: () => {}
				// });
				this.$refs.mpopup.open({
					type:'err',
					content:'请上传车头照！',
					timeout:2500,
					isClick:false
				});
				return
			}
			// uni.showToast({
			// 	title: '操作成功',
			// 	icon: 'none',
			// 	success: () => {
			// 		setTimeout(() => {
			// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
			// 			let iPage = getCurrentPages()[iIndex]
			// 			iPage.$vm.isReload = false
			// 			uni.navigateBack({
			// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// 			})
			// 		}, 500)
			// 	}
			// });
			this.$refs.mpopup.open({
				type:'success',
				content:'操作成功',
				timeout:2500,
			});
			setTimeout(() => {
				let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
				let iPage = getCurrentPages()[iIndex]
				iPage.$vm.isReload = false
				uni.navigateBack({
					delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				})
			}, 500)
		},
        async getInfo() {
			await this.getImgList()
			await this.getImgList2()
			await this.getImgList3()
			await this.getImgList4()
			await this.getImgList5()
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.sId + '_06',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('身份证明细图片', infos);
			this.$set(this.info, 'imgList', infos)
			this.formImg[0].imgList = this.info.imgList
		},
		async getImgList2() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.sId + '_07',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', infos);
			this.$set(this.info, 'imgList2', infos)
			this.formImg[1].imgList = this.info.imgList2
		},
		async getImgList3() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.sId + '_08',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList3', infos)
			this.formImg[2].imgList = this.info.imgList3
		},
		async getImgList4() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.sId + '_09',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList4', infos)
			this.formImg[3].imgList = this.info.imgList4
		},
		async getImgList5() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.sId + '_05',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList5', infos)
			this.headstockImg[0].imgList = this.info.imgList5
		},
	},
	watch: {
	}
};
</script>

<style lang="scss" scoped>
@import '@/components/upload/styleImg.scss';
.idBoy{
	width: 86%;
	border: 1px solid #fdf0be;
    background: cornsilk;
	display: flex;
	align-items: center;
	padding: 16upx;
	margin: auto;
	.icon {
		flex-shrink: 0;
		width: 50upx;
		height: 50upx;

		image {
			width: 50upx;
			height: 50upx;
		}
	}
	.text {
		padding-left: 20upx;
		width: 100%;
		color: #666;
		font-size: 28upx;
	}
}
	
</style>
