<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>发货工作台</block>
		</cnd-navbar>
		<detail-loc :pdLists="pdList" :info="info" @saveBefore='saveBefore' :curIndex="curIndex" :details="details" :sId="formData.sId" ref="storeForm" @change="bindParChange" @bindParClose="bindParClose"></detail-loc>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page" v-if="curIndex == '0' && userRoleName">
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="oveTo">完结</cnd-button></view>
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="$noMultipleClicks(save)">提交</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
		<!-- <view class="function-box new-page" v-if="curIndex == '0'">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">提交</cnd-button></view>
		</view> -->
	</view>
</template>
 
<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
import DetailLoc from './components/detail-loc.vue';
import CndButton from "@/components/button/button";
export default { 
	components: { 
		CndNavbar, 
		DetailLoc,  
		CndButton
	},
	data() {
		return {
			noClick: true,
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			info: {},
			details: [],
			isUpdate: false,
			saveing: false,
			dataList: {},
			testOptions: [],
			curIndex: '',
			userInfo:{},
			roleNameStatus: {},
			userRoleName:'',
			pdList: [],
			formimages:[],
			imageList:[],
		};
	},
	async onLoad(e) {
		let { id, curIndex } = e;
		this.formData.sId = id;
		this.curIndex = String(curIndex);
		await this.getdetails()
		await this.getInfo()
		// uni.$on('toHide', async() => {
		// 	await this.getdetails()
		// })
		uni.$on('headerCode', (e) => {
			this.$refs.mpopup.open({
				type:'warn',
				content:e,
				timeout:2500,
				isClick:false
			});	
		})
	},
	async onShow() {
		// await this.getList()
		// this.dataList = this.$refs.storeForm.dataList
		if (!this.isReload) {
			await this.getInfo()
			await this.getdetails()
		}
		
		this.isReload = true;
	},
	mounted () {
		this.testOptions = this.$refs.storeForm.testOptions;
		this.userInfo = uni.getStorageSync("userInfo");
		this.roleNameStatus = uni.getStorageSync("roleNameStatus");
		for (let i in this.userInfo.role) {
			this.userRoleName = this.userInfo.role[i].roleName == this.roleNameStatus.deliveryWrkbench;
			if (this.userRoleName == true) break
		}
	},
	methods: {
		async getInfo() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			// console.log(this.formData.index, this.dataList[this.formData.index].sId)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "inBillId": this.formData.sId,
				    "_parameters": "inBillId",
					"_parameterTypes": "string",
					"dcID": "wmsmetalis",
					"_boId": "wmsmetalis_ifsOutNotifyWorkbenchBO_bo",
					"_methodName": "queryOutNotifyById",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('明细11', info);
				this.info = info;
				this.getList(this.info.sId,this.info.sWarehouseId)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
			uni.hideLoading();
		},
		
		async getdetails() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sOutNotifyId": this.formData.sId,
					"_parameters": "sOutNotifyId",
					"_parameterTypes": "string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
					"_methodName": "selectCarInfo",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				let amount = []
				for (let i in details){
					if (details[i].list) {
						amount = amount.concat(details[i].list)
					}
				}
				details = details.map(ele =>{
					return{
						...ele,
						amount:amount
					}
				})
				console.log('车辆信息', details,amount);
				this.details = details;
				uni.hideLoading();
				// await this.getImgList()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getList(sId,sWarehouseId) {
			uni.showLoading({
				title: '加载中，请耐心等待！',
				mask: true
			});
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					"sOutNotifyId": sId,
					"sWarehouseId": sWarehouseId,
					"_parameters": "sOutNotifyId,sWarehouseId",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
					"_methodName": "queryOutNotifyDetailByOutNotifyId",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				
				uni.hideLoading();
				let amountsQty = 0
				this.pdList = list.map(ele =>{
					return{
						...ele,
						amountsQty: amountsQty
					}
				});
				for(let j in this.pdList){
					if (this.details.length && this.details[0].amount) {
						for(let i in this.details[0].amount){
							if(this.pdList[j].sId == this.details[0].amount[i].sOutNotifyDetailId){
								// amountsQty = 0
								this.pdList[j].amountsQty = this.pdList[j].amountsQty + this.details[0].amount[i].sQty
							}
						}
					}
				
				}
				console.log('明细货号查询2', this.pdList);
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async bindParClose(){
			await this.getInfo()
			await this.getdetails()
		},
		//完结
		oveTo(){
			uni.showModal({
				title: '提示',
				content: '是否确认完结？',
				success: (res)=> {
					if (res.confirm) {
						this.goToQuery()
					} else if (res.cancel) {
						console.log('取消');
					}
				}
			});
		},
		async goToQuery() {
			let res = await this.$http(
				"techcomp/ria/commonProcessor!commonMethod.action", {
					dataStores: {},
					parameters: {
						"sId": this.formData.sId,
						"_parameters": "sId",
						"_parameterTypes": "string",
						"dcID": "wmsis",
						"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
						"_methodName": "end",
						"_methodParameterTypes": "String"
					},
				}
			);
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: "操作成功",
				// 	icon: "none",
				// 	success: () => {
				// 		setTimeout(() => {
				// 			let iIndex = getCurrentPages().findIndex(
				// 				(ele) => ele.route === "pOperationLib/deliveryNotice/index"
				// 			);
				// 			let iPage = getCurrentPages()[iIndex];
				// 			iPage.$vm.isReload = false;
				// 			uni.navigateBack({
				// 				delta: iIndex === -1 ? 1 : getCurrentPages()
				// 					.length - iIndex - 1,
				// 			});
				// 		}, 500);
				// 	},
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'操作成功',
					timeout:2000,
				});
				setTimeout(() => {
					let iIndex = getCurrentPages().findIndex(
						(ele) => ele.route === "pOperationLib/deliveryNotice/index"
					);
					let iPage = getCurrentPages()[iIndex];
					iPage.$vm.isReload = false;
					uni.navigateBack({
						delta: iIndex === -1 ? 1 : getCurrentPages()
							.length - iIndex - 1,
					});
				}, 500);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: "none",
				// 	mask: true,
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// 提交接口
		async save() {
			// this.imageList = []
			// this.formimages = []
			// for(let i in this.details){
			// 	if(this.details[i].sStatus == 0){
			// 		let id = this.details[i].sId
			// 		// this.getImgList(this.details[i].sId)
			// 		this.formimages = []
					
			// 		for (let j = 1; j <= 4; j++){
				
			// 			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
			// 				dataStores: {},
			// 				parameters: {
			// 					sId: id + '_0'+ j,
			// 					_parameters: 'sId',
			// 					_parameterTypes: 'string',
			// 					dcID: 'fs',
			// 					_boId: 'fs_bsbFilesBO_bo',
			// 					_methodName: 'getBsbFilesByBusId',
			// 					_methodParameterTypes: 'String'
			// 				}
			// 			});
			// 			let infos = res.dataStores.result.rowSet.primary || [];
			// 			// this.$set(this.info, 'imgList', infos)
			// 			this.formimages.push(infos)
			// 			// console.log('身份证明细', j,this.formimages);
			// 		}
			// 		this.imageList.push(this.formimages)
			// 		// console.log('身份证明细图片总和', i,this.imageList);
			// 		for(let s in this.imageList){
			// 			if(this.imageList[s][0].length != 0 && this.imageList[s][1].length != 0 || this.imageList[s][2].length != 0){}else
			// 			{
			// 				this.$refs.mpopup.open({
			// 					type:'warn',
			// 					content:`${this.details[i].sLicensePlate}：请上传身份证正反照！或 请上传驾驶证！`,
			// 					timeout:2500,
			// 					isClick:false
			// 				});
			// 				return
			// 			}
			// 			if(this.imageList[s][3].length == 0){
			// 				this.$refs.mpopup.open({
			// 					type:'warn',
			// 					content:`${this.details[i].sLicensePlate}：请上传行驶证！`,
			// 					timeout:2500,
			// 					isClick:false
			// 				});
			// 				return
			// 			}
			// 		}
			// 	}
				
			// }
			
			// return
			let res = await this.$http(
				"techcomp/ria/commonProcessor!commonMethod.action", {
					dataStores: {},
					parameters: {
						"sId": this.formData.sId,
						"sWarehouseId": this.info.sWarehouseId,
						"_parameters": "sId,sWarehouseId",
						"_parameterTypes": "string,string",
						"dcID": "wmsis",
						"_boId": "wmsis_ifsWmsOutNotifyAppletsBO_bo",
						"_methodName": "doSubmit",
						"_methodParameterTypes": "String,String"
					},
				}
			);
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: "提交成功",
				// 	icon: "none",
				// 	success: () => {
						
				// 	},
				// });
				this.$refs.mpopup.open({
					type:'success',
					content:'提交成功',
					timeout:2000,
				});
				this.getdetails()
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: "none",
				// 	mask: true,
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		// margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
/deep/.cnd-field-item .cnd-field-label {
	width: 248rpx!important;
}
// /deep/.cnd-field-value{
// 	padding-left:20rpx;
// 	background: rgb(255, 255, 245);
// }
/deep/.title-container .icon-wrapper{
	width: 50rpx!important;
	height: 50rpx!important;
}
/deep/.textareas .cnd-field-value{
	padding: 12upx 20upx!important;
	background: #f1f1f1!important;
}
/deep/textarea{
	height: 323rpx!important;
	width: 620rpx!important;
	padding:30rpx 25rpx;
	background: #ffffff!important;
	border: 1px solid #f1f1f1;
	border-radius: 10rpx;
	margin: 30rpx auto 10rpx;
}
/deep/.cnd-selector-group-container .content-wrapper{
	background-color: #f1f1f1!important;
}
/deep/ .redDel {
	font-size: 48rpx;
	color: #cd1414;
	padding-right: 18rpx;
	float: left;
}
.function-box.new-page .block{
	margin: 0 10rpx!important;
}
</style>
