<template>
	<view>
        <cnd-navbar color="white" isBack>
			<block slot='content'>发货工作台</block>
		</cnd-navbar>
		<view class="tab">
			<cnd-tabs :length="tabList.length">
				<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
				@getActive="changeTab(item.status)"></cnd-tab>
			</cnd-tabs>
		</view>
		<view class="list-container">
			<mescroll-item ref="me" :curIndex="curIndex" ></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar';
	import MescrollItem from './components/mescroll-item';
	import CndTab from '@/components/tabs/tab';
	import CndTabs from '@/components/tabs/tabs';
	export default {
		name: 'index',
		components: { 
			CndNavbar, 
			MescrollItem, 
			CndTab, 
			CndTabs 
		},
		data() {
			return {
				formData: {
					parameter: ''
				},
				isReload: false,
                isShow: false,
                userInfo: {},
				tabList: [{
						title: '未完结',
						status: 0
					},
					{
						title: '已完结',
						status: 1
					}
				],
				curIndex: 0,
				// page: null
			}
		},
		onLoad (option) {
			this.page = option.page
		},
		onShow() {
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
			this.isReload = true;
		},
		methods: {
            change(e) {},
            // 打开筛选框
			toShow() {
				this.isShow = true
			},
			// 获取筛选数据
			getAllValue(v){
				console.log('获取筛选数据', v)
				this.isShow = false
			},
			changeTab(event) {
				console.log('获取筛选数据222', event)
				this.curIndex = event
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	@import "../../common/style/nav.scss";
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
    .containerBoy {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 18upx 36upx 18upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	input{
		width: 100%;
	}
    // 
    /deep/.container{
		padding:24upx 0 0 0!important;
	}
	/deep/.navbar.custom.navbar.action {
		width: 33%!important;
		justify-content: space-between!important;
		margin-left: 24upx!important;
	}
	/deep/.cnd-field {
		margin: 0!important;
	}

	/deep/.cnd-field-item .cnd-field-label {
		width: 96upx!important;
	}
    /deep/.sCarNo .cnd-field-label {
		width: 200upx!important;
	}
	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		padding-right: 0!important;
	}
	/deep/.cssfl {
		width: 50%;
		float: left;
	}
	/deep/.cnd-field-item {
		height: 95upx!important;
		// line-height: 65upx!important;
		padding: 32upx!important;
	}
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	// .new-button{
	// 	width: 100%;
	// 	.block {
	// 		// margin: 0 10rpx;
	// 		width: 100% !important;
	// 		button {
	// 			width: 100% !important;
	// 			background-color: #4191ea;
	// 			color: #fff;
	// 			font-size: 34rpx;
	// 			padding: 6rpx 0;
	// 		}
	// 	}
	// }
	.footer-wrapper {
		// min-height: $search-group-footer-height;
		padding: 20rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		// border-top: 2rpx solid $gray-4;
		.block {
			// width: $search-group-footer-button-width;
			box-sizing: border-box;
		}
	}
	/deep/.cnd-field-item .cnd-field-label {
		color: #333;
	}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
