<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>品名查询</block>
		</cnd-navbar>
		<view class="list-container"><mescroll-item :formData="formData" ref="me"></mescroll-item></view>
		<!-- <pre-mask v-if="isPreMask"></pre-mask> -->
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
import CndButton from "@/components/button/button";
import MescrollItem from './components/mescroll-productName-item.vue';
// import PreMask from '@/components/premask/pre-mask.vue'
export default {
	name: 'article',
	components: { CndNavbar, CndButton, MescrollItem },
	data() {
		return {
			formData: {
				// 筛选条件
				parameter: '',
				sId: '',
				sCarInfoId: '',
				sBuyOrSale:'',
				sGoodsOwnerId: '',
				sWarehouseId: ''
			},
			commitLoading: false,
			isPreMask: false,
			isReload: false,
			list: [],
			pageObj: {},
			infoObj:{}
		};
	},
	onLoad(e) {
		this.formData.sId = e.sId;
		this.infoObj = JSON.parse(decodeURIComponent(e.info))
		this.formData.sGoodsOwnerId = this.infoObj.sGoodsOwnerId
		this.formData.sWarehouseId = this.infoObj.sWarehouseId
		this.formData.sCarInfoId = e.sCarInfoId
		this.formData.sBuyOrSale = e.sBuyOrSale
	},
	onShow() {
		if (!this.isReload) {
			this.isReload = true;
		} else {
			this.$refs.me.getList();
		}
	},
	methods: {
		bindConfirmEvent(value) {
			uni.hideKeyboard();
			this.formData.parameter = value;
			this.$refs.me.getList();
		}
	}
};
</script>

<style lang="scss">
// @import '../../common/style/nav.scss';
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
