<template>
	<view class="cnd-field-item" :class="[solid ? 'solid' : '']">
		<view class="cnd-field-label" :class="{ 'cnd-field-label-center': label_align === 'center', 'cnd-field-label-right': label_align === 'right' }">
			<!-- <text class="required_icon" v-if="required">*</text> -->
			<text>{{ label }}</text>
		</view>
		<view class="cnd-field-value" :class="{ 'cnd-field-value-center': value_align === 'center', 'cnd-field-value-right': value_align === 'right' }"
			:style="[right_title2 ? {paddingRight: '60rpx'}:{}]">
			<view class="cnd-field-value-body">
				<view class="w100"><slot></slot></view>
			</view>
		</view>
		<text class="iconfont right-icon" :class="right_icon" v-if="right_icon" @click.stop="bindIconClick"></text>
		<text class="iconfont right-icon2" :class="right_icon2" v-if="right_icon2" @click.stop="bindIconClick2"></text>
		<text class="titlefont right_title" v-if="right_title" @click.stop="bindIconClick">{{ right_title }}</text>
		<text class="titlefont right_title2" v-if="right_title2" @click.stop="bindIconClick2">{{ right_title2 }}</text>
	</view>
</template>
<script>
export default {
	name: 'cnd-form-item',
	props: {
		label: String,
		label_align: String,
		value_align: String,
		right_icon: String,
		right_icon2: String,
		right_title: String,
		right_title2: String,
		solid: Boolean,
		isSwitch: {
			type: Boolean,
			default: false
		},
		require: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		bindIconClick() {
			this.$emit('iconClick');
		},
		bindIconClick2() {
			this.$emit('iconClick_c');
		}
	}
};
</script>
<style lang="scss" scoped>

.cnd-field-item {
	position: relative;
	display: flex;
	align-items: center;
    box-sizing: border-box;
	width: 100%;
	padding: 10rpx 24rpx;
	overflow: hidden;
	color: $gray-8;
	font-size: $font-size-body;
	// line-height: $line-height-body;
	&.solid:after {
		position: absolute;
		box-sizing: border-box;
		content: ' ';
		pointer-events: none;
		right: 26rpx;
		bottom: 0;
		left: 26rpx;
		border-bottom: 2rpx solid $gray-2;
		-webkit-transform: scaleY(0.8);
		transform: scaleY(0.8);
	}
	.cnd-field-label {
		flex: none;
		width: 192rpx;
		margin-right: 16rpx;
		color: $gray-6;
		text-align: left;
		position: relative;
		&.cnd-field-label-center {
			text-align: center;
		}
		&.cnd-field-label-right {
			text-align: right;
		}
		.required_icon {
			color: red;
			position: absolute;
			left: -20rpx;
		}
	}
	.cnd-field-value {
		position: relative;
		overflow: hidden;
		vertical-align: middle;
		flex: 1;
		text-align: left;
		&.cnd-field-value-center {
			text-align: center;
		}
		&.cnd-field-value-right {
			text-align: right;
		}
		.cnd-field-value-body {
			display: flex;
			align-items: center;
			padding-right: 40rpx;
			box-sizing: border-box;
			height: 100%;
		}
	}
	
	.iconfont {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		color: $gray-6;
		&.right-icon {
			right: 32rpx;
		}
		&.right-icon2 {
			right: 72rpx;
		}
	}
	.titlefont {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		color: $gray-6;
		&.right_title {
			right: 64rpx;
			color: #2196f3;
		}
		&.right_title2 {
			right: 160rpx;
			color: #4caf50;
		}
	}

}
</style>
