<template>
	<view>
		<view class="demo-out">
			<view class="demo-box">
				<view class="header-wrapper">
					<view class="title-wrapper">
						<text>基础用法</text>
					</view>
				</view>
				<view class="demo-wrapper">
					<cnd-form-item label="起始时间" solid>
						<cnd-datepicker :level="3" @change="bindChange">{{timeRes ? timeRes : '请选择时间'}}</cnd-datepicker>
					</cnd-form-item>
				</view>
				<view class="demo-wrapper">
					<cnd-form-item label="起始时间" solid>
						<cnd-datepicker :value="dateh" :level="2" @change="bindChange">{{timeRes1 ? timeRes1 : '请选择时间（level2）'}}</cnd-datepicker>
					</cnd-form-item>
				</view>
				<view class="footer-wrapper">
					<view class="describe-wrapper">
						<view>【 value - String 】需显示的时间，默认为当前时间， yyyy-MM-dd hh-mm</view>
						<view>【 level - Number 】级次，展示的时间等级， 默认为1</view>
						<view>【 disabled - Boolean 】是否禁用</view>
					</view>
				</view>
			</view>
		</view>
		<view class="demo-out">
			<view class="demo-box">
				<view class="header-wrapper">
					<view class="title-wrapper">
						<text>基础用法(新版)</text>
					</view>
				</view>
				<view class="demo-wrapper">
					<cnd-form-item label="起始时间" solid>
						<cnd-datepicker-new :level="3" @change="bindChangeNew" placeholder="请选择日期"></cnd-datepicker-new>
					</cnd-form-item>
				</view>
				<view class="demo-wrapper">
					<cnd-form-item label="起始时间" solid>
						<cnd-datepicker-new :level="5" @change="bindChangeNew" placeholder="请选择日期时间"></cnd-datepicker-new>
					</cnd-form-item>
				</view>
				<view class="footer-wrapper">
					<view class="describe-wrapper">
						<view>【 level - Number || String 】层级</view>
						<view>【 start - String 】有效日期时间范围的开始， yyyy-MM-dd hh:mm</view>
						<view>【 end - String 】有效日期时间范围的结束， yyyy-MM-dd hh:mm</view>
						<view>【 defaultValue - String 】默认值， yyyy-MM-dd hh:mm</view>
						<view>【 disabled - Boolean 】是否禁用</view>
						<view>【 placeholder - String 】占位符</view>
					</view>
				</view>
			</view>
		</view>
	</view>

</template>

<script>
	import CndForm from '../../form/cnd-form.vue'
	import CndFormItem from '../../form-item/cnd-form-item.vue'
	import CndDatepicker from '../cnd-datepicker.vue'
	import CndDatepickerNew from '../cnd-datepicker-new.vue'
	export default {
		name: 'cnd-datepicker-demo',
		components: {
			CndForm,
			CndFormItem,
			CndDatepicker,
			CndDatepickerNew
		},
		data() {
			return {
				timeRes: '',
				timeRes1: '',
				datej: new Date().format('yyyy-MM-dd'),
				dateh: '2019-12',
			}
		},
		methods: {
			bindChange(e) {
				this.timeRes = e.format('yyyy-MM-dd')
			},
			bindChangeNew(e) {
				console.log(e)
			}
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	
	.demo-out {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: $cnd-demo-margin-v $cnd-demo-margin-h 0 $cnd-demo-margin-h;
			background-color: $gray-0;
			border-radius: $cnd-demo-border-radius;
			.header-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;
				border-bottom: 2rpx solid $gray-2;
				.title-wrapper {
					font-size: $font-size-headline;
					color: $gray-9;
				}
		
				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}
			.demo-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding;
				
				.unshow {
					visibility: hidden;
				}
			}
			.footer-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;
				border-top: 2rpx solid $gray-2;
				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}
		}
	}
</style>
