//引入colors色盘配置
@import "../style/color/_colors.scss";
//引入colors状态颜色改变
@import "../style/color/statusColors.scss";
//引入fonts字阶行高配置
@import "../style/font/_font.scss";

.cnd-demo-body {
	padding: 16rpx;

	.demo-show-box {
		box-sizing: border-box;
		background-color: $gray-0;
		border: 2rpx dashed $gray-5;

		.title {
			box-sizing: border-box;
			height: 80rpx;
			color: $gray-8;
			font-size: $font-size-body;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.content {
			background-color: $gray-0;
				
			&.gray {
				background-color: $background-color;
			}
		}
	}
		
	.demo-option-box {
		box-sizing: border-box;
		padding-top: 32rpx;

		.title {
			color: $gray-6;
			font-size: $font-size-caption;
			margin-bottom: 16rpx;
		}
	}
}