<template>
	<view>
		<!-- <view>
			<view class="custom">
				<view class="navbar fixed white">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content"><view style="color: #000;">商品明细</view></view>
					<view class="action between"></view>
				</view>
			</view>
		</view> -->
		<cnd-navbar color="white" :isBack="true">
			<block slot='left'>
                <text><view class="action between"></view></text>
			</block>
			<block slot='content'>商品明细</block>
		</cnd-navbar>
		<view class="list-container"><mescroll-item ref="me" :formData="formData"></mescroll-item></view>
		<view class="function-box index-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">移库</cnd-button></view>
		</view>
	</view>
</template>

<script>
// import CndNavbar from '@/components/navbar/cnd-navbar';
import MescrollItem from './components/mescroll-detail-item.vue';
import CndButton from '../components/button/button.vue';
import CndNavbar from './components/cnd-navbar.vue'
export default {
	name: 'index',
	components: { CndNavbar, MescrollItem, CndButton },
	data() {
		return {
			formData: {
				primary: {
					sGoodsOwnerId: '',
					sGoodsId: '',
					sMaterialId: '',
					sSpecificationId: '',
					sOrginId: ''
				}
			},
			isReload: false,
			page: null
		};
	},
	onLoad(e) {
		let {sGoodsOwnerId, sGoodsId, sMaterialId, sSpecificationId, sOrginId} = e
		if (sGoodsOwnerId) {
			this.formData.primary.sGoodsOwnerId = sGoodsOwnerId
		}
		if (sGoodsId) {
			this.formData.primary.sGoodsId = sGoodsId
		}
		if (sMaterialId) {
			this.formData.primary.sMaterialId = sMaterialId
		}
		if (sSpecificationId) {
			this.formData.primary.sSpecificationId = sSpecificationId
		}
		if (sOrginId) {
			this.formData.primary.sOrginId = sOrginId
		}
		console.log(this.formData)
		uni.$on('update', () => {
			this.$refs.me.mescroll.resetUpScroll();
		});
	},
	async onShow() {
		if (this.isReload) {
			this.$refs.me.mescroll.triggerDownScroll();
			uni.$emit('initSelect');
		}
		this.isReload = true;
	},
	methods: {
		// toBack() {
		// 	this.$util.pageBack();
		// },
		submit() {
			uni.$emit('moveDetailsubmit');
		},
		query() {
			uni.navigateTo({
				url: `/pOperationLib/store-move/query?type=1`
			});
		}
	}
};
</script>

<style scoped lang="scss">
// @import '../../common/style/nav.scss';
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
