<template>
	<view>
		<!-- <view>
			<view class="custom">
				<view class="navbar fixed white">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content"><view style="color: #000;">库内移动单据</view></view>
					<view class="action between">
						<view class="filter-txt-icon" @tap="query"><text class="iconfont icon-cnd-search" style="font-size: 50rpx;"></text></view>
					</view>
				</view>
			</view>
		</view> -->
		
		<cnd-navbar color="white" :isBack="true">
			<block slot='left'>
                <text @tap="query"><text class="iconfont icon-cnd-search" style="font-size: 50rpx;"></text></text>
			</block>
			<block slot='content'>库内移动单据</block>
		</cnd-navbar>
		
		<view class="tab">
			<cnd-tabs :length="tabList.length">
				<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
				 @getActive="changeTab(item.status)"></cnd-tab>
			</cnd-tabs>
		</view>
		<view class="demo-wrapper">
			<view class="display_flex">
				<!-- <cnd-form-item label="日期从" class="cssfl">
					<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">
						{{timeRes ? timeRes : datej}}
					</cnd-datepicker>
				</cnd-form-item>
				<cnd-form-item label="到" class="cssfl">
					<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChangeToo">
						{{timeResToo ? timeResToo : datejToo}}
					</cnd-datepicker>
				</cnd-form-item> -->
				<view class="flex-box">
					<view class="flex flex-box cssfl">
						<text class="label">日期从</text>
						<view class="align">
							<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">
								{{timeRes ? timeRes : datej}}
							</cnd-datepicker>
						</view>
					</view>
					<view class="flex flex-box cssfl">
						<text class="label">到</text>
						<view class="align">
							<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChangeToo">
								{{timeResToo ? timeResToo : datejToo}}
							</cnd-datepicker>
						</view>
					</view>
					<view class="search-btn" @click="bindClick">查询</view>
				</view>
			</view>
			
		</view>
		
		<view class="list-container"><mescroll-item ref="me" :formData="formData" :i="curIndex" :index="curIndex"></mescroll-item></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="goToStore">库区找货</cnd-button></view>
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="goToQuery">搜索找货</cnd-button></view>
		</view>
	</view>
</template>

<script>
// import CndNavbar from '@/components/navbar/cnd-navbar';
import MescrollItem from './components/mescroll-item.vue';
import CndButton from '../components/button/button.vue';
import CndNavbar from './components/cnd-navbar.vue'
import CndTab from '@/components/tabs/tab.vue';
import CndTabs from '@/components/tabs/tabs.vue';
import CndDatepicker from '../components/datepicker/cnd-datepicker.vue'
export default {
	name: 'index',
	components: { CndNavbar, MescrollItem, CndButton,CndTab,CndTabs,CndDatepicker },
	data() {
		return {
			formData: {
				sId:'',
				primary: {
					sSheetStatus: 10,
					sCreateDate: '',
					sCreateDateTo: '',
					sWarehouseId: ''
				}
			},
			isReload: false,
			page: null,
			tabList: [{
					title: '准备',
					status: 10
				},
				{
					title: '已审核',
					status: 70
				}
			],
			curIndex: 10,
			datej: this.getCurrentMonthFirst(),
			datejToo: new Date().format('yyyy-MM-dd'),
			timeRes: '',
			timeResToo: '',
		};
	},
	async onLoad(option) {
		this.formData.primary.sWarehouseId = option.parentId
		this.formData.sId = option.parentId
		uni.$on('update', () => {
			this.$refs.me.mescroll.resetUpScroll();
		});
		if (this.formData.primary.sCreateDate == '') {
			this.formData.primary.sCreateDate =  Date.parse(new Date(this.datej + ' 00:00:00'))  
		}
		if (this.formData.primary.sCreateDateTo == '') {
			this.formData.primary.sCreateDateTo = Date.parse(new Date(this.datejToo +' 23:59:59'))  
		}
	},
	async onShow() {
		let primary = await uni.getStorageSync('queryFormData');
		
		if (primary) {
			this.formData.primary = primary;
			console.log('打印查询', this.formData.primary)
			// this.timeRes = this.formData.primary.sCreateDate.format('yyyy-MM-dd')
			// this.timeResToo = this.formData.primary.sCreateDateTo.format('yyyy-MM-dd')
			uni.removeStorageSync('queryFormData');
		}
		if (this.isReload) {
			this.$refs.me.mescroll.triggerDownScroll();
		}
		this.isReload = true;
	},
	methods: {
		getCurrentMonthFirst() { // 获取当前月第一天
			let date = new Date()
			date.setDate(1)
			let month = parseInt(date.getMonth() + 1)
			let day = date.getDate()
			if (day < 10) {
				day = '0' + day
			}
			if (month < 10) {
				month = '0' + month
			}
			return new Date().format('yyyy')+ '-' + month + '-' + day
		},
		bindChange(e) {
			this.timeRes = e.format('yyyy-MM-dd')
			this.formData.primary.sCreateDate = Date.parse(new Date(this.timeRes + ' 00:00:00'))
			console.log('时间时间', this.formData.primary.sCreateDate)
		},
		bindChangeToo(e) {
			this.timeResToo = e.format('yyyy-MM-dd')
			this.formData.primary.sCreateDateTo = Date.parse(new Date(this.timeResToo +' 23:59:59'))  
			console.log('时间时间', this.formData.primary.sCreateDateTo)
		},
		bindClick(){
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
		},
		changeTab(event) {
			this.formData.primary.sSheetStatus = event
			this.curIndex = event
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
		},
		// toBack() {
		// 	uni.navigateTo({
		// 		url: `/pOperationLib/kunei/index`
		// 	});
		// },
		bindConfirmEvent(value) {
			uni.hideKeyboard();
			this.formData.parameter = value;
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll();
			});
		},
		goToQuery() {
			uni.navigateTo({
				url: `/pOperationLib/store-move/query?type=1&parentId=${this.formData.sId}`
			});
		},
		goToStore() {
			uni.navigateTo({
				url: `/pOperationLib/store-move/store-prev?parentId=${this.formData.sId}`
			});
		},
		query() {
			uni.navigateTo({
				url: `/pOperationLib/store-move/query?parentId=${this.formData.sId}`
			});
		}
	}
};
</script>

<style>
page {
	background-color: #f1f5f7;
}
</style>
<style scoped lang="scss">

// #ifdef MP-WEIXIN
	.contentsTab{
		display: contents !important;
	}
// #endif
.tab{
	margin: 16rpx 0;
}
.demo-wrapper{
	border: #f1f5f7 1px solid;
	border-radius: 10rpx;
	background: #fff;
	overflow: hidden;
	margin: 0 4rpx;
}
.cssfl {
	width: 42%;
	float: left;
}
.search-btn {
	width: 120rpx;
	border-radius: 0 8rpx 8rpx 0;
	flex-shrink: 0;
	line-height: 80rpx;
	font-size: 28rpx;
	background: $cnd-blue-5;
	color: $gray-0;
	text-align: center;
	float: right;
	&:active {
		background: colorActived($cnd-blue-5);
	}
}
// /deep/.cnd-field-item .cnd-field-label {
//     width: 100rpx!important;
// }
// /deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
//     padding-right: 0!important; 
// }
// /deep/.cnd-field-item {
//     padding:0 0 0 2rpx!important;
// }
.list-box {
	margin-left: 16rpx;
	margin-right: 16rpx;
}
.flex-box {
	background-color: #fff;
	border-radius: 16rpx;
	padding: 24rpx;
	color: #262626;
	font-size: 28rpx;
	line-height: 40rpx;
	.label {
		color: #8c8c8c;
		line-height: 74rpx;
	}
}
// #ifdef H5
.align{
	display: flex;
	text-align: center;
	flex: 1;
}
// #endif
// #ifdef MP-WEIXIN
.align{
	text-align: center;
	flex: 1;
}
// #endif
.flex-box{
	padding:4rpx 0 ;
}
.function-box.new-page .block{
	margin: 0 10rpx!important;
}
</style>
