<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>仓库选择</block>
		</cnd-navbar>
		<view class="box">
			<view  @click="getAllValue(item)" v-for="(item, i) in filterObj.storeOptions" :key="i" class="warehose_item">
				{{ item.sName }}
			</view>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar.vue'
	export default {
		name: 'index',
		components: { CndNavbar },
		data() {
			return {
				filterObj: {
					visible: true,
					storeOptions: [],
				},
				stores: []
			}
		},
		onLoad() {
			this.getStoreList()
			let userInfo = uni.getStorageSync("userInfo");
			// let roleNameStatus = uni.getStorageSync("roleNameStatus");
			// console.log('打印判断的东西', userInfo, roleNameStatus)
			// this.filterObj.storeOptions = userInfo.warehouse
		},
		onShow() {
			// this.$store.commit('SET_GROUNDING', false)
		},
		methods: {
			async getStoreList() {
				uni.showLoading({
					title: '加载中...'
				})
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=13', {
					dataStores: {
						"mapParams": {
							"rowSet": {
								"primary": [
									{
										"sCode": "", 
										"sName": "", 
										"sStatus": "", 
										"sType": ""
									}
								], 
								"filter": [ ], 
								"delete": [ ]
							}, 
							"name": "mapParams", 
							"pageNumber": 1, 
							"pageSize": 2147483647, 
							"recordCount": 0, 
							"rowSetName": "com.cnd.wms.basedatawms.entity.WmsWarehouse"
						}
					},
					"parameters": {
						"sSheetCode": "wms.stockwms.stock.select", 
						"pageNumber": "1", 
						"pageSize": "999", 
						"_parameters": "sSheetCode,mapParams,pageNumber,pageSize", 
						"_parameterTypes": "string,pojo,string,string",
						"dcID": "wmsis", 
						"_boId": "wmsis_ifsWmsWarehouseBO_bo", 
						"_methodName": "queryWarehouseInfo", 
						"_methodParameterTypes": "String,com.cnd.wms.basedatawms.entity.WmsWarehouse,int,int"
					}
				})
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				console.log('仓库', list)
				uni.hideLoading()
				this.filterObj.storeOptions = list
			},
			getAllValue(item) {
				uni.navigateTo({
					url: `/pOperationLib/store-move/goods?page=${this.$store.state.page}&parentId=${item.sId}&storeName=${item.sName}`
				})
			}
		}
	}
</script>

<style>
.box{
	padding: 30rpx 0;
}
.warehose_item{
	width: 90%;
    margin: 12rpx auto;
    background: rgb(68, 154, 229);
    color: #fff;
    padding: 14rpx 20rpx;
    text-align: center;
    border-radius: 8rpx;
    font-size: 32rpx;
}
</style>
