<template>
	<view>
		<!-- <view>
			<view class="custom">
				<view class="navbar fixed white">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content"><view style="color: #000;">移库明细</view></view>
					<view class="action between"><view class="filter-txt-icon"></view></view>
				</view>
			</view>
		</view> -->
		<cnd-navbar color="white" :isBack="true">
			<block slot='left'>
                <text><view class="action between"><view class="filter-txt-icon"></view></view></text>
			</block>
			<block slot='content'>移库明细</block>
		</cnd-navbar>
		<view class="list-container">
			<view class="list-box">
				<view class="list-box-item">
					<view class="flex-box">
						<view class="flex flex-box">
							<text class="label">货主：</text>
							<view class="flex">{{ item.sGoodsOwnerName }}</view>
						</view>
					</view>
					<view class="child-item" v-for="(item2, index2) in item.details" :key="index2">
						<view class="flex-box">
							<view class="flex flex-box">
								<text class="label">品名：</text>
								<view class="flex">{{ item2.sGoodsDetailName }}</view>
							</view>
							<view class="flex flex-box">
								<text class="label">材质：</text>
								<view class="flex">{{ item2.sMetailName }}</view>
							</view>
						</view>
						<view class="flex-box">
							<view class="flex flex-box">
								<text class="label">规格：</text>
								<view class="flex">{{ item2.sSpecificationName }}</view>
							</view>
							<view class="flex flex-box">
								<text class="label">产地：</text>
								<view class="flex">{{ item2.sOrginName }}</view>
							</view>
						</view>
						<view class="flex-box">
							<view class="flex flex-box">
								<text class="label">件数：</text>
								<view class="flex">{{ item2.sQtx }}</view>
							</view>
							<view class="flex flex-box">
								<text class="label">吨数：</text>
								<view class="flex">{{ item2.sQty }}</view>
							</view>
						</view>
						<view class="flex-box">
							<view class="flex flex-box">
								<text class="label">转出库区：</text>
								<view class="flex">{{ item2.sOutWarehouseAreaName }}</view>
							</view>
							<view class="flex flex-box">
								<text class="label">转出库位：</text>
								<view class="flex">{{ item2.sOutWarehouseLocationName }}</view>
							</view>
						</view>
						<view class="flex-box">
							<view class="flex flex-box">
								<text class="label">转入库区：</text>
								<view class="flex">{{ item2.sInWarehouseAreaName }}</view>
							</view>
							<view class="flex flex-box">
								<text class="label">转入库位：</text>
								<view class="flex">{{ item2.sInWarehouseLocationName }}</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view style="height: 136rpx;"></view>
		<view class="function-box index-page" style="background-color: #fff;">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="submit">确定</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
// import CndNavbar from '@/components/navbar/cnd-navbar'
import CndButton from '../components/button/button.vue';
import CndNavbar from './components/cnd-navbar.vue'
export default {
	name: 'index',
	components: { CndNavbar, CndButton },
	data() {
		return {
			formData: {
				locationId: '',
				oid: ''
			},
			item: {}
		}
	},
	computed: {
		
	},
	onLoad (e) {
		this.formData.oid = e.oid
		this.formData.locationId = e.locationId
		this.getInfo()
	},
	methods: {
		// toBack () {
		// 	this.$util.pageBack()
		// },
		async getInfo() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=11', {
				dataStores: {},
				parameters: {
					"id": this.formData.oid,
					"locationId": this.formData.locationId,
					"_parameters": "id,locationId",
					"_parameterTypes": "string,string",
					"dcID": "wmsjccwis",
					"_boId": "wmsjccwis_ifsJcwmsPickPlanDetailDTOBO_bo",
					"_methodName": "queryJcwmsPickPlanDetailDTO",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || {};
				data.details.map(ele => {
					return{
						...ele,
						sQty: ele.sQty.toFixed(3)
					}
				})
				console.log('库内移动列表', data);
				this.item = data
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async submit() {
			uni.showLoading({
				title: '请稍候',
				mask: true
			})
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					"sId": this.formData.oid,
					"_parameters": "sId",
					"_parameterTypes": "string",
					"dcID": "wmsjccwis",
					"_boId": "wmsjccwis_ifsJcwmsMovePlanBO_bo",
					"_methodName": "doConfirmMovePlan",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				// uni.showToast({
				// 	title: '移库成功',
				// 	icon: 'none'
				// })
				this.$refs.mpopup.open({
					type:'success',
					content:'移库成功',
					timeout:2000,
				});
				// setTimeout(() => {
				// 	uni.redirectTo({
				// 		url: `/pOperationLib/store-move/index`
				// 	})
				// }, 2000)
				setTimeout(() => {
					// let iIndex = getCurrentPages().findIndex(ele => ele.route === '/pOperationLib/store-move/goods')
					// let iPage = getCurrentPages()[iIndex]
					// iPage.$vm.isReload = false
					uni.navigateBack({
						delta: 5
					})
				}, 500)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
			uni.hideLoading()
		}
	}
}
</script>

<style scoped lang="scss">
// @import '../../common/style/nav.scss';
// .list-box {
// }
.list-box-item {
	background-color: #fff;
	border-radius: 16rpx;
	padding: 24rpx;
	color: #262626;
	font-size: 28rpx;
	line-height: 40rpx;
	.label {
		color: #8c8c8c;
	}
}
.child-item{
	padding: 10rpx 0;
	border-bottom: #eee 2rpx solid;
}
</style>
