<template>
	<view>
		<!-- <view>
			<view class="custom">
				<view class="navbar fixed white">
					<view class="icon-back between">
						<view class="left-text" @tap="toBack">
							<text class="iconfont icon-cnd-arrow-short-back" style="font-size: 40rpx;"></text>
							<text>返回</text>
						</view>
					</view>

					<view class="content"><view style="color: #000;">查询</view></view>
					<view class="action between"><view class="filter-txt-icon"></view></view>
				</view>
			</view>
		</view> -->
		<cnd-navbar color="white" :isBack="true">
			<block slot='left'>
                <text><view class="action between"><view class="filter-txt-icon"></view></view></text>
			</block>
			<block slot='content'>查询</block>
		</cnd-navbar>
		<view class="query-box">
			<block v-if="type == 0">
				<view class="query-tt">创建时间</view>
				<view class="flex-box" style="line-height: 50rpx;">
					<view>从</view>
					<view class="flex">
						<picker mode="date" data-field="sCreateDate" @change="dateChange">
							<view class="date-box">{{formData.sCreateDate}}</view>
						</picker>
					</view>
					<view>到</view>
					<view class="flex">
						<picker mode="date" data-field="sCreateDateTo" @change="dateChange">
							<view class="date-box">{{formData.sCreateDateTo}}</view>
						</picker>
					</view>
				</view>
				<view class="field-item">
					<view class="query-tt">状态</view>
					<view>
						<view class="query-item" v-for="(item) in sheet" :key="item.value" :class="{act: formData.sSheetStatus == item.value}" @tap="sheetChange(item.value)">{{item.name}}</view>
					</view>
				</view>
				<view class="field-item">
					<view class="query-tt">操作人</view>
					<view class="cnd-field-value"><input class="query-ipt" type="text" v-model="formData.sOperator"></view>
				</view>
			</block>
			<!-- <goods-owner v-model="formData.sGoodsOwnerId"></goods-owner>
			<goods v-model="formData.sGoodsId"></goods>
			<material v-model="formData.sMaterialId"></material>
			<specification v-model="formData.sSpecificationId"></specification>
			<orgin v-model="formData.sOrginId"></orgin> -->
			
		</view>
		<editQuery ref="query" :sWarehouseId="sWarehouseId"></editQuery>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" type="outlined" @clickEvent="init">重置</cnd-button></view>
			<view class="block" v-if="type == 0"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="confirm">确定</cnd-button></view>
			<view class="block" v-else><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="query">确定</cnd-button></view>
		</view>
	</view>
</template>

<script>
import CndButton from '../components/button/button.vue';
// import GoodsOwner from './components/query/goods-owner.vue'
// import Goods from './components/query/goods.vue'
// import Material from './components/query/material.vue'
// import Specification from './components/query/specification.vue'
// import Orgin from './components/query/orgin.vue'
import CndNavbar from './components/cnd-navbar.vue'

import editQuery from './components/editQuery.vue'

export default {
	name: 'index',
	components: { 
		CndNavbar,
		CndButton,
		// GoodsOwner,
		// Goods,
		// Material,
		// Specification,
		// Orgin,

		editQuery
	},
	data() {
		return {
			formData: {
				sCreateDate: '',
				sCreateDateTo: '',
				sOperator: '',
				sGoodsOwnerId: '',
				sGoodsId: '',
				sMaterialId: '',
				sSpecificationId: '',
				sOrginId: '',
				sSheetStatus: 10,
				sWarehouseId: ''
				
			},
			sheet: [
				{
					name: '准备',
					value: '10'
				},
				{
					name: '已审核',
					value: '70'
				},
			],
			type: 0,
			sWarehouseNameObj:{},
			sWarehouseId: '',
		};
	},
	onLoad(e) {
		let {type,parentId} = e
		if (type) {
			this.type = type
		}
		this.sWarehouseId = parentId
	},
	methods: {
		// toBack() {
		// 	this.$util.pageBack()
		// },
		sheetChange(val) {
			this.formData.sSheetStatus = val
		},
		dateChange(e) {
			let {value} = e.detail
			let {field} = e.currentTarget.dataset
			this.formData[field] = value
		},
		init() {
			this.formData = {
				sCreateDate: '',
				sCreateDateTo: '',
				sOperator: '',
				sGoodsOwnerId: '',
				sGoodsId: '',
				sMaterialId: '',
				sSpecificationId: '',
				sOrginId: '',
				sSheetStatus: 10
			}
			this.$refs.query.formDataSid = {
				sCreateDate: '',
				sCreateDateTo: '',
				sOperator: '',
				sGoodsOwnerId: '',
				sGoodsId: '',
				sMaterialId: '',
				sSpecificationId: '',
				sOrginId: '',
				sSheetStatus: 10
			}
			this.$refs.query.addGoodsOwnerData = {
				jobId: '',
				codeName: "",
			},
			this.$refs.query.addOrginData = {
				jobId: '',
				codeName: "",
			},
			this.$refs.query.addGoodsData = {
				jobId: '',
				codeName: "",
			},
			this.$refs.query.addMaterialData = {
				jobId: '',
				codeName: "",
			},
			this.$refs.query.addSpecificationData = {
				jobId: '',
				codeName: "",
			},
			console.log('下拉选择sId2',this.formData)
			uni.$emit('queryInit')
		},
		confirm() {
			let pages = getCurrentPages()
			let page = pages[pages.length - 2]
			let formData = {...this.formData}
			let formDataSid = this.$refs.query.formDataSid
			formData.sGoodsOwnerId = formDataSid.sGoodsOwnerId
			formData.sGoodsId = formDataSid.sGoodsId
			formData.sMaterialId = formDataSid.sMaterialId
			formData.sSpecificationId = formDataSid.sSpecificationId
			formData.sOrginId = formDataSid.sOrginId
			formData.sWarehouseId = this.sWarehouseId 
			if (formData.sCreateDate) {
				formData.sCreateDate = Date.parse(new Date(formData.sCreateDate + ' 00:00:00'))
			}
			if (formData.sCreateDateTo) {
				formData.sCreateDateTo = Date.parse(new Date(formData.sCreateDateTo +' 23:59:59'))
			}
			uni.setStorageSync('queryFormData', formData);
			this.$util.pageBack()
			// uni.navigateBack({
			// 	delta: 1
			// })
			// let iIndex = getCurrentPages().findIndex(ele => ele.route === '/pOperationLib/store-move/goods')
			// let iPage = getCurrentPages()[iIndex]
			// // iPage.$vm.isReload = true
			// uni.navigateBack({
			// 	delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
			// })
		},
		query() {
			// let {formData} = this
			let formData = {...this.formData}
			let formDataSid = this.$refs.query.formDataSid
			formData.sGoodsOwnerId = formDataSid.sGoodsOwnerId
			formData.sGoodsId = formDataSid.sGoodsId
			formData.sMaterialId = formDataSid.sMaterialId
			formData.sSpecificationId = formDataSid.sSpecificationId
			formData.sOrginId = formDataSid.sOrginId
			// let formData = this.$refs.query.formDataSid
			console.log('下拉选择sId',formData)
			uni.navigateTo({
				url: `/pOperationLib/store-move/detail?sGoodsOwnerId=${formData.sGoodsOwnerId}&sGoodsId=${formData.sGoodsId}&sMaterialId=${formData.sMaterialId}&sSpecificationId=${formData.sSpecificationId}&&sOrginId=${formData.sOrginId}`
			})
		}
	}
};
</script>
<style>
	page{
		background-color: #fff;
	}
</style>
<style scoped lang="scss">
// @import '../../common/style/nav.scss';
.query-box{
	padding:0 30rpx 0;
	font-size: 28rpx;
}
.field-item{
	display: flex;
    align-items: center;
    box-sizing: border-box;
	padding-top: 20rpx;
	.query-tt{
		font-size: 32rpx;
		margin-top: 30rpx;
		margin-bottom: 20rpx;
		color: #999;
		width: 100rpx !important;
		margin-right: 16rpx;
		
	}
	.query-item{
		flex: 1;
	}
	.cnd-field-value{
		flex: 1;
	}
}
.query-tt{
	font-size: 32rpx;
	margin-top: 30rpx;
	margin-bottom: 20rpx;
	color: #999;
}
.date-box{
	// height: 50rpx;
	// line-height: 50rpx;
	margin: 0 20rpx;
	// padding: 0 20rpx;
	// background-color: #f5f5f5;

	background-color: #ffffff;
    height: 50rpx;
    line-height: 50rpx;
    padding: 6rpx 20rpx;
    font-size: 26rpx;
    border: 1px solid #dedede;
    border-radius: 12rpx;
}
.query-item{
	display: inline-block;
	margin-right: 20rpx;
	// margin-bottom: 20rpx;
	height: 50rpx;
	line-height: 50rpx;
	padding: 0 20rpx;
	font-size: 26rpx;
	color: #8C8C8C;
	background-color: #f5f5f5;
	&.act {
		background-color: #408cda;
		color: #fff;
		border-color: #408cda;
	}
}
.query-ipt{
	// background-color: #f5f5f5;
	// height: 50rpx;
	// line-height: 50rpx;
	// padding: 0 20rpx;
	// font-size: 26rpx;

	background-color: #ffffff;
    height: 50rpx;
    line-height: 50rpx;
    padding: 10rpx 20rpx;
    font-size: 26rpx;
    border: 1px solid #dedede;
    border-radius: 12rpx;
}

/deep/.list-content-container.alignLeft .title-wrapper {
	width: 184rpx;
	min-width: 184rpx;
}
/deep/.list-content-container.alignLeft .title-wrapper text  {
	width: 184rpx;
}
/deep/.list-content .title-wrapper{
	width: 100rpx!important;
	min-width: 100rpx!important;
}
/deep/.list-content .title-wrapper text{
	width: 100rpx!important;
}
.bottomMargin{
	padding-bottom: 100rpx;
}

/deep/.cnd-field-item .cnd-field-label {
	width: 130rpx!important;
}
/deep/.titlelab .cnd-field-label {
	width: 100rpx!important;
}
/deep/.titlelab .cnd-field-item{
	padding: 10rpx 0!important;
	padding-bottom: 30rpx!important;
}
// /deep/.titlelab.cnd-field-item .cnd-field-label {
// 	width: 96rpx!important;
// }
/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
	border: 1px solid #dedede;
	padding: 16rpx;
	padding-right: 6rpx!important;
	border-radius: 14rpx;
}
/deep/.disabledInput .cnd-field-value .cnd-field-value-body{
	background: whitesmoke!important;
	// padding: 12upx 20upx!important;
}
/deep/.cnd-field-item{
	padding:10rpx 0!important;
	padding-bottom: 30rpx!important;
}
/deep/.cnd-field{
	margin: 10rpx 10rpx;
}
</style>
