<template>
	<view class="h100">
		<cnd-navbar color="white" isBack>
			<block slot='content'>库位明细</block>
		</cnd-navbar>
		<view><mescroll-item :formData="formData"></mescroll-item></view>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar'
import CndButton from '../components/button/button.vue';
import MescrollItem from './components/mescroll-store-next.vue';
export default {
	name: 'store-house',
	components: {
		CndNavbar,
		CndButton,
		MescrollItem
	},
	data() {
		return {
			formData: {
				parentId: '',
				sId: ''
			},
			StatusBar: this.StatusBar,
			CustomBar: this.CustomBar
		};
	},
	computed: {
		navStyle() {
			var StatusBar = this.StatusBar;
			var CustomBar = this.CustomBar;
			let style = `height:${CustomBar}px; padding-top:${StatusBar}px;`;
			return style;
		}
	},
	onLoad(e) {
		this.formData.parentId = e.parentId;
		if (e.sId) {
			this.formData.sId = e.sId;
		}
	},
	onShow() {
	},
	methods: {
		// toBack() {
		// 	this.$util.pageBack();
		// }
	}
};
</script>
<style>
page {
	background-color: #ffffff;
}
</style>
<style lang="scss">
.custom {
	position: relative;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		box-sizing: border-box;

		&.fixed {
			z-index: 997;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		&.white {
			background-color: $gray-0;
			color: $cnd-blue-5;
			box-shadow: 0 0 20upx rgba(0, 0, 0, 0.2);
		}

		&.blue {
			background-color: $cnd-blue-5;
			color: $gray-0;
		}

		.between {
			width: 22%;
			font-size: 28rpx;
			align-items: center;
		}

		.icon-back {
			margin-left: 16rpx;
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
			// left: 16rpx;
			// .left-text:hover {
			// 	opacity: 0.6;
			// }
		}

		.content {
			position: absolute;
			text-align: center;
			width: calc(100% - 340upx);
			left: 0;
			right: 0;
			bottom: 0;
			// top: --status-bar-height;
			margin: auto;
			height: 60upx;
			font-size: $font-size-subhead;
			line-height: 60upx;
			cursor: none;

			view {
				pointer-events: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				font-weight: 700;
				display: block;
			}
		}

		.action {
			display: flex;
			position: absolute;
			right: 0;
			margin-right: 22rpx;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.footer-area {
	position: fixed;
	left: 16rpx;
	right: 16rpx;
	bottom: 0;
	padding-bottom: 16rpx;
	display: flex;
	background-color: #f1f5f7;
	z-index: 3;

	.item {
		flex: 1;
		display: block;

		&:first-child {
			margin-right: 20rpx;
		}
	}
}
</style>
