	.container {
		// background: $gray-0; 
		overflow: hidden; 
		padding: 16rpx 0 0 16rpx;
		// box-sizing: border-box;
		position: relative;
		margin: 0 16rpx;
		&.t-4 {
			padding: 16rpx 16rpx 0 16rpx;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: calc(100% - 16rpx);
			// box-sizing: border-box;
		}
		// &.b-f {
		// 	background: $gray-0;
		// }
		&.bottom {
			position: absolute;
			bottom: 16rpx;
			left: 0;
			right: 0
		}
		.item {
			position: relative;
			width: calc(100% / 4 - 16rpx );
			height: 160rpx;
			background: $gray-2;
			text-align: center;
			line-height: 160rpx;
			font-size: 28rpx;
			color: #8C8C8C;
			float: left;
			margin-right: 16rpx;
			margin-bottom: 16rpx;
			transition: .3s;
			&.have {
				background: $cnd-blue-5;
				color: $gray-0;
				&:active {
					background-color: colorActived($cnd-blue-5);
					border-color: colorActived($cnd-blue-5);
				}
			}
			&.have2 {
				background: #99CC66;
				color: $gray-0;
				&:active {
					background-color: colorActived(#99CC66);
					border-color: colorActived(#99CC66);
				}
			}
			&.active {
				color: $gray-0;
				&::after {
					font-family: 'iconfont';
					content: '\1058';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					font-size: 52rpx;
					z-index: 2;
					background: #99CC66;
					color: $gray-0;
					font-size: 116rpx;
				}
				&:active {
					background-color: colorActived(#99CC66);
					border-color: colorActived(#99CC66);
				}
			}
		}
	
	}
	.stype-4-scroll-area {
		padding: 16rpx 0 0 16rpx;
		// box-sizing: border-box;
		position: relative;
		margin: 0 16rpx;

	}
	.store-list-4{
		display: flex;
		background: $gray-0;
		width: auto;
		.item2 {
			flex-shrink: 0;
			position: relative;
			width: 160rpx;
			height: 160rpx;
			background: $gray-2;
			text-align: center;
			line-height: 160rpx;
			font-size: 28rpx;
			color: #8C8C8C;
			margin-right: 16rpx;
			margin-bottom: 16rpx;
			transition: .3s;
			&.have {
				background: $cnd-blue-5;
				color: $gray-0;
				&:active {
					background-color: colorActived($cnd-blue-5);
					border-color: colorActived($cnd-blue-5);
				}
			}
			&.active {
				color: $gray-0;
				&::after {
					font-family: 'iconfont';
					content: '\1058';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					font-size: 52rpx;
					z-index: 2;
					background: #99CC66;
					color: $gray-0;
					font-size: 116rpx;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:active {
					background-color: colorActived(#99CC66);
					border-color: colorActived(#99CC66);
				}
			}
		}
	}