<template>
	<view class="cnd-tag" :class="[color,widthType,sizeFinally,radiusType,{'disabled':disabled},{'checked':isChecked},{'onlyShow':onlyShow}]" 
							@click="getChecked()"
							:style="[widthType=='fixed'?{ width:cellWidthFinally }:{},tagGroupStyle]">
		<view class="contentWrapper">
			<text>{{label}}</text>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'cnd-tag',
		data() {
			return {
				tagGroupStyle: {},
			}
		},
		props: {
			// 颜色 color: "white", "gray"
			color: {
				type: String,
				default: 'white'
			},
			// 宽度类型 widthType: "fixed", "auto"
			widthType: {
				type: String,
				default: 'fixed'
			},
			// 尺寸 size: "small", "medium"
			size: {
				type: String,
				default: 'medium'
			},
			// 圆角 radiusType: "curve", "rounded"
			radiusType: {
				type: String,
				default: 'curve'
			},
			// 是否禁用
			disabled: {
				type: Boolean,
				default: false
			},
			// v-model 单个tag使用
			value: {
				default: false
			},
			// 唯一键值
			cellID: {
				default: true,
			},
			// 名称
			label: {
				type: String,
				required: true
			},
			// 仅展示
			onlyShow: {
				type: Boolean,
				default: true
			},
			// 宽度（宽度类型为固定时生效）
			cellWidth: {
				type: String,
				default: '30%'
			}
		},
		computed: {
			isChecked() {
				return this.value === this.cellID || (this.rootGroup && this.rootGroup.value.indexOf(this.cellID) !== -1)
			},
			sizeFinally() {
				return this.rootGroup && this.rootGroup.sizeFromGroup ? this.rootGroup.sizeFromGroup : this.size
			},
			cellWidthFinally() {
				return this.rootGroup && this.rootGroup.cellWidthFromGroup ? this.rootGroup.cellWidthFromGroup : this.cellWidth
			},
		},
		inject: {
			rootGroup: {
				default: null
			},
		},
		created() {
			// 将父组件的值传入子组件中，进行覆盖
			if (this.rootGroup) {
				this.tagGroupStyle = { marginRight: "16rpx", marginBottom: "16rpx"}
				this.rootGroup.getTagNumber()
			} 
		},
		methods: {
			// 选中
			getChecked() {
				if (this.disabled) {
					return
				}
				if (this.onlyShow) {
					return
				}
				// 需要监测是否有其他选中值为disabled属性
				
				if (typeof this.cellID === 'boolean') {
					this.$emit('input', !this.value)
				} else if (this.isChecked) {
					this.$emit('input', '')
					if (this.rootGroup) {
						this.rootGroup.uncheck(this.cellID)
					}
				} else {
					this.$emit('input', this.cellID)
					if (this.rootGroup) {
						this.rootGroup.check(this.cellID)
					}
				}
				
				this.$emit('change')
			}
		}
	}
</script>

<style lang="scss">
	
	$tag-width-small: 176rpx;
	$tag-width-medium: 224rpx;

	$tag-padding-h-small: 18rpx;
	$tag-padding-h-medium: 18rpx;

	$tag-height-small: 52rpx;
	$tag-height-medium: 72rpx;

	$tag-radius-curve: 4rpx;
	$tag-radius-rounded-small: $tag-height-small / 2;
	$tag-radius-rounded-medium: $tag-height-medium / 2;

	.cnd-tag {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;

		border: 2rpx solid $gray-3;

		//color区域
		&.white {
			background-color: $gray-0;
			border-color: $gray-3;
			color: $gray-9;

			&.checked {
				background-color: $cnd-blue-5;
				border-color: $cnd-blue-5;
				color: $gray-0;
			}

			&.disabled {
				background-color: colorDisable($gray-0);
				border-color: colorDisable($gray-3);
				color: colorDisable($gray-9);

				&.checked {
					background-color: colorDisable($cnd-blue-5);
					border-color: colorDisable($cnd-blue-5);
					color: colorDisable($gray-0);
				}
			}
		}

		&.gray {
			background-color: $gray-2;
			border-color: $gray-2;
			color: $gray-6;

			&.checked {
				background-color: $cnd-blue-1;
				border-color: $cnd-blue-5;
				color: $cnd-blue-5;
			}

			&.disabled {
				background-color: colorDisable($gray-2);
				border-color: colorDisable($gray-2);
				color: colorDisable($gray-6);

				&.checked {
					background-color: colorDisable($cnd-blue-1);
					border-color: colorDisable($cnd-blue-5);
					color: colorDisable($cnd-blue-5);
				}
			}
		}

		//radius区域
		&.curve {
			border-radius: $tag-radius-curve;
		}

		&.rounded {
			&.small {
				border-radius: $tag-radius-rounded-small;
			}

			&.medium {
				border-radius: $tag-radius-rounded-medium;
			}
		}

		//size区域
		&.small {
			width: auto;
			height: $tag-height-small;
			padding: 0 $tag-padding-h-small;
			font-size: $font-size-caption;

			&.fixed {
				width: $tag-width-small;
			}
		}

		&.medium {
			width: auto;
			height: $tag-height-medium;
			padding: 0 $tag-padding-h-medium;
			font-size: $font-size-caption;

			&.fixed {
				width: $tag-width-medium;
			}
		}

		//文字对齐方式
		&.fixed {
			.contentWrapper {
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&.auto {
			.contentWrapper {
				text-align: left;
			}
		}
	}
</style>
