<template>
	<view>
		<!-- swiper中的transfrom会使fixed失效,此时需设置fixed为false,而top会自动使用padding-top -->
		<cnd-scroll :top="top" bottom="0" :down="downOption" @down="downCallback" :up="upOption" @up="upCallback" @emptyclick="emptyClick" @init="mescrollInit">
			<!-- 数据列表 -->
			<pd-list :list="pdList" :formData="formData"></pd-list>
		</cnd-scroll>
		<view class="function-box new-page" v-if="insexstatus == '2' &&  accountNme && pdList.length">
			<view class="block"><cnd-button color="danger" :disabled="false" size="block" icon="no" @clickEvent="oveTo">复核驳回</cnd-button></view>
			<view class="block"><cnd-button color="primary" :disabled="false" size="block" icon="no" @clickEvent="save">复核通过</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import PdList from './pd-detail-list.vue';
import cndScroll from '@/components/scroll/mescroll-uni.vue';
import { uniToRpx } from '@/common/utils/index.js';
import CndButton from '../../components/button/button.vue';
export default {
	components: {
		PdList,
		cndScroll,
		CndButton
	},
	props: {
		formData: Object,
		// insexstatus: Number,
		insexstatus: {
			// 当前tab的下标
			type: String,
			default: '0'
		},
		account: String
	},
	data() {
		return {
			mescroll: null, //mescroll实例对象
			downOption: {
				auto: false, //是否在初始化后,自动执行下拉回调callback; 默认true
				textLoading: ''
			},
			upOption: {
				// isLock: true,
				auto: false, // 不自动加载
				textLoading: '',
				// page: {
				// 	num: 0, // 当前页码,默认0,回调之前会加1,即callback(page)会从1开始
				// 	size: 10 // 每页数据的数量
				// },
				noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
				empty: {
					tip: '~ 空空如也 ~', // 提示
					btnText: ''
				},
				isBounce: false
			},
			pdList: [], //列表数据
			page: 0,
			isInit: false, // 列表是否已经初始化
			scrollY: 0,
			CustomBar: this.CustomBar,
			status: '',
			sAppletSubmitter: '',
			accountNme:true
		};
	},
	computed: {
		top() {
			const CustomBar = this.CustomBar;
			return uniToRpx(parseInt(CustomBar) + 62);
		}
	},
	mounted() {
		// 第一个tab,自动加载数据
		if (!this.isInit) {
			this.isInit = true; // 标记为true
			this.mescroll.triggerDownScroll();
		}
	},
	methods: {
		// mescroll组件初始化的回调,可获取到mescroll对象
		mescrollInit(mescroll) {
			this.mescroll = mescroll;
		},
		/*下拉刷新的回调 */
		downCallback(mescroll) {
			// 这里加载你想下拉刷新的数据, 比如刷新轮播数据
			// loadSwiper();
			// 下拉刷新的回调,默认重置上拉加载列表为第一页 (自动执行 mescroll.num=1, 再触发upCallback方法 )
			mescroll.resetUpScroll();
		},
		/*上拉加载的回调: mescroll携带page的参数, 其中num:当前页 从1开始, size:每页数据条数,默认10 */
		upCallback(mescroll) {
			//联网加载数据
			this.getList(
				mescroll.num,
				mescroll.size,
				curPageData => {
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					// console.log('i=' + this.i + ', mescroll.num=' + mescroll.num + ', mescroll.size=' + mescroll.size +
					// 	', curPageData.length=' + curPageData.length);
					mescroll.endSuccess(curPageData.length);
					//设置列表数据
					if (mescroll.num == 1) this.pdList = []; //如果是第一页需手动制空列表
					this.pdList = curPageData; //追加新数据
					for(let i in this.pdList){
						this.sAppletSubmitter = this.pdList[i].sAppletSubmitter
						break
					}
					if(this.account == this.sAppletSubmitter){
						this.accountNme = false
					}
					console.log('按钮控制1',this.sAppletSubmitter,this.account)
				},
				() => {
					//联网失败的回调,隐藏下拉刷新的状态
					mescroll.endErr();
				}
			);
		},
		//点击空布局按钮的回调
		emptyClick() {
			uni.showToast({
				title: '点击了按钮,具体逻辑自行实现'
			});
		},
		async getList(pagenum, pagesize, successCallback, errorCallback) {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sStockReceiptId: this.formData.sStockReceiptId,
					parameter: this.formData.parameter,
					_parameters: 'sStockReceiptId,parameter',
					_parameterTypes: 'string,string',
					dcID: 'wmsis',
					_boId: 'wmsis_ifsWmsPickPlanDetailBO_bo',
					_methodName: 'queryWmsPickPlanDetail',
					_methodParameterTypes: 'String,String'
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let list = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				let listData = []
				for(let i in list){
					if (list[i].sStatus ==  this.status) {
						listData.push(list[i])
					}
				}
				console.log('待拣货明细', listData,list, this.status);
				successCallback && successCallback(listData);
			} else {
				this.$refs.mpopup.open({
					type:'warn',
					content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		getPageCount(totalnum, limit) {
			return totalnum > 0 ? (totalnum < limit ? 1 : totalnum % limit ? parseInt(totalnum / limit) + 1 : totalnum / limit) : 0;
		},
		bindAction(obj) {
			this.$emit('action', obj);
		},
		oveTo(){
			this.tatusTo('0')
		},
		save(){
			this.tatusTo('1')
		},
		tatusTo(status) {
			uni.showModal({
				title: '提示',
				content: '确认此操作吗？',
				success: async res => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								"sId": this.formData.sStockReceiptId,
								"status": status,
								"_parameters": "sId,status",
								"_parameterTypes": "string,string",
								"dcID": "wmsis",
								"_boId": "wmsis_ifsWmsStockReceiptBO_bo",
								"_methodName": "doReviewWmsStockReceipt",
								"_methodParameterTypes": "String,String"
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '操作成功',
							// 	icon: 'none'
							// });
							this.$refs.mpopup.open({
								type:'success',
								content:'操作成功',
								timeout:2000,
							});
							this.mescroll.triggerDownScroll();
							this.status = '0'
							this.$emit('status', 0)
							// this.$util.pageBack();
						} else {
							this.$refs.mpopup.open({
								type:'warn',
								content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		}
	},
	watch: {
		insexstatus: {
			handler(newval){
				if (newval) {
					this.status = newval
					// console.log('待拣货明细this.status', this.status);
				}
			},
			// deep: true,
			immediate: true 
		},
	}
	// watch: {
	// 	insexstatus(newval) {
	// 		if (newval) {
	// 			if (newval) {
	// 				this.status = String(newval)
	// 				console.log('待拣货明细this.status', this.status);
	// 			}
				
	// 		}
			
	// 	},
	// }
};
</script>

<style>
.function-box.new-page .block{
	margin: 0 10rpx!important;
}
/* .danger {
    background-color: #cc0033;
    border-color: #cc0033;
    color: #cc0033;
} */
</style>