<template>
	<view>
		<block v-for="(item, index) in list" :key="index">
			<view class="list-box" @click="goInfo(item,index)">
				<cnd-list-group>
					<!-- <cnd-list-title :status="item.sStatus == 0 ? '未完成' : '已完成'"></cnd-list-title> -->
					<cnd-list-content title="商品" :value="item.sArtName || ''" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="件数" :value="countVal(item)" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="重量" :value="weightVal(item)" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="拣配库位" :value="item.sWarehouseLocationName || '无'" type="alignLeft"></cnd-list-content>
				</cnd-list-group>
			</view>
		</block>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListTitle,
			CndListContent
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		methods: {
			goInfo(item,index) {
				let {sStockReceiptId} = this.formData
				uni.navigateTo({
					url: `/pOperationLib/warehouseEx/preview?index=${index}&id=${sStockReceiptId}&sStatus=${item.sStatus}`
				})
			},
			countVal(item) {
				return `${item.sPieceCount || 0}${item.sPieceCountUnitName || ''}（本次拣货${item.sPickPieceCount || 0}${item.sPieceCountUnitName || ''}）`
			},
			weightVal(item) {
				item.sWeight = Number(item.sWeight).toFixed(3)
				item.sPickWeight = Number(item.sPickWeight).toFixed(3)
				return `${item.sWeight || 0}${item.sWeightUnitName || ''}（本次拣货${item.sPickWeight || 0}${item.sWeightUnitName || ''}）`
			}
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin: 0 16rpx 16rpx 16rpx;
		&.first-list-box {
			margin-top: 16rpx;
		}
	}
</style>
