<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index" @click.stop="goShippeDetail(item)">
			<cnd-list-group>
				<view class="item-list">
					<text class="title">车牌号</text>
					<text class="val">{{item.sLicenseNo}}</text>
				</view>
				<view class="item-list">
					<text class="title">司机</text>
					<text class="val">{{item.sDriverName}}</text>
				</view>
				<view class="item-list">
					<text class="title">出库单号</text>
					<text class="val">{{item.sCode}}</text>
				</view>
				<view class="item-list">
					<text class="title">日期</text>
					<text class="val">{{item.date}}</text>
				</view>
				<view class="item-list">
					<text class="title">货主确认单号</text>
					<text class="val">{{item.sGoodsOwnerConfirmCode}}</text>
				</view>
				<view class="item-list">
					<text class="title">货主</text>
					<text class="val">{{item.sGoodsOwnerName}}</text>
				</view>
				<view class="item-list">
					<text class="title">提货单位</text>
					<text class="val">{{item.sConsigneeName}}</text>
					<!-- <view class="btn" @click.stop="goShippeDetail(item)">拣货</view> -->
				</view>
				<view class="item-list">
					<text class="title">仓库</text>
					<text class="val">{{item.sWarehouseName}}</text>
					<!-- <view class="btn" @click.stop="goShippeDetail(item)">拣货</view> -->
				</view>
			</cnd-list-group>
		</view>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndListTitle,
			CndListContent
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			}
		},
		methods: {
			goShippeDetail (item) {
				uni.navigateTo({
					url: `/pOperationLib/warehouseEx/detail?id=${item.sId}`
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.list-box {
		margin-left: 16rpx;
		margin-right: 16rpx;
		overflow: hidden;
		.item-list {
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			flex-direction: row;
			-webkit-box-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			justify-content: space-between;
			padding: 6rpx 24rpx;
			box-sizing: border-box;
			width: 100%;
			font-size: 32rpx;
			line-height: 40rpx;
			.title {
				color: #8c8c8c;
				display: inline-block;
				width: 210rpx;
				min-width: 210rpx;
			}
			.val {
				margin-left: 10rpx;
				-webkit-box-flex: 1;
				flex-grow: 1;
				color: #262626;
				display: flex;
				-webkit-box-align: center;
			}
		}
		.btn {
			overflow: hidden;
			color: #fff;
			background-color: #408CDA;
			width: 140rpx;
			height: 40rpx;
			font-size: 10px;
			text-align: center;
			line-height: 40rpx;
			border-radius: 8rpx;
			cursor: pointer;
		}
	}
</style>
