<template>
	<view>
		<block v-for="(item, index) in daList" :key="index">
			<view class="list-box">
				<cnd-list-group>
					<cnd-list-title v-if="formData.sStatus == '0'" id="id" :rightDisared="true" rightDelLabel="删除" @redDel="del(item.sId)"></cnd-list-title>
					<cnd-list-content title="货品名称" :value="item.sArtName || ''" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<!-- <cnd-list-content title="钢卷号" :value="item.sCoilNo" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content> -->
					<cnd-list-content title="库区" :value="item.sWarehouseAreaName" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="库位" :value="item.sWarehouseLocationName" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="库存件数" :value="countVal(item)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content title="库存吨数" :value="weightVal(item)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content v-show="formData.sStatus == '2'" title="过磅件数" :value="String(item.sPieceCount)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<cnd-list-content v-show="formData.sStatus == '2'" title="过磅吨数" :value="item.sWeight.toFixed(3)" type="alignLeft" valueColor="wrapper-width-auto"></cnd-list-content>
					<!-- <view v-if="sStatus == 0" class="del" @tap="del(item.sId)"><icon type="clear" size="26"></icon></view> -->
					<view class="item-input" v-if="formData.sStatus == '0'">
						<text class="title">过磅件数</text>
						<input type="number" placeholder="请输入..." v-model="item.sPieceCounts" @input="sPieceCountscl" class="val"/>
					</view>
					<view class="item-input" v-if="formData.sStatus == '0'">
						<text class="title">过磅吨数</text>
						<input type="digit" placeholder="请输入..." @input="sWeightscl" v-model="item.sWeights" class="val"/>
					</view>
					<view style="margin-left: 40rpx;">
						<gUpload v-if="formData.sStatus == '0'" :busId="item.sId" :imgList="item.imgList"></gUpload>
						<gUpload v-if="formData.sStatus == '2'" :isEdit="false" :isdelete="false" :busId="item.sId" :imgList="item.imgList"></gUpload>
					</view>
				</cnd-list-group>
			</view>
		</block>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndListGroup from '@/components/list-group/list-group.vue';
import CndListTitle from '@/components/list-group/list-title.vue';
import CndListContent from '@/components/list-group/list-content.vue';
import gUpload from '@/components/upload/g-upload.vue'
export default {
	name: 'pd-list',
	components: {
		CndListGroup,
		CndListTitle,
		CndListContent,
		gUpload
	},
	props: {
		list: {
			// 数据列表
			type: Array,
			default() {
				return [];
			}
		},
		sStatus: [String, Number],
		formData: Object,
		sWarehouseId: String,
	},
	data() {
		return {
			infodetailImgs:{},
			daList: [],
		};
	},
	mounted() {
		
	},
	methods: {
		sPieceCountscl(e){
			uni.$emit('actions', this.daList)
			// uni.$emit('sPieceCountscl',+e.detail.value)
			console.log(e.detail.value)
		},
		sWeightscl(e){
			uni.$emit('actions', this.daList)
			console.log(e.detail.value)
			// uni.$emit('sWeightscl',e.detail.value)
		},
		goSpreview(index) {
			uni.navigateTo({
				url: `/pOperationLib/warehouseEx/spreview`
			});
		},
		countVal(item) {
			return `${String(item.sPlanQtx) || '0'}`;
		},
		weightVal(item) {
			// item.sWeight = Number(item.sWeight)
			return `${item.sPlanQty.toFixed(3) || 0}`;
		},
		del(id) {
			uni.showModal({
				title: '提示',
				content: '是否删除明细？',
				success: async (res) => {
					if (res.confirm) {
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
							dataStores: {},
							parameters: {
								sId: id,
								sWarehouseId:this.sWarehouseId,
								_parameters: 'sId,sWarehouseId',
								_parameterTypes: 'string,string',
								dcID: 'wmsis',
								_boId: 'wmsis_ifsWmsStockReceiptDetailBO_bo',
								_methodName: 'deleteWmsStockReceiptDetails',
								_methodParameterTypes: 'String,String'
							}
						});
						if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
							// uni.showToast({
							// 	title: '删除成功',
							// 	icon: 'none'
							// })
							this.$refs.mpopup.open({
								type:'success',
								content:'删除成功',
								timeout:2000,
							});
							uni.$emit('update')
						} else {
							// uni.showToast({
							// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							// 	icon: 'none',
							// 	mask: true
							// });
							this.$refs.mpopup.open({
								type:'warn',
								content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
								timeout:2500,
								isClick:false
							});
						}
					}
				}
			});
		},
	},
	watch: {
		list(newval) {
			if (newval) {
				if (newval) {
					this.daList = newval
					uni.$emit('actions', this.daList)
					for(let i in newval){
						// this.getImgList(newval[i].sId)
					}
					// this.detaSid = newval.sId
					// this.getImgList()
				}
				
			}
			
		},
	}
};
</script>

<style lang="scss">
.list-box {
	position: relative;
	margin: 0 16rpx 16rpx 16rpx;
	&.first-list-box {
		margin-top: 16rpx;
	}
	.preview-btn {
		color: red;
		width: 160rpx;
		min-width: 160rpx;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 40rpx;
		padding: 6rpx 24rpx;
		text-decoration: underline;
		cursor: pointer;
	}
	.list-content-container {
		padding-right: 120rpx;
	}
	.del {
		position: absolute;
		top: 50%;
		right: 30rpx;
		transform: translate(0, -50%);
	}
}
.item-input {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 6rpx 24rpx;
	box-sizing: border-box;
	width: 100%;
	font-size: 32rpx;
	line-height: 40rpx;
	.title {
		color: #8c8c8c;
		display: inline-block;
		width: 152rpx;
		min-width: 152rpx;
		// color: red;
	}
	.val {
		margin-left: 10rpx;
		-webkit-box-flex: 1;
		flex-grow: 1;
		color: #262626;
		display: flex;
		-webkit-box-align: center;
	}
	input{
		width: 100%;
		border-bottom: 1px solid #eee;
		padding:0 0 12rpx;
	}
}
</style>
