<template>
	<view class="cnd-option-card-demo">
		<view class="demo-box">
			<view class="header-wrapper">
				<view class="title-wrapper">
					<text>基础样式</text>
				</view>
				<view class="describe-wrapper">
					<text>适用广泛的标签\n4个标签以内使用固定样式，不可滑动</text>
				</view>
			</view>
			<view class="demo-wrapper block">
				<cnd-option-card-group :length="dataList0.length" v-model="select0">
					<cnd-option-card v-for="(item,index) in dataList0" :key="index"
							 :itemID="index"
							 :title="item.title">
					</cnd-option-card>
				</cnd-option-card-group>
			</view>
			<view class="demo-wrapper block">
				<cnd-option-card-group :length="dataList1.length" v-model="select1">
					<cnd-option-card v-for="(item,index) in dataList1" :key="index"
							 :itemID="index"
							 :title="item.title">
					</cnd-option-card>
				</cnd-option-card-group>
			</view>
			<view class="demo-wrapper block">
				<cnd-option-card-group :length="dataList2.length" v-model="select2">
					<cnd-option-card v-for="(item,index) in dataList2" :key="index"
							 :itemID="index"
							 :title="item.title">
					</cnd-option-card>
				</cnd-option-card-group>
			</view>
			<view class="footer-wrapper">
				<view class="describe-wrapper">
					<text>【 index属性 - Number 】\n一般传入数组对应的index\n</text>
					<text>【 title属性 - String 】\n对应标签页的名称\n</text>
					<text>【 v-model属性 - Number 】\n所选择标签的键名，对应index</text>
				</view>
			</view>
		</view>
		
		<view class="demo-box">
			<view class="header-wrapper">
				<view class="title-wrapper">
					<text>禁用标签</text>
				</view>
				<view class="describe-wrapper">
					<text>被禁用的标签不可点击，也不触发点击事件</text>
				</view>
			</view>
			<view class="demo-wrapper block">
				<cnd-option-card-group :length="dataList3.length" v-model="select3">
					<cnd-option-card v-for="(item,index) in dataList3" :key="index"
							 :itemID="index"
							 :title="item.title"
							 :disabled="item.disabled">
					</cnd-option-card>
				</cnd-option-card-group>
			</view>
			<view class="footer-wrapper">
				<view class="describe-wrapper">
					<text>【 disabled属性 - Boolean 】\ntrue：禁用\nfalse：正常</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import cndOptionCardGroup from "../option-card-group.vue"
	import cndOptionCard from "../option-card.vue"
	export default {
		name: 'cnd-option-card-demo',
		components: {
			cndOptionCard,
			cndOptionCardGroup
		},
		data() {
			return {
				select0: [],
				select1: [],
				select2: [],
				select3: [1],
				dataList0: [
					{
						title:'标签1',
					},
					{
						title:'标签2',
					},
				],
				dataList1: [
					{
						title:'标签1',
					},
					{
						title:'标签2',
					},
					{
						title:'标签3',
					},
				],
				dataList2: [
					{
						title:'标签1',
					},
					{
						title:'标签2',
					},
					{
						title:'标签3',
					},
					{
						title:'标签4',
					},
				],
				dataList3: [
					{
						title:'标签1',
					},
					{
						title:'标签2',
						disabled: true
					},
					{
						title:'标签3',
					},
					{
						title:'标签4',
					},
				],
			}
		},
		methods: {

		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	
	.cnd-option-card-demo {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: $cnd-demo-margin-v $cnd-demo-margin-h 0 $cnd-demo-margin-h;
			background-color: $gray-0;
			border-radius: $cnd-demo-border-radius;
		
			.header-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;
				
				border-bottom: 2rpx solid $gray-2;
		
				.title-wrapper {
					font-size: $font-size-headline;
					color: $gray-9;
				}
		
				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}
			
			.demo-wrapper {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding;
				
				&.block {
					display: block;
				}
			}
			
			.footer-wrapper {
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				justify-content: space-between;
				align-items: center;
				padding: 24rpx 24rpx;
				width: 100%;
				flex-wrap: nowrap;
				
				border-top: 2rpx solid $gray-2;
					
				.describe-wrapper {
					font-size: $font-size-footnote;
					color: $gray-6;
				}
			}
		}
	}
</style>
