<template>
	<view>
		
		<view class="list-box bodyView" v-for="(item, index) in setList" :key="index">
			<view class="showss" v-if="formData.sId && formData.statusEdit == 'false'"></view>
			<cnd-list-group>
				<cnd-list-title :rightDisared="true" :leftLabel="true" rightDelLabel="删除" @redDel="action(item)" v-if="!formData.sId || formData.sId && formData.statusEdit == 'true'">
					<block slot='left'> 
						<view class="fuzhi"  @click="leftfuzhiClick(item)">
							<text>复制</text>
						</view>
					</block>
				</cnd-list-title>
				<!-- <cnd-list-title :rightDisared="false" :leftLabel="false" v-else></cnd-list-title> -->
				<cnd-form>
					<view class="listFlex">
						<!-- <cnd-list-content class="list-content" title="产地" :value="item.chandi || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="品名" :value="item.sArtName || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="材质" :value="item.sDeliveryParty || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="规格" :value="item.sUserPhoneNumber || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="重量" :value="String(item.sWeight) || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="件数" :value="String(item.sSheetStatus) || '无'" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content>
						<cnd-list-content class="list-content" title="钢卷号" :value="item.sInNotifyCode || ''" type="alignLeft" layoutWidth="flexWidth"></cnd-list-content> -->
						
							<view class="list-content">
								<cnd-form-item label="产地" solid class="titlelab">
									<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="item.sPlaceOrigin" @click="orginPicker(index)" placeholder="-请选择产地-" disabled/>
								</cnd-form-item>
							</view>
							<view class="list-content">
								<cnd-form-item label="品名" solid class="titlelab">
									<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="item.sProductName" @click="goodsPicker(index)" placeholder="-请选择品名-" disabled/>
								</cnd-form-item>
							</view>
							<view class="list-content">
								<cnd-form-item label="材质" solid class="titlelab">
									<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="item.sTextureMaterial" @click="materialPicker(index)" placeholder="-请选择材质-" disabled/>
								</cnd-form-item>
							</view>
							<view class="list-content">
								<cnd-form-item label="规格" solid class="titlelab">
									<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="item.sSpecifications" @click="specificationPicker(index)" placeholder="-请选择规格-" disabled/>
								</cnd-form-item>
							</view>
							<view class="list-content">
								<cnd-form-item label="重量" solid class="titlelab">
									<input type="digit" v-model="item.sQty" @input="onsQty(item)"/>
								</cnd-form-item>
							</view>
							<view class="list-content">
								<cnd-form-item label="件数" solid class="titlelab">
									<input type="digit" v-model="item.sQtx" @input="onsQtx(item)"/>
								</cnd-form-item>
							</view>
							<view class="list-width">
								<cnd-form-item label="钢卷号" solid class="titlelab">
									<input type="text" v-model="item.sCoilNo"/>
								</cnd-form-item>
							</view>
					</view>
					<view style="margin-left: 30rpx;">
					
						<gUpload v-if="!formData.sId || formData.sId && formData.statusEdit == 'true'" :busId="item.sId ? item.sId : '@' + index + item.sCoilNo" :imgList="item.imgList"></gUpload>
						<gUpload v-else :isEdit="false" :isdelete="false" :busId="item.sId ? item.sId : '@' + index + item.sCoilNo" :imgList="item.imgList"></gUpload>
					</view>
				</cnd-form>
				
			</cnd-list-group>
			
		</view>
		<view class="addInfo" @click="addInfo" v-if="!formData.sId || formData.sId && formData.statusEdit == 'true'">
			<i class="iconfont icon-cnd-add-circle-solid"></i>
			<text>添加明细</text>
		</view>
		<!-- <view class="list-box first-list-box"> -->
            <cnd-list-group>
                <cnd-list-title title="随车小票" icon="icon-cnd-metal-edit-2"></cnd-list-title>
                <view style="margin-left: 40rpx;">
				
                    <gUpload v-if="!formData.sId || formData.sId && formData.statusEdit == 'true'" :busId="detaSid" :imgList="infodetailImgs.imgList"></gUpload>
					<gUpload v-else :isEdit="false" :isdelete="false" :busId="detaSid" :imgList="infodetailImgs.imgList"></gUpload>
                </view>
            </cnd-list-group>
        <!-- </view> -->
		<!-- 产地选择 -->
		<custom-picker
			ref="orgin"
			title="请输入产地名"
			confirmColor="#4cd964"
			@onConfirm="orginChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addOrginData.jobId">
		</custom-picker>
		<!-- 品名选择 -->
		<custom-picker
			ref="goods"
			title="请输入品名"
			confirmColor="#4cd964"
			@onConfirm="goodsChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addGoodsData.jobId">
		</custom-picker>
		<!-- 材质选择 -->
		<custom-picker
			ref="material"
			title="请输入材质"
			confirmColor="#4cd964"
			@onConfirm="materialChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addMaterialData.jobId">
		</custom-picker>
		<!-- 规格选择 -->
		<custom-picker
			ref="specification"
			title="请输入规格"
			confirmColor="#4cd964"
			@onConfirm="specificationChange"
			@on_close="closePicker"
			@showMoreChange="getList"
			@confirm="bindConfirmEvent"
			:parameter="true"
			:pickerList="addData.setList"
			:addmaterialTypeData="addSpecificationData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndForm from '@/components/form/cnd-form';
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListGroup from '@/components/list-group/list-group.vue'
	// import CndButton from '@/components/button/button';
	// import cndPopContent from "@/components/pop-content/pop-content.vue"
	// import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListContent from '@/components/list-group/list-content.vue'
	import gUpload from '@/components/upload/g-upload.vue'
	import CndListTitle from '@/components/list-group/list-title.vue'
	import customPicker from '@/components/picjerDiy.vue';
	// import imgSee from '@/components/upload/img-see.vue'
	export default {
		name: 'pd-list',
		components: {
			CndForm,
			CndFormItem,
			CndListGroup,
			// CndButton,
			// cndPopContent,
			// CndFormItem,
			CndListContent,
			gUpload,
			CndListTitle,
			customPicker,
			// imgSee,
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object,
			info: Object,
			warehouse: Object,
		},
		data () {
			return {
				detailImg:{sId: '0'},
				infodetailImgs:{},
				inputDisabled: false,
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
				setInfo:{
					sCoilNo: "",
					sPlaceOrigin: "",
					sProductName: "",
					sQtx: null,
					sQty: null,
					sSpecifications: "",
					sTextureMaterial: "",
				},
				setList:[],
				addList: [{
					sCoilNo: "",
					sPlaceOrigin: "",
					sProductName: "",
					sQtx: null,
					sQty: null,
					sSpecifications: "",
					sTextureMaterial: "",
				}],
				addData: {
					setList: [],
					list: [],
					page: 1,
					pageSize: 20,
					loadState: 'loadmore',
					parameter: '',
					getType: '',
				},
				// 产地
				addOrginData: {
					jobId: '',
					codeName: "",
				},
				// 品名
				addGoodsData: {
					jobId: '',
					codeName: "",
				},
				// 材质
				addMaterialData: {
					jobId: '',
					codeName: "",
				},
				// 规格
				addSpecificationData: {
					jobId: '',
					codeName: "",
				},
				index: 0,
				detaSid: '',
				deteleType: false,
				sWarehouseId: ''
			}
		},
		// async mounted() {
		// 	// 货主
		// 	this.sMaterialType()
		// },
		async mounted() {
			await this.setListImages()
			
			if (this.formData.sId) {
				this.detaSid = this.formData.sId
				await this.getImgList()
			}else{
				// console.log('随机数',this.generateMixed(32))
				this.detaSid = this.generateMixed(32)
				// await this.getImgList()
				if (this.deteleType == false) {
					
					let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
						dataStores: {},
						parameters: {
							sId: this.detaSid,
							_parameters: 'sId',
							_parameterTypes: 'string',
							dcID: 'fs',
							_boId: 'fs_bsbFilesBO_bo',
							_methodName: 'getBsbFilesByBusId',
							_methodParameterTypes: 'String'
						}
					});
					let infos = res.dataStores.result.rowSet.primary || [];
					
					for(let v in infos){
						let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
							dataStores: {},
							parameters: {
								ids: infos[v].sId,
								_parameters: 'ids',
								_parameterTypes: 'string',
								dcID: 'fs',
								_boId: 'fs_bsbFilesBO_bo',
								_methodName: 'deleteFile',
								_methodParameterTypes: 'String'
							}
						});
						
						// await this.getImgList()
					}
				}
				
				await this.getImgList()
			}
			console.log('打印小票图片sId',this.detaSid)
			
			
			// this.getImgList()
			uni.$on('addImg', () => {
				for(let i in this.setList){
					if (this.setList[i].sId) {
						this.getSetListImgList(this.setList[i].sId, this.setList[i])
					}else{
						this.getSetListImgList('@' + i + this.setList[i].sCoilNo, this.setList[i])
					}
				}
				// this.getSetListImgList()
				this.getImgList()
				this.deteleType = true
			})
			uni.$on('deleteImg', () => {
				for(let i in this.setList){
					if (this.setList[i].sId) {
						this.getSetListImgList(this.setList[i].sId, this.setList[i])
					}else{
						this.getSetListImgList('@' + i + this.setList[i].sCoilNo, this.setList[i])
					}
				}
                this.getImgList()
			    this.deteleType = true
            })
		},
		methods: {
			async setListImages(){
				for(let i in this.setList){
					// let listBusId = this.setList[i].sId ? this.setList[i].sId : '@' + i + this.setList[i].sCoilNo
					// this.getSetListImgList(listBusId, i)
					if (this.setList[i].sId) {
						await this.getSetListImgList(this.setList[i].sId, this.setList[i])
					}else{
						let setListsId = '@' + i + this.setList[i].sCoilNo
						// await this.getSetListImgList('@' + i + this.setList[i].sCoilNo, this.setList[i])
						if (this.deteleType == false) {
							
							let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
								dataStores: {},
								parameters: {
									sId: setListsId,
									_parameters: 'sId',
									_parameterTypes: 'string',
									dcID: 'fs',
									_boId: 'fs_bsbFilesBO_bo',
									_methodName: 'getBsbFilesByBusId',
									_methodParameterTypes: 'String'
								}
							});
							let infos = res.dataStores.result.rowSet.primary || [];
							
							for(let v in infos){
								let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
									dataStores: {},
									parameters: {
										ids: infos[v].sId,
										_parameters: 'ids',
										_parameterTypes: 'string',
										dcID: 'fs',
										_boId: 'fs_bsbFilesBO_bo',
										_methodName: 'deleteFile',
										_methodParameterTypes: 'String'
									}
								});
								
								// await this.getImgList()
								await this.getSetListImgList(setListsId, this.setList[i])
							}
						}
						
						
						
						
					}
				}
			},
			// 生成四位随机数
			generateMixed(n) {
				let chars = ["0","1","2","3","4","5","6","7","8","9","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","a","b","c", "d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
				let res = "";
				for (var i = 0; i < n; i++) {
					var id = Math.floor(Math.random() * 62);
					res += chars[id];
				}
				return res;
			},

			onsQty(){
				let numsQty = 0
				for(let i in this.setList){
					numsQty	= parseFloat((numsQty + +this.setList[i].sQty).toFixed(10))
				}
				uni.$emit('onsQty',numsQty)
				console.log('onsQty',numsQty)
			},
			onsQtx(){
				let numsQtx = 0
				for(let i in this.setList){
					numsQtx = parseFloat((numsQtx + +this.setList[i].sQtx).toFixed(10))
				}
				uni.$emit('onsQtx',numsQtx)
			},
			async getSetListImgList(vsId, setList) {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						sId: vsId,
						_parameters: 'sId',
						_parameterTypes: 'string',
						dcID: 'fs',
						_boId: 'fs_bsbFilesBO_bo',
						_methodName: 'getBsbFilesByBusId',
						_methodParameterTypes: 'String'
					}
				});
				let infos = res.dataStores.result.rowSet.primary || [];
				// this.imgList = infos
				// console.log('身份证明细图片', infos);
				// console.log('this.setList[i]'+ '第' + i + '条', this.setList[i]);
				this.$set(setList, 'imgList', infos)
				// console.log('this.setList[i]'+ '第' + i + '条', this.setList[i]);
				let imgListsId = setList.imgList
				imgListsId = imgListsId.map(e=>{
					return{
						"fid": e.sId
					}
				})
				this.$set(setList, 'filesinfo', imgListsId)
				console.log('展示明细图片', this.setList);
				// this.formImg[0].imgList = this.infodetailImg.imgList
			},
			async getImgList() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					dataStores: {},
					parameters: {
						sId: this.detaSid,
						_parameters: 'sId',
						_parameterTypes: 'string',
						dcID: 'fs',
						_boId: 'fs_bsbFilesBO_bo',
						_methodName: 'getBsbFilesByBusId',
						_methodParameterTypes: 'String'
					}
				});
				let infos = res.dataStores.result.rowSet.primary || [];
				// this.imgList = infos
				// console.log('身份证明细图片', infos);
				this.$set(this.infodetailImgs, 'imgList', infos)
				console.log('展示随车小票图片', this.infodetailImgs.imgList);
				// this.formImg[0].imgList = this.infodetailImg.imgList
			},
			// },
			closePicker(){
				// this.addData.parameter = ''
				this.inputDisabled = false
			},
			bindConfirmEvent(value) {
				this.addData.parameter = value
				this.addData.loadState = 'loadmore';
				this.addData.page = 1
				this.addData.list = []
				this.getList()
			},
			// 产地
			//打开
			orginPicker(i){
				uni.showLoading({
					title: '加载中，请耐心等待！',
					mask: true
				});
				this.addData.setList = []
				this.addData.getType = '20'
				this.addData.page = 1
				this.addData.loadState = 'loadmore';
				this.addData.list = []
				this.addData.parameter = ''
				this.getList()
				this.addOrginData.jobId = ''
				this.index = i
				this.inputDisabled = true
				this.$refs.orgin._open()
			},
			//确定：接收子组件传来的参数
			orginChange(checked){
				
				console.log('this.setList[this.index].sPlaceOrigin',this.index)
				this.setList[this.index].sPlaceOrigin = checked.label
				this.addOrginData.jobId = checked.value
				this.addOrginData.codeName = this.setList[this.index].sPlaceOrigin
				this.inputDisabled = false
			},
			
			// 品名
			//打开
			goodsPicker(i){
				uni.showLoading({
					title: '加载中，请耐心等待！',
					mask: true
				});
				this.addData.setList = []
				this.addData.getType = '10'
				this.addData.page = 1
				this.addData.loadState = 'loadmore';
				this.addData.list = []
				this.addData.parameter = ''
				this.getList()
				this.addGoodsData.jobId = ''
				this.index = i
				this.inputDisabled = true
				this.$refs.goods._open()
			},
			//确定：接收子组件传来的参数
			goodsChange(checked){
				
				this.setList[this.index].sProductName = checked.label
				this.addGoodsData.jobId = checked.value
				this.addGoodsData.codeName = this.setList[this.index].sProductName
				this.inputDisabled = false
			},
			
			// 材质
			//打开
			materialPicker(i){
				uni.showLoading({
					title: '加载中，请耐心等待！',
					mask: true
				});
				this.addData.setList = []
				this.addData.getType = '30'
				this.addData.page = 1
				this.addData.loadState = 'loadmore';
				this.addData.list = []
				this.addData.parameter = ''
				this.getList()
				this.addMaterialData.jobId = ''
				this.index = i
				this.inputDisabled = true
				this.$refs.material._open()
			},
			//确定：接收子组件传来的参数
			materialChange(checked){
				
				this.setList[this.index].sTextureMaterial = checked.label
				this.addMaterialData.jobId = checked.value
				this.addMaterialData.codeName = this.setList[this.index].sTextureMaterial
				this.inputDisabled = false
			},
			
			// 规格
			//打开
			specificationPicker(i){
				uni.showLoading({
					title: '加载中，请耐心等待！',
					mask: true
				});
				this.addData.setList = []
				this.addData.getType = '40'
				this.addData.page = 1
				this.addData.loadState = 'loadmore';
				this.addData.list = []
				this.addData.parameter = ''
				this.getList()
				this.addSpecificationData.jobId = ''
				this.index = i
				this.inputDisabled = true
				this.$refs.specification._open()
			},
			//确定：接收子组件传来的参数
			specificationChange(checked){
				
				this.setList[this.index].sSpecifications = checked.label
				this.addSpecificationData.jobId = checked.value
				this.addSpecificationData.codeName = this.setList[this.index].sSpecifications
				this.inputDisabled = false
			},
			async getList() {
				// let { page, pageSize, loadState, list } = this.addData;
				if (this.addData.loadState != 'loadmore') {
					return;
				}
				
				this.addData.loadState = 'loading';
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
					dataStores: {},
					parameters: {
						"sSheetCode": "",//wms.move.plan
						"mapParams": {
							"keyWords": this.addData.parameter,
							"type":this.addData.getType,
							"pageNum": this.addData.page,
							"pageSize": this.addData.pageSize,
							"sWarehouseIdList": [
								this.sWarehouseId
							]
						},
						"_parameters": "sSheetCode,mapParams",
						"_parameterTypes": "string,string",
						"dcID": "wmsis",
						"_boId": "wmsis_ifsWmsArtnoCollectBO_bo",
						"_methodName": "queryWmsArtnoCollectFuzzy",
						"_methodParameterTypes": "String,String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
					uni.hideLoading();
					data = data || [];
					console.log('下拉列表',data);
					if (data.length < this.addData.pageSize) {
						this.addData.loadState = 'nomore';
					} else {
						this.addData.loadState = 'loadmore';
						this.addData.page++;
					}
					this.addData.list = [...this.addData.list, ...data];
					this.addData.setList = this.addData.list.map(ele => {
						return{
							value: ele.sId,
							label: ele.name
						}
					})
					console.log('下拉列表赋值',this.addData.setList);
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});	
				}
			},
			addInfo(){
				let a = {
					sCoilNo: "",
					sPlaceOrigin: "",
					sProductName: "",
					sQtx: null,
					sQty: null,
					sSpecifications: "",
					sTextureMaterial: "",
				}
				// let b = []
				// b.push(a)
				this.setList.push(a)
				// b = []
				
				a = {
					sCoilNo: "",
					sPlaceOrigin: "",
					sProductName: "",
					sQtx: null,
					sQty: null,
					sSpecifications: "",
					sTextureMaterial: "",
				}
				// this.setListImages()
				uni.$emit('actions', this.setList)
				
				console.log('新增明细',this.setList)
			},
			async action(item){
				this.setList = await this.setList.filter((i) => {
					// console.log(i)
					return i != item
				})
				uni.$emit('actions', this.setList)
				let numsQtx = 0
				let numsQty = 0
				for(let i in this.setList){
					numsQtx = parseFloat((numsQtx + +this.setList[i].sQtx).toFixed(10))
					numsQty	= parseFloat((numsQty + +this.setList[i].sQty).toFixed(10))
				}
				uni.$emit('onsQtx',numsQtx)
				uni.$emit('onsQty',numsQty)
				// this.setListImages()
				console.log('删除明细',this.setList)
			},
			leftfuzhiClick(item){
				let b = {
					sCoilNo: "",
					sPlaceOrigin: item.sPlaceOrigin,
					sProductName: item.sProductName,
					sQtx: item.sQtx,
					sQty: item.sQty,
					sSpecifications: item.sSpecifications,
					sTextureMaterial: item.sTextureMaterial,
				}
				this.setList.push(b)

				let numsQtx = 0
				let numsQty = 0
				for(let i in this.setList){
					numsQtx = parseFloat((numsQtx + +this.setList[i].sQtx).toFixed(10))
					numsQty	= parseFloat((numsQty + +this.setList[i].sQty).toFixed(10))
				}
				uni.$emit('onsQtx',numsQtx)
				uni.$emit('onsQty',numsQty)
				// this.setListImages()
				uni.$emit('actions', this.setList)
				
				console.log('复制明细',this.setList)
			},
		
		},
		watch: {
			list: {
				handler(newval) {
					if (newval) {
						this.setList = newval;
						uni.$emit('actions', this.setList)
						this.setListImages()
					}
					
				},
				// deep: true,
				immediate: true
			},
			warehouse: {
				handler(newval) {
					// if (newval) {
						if (this.info.sId) {
							this.sWarehouseId = newval.sWarehouseId
							
						}else{
							this.sWarehouseId = newval.sId
						}
						console.log('打印仓库123',newval)
					// }
					
				},
				deep: true,
				immediate: true
			},
		}
	}
</script>

<style lang="scss" scoped>
input{
	font-size: 28rpx!important;
}
.listFlex{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
	// border: 1px solid #e7e7e7;
    border-radius: 12rpx;
	padding: 12rpx 0;

}
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
	
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}
.container{
	padding:0!important;
}
.state{
    z-index: 999;
    border-top: 1px solid #dedede;
	border-top: 1px solid #dedede;
    float: left;
    font-size: 30upx;
    color: #408CDA;
    padding: 30upx;
}
.list-content{
	width: 50%;
}
.list-width{
	width: 100%;
}
/deep/.titlelab.cnd-field-item .cnd-field-label {
	width: 96rpx!important;
}
/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
	padding-right: 6rpx!important;
}
.addInfo{
	text-align: center;
	color: #40da8d;
	padding: 18rpx 0 38rpx;
	.iconfont{
		font-size: 80rpx;
		display:block;
	}
	text{
		font-size: 30rpx;
		display:block;
	}
}
.fuzhi {
	padding: 8.5rpx 32rpx;
	color: #4497FD;
	border: 2rpx solid #4497FD;
	font-size: 28rpx;
	border-radius: 10rpx;
	position: absolute;
	top: 50%;
	left: 24rpx;
	transform: translateY(-50%);
}
.bodyView{
	position: relative;
}
.showss{
	width: 100%;
	height:350rpx;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
</style>

