<template>
	<view class="bodyView">
		<view class="showss" v-if="formData.sId && formData.statusEdit == 'false' && formData.carform != 'false'"></view>
        <view class="list-box first-list-box">
            <cnd-list-group>
                <cnd-list-title title="随车小票信息" icon="icon-cnd-metal-edit-2"></cnd-list-title>
                <!-- <cnd-list-content title="收货单位" :value="info.sGoodsOwnerName || '无'" type="alignLeft"></cnd-list-content> -->
                <cnd-form>
					 <cnd-form-item label="收货单位" solid v-if="formData.carform == 'false'">
						<input type="text" v-model="addGoodsOwnerData.codeName" disabled/>
                    </cnd-form-item>
                    <cnd-form-item v-else label="收货单位" solid>
						<input type="text" placeholder-style="color: #8C8C8C; font-size: 28rpx" v-model="addGoodsOwnerData.codeName" @click="goodsOwnerPicker" placeholder="--请选择收货单位--" disabled/>
                    </cnd-form-item>
                    <cnd-form-item label="车牌号" solid>
                        <input type="text" v-model="info.sVehicleVesselNo"/>
                    </cnd-form-item>
					<cnd-form-item label="预达日期" solid v-if="formData.carform == 'false'">
                        <input type="text" v-model="timeRes" disabled/>
                    </cnd-form-item>
                    <cnd-form-item v-else label="预达日期" solid>
						<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">{{timeRes ? timeRes : datej}}</cnd-datepicker>
                    </cnd-form-item>
                    <cnd-form-item label="仓库" solid>
                        <!-- <input type="text" v-model="sWarehouseName" disabled/> -->
						<input v-model="sWarehouseName" disabled  v-if="formData.carform == 'false'"/>
						<input v-model="sWarehouseName" @click="bindPickerPicker" disabled  v-else/>
                    </cnd-form-item>
                    <cnd-form-item label="总件数" solid  class="disabledInput">
                        <input type="digit" v-model="formDataEdit.numsQtx" disabled/>
                    </cnd-form-item>
                    <cnd-form-item label="总重量" solid  class="disabledInput">
                        <input type="digit" v-model="formDataEdit.numsQty" disabled/>
                    </cnd-form-item>
                </cnd-form>
                <!-- <cnd-list-content title="车牌号" :value="info.sCarNo || '无'" type="alignLeft"></cnd-list-content>
                <cnd-list-content title="预计送达日期" :value="info.sDeliveryDate || '无'" type="alignLeft"></cnd-list-content>
                <cnd-list-content title="仓库" :value="info.sWarehouseName || '无'" type="alignLeft"></cnd-list-content>
                <cnd-list-content title="总件数" :value="info.sSheetStatus || '无'" type="alignLeft"></cnd-list-content>
                <cnd-list-content title="总重量" :value="info.sWeight || '无'" type="alignLeft"></cnd-list-content> -->
                <!-- <cnd-list-content title="拣配方数" :value="String(info.sQtx - info.sQty) === 'NaN' ? '0' : String((info.sQtx - info.sQty).toFixed(3))" type="alignLeft"></cnd-list-content> -->
            </cnd-list-group>
        </view>
        <!-- 收货单位选择 -->
		<custom-picker
			ref="goodsOwner"
			title="请输入收货单位"
			confirmColor="#4cd964"
			@onConfirm="goodsOwnerChange"
			@on_close="closePicker"
			@showMoreChange="getGoodsOwnerList"
			@confirm="bindConfirmEvent"
			:pickerList="goodsOwnerList"
			:parameter="true"
			:addmaterialTypeData="addGoodsOwnerData.jobId">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import CndListGroup from '@/components/list-group/list-group.vue'
import CndListContent from '@/components/list-group/list-content.vue'
import CndListTitle from '@/components/list-group/list-title.vue'
// import detail from './detail.vue'
import customPicker from '@/components/picjerDiy.vue';
import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
import {
	uniToRpx,
	formatTime
} from "@/common/utils/index.js";

export default {
	components: {
		CndForm,
		CndFormItem,
		CndListGroup,
		CndListContent,
		CndListTitle,
		// detail,
        customPicker,
		CndDatepicker,
	},
	props: {
		info: Object,
		formData: Object,
		sIsFinish: [Number, String, Boolean],
		statusEdits: Boolean,
		sIds: String,
		showTos: String,
		warehouse: Object,
	},
	data() {
		return {
			setinfo:{},
			inputDisabled: false,
			// 收货单位
			goodsOwnerList: [],
			addGoodsOwnerData: {
				list: [],
				page: 1,
				pageSize: 20,
				loadState: 'loadmore',
				jobId: '',
				codeName: "",
			},
			headstockImg:[
				{
					title: '随车小票',
					img: '../../static/images/jpg.svg',
					sId: '',
					imgList: []
				}
			],
			showTo: '',
			sId: '',
			datej: new Date().format('yyyy-MM-dd'),
			timeRes: '',
			sWarehouseName: '',
			parameter: '',
			formDataEdit: {},
			material:[],
			addressObj:{}
		};
	},
	onLoad() {
		
	},
	async mounted() {
		this.sMaterial()
		this.addressObj2()
		this.getGoodsOwnerList()
		if(!this.info.sReceiveTime) {
			this.timeRes = this.datej
			this.info.sReceiveTime = this.datej
		} 
	},
	created() {
		
		
	},
	methods: {
		async bindPickerPicker(){
			uni.navigateTo({
				url: '/pAppointmentDelivery/bookingDelivery/map?items='+encodeURIComponent(JSON.stringify(this.material))+'&mapToType=' + '0'
			})
			// let mapToType = '0'
			// uni.$emit('upmaterialData', mapToType)
			// uni.navigateBack({
			// 	delta: 1
			// })
		},
		//打开地图选择
		addressObj2() {
			
		},
		async sMaterial() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				
				"dataStores": {},
				"parameters": {
				    "mapParams": {
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsdeliveryis",
					"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
					"_methodName": "getAllWareHouseListForMiniApp",
					"_methodParameterTypes": "String"
				},
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				this.material = material.map(ele =>{
					return{
						...ele,
						mapToType: '0'
					}
				})
				console.log('地图仓库', this.material)
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		bindChange(e) {
			this.timeRes = e.format('yyyy-MM-dd')
			this.info.sReceiveTime = this.timeRes
			console.log('时间时间', this.info.sReceiveTime)
		},
		closePicker(){
			// this.parameter = ''
			this.inputDisabled = false
		},
		// 收货单位
		bindConfirmEvent(value) {
			this.parameter = value
			this.addGoodsOwnerData.loadState = 'loadmore';
			this.addGoodsOwnerData.page = 1
			this.addGoodsOwnerData.list = []
			
		},
		//打开
		
		goodsOwnerPicker(){
			
			this.parameter = ''
			this.inputDisabled = true
			this.$refs.goodsOwner._open()
		},
		//确定：接收子组件传来的参数
		goodsOwnerChange(checked){
			this.addGoodsOwnerData.jobId = checked.value
			this.addGoodsOwnerData.codeName = checked.label
			this.info.sGoodsOwnerName = this.addGoodsOwnerData.codeName
			this.info.sGoodsOwnerId = this.addGoodsOwnerData.jobId
			this.inputDisabled = false
		},
		
		async getGoodsOwnerList() {
			console.log('cscs查')
			// let { page, pageSize, loadState, list } = this.addGoodsOwnerData;
			if (this.addGoodsOwnerData.loadState != 'loadmore') {
				return;
			}
			this.addGoodsOwnerData.loadState = 'loading';
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action?ajaxRequest=true&t=12', {
				dataStores: {},
				parameters: {
					 "sSheetCode": "",//wms.move.plan
					"mapParams": {
						"keywords": this.parameter,
						"pageNum": this.addGoodsOwnerData.page,
						"pageSize": this.addGoodsOwnerData.pageSize,
						"sWarehouseIdList": [
							this.info.sWarehouseId
						]
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmsis",
					"_boId": "wmsis_ifsCustomerInfoBO_bo",
					"_methodName": "queryCustomerInfoFuzzy",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let data = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData);
				data = data || [];
				console.log('收货单位列表111',data);
				if (data.length < this.addGoodsOwnerData.pageSize) {
					this.addGoodsOwnerData.loadState = 'nomore';
				} else {
					this.addGoodsOwnerData.loadState = 'loadmore';
					this.addGoodsOwnerData.page++;
				}
				this.addGoodsOwnerData.list = [...this.addGoodsOwnerData.list, ...data];
				this.goodsOwnerList = this.addGoodsOwnerData.list.map(ele => {
					return{
						value: ele.sId,
						label: ele.sChineseName
					}
				})
				console.log('收货单位列表',this.goodsOwnerList);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});	
			}
		},
		
		
	},
	watch: {
		statusEdits: {
			handler(newval){
				this.statusEdit = newval
			},
			deep: true,
			immediate: true 
		},
		sIds: {
			handler(newval) {
				if (newval) {
					this.sId =  newval
					this.headstockImg[0].sId = this.sId + '_06'
					console.log('待拣货明细图片this.sId', this.headstockImg[0].sId);
				}
				
			},
			// deep: true,
			immediate: true
		},
		showTos: {
			handler(newval) {
				if (newval) {
					this.showTo = newval;
				}
				
			},
			// deep: true,
			immediate: true
		},
		warehouse: {
			handler(newval) {
				// if (newval) {
					if (this.formData.sId) {
						this.addGoodsOwnerData.codeName = this.info.sGoodsOwnerName
						this.addGoodsOwnerData.jobId = this.info.sGoodsOwnerId
					}
					if (newval.sName) {
						this.sWarehouseName = newval.sName
						this.info.sWarehouseName = newval.sName;
						this.info.sWarehouseId = newval.sId
						
						
					}else{
						this.sWarehouseName = newval.sWarehouseName
						this.info.sWarehouseName = newval.sWarehouseName;
						this.info.sWarehouseId = newval.sWarehouseId
						
					}
					console.log('打印地图传入仓库',newval,'名称',this.info.sWarehouseName,this.info.sWarehouseId)
				// }
				
			},
			// deep: true,
			immediate: true
		},
		info: {
			handler(newval) {
				if(newval) {
					// if(this.formData.sId){
					// 	this.formList = newval
					// }
					// // this.dataList = newval
					if(this.info.sReceiveTime) {
						this.timeRes = formatTime(this.info.sReceiveTime, 'Y-M-D')
					} else if(!this.timeRes) {
						// this.timeRes = this.datej
						this.info.sReceiveTime = this.datej
					}
				}
			},
			deep: true,
			immediate: true 
		},
		formData: {
			handler(newval) {
				this.formDataEdit = newval
				
			},
			deep: true,
			immediate: true 
		},
		// info: {
		// 	handler(newval) {
		// 		if(newval) {
		// 			this.setinfo=newval
		// 			uni.$on('onsQty', e => {
		// 				this.setinfo.sQty = e;
		// 			})
		// 			uni.$on('onsQtx', e => {
		// 				this.setinfo.sQtx = e;
		// 				console.log('onsQtx',this.setinfo.sQtx)
		// 			})
		// 		}
		// 	},
		// 	deep: true,
		// 	immediate: true 
		// },
	}
};
</script>
<style lang="scss" scoped>
	.headstock {
    	margin-top: 0 !important;
	}
	input{
		font-size: 28rpx!important;
	}
	/deep/.disabledInput .cnd-field-value .cnd-field-value-body{
		background: whitesmoke!important;
		// padding: 12upx 20upx!important;
	}
	.bodyView{
		position: relative;
	}
	.showss{
		width: 100%;
		height:100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
	}
</style>

