<template>
	<view>
		<!-- <cnd-navbar color="white" :isBack="true" v-if="showTo == '1'">
			<block slot='content'>上传证件照</block>
		</cnd-navbar>
		<cnd-navbar color="white" :isBack="true" v-if="showTo == '2'">
			<block slot='content'>上传车头照</block>
		</cnd-navbar>
		<cnd-navbar color="white" :isBack="true" v-if="showTo == '3'">
			<block slot='content'>查看证件照</block>
		</cnd-navbar> -->
		<view class="idBoy" v-if="formData.statusEdit == 'true'">
			<view class="icon">
				<image src="@/static/images/tips.png" />
			</view>
			<view class="text">请上传驾驶证、行驶证、身份证照片</view>
		</view>
		<view :class="['boxImg', {headstock: showTo == '3'}, {lockUp: showTo == '1'}]">
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>引用证件模板</label>
				<cnd-switch v-model="switchValue1" :disabled="false"></cnd-switch>
			</view> -->
			
			<id-img photoB="0" :formImg="formImg" :info="infoImg" :showTo="formData.sId && formData.statusEdit == 'false'  ? '3' : '1'"></id-img>
			<!-- <id-img-lock v-if="showTo == '3'" :formImg="formImg" :info="info"></id-img-lock> -->
			
			<!-- <view class="ht" v-if="showTo == '1'">
				<label>设置为证件模板，下次可直接使用</label>
				<cnd-switch v-model="switchValue2" :disabled="false"></cnd-switch>
			</view> -->
		</view>
	</view>
</template>

<script>
// import CndNavbar from '@/components/navbar/cnd-navbar.vue'
import CndButton from '@/components/button/button';
// import cndSwitch from "@/components/switch/switch.vue"
import idImg from '@/components/upload/idImg.vue'
export default {
	components: { 
		// CndNavbar, 
		CndButton, 
		// cndSwitch, 
		idImg 
	},
	props: {
		formData: Object,
		page: String,
		sIds: String,
		showTos: String
	},
	data() {
		return {
			formImg:[
				{
					title: '拍摄身份证正面照',
					img: '../../static/images/sfz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄身份证反面照',
					img: '../../static/images/sfzf.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄驾驶证照',
					img: '../../static/images/jsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				},
				{
					title: '拍摄行驶证照',
					img: '../../static/images/xsz.png',
					sId: '',
					imgList: [],
					imgInfos: ''
				}
			],
			switchValue1: false,
			switchValue2: false,
			showTo: '',
			infoImg: {},
			sId: '',
			userInfo:{},
			sSheetStatus: '',
			imgListNum: [],
			deteleType: false,
		};
	},
	async mounted() {
		// this.images()
		if (this.formData.sId) {
			this.formImg[0].sId = this.formData.sId+'_06'
			this.formImg[1].sId = this.formData.sId+'_07'
			this.formImg[2].sId = this.formData.sId+'_08'
			this.formImg[3].sId = this.formData.sId+'_09'
			await this.getInfo()
			
		}else{
			this.formImg[0].sId = '06'
			this.formImg[1].sId = '07'
			this.formImg[2].sId = '08'
			this.formImg[3].sId = '09'
			// await this.getInfo()
			if (this.deteleType == false) {
				
				// let numImg = []
				// numImg = numImg.concat(this.infoImg.imgList)
				// numImg = numImg.concat(this.infoImg.imgList2)
				// numImg = numImg.concat(this.infoImg.imgList3)
				// numImg = numImg.concat(this.infoImg.imgList4)
				for(let j in this.formImg){
					let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
						dataStores: {},
						parameters: {
							sId: this.formImg[j].sId,
							_parameters: 'sId',
							_parameterTypes: 'string',
							dcID: 'fs',
							_boId: 'fs_bsbFilesBO_bo',
							_methodName: 'getBsbFilesByBusId',
							_methodParameterTypes: 'String'
						}
					});
					let infos = res.dataStores.result.rowSet.primary || [];
					// console.log('打印证件照图片[imgList',infos)
					for(let i in infos){
						if (infos[i]) {
							let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
								dataStores: {},
								parameters: {
									ids: infos[i].sId,
									_parameters: 'ids',
									_parameterTypes: 'string',
									dcID: 'fs',
									_boId: 'fs_bsbFilesBO_bo',
									_methodName: 'deleteFile',
									_methodParameterTypes: 'String'
								}
							});
							
						}
						
					}
				}
				await this.getInfo()
			}
			
			
		}
		console.log('dada证件图', this.formImg[0].sId,this.formImg[1].sId);
		// await this.getInfo()
		// console.log('展示图片',this.infoImg)
		uni.$on('addImg', () => {
			this.getInfo()
			this.deteleType = true
		})
		uni.$on('deleteImg', () => {
			this.getInfo()
		})
	},
	methods: {
		// async photosForCarNo(){
			
		// 	let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
		// 		"dataStores": {},
		// 		"parameters": {
		// 			"mapParams": {
		// 				"sId": this.sId,
		// 				"userId": this.userInfo.user.id,
		// 				"sCarNo": this.sCarNo,
		// 			},
		// 			"_parameters": "mapParams",
		// 			"_parameterTypes": "string",
		// 			"dcID": "wmsjccwis",
		// 			"_boId": "wmsjccwis_ifsJcwmsPickPlanBO_bo",
		// 			"_methodName": "copyUserModelPhotosForCarNo",
		// 			"_methodParameterTypes": "String"
		// 		}
		// 	});
		// 	this.imgcode = false
		// 	console.log('只调用一次copyUserModelPhotosForCarNo')
		// },
        async getInfo() {
			await this.getImgList()
			await this.getImgList2()
			await this.getImgList3()
			await this.getImgList4()
			console.log('展示证件照图片',this.infoImg)
		},
		async images(){
			this.imgListNum = uni.getStorageSync('imgListNum')
			this.userInfo = uni.getStorageSync('userInfo')

			// 当前用户附件
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.userInfo.user.id,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusIdLike',
					_methodParameterTypes: 'String'
				}
			});
			let list = res.dataStores.result.rowSet.primary || [];
			this.imgListNum = list
			console.log('当前用户附件',this.imgListNum)

			if(this.imgListNum && this.showTo == '1'){
				// 用户附件模板获取赋到预约单附件
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"mapParams": {
							"sId": this.sId,
							"userId": this.userInfo.user.id,
						},
						"_parameters": "mapParams",
						"_parameterTypes": "string",
						"dcID": "wmsdeliveryis",
						"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
						"_methodName": "copyUserModelPhotosForDeliveryDetails",
						"_methodParameterTypes": "String"
					}
				});
				// let imagesUserList = res.dataStores.result.rowSet.primary || [];
				// console.log('用户附件模板获取', imagesUserList);
			}
		},
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formImg[0].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('身份证明细图片', infos);
			this.$set(this.infoImg, 'imgList', infos)
			this.formImg[0].imgList = this.infoImg.imgList
		},
		async getImgList2() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formImg[1].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', infos);
			this.$set(this.infoImg, 'imgList2', infos)
			this.formImg[1].imgList = this.infoImg.imgList2
		},
		async getImgList3() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formImg[2].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.infoImg, 'imgList3', infos)
			this.formImg[2].imgList = this.infoImg.imgList3
		},
		async getImgList4() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.formImg[3].sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.infoImg, 'imgList4', infos)
			this.formImg[3].imgList = this.infoImg.imgList4
		},
	},
	watch: {
		// sIds: {
		// 	handler(newval) {
		// 		if (newval) {
		// 			this.sId =  newval
		// 			// this.sSheetStatus = e.sSheetStatus
		// 			this.formImg[0].sId = this.sId + '_06'
		// 			this.formImg[1].sId = this.sId + '_07'
		// 			this.formImg[2].sId = this.sId + '_08'
		// 			this.formImg[3].sId = this.sId + '_09'
		// 			console.log('待拣货明细图片this.sId', this.formImg[0].sId);
		// 		}
				
		// 	},
		// 	// deep: true,
		// 	immediate: true
		// },
		showTos: {
			handler(newval) {
				if (newval) {
					this.showTo = newval;
				}
				
			},
			// deep: true,
			immediate: true
		},
	}
};
</script>

<style lang="scss" scoped>
@import '@/components/upload/styleImg.scss';
	
.idBoy{
	width: 86%;
	border: 1px solid #fdf0be;
    background: cornsilk;
	display: flex;
	align-items: center;
	padding: 16upx;
	margin: auto;
	.icon {
		flex-shrink: 0;
		width: 50upx;
		height: 50upx;

		image {
			width: 50upx;
			height: 50upx;
		}
	}
	.text {
		padding-left: 20upx;
		width: 100%;
		color: #666;
		font-size: 28upx;
	}
}
	
</style>
