<template>
	<view>
		<view class="list-box" v-for="(item, index) in list" :key="index" @click="goDetail(item)">
			<cnd-list-group>
				<view>
					<cnd-list-content title="收货单位" :value="item.sGoodsOwnerName || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="车牌号" :value="item.sVehicleVesselNo || '无'" type="alignLeft"></cnd-list-content>
					
					<cnd-list-content title="日期" :value="item.sReceiveTime || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="仓库" :value="item.sWarehouseName || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="总件数" :value="String(item.sQtx) || '无'" type="alignLeft"></cnd-list-content>
					<cnd-list-content title="总吨数" :value="String(+(item.sQty.toFixed(6))) || '无'" type="alignLeft"></cnd-list-content>

				</view>
				<!-- <view class="state">{{item.sSheetCodeName}}</view> -->
			</cnd-list-group>
			
	
		</view>
	</view>


</template>

<script>
	import CndListGroup from '@/components/list-group/list-group.vue'
	import CndButton from '@/components/button/button';
	import cndPopContent from "@/components/pop-content/pop-content.vue"
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndListContent from '@/components/list-group/list-content.vue'
	export default {
		name: 'pd-list',
		components: {
			CndListGroup,
			CndButton,
			cndPopContent,
			CndFormItem,
			CndListContent,
		},
		props: {
			list: {
				// 数据列表
				type: Array,
				default () {
					return [];
				}
			},
			formData: Object
		},
		data () {
			return {
				isChange:[],
				current: '',
				a: [],
				show: false,
				phone: '',
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				approvalsId: '',
				sWarehouseId: '',
				sWarehouseIds: [],
			}
		},
		// async mounted() {
		// 	// 货主
		// 	this.sMaterialType()
		// },
		methods: {
			
			// 进入详情
			goDetail(item) {
				uni.navigateTo({
					url: `/pAppointmentDelivery/bookingDelivery/store?sId=${item.sId}&statusEdit=` + false + '&process=' + '0'
				});

			},
			
		}
	}
</script>

<style lang="scss" scoped>
// .btn{
// 	z-index: 999;
// 	border-top: 1px solid #dedede;
// 	.block{
// 		font-size: 28upx!important;
// 		padding:0 14upx!important;
// 	}
// }
.title-container{
	border-top: 1px solid #f5f5f5!important;
}

.list-box{
	position: relative;
}
.adds {
	position: absolute;
	top: 10%;
	right: 30rpx;
	transform: translate(0, -50%);
}
.company-item{
	width:200rpx;
	height:50rpx;
	// border:2rpx solid #555;
	border-radius:10rpx;
	font-size:30rpx;
	color:#555;
	text-align: center;
	line-height: 50rpx;
	
}
.skill-item{
	font-size: 120upx;
	color: #999;
	border-radius: 50%;
	border: 2px solid #999;
	width: 50upx;
	height: 50upx;
	position: relative;
}
.active{
	// border:2rpx solid #DD524D;
	color: rgb(31, 164, 253);
	border: 2px solid rgb(31, 164, 253);
	
	font-size: 120upx;
}
.active i{
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
	background: rgb(31, 164, 253);
	// content: '●';
	position: absolute;
	// transform: translate(0, -50%);
	// padding: 8upx;
	// font-size: 62upx;
	top: 10upx;
    left: 10upx;
	// font-style:normal
}

.state{
    z-index: 999;
    border-top: 1px solid #dedede;
	border-top: 1px solid #dedede;
    float: left;
    font-size: 30upx;
    color: #408CDA;
    padding: 30upx;
}
</style>

