<template>

	<view>
		<cnd-form>
			<view class="demo-wrapper">
				<view class="display_flex">
					<cnd-form-item label="日期从" class="cssfl">
						<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChange">
							{{timeRes ? timeRes : datej}}
						</cnd-datepicker>
					</cnd-form-item>
					<cnd-form-item label="到" class="cssfl">
						<cnd-datepicker :level="3" :format="'yyyy-MM-dd HH:mm'" @change="bindChangeToo">
							{{timeResToo ? timeResToo : datejToo}}
						</cnd-datepicker>
					</cnd-form-item>
				</view>
			</view>
			<view class="demo-wrapper">
				<cnd-form-item label="仓库">
					<input v-model="formList.sWarehouseName" @click="materialPicker" placeholder="--请选择仓库--" disabled />
				</cnd-form-item>
			</view>
			<view class="demo-wrapper">
				<cnd-form-item label="车牌号">
					<input v-model="formList.sCarNo" placeholder="请输入车牌号" />
				</cnd-form-item>
			</view>

		</cnd-form>
		<view class="nums">订单数量：{{detailsCount}}</view>
		<view class="btns">
			<cnd-button color="primary" size="block" icon="no" @clickEvent="changQuery()">
				查询
			</cnd-button>
		</view>
		<!-- 仓库选择 -->
		<custom-picker ref="material" title="--请选择仓库--" titleColor="#808080" titleFontSize="26rpx" cancelType='icon'
			cancelColor="#999999" cancleFontSize="28rpx" confirmColor="#4cd964" confirmFontSize="34rpx"
			confirmFontWeight="500" itemFontSize="32rpx" @onConfirm="materialChange" @on_close="closePicker"
			:pickerList="formList.sWarehouse" :addmaterialTypeData="formList.sWarehouseId" :clickActive="true">
		</custom-picker>
	</view>
</template>

<script>
	import CndForm from '@/components/form/cnd-form';
	import CndFormItem from '@/components/form-item/cnd-form-item';
	import CndDatepicker from '@/components/datepicker/cnd-datepicker.vue'
	import {
		uniToRpx,
		formatTime
	} from '@/common/utils/index.js'
	import CndButton from '@/components/button/button.vue';
	import customPicker from '@/components/picjerDiy.vue'
	export default {
		components: {
			CndForm,
			CndFormItem,
			CndDatepicker,
			CndButton,
			customPicker
		},
		props: {
			state: {
				// 状态列表
				type: Array,
				default () {
					return [];
				}
			},
			warehouse: {
				// 仓库列表
				type: Array,
				default () {
					return [];
				}
			},
			detailsCount: Number,
		},
		data() {
			return {
				inputDisabled: false,
				datej: new Date().format('yyyy-MM-dd'),
				datejToo: new Date().format('yyyy-MM-dd'),
				value: '123',
				disabled: false,
				timeRes: '',
				timeResToo: '',
				formList: {
					sWarehouse: [], //仓库
					sWarehouseIdList: [], //仓库全部id
					sWarehouseId: '', //仓库id
					sWarehouseName: "", //仓库名称
					activesList: [], //状态
					deliveryDateStart: '', //开始时间
					deliveryDateEnd: '', //结束时间
					sCarNo: '', // 车牌号
				},
				activesList: [],
			};
		},
		async mounted() {
			// 仓库
			// this.sMaterial()
			// this.datasId()
			this.changQuery()

		},
		methods: {
			getCurrentMonthFirst() { // 获取当前月第一天
				let date = new Date()
				date.setDate(1)
				let month = parseInt(date.getMonth() + 1)
				let day = date.getDate()
				if (day < 10) {
					day = '0' + day
				}
				if (month < 10) {
					month = '0' + month
				}
				return new Date().format('yyyy')+ '-' + month + '-' + day
			},
			// 查询
			changQuery() {
				this.$emit('chang', this.formList)
				// console.log('查询条件', this.formList)
			},
			//关闭上浮窗
			closePicker() {
				this.inputDisabled = false
			},
			//打开
			materialPicker() {
				this.inputDisabled = true
				this.$refs.material._open()
			},
			//确定：接收子组件传来的参数
			materialChange(checked) {
				this.formList.sWarehouseIdList = []
				this.formList.sWarehouseId = checked.value
				this.formList.sWarehouseName = checked.label
				this.formList.sWarehouseIdList.push(checked.value)
				this.inputDisabled = false
				if (this.formList.sWarehouseId == 'quanbu') {
					this.formList.sWarehouseIdList = []
					for (let j in this.formList.sWarehouse) {
						this.formList.sWarehouseIdList.push(this.formList.sWarehouse[j].value)
					}
					this.formList.sWarehouseIdList.splice(this.formList.sWarehouseIdList.indexOf('quanbu'), 1);
				}
				console.log('仓库id', this.formList.sWarehouseIdList)
			},
			bindChange(e) {
				this.timeRes = e.format('yyyy-MM-dd')
				this.formList.deliveryDateStart = this.timeRes
				// this.formList.deliveryDateStart =  Date.parse(new Date(this.timeRes + ' 00:00:00'))
				console.log('时间时间', this.formList.deliveryDateStart)
			},
			bindChangeToo(e) {
				this.timeResToo = e.format('yyyy-MM-dd')
				this.formList.deliveryDateEnd = this.timeResToo
				
				// this.formList.deliveryDateEnd =   Date.parse(new Date(this.timeResToo +' 23:59:59'))
				console.log('时间时间', this.formList.deliveryDateEnd)
			},
		},
		watch: {
			warehouse: {
				handler(newval) {
					if (newval) {
						this.formList.sWarehouse = newval
						// console.log('仓库1', this.formList.sWarehouse)
						// this.formList.sWarehouseIdList.push(newval[0].value)
						this.formList.sWarehouseName = newval[0].label
						this.formList.sWarehouseId = newval[0].value
						if (this.formList.sWarehouseId == 'quanbu') {
							this.formList.sWarehouseIdList = []
							for (let j in newval) {
								this.formList.sWarehouseIdList.push(newval[j].value)
							}
							this.formList.sWarehouseIdList.splice(this.formList.sWarehouseIdList.indexOf('quanbu'), 1);
						}
						console.log('仓库id', this.formList.sWarehouseIdList)
						if (this.formList.deliveryDateStart) {
							this.timeRes = formatTime(this.formList.deliveryDateStart, 'Y-M-D')
						} else if (!this.timeRes) {
							// this.timeRes = this.datej
							this.formList.deliveryDateStart = this.datej
							// this.formList.deliveryDateStart =  Date.parse(new Date(this.datej + ' 00:00:00')) 
						}
						if (this.formList.deliveryDateEnd) {
							this.timeResToo = formatTime(this.formList.deliveryDateEnd, 'Y-M-D')
						} else if (!this.timeRes) {
							// this.timeRes = this.datej
							this.formList.deliveryDateEnd = this.datejToo
							// this.formList.deliveryDateEnd =  Date.parse(new Date(this.datejToo +' 23:59:59')) 
						}
						console.log('仓库id', this.formList.sWarehouseIdList)
					}
					
				},
				// deep: true,
				immediate: true
			}
		}
	};
</script>
<style lang="scss" scoped>
	.iconfont {
		font-size: 40rpx !important;

		&.right-icon2 {
			margin-right: 20rpx !important;
		}
	}

	.detail-item {
		border-bottom: 6rpx solid #F5F5F5;
	}

	.parti-form-dialog {

		// height: 600rpx;
		// background: #FFFFFF;
		// width: 100%;
		.header {
			height: 100rpx;
			position: relative;
			padding-left: 20rpx;
			display: flex;
			align-items: center;
			color: #333;
			font-weight: 700;
			font-size: 28rpx;
		}

		.content {
			height: calc(600rpx - 200rpx);
			padding: 20rpx;
			background: #ffffff;
		}

		.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #ffffff;
			height: 100rpx;
			display: flex;
			border-top: 2rpx solid #f5f5f5;

			.item {
				flex: 1;
				height: auto;
				border-radius: 0;
			}
		}
	}

	// .display_flex {
	// 	display: flex;
	// 	flex-direction: row;
	// 	flex-wrap: nowrap;
	// 	justify-content: center;
	// }



	// 状态
	.boy {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: flex-start;
		justify-content: flex-start;
		padding: 20upx;
	}

	.picker-view {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 1);
		border: 1px solid #a3a3a3;
		width: 22%;
		height: 60upx;
		line-height: 60upx;
		margin: 0 16rpx 16rpx 0;
		border-radius: 12upx;
	}

	.picker-view:last-child {
		margin: 0 0 16rpx 0;
	}

	/* .picker-view:first-child {
		border-top: 1px solid #f5f5f5;
	} */
	.picker-item {
		text-align: center;
		line-height: 60rpx;
		text-overflow: ellipsis;
		font-size: 30upx;
		color: #606060
	}

	.actives {
		border: 1px solid rgb(19, 206, 103);
		background: rgb(19, 206, 103);
	}

	.actives .picker-item {
		color: #fff;
	}

	.view_content {
		display: flex;
		justify-content: center;
		align-items: baseline;
		flex-direction: column;
	}

	.demo-wrapper {
		border-bottom: #ececec solid 1px;
		overflow: hidden;
	}

	.btns {
		display: flex;
		justify-content: flex-end;
		z-index: 999;
		background: #fff;
		// border-top: 1px solid #dedede;

	}

	.nums {
		z-index: 999;
		// border-top: 1px solid #dedede;
		// border-top: 1px solid #dedede;
		float: left;
		font-size: 30upx;
		color: #666;
		padding: 24upx 30upx;
		background: #fff;
	}
	
</style>
