<template>
	<view>
		<view class="single">
			<view class="list-box first-list-box">
				<cnd-list-group>
					<cnd-list-title title="随车小票扫描" icon="icon-cnd-camera"></cnd-list-title>
					<view class="boxImg headstock">
						<id-img :formImg="headstockImg" :info="info" :showTo="showTo"></id-img>
					</view>
				</cnd-list-group>
			</view>
			<edit :list="list" :info="info"></edit>
		</view>
		<detail :list="list" :info="info"></detail>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import edit from './edit.vue'
import detail from './detail.vue'
import idImg from '@/components/upload/idImg.vue'
import CndListGroup from '@/components/list-group/list-group.vue'
import CndListContent from '@/components/list-group/list-content.vue'
import CndListTitle from '@/components/list-group/list-title.vue'
export default {
	components: {
		CndForm,
		CndFormItem,
        edit,
		detail,
		idImg,
        CndListGroup,
		CndListContent,
		CndListTitle,
	},
	props: {
		info: Object,
		formData: Object,
		sIsFinish: [Number, String, Boolean],
		statusEdits: Boolean,
		list: Array,
		sIds: String,
		showTos: String
	},
	data() {
		return {
			headstockImg:[
				{
					title: '随车小票',
					img: '../../static/images/jpg.svg',
					sId: '',
					imgList: []
				}
			],
			showTo: '',
			sId: '',
		};
	},
	async mounted() {
        // await this.getInfo()
	},
	methods: {
		async getInfo() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"mapParams": {
						"sId": this.sId
					},
					"_parameters": "mapParams",
					"_parameterTypes": "string",
					"dcID": "wmsdeliveryis",
					"_boId": "wmsdeliveryis_ifsWmsDeliveryDetailsBO_bo",
					"_methodName": "getWmspAppointmentDeliveryDetailsInfoById",
					"_methodParameterTypes": "String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let info = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				// console.log('明细查询数据', info);
				this.info = info;
				await this.getImgList6()
				
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		async getImgList6() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.info.sId + '_06',
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			this.$set(this.info, 'imgList6', infos)
			this.headstockImg[0].imgList = this.info.imgList6
		},
		
		
		
	},
	watch: {
		statusEdits: {
			handler(newval){
				this.statusEdit = newval
			},
			deep: true,
			immediate: true 
		},
		sIds: {
			handler(newval) {
				if (newval) {
					this.sId =  newval
					this.headstockImg[0].sId = this.sId + '_06'
					console.log('待拣货明细图片this.sId', this.headstockImg[0].sId);
				}
				
			},
			// deep: true,
			immediate: true
		},
		showTos: {
			handler(newval) {
				if (newval) {
					this.showTo = newval;
				}
				
			},
			// deep: true,
			immediate: true
		}
	}
};
</script>
<style lang="scss" scoped>
	.headstock {
    margin-top: 0 !important;}
</style>

