<template>
	<view>
		<!-- <view class="showss" v-if="formData.sId"></view> -->
		<view class="single">
			<edit ref="edit" :formData="formDataLoc" :list="list" :warehouse="sWarehouseNameObj" :info="info"></edit>
		</view>
		<detail ref="detail" :formData="formDataLoc" :list="list" :info="info" :warehouse="sWarehouseNameObj"></detail>
	</view>
</template>

<script>
import CndForm from '@/components/form/cnd-form';
import CndFormItem from '@/components/form-item/cnd-form-item';
import edit from './edit.vue'
import detail from './detail.vue'
import idImg from '@/components/upload/idImg.vue'
export default {
	components: {
		CndForm,
		CndFormItem,
        edit,
		detail,
		idImg
	},
	props: {
		deteleType: Boolean,
		warehouse: Object,
		formData: Object,
		info: Object,
		sIsFinish: [Number, String, Boolean],
		statusEdits: Boolean,
		list: Array,
		sIds: String,
		showTos: String
	},
	data() {
		return {
			headstockImg:[
				{
					title: '随车小票',
					img: '../../static/images/jpg.svg',
					sId: '',
					imgList: []
				}
			],
			showTo: '',
			sId: '',
			infodetailImg: {},
			sWarehouseNameObj: {},
			formDataLoc:{},
			infos:{}
		};
	},
	async mounted() {
		// if (!this.info.sId) {
			this.infos = await this.$refs.edit.info;
			this.list = this.$refs.detail.setList;
			this.infodetailImg = this.$refs.detail.infodetailImgs
		// }
		// await this.getInfo()
	},
	methods: {
		
		
		
		
	},
	watch: {
		statusEdits: {
			handler(newval){
				this.statusEdit = newval
			},
			deep: true,
			immediate: true 
		},
		sIds: {
			handler(newval) {
				if (newval) {
					this.sId =  newval
					this.headstockImg[0].sId = this.sId + '_06'
					console.log('待拣货明细图片this.sId', this.headstockImg[0].sId);
				}
				
			},
			// deep: true,
			immediate: true
		},
		showTos: {
			handler(newval) {
				if (newval) {
					this.showTo = newval;
				}
				
			},
			// deep: true,
			immediate: true
		},
		warehouse: {
			handler(newval) {
				if (newval) {
					this.sWarehouseNameObj = newval;
				}
				
			},
			deep: true,
			immediate: true
		},
		formData: {
			handler(newval) {
				if (newval) {
					this.formDataLoc = newval;
					
				}
				
			},
			// deep: true,
			immediate: true
		},
		info(newval){
			this.infos = newval
			this.infos = this.$refs.edit.info;
			// this.list = this.$refs.detail.setList;
			// this.infodetailImg = this.$refs.detail.infodetailImgs
			console.log('中间',this.info)
		},
	}
};
</script>
<style lang="scss" scoped>
	.headstock {
		margin-top: 0 !important;
	}
	// .showss{
	// 	width: 100%;
	// 	height:100%;
	// 	position: fixed;
	// 	top: 210rpx;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	z-index: 9;
	// }
</style>

