<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>更新历史</block>
		</cnd-navbar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData" :TheEpidemicType="TheEpidemicType"></mescroll-item>
		</view>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import MescrollItem from './components/mescroll-history.vue'
	export default {
		name: 'index',
		components: { CndNavbar, MescrollItem },
		data() {
			return {
				isReload: false,
                warehouse: [],
				formData: {
					// 筛选条件
					sId: '',
					parameter: '',
					index: 0,
					sWarehouseId: ''
				},
				// page: null
				TheEpidemicType:[]
			}
		},
		onLoad (option) {
			// this.page = option.page
			let { id, index, sIsFinish, sWarehouseId, TheEpidemicType } = option;
			
			this.TheEpidemicType = JSON.parse(decodeURIComponent(TheEpidemicType))
			this.formData.index = ~~index;
			this.formData.sId = id;
			this.formData.sWarehouseId = sWarehouseId;
			this.sIsFinish = ~~sIsFinish
		},
		onShow() {
            
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
			
			this.isReload = true;
		},
		methods: {
           
			// bindConfirmEvent(value) {
			// 	uni.hideKeyboard()
			// 	this.formData.parameter = value
			// 	this.$nextTick(() => {
			// 		this.$refs.me.mescroll.triggerDownScroll()
			// 		this.$refs.me.mescroll.scrollTo(0, 300)
			// 	})
			// }
		}
	}
</script>

<style scoped lang="scss">
	@import "../../common/style/nav.scss";
    .containerBoy {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 18upx 36upx 18upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	input{
		width: 100%;
	}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
