<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>库存管理</block>
		</cnd-navbar>
		<!-- <search-bar placeholder="输入车牌号" @confirm="bindConfirmEvent"></search-bar> -->
        <view class="containerBoy">
            <view class="input-area">
                <text class="iconfont icon-cnd-search c-gray-8"></text>
                <input v-model="formList.sWarehouseName"  @click="materialPicker" placeholder="--请选择仓库--"  disabled />
            </view>
            <!-- <view class="search-btn" @click="bindClick">搜索</view> -->
        </view>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formList" :TheEpidemicType="TheEpidemicType" @chang="onWarehouse"></mescroll-item>
		</view>
        <!-- 仓库选择 -->
		<custom-picker ref="material" title="--请选择仓库--" titleColor="#808080" titleFontSize="26rpx" cancelType='icon'
			cancelColor="#999999" cancleFontSize="28rpx" confirmColor="#4cd964" confirmFontSize="34rpx"
			confirmFontWeight="500" itemFontSize="32rpx" @onConfirm="materialChange"
			:pickerList="formList.sWarehouse" :addmaterialTypeData="formList.sWarehouseId" :clickActive="true">
		</custom-picker>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
	import MescrollItem from './components/mescroll-item.vue'
    import customPicker from '@/components/picjerDiy.vue'
	export default {
		name: 'index',
		components: { CndNavbar, MescrollItem, customPicker },
		data() {
			return {
				formData: {
					parameter: ''
				},
				isReload: false,
               formList: {
					sWarehouse: [], //仓库
					sWarehouseIdList: [], //仓库全部id
					sWarehouseId: '', //仓库id
					sWarehouseName: "", //仓库名称
				},
                warehouse: [],
				TheEpidemicType: []
				// page: null
			}
		},
		async onLoad (option) {
			this.page = option.page
			this.sInfluenceOfTheEpidemicType()
			await this.onWarehouse()
			this.$nextTick(() => {
				this.$refs.me.mescroll.triggerDownScroll()
				this.$refs.me.mescroll.scrollTo(0, 300)
			})
		},
		onShow() {
            // this.isReload= true
            
			if (!this.isReload) {
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			}
			
			this.isReload = true;
		},
		methods: {
			async sInfluenceOfTheEpidemicType() {
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {

					"dataStores": {},
					"parameters": {
						"type": "influence.of.the.epidemic.type",
						"_parameters": "type",
						"_parameterTypes": "string",
						"dcID": "wmsmetalis",
						"_boId": "wmsmetalis_ifsFgwmsCurrencyBO_bo",
						"_methodName": "queryCodeList",
						"_methodParameterTypes": "String"
					},
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let TheEpidemicType = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('疫情影响', TheEpidemicType);
					this.TheEpidemicType = TheEpidemicType.map(ele => {
						return{
							value: ele.codeValue,
							label: ele.codeName
						}
					})
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
				uni.hideLoading();
			},
            //打开
			materialPicker() {
				this.$refs.material._open()
			},
			//确定：接收子组件传来的参数
			materialChange(checked) {
				this.formList.sWarehouseIdList = []
				this.formList.sWarehouseId = checked.value
				this.formList.sWarehouseName = checked.label
				this.formList.sWarehouseIdList.push(checked.value)
				// if (this.formList.sWarehouseId == 'quanbu') {
				// 	this.formList.sWarehouseIdList = []
				// }
				console.log('仓库id', this.formList.sWarehouseIdList)
				this.$nextTick(() => {
					this.$refs.me.mescroll.triggerDownScroll()
					this.$refs.me.mescroll.scrollTo(0, 300)
				})
			},
			// bindConfirmEvent(value) {
			// 	uni.hideKeyboard()
			// 	this.formData.parameter = value
				
			// }
			async onWarehouse(){
				let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
					"dataStores": {},
					"parameters": {
						"sSheetCode": "wms.stockwms.stock.select",//wms.stockwms.stock.select
						"mapParams": {
							"sWarehouseType": "2"
						},
						"_parameters": "sSheetCode,mapParams",
						"_parameterTypes": "string,string",
						"dcID": "wmssupvis",
						"_boId": "wmssupvis_ifsSupervisorForMiniAppBO_bo",
						"_methodName": "queryWarehouseList",
						"_methodParameterTypes": "String,String"
					}
				});
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					let material = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
					console.log('监管仓仓库',material)
					let warehouse = material
					let _b = [{sName: '--所有仓库--', sId: 'quanbu'}]
					warehouse = _b.concat(warehouse);
					this.warehouse = warehouse.map(ele => {
						return{
							value: ele.sId,
							label: ele.sName
						}
					})
					this.formList.sWarehouse = this.warehouse
					this.formList.sWarehouseName = this.warehouse[0].label
					this.formList.sWarehouseId = this.warehouse[0].value
					if (this.formList.sWarehouseId == 'quanbu') {
						this.formList.sWarehouseIdList = []
						for (let j in this.warehouse) {
							this.formList.sWarehouseIdList.push(this.warehouse[j].value)
						}
						this.formList.sWarehouseIdList.splice(this.formList.sWarehouseIdList.indexOf('quanbu'), 1);
					}
					console.log('监管仓仓库',this.formList.sWarehouseIdList)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	@import "../../common/style/nav.scss";
    .containerBoy {
		display: flex;
		height: 72rpx;
		z-index: 9998;
		padding: 16rpx;
		.input-area {
			border-radius: 8rpx 0 0 8rpx;
			flex: 1;
			padding: 16rpx;
			display: flex;
			background: $gray-0;
			display: flex;
			align-items: center;
			.iconfont {
				font-size: 40rpx;
				margin-right: 16rpx;
				font-weight: 700;
			}
		}
		.search-btn {
			width: 140rpx;
			border-radius: 0 8rpx 8rpx 0;
			flex-shrink: 0;
			line-height: 72rpx;
			font-size: 28rpx;
			background: $cnd-blue-5;
			color: $gray-0;
			text-align: center;
			&:active {
				background: colorActived($cnd-blue-5);
			}
		}
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 18upx 36upx 18upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	input{
		width: 100%;
	}
</style>
<style>
page {
	background-color: #f1f5f7;
}
</style>
