<template>
	<view>
		<cnd-navbar color="white" isBack @back="back">
			<block slot='content'>库存维护</block>
		</cnd-navbar>
		<view :style="{height:scrollerHeight}">
			<scroll-view scroll-y="true" class="scroll-Y">
				<store-loc :detailImage="detailImage" :sWarehouseId="formData.sWarehouseId" :TheEpidemicType="TheEpidemicType" @saveBefore='saveBefore' :details="details" :sIsFinish="sIsFinish" ref="storeForm" @change="bindParChange"></store-loc>
			</scroll-view>
		</view>
		<view style="height: 136rpx;"></view>
		<view class="function-box new-page">
			<view class="block"><cnd-button color="primary" size="block" icon="no" @clickEvent="save">保存</cnd-button></view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
import CndNavbar from '@/components/navbar/cnd-navbar';
// import CndUploadCell from 'cndapp-ui/components/upload/upload';
import CndButton from '../components/button/button';
import StoreLoc from './components/store-loc.vue';
export default {
	components: { 
		CndNavbar, 
		// CndUploadCell, 
		StoreLoc, 
		CndButton, 
	},
	data() {
		return {
			formData: {
				// 筛选条件
				sId: '',
				parameter: '',
				index: 0,
				sWarehouseId: ''
			},
			isShow1: false,
			sIsFinish: undefined,
			list: {},
			info: {},
			details: {},
			housing: [],
			initForm: true,
			isUpdate: false,
			saveing: false,
			index: 0,
			dataList: {},
			TheEpidemicType:[],
			phoneHeight: '',
			onImg: false,
			detailImage: {},
		};
	},
	async onLoad(e) {
		let { id, index, sIsFinish, sWarehouseId, TheEpidemicType } = e;
		this.TheEpidemicType = JSON.parse(decodeURIComponent(TheEpidemicType))
		this.formData.index = ~~index;
		this.formData.sId = id;
		this.formData.sWarehouseId = sWarehouseId;
		this.sIsFinish = ~~sIsFinish
		await this.getdetails()
		// await this.getinfos()
		// 获取屏幕高度
			let self = this;
			uni.getSystemInfo({ 
			success(res) {
				console.log(res.screenHeight); //屏幕高度  注意这里获得的高度宽度都是px 需要转换rpx
				console.log(res.windowWidth); //可使用窗口宽度
				console.log(res.windowHeight); //可使用窗口高度
				console.log(res.screenWidth); //屏幕宽度
				self.phoneHeight = (res.screenHeight * (750 / res.windowWidth - 136))//窗口高度，将px 转换rpx
			}
		});
		uni.$on('addImg', () => {
			this.getImgList()
			this.onImg = true
		})
		uni.$on('deleteImg', () => {
			this.getImgList()
			this.onImg = true
		})
	},
	computed: {		   
		scrollerHeight: function() {					
			return this.phoneHeight+'px';
		}	
	},	
	async onShow() {
		// await this.getList()
		// this.dataList = this.$refs.storeForm.dataList
		if (this.isUpdate) {
			
		}
		// this.dataList = this.$refs.storeForm.dataList;
		// await this.getdetails()
		this.isUpdate = true;
	},
	async mounted () {
		
	},
	methods: {
		back(){
			if(this.onImg == true){
				let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pSupervisionWarehouse/inventoryManagement/index')
				let iPage = getCurrentPages()[iIndex]
				iPage.$vm.isReload = false
				// uni.navigateBack({
				// 	delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
				// })
				// return
			}
		},
		async getdetails() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"sSheetCode": "",
					"mapParams": {
						"sId": this.formData.sId
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmssupvis",
					"_boId": "wmssupvis_ifsSupervisorForMiniAppBO_bo",
					"_methodName": "queryWmsSuperviseStockBalanceInfoById",
					"_methodParameterTypes": "String,String"
				}
			});
			if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
				let details = JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
				// parseFloat(value).toFixed(2
				this.details = details;
				// this.details.sTotalInventoryDateQty= details.sTotalInventoryDateQty == null ? 0 : +(details.sTotalInventoryDateQty)
				// this.details.sTotalInboundTonnageQty= details.sTotalInboundTonnageQty == null ? 0 : +(details.sTotalInboundTonnageQty)
				// this.details.sGoodsOwnerConfirmQty= details.sGoodsOwnerConfirmQty == null ? 0 : +(details.sGoodsOwnerConfirmQty)
				// this.details.sTotalOutboundTonnageQty= details.sTotalOutboundTonnageQty == null ? 0 : +(details.sTotalOutboundTonnageQty)
				// this.details.sTotalIssueAdjustmentQty= details.sTotalIssueAdjustmentQty == null ? 0 : +(details.sTotalIssueAdjustmentQty)
				// this.details.sTotalQty= details.sTotalQty == null ? 0 : +(details.sTotalQty)
				// this.details.sTotalErpQty= details.sTotalErpQty == null ? 0 : +(details.sTotalErpQty)
				await this.getImgList()
				// this.details.sMessageDeliverQty= details.sMessageDeliverQty ? +((details.sMessageDeliverQty).toFixed(6)) : null
				// this.details.sMessageReplenishmentQty= details.sMessageReplenishmentQty ? +((details.sMessageReplenishmentQty).toFixed(6)) : null
				console.log('查询库存维护详情', this.details);
			} else {
				// uni.showToast({
				// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
				// 	icon: 'none',
				// 	mask: true
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					timeout:2500,
					isClick:false
				});
			}
		},
		// async getinfos() {
		// 	await this.getImgList()
		// },
		
		async getImgList() {
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				dataStores: {},
				parameters: {
					sId: this.details.sId,
					_parameters: 'sId',
					_parameterTypes: 'string',
					dcID: 'fs',
					_boId: 'fs_bsbFilesBO_bo',
					_methodName: 'getBsbFilesByBusId',
					_methodParameterTypes: 'String'
				}
			});
			let infos = res.dataStores.result.rowSet.primary || [];
			// console.log('待拣货明细图片', infos);
			this.$set(this.detailImage, 'imgList', infos)
			// console.log('待拣货明细图片', this.detailImage);
		},
		async savehousing2(showResult2 = true) {
			this.dataList = this.$refs.storeForm.dataList;
			console.log('打印保存总出库调整吨数',this.dataList.biaoshi)
			if(this.dataList.biaoshi == '0'){
				// uni.showToast({
				// 	title: '总出库调整吨数，请输入正确的数值',
				// 	icon: 'none',
				// 	success: () => {
						
				// 	}
				// });
				this.$refs.mpopup.open({
					type:'warn',
					content: `总出库调整吨数，请输入正确的数值`,
					timeout:2500,
					isClick:false
				});
				// this.dataList.biaoshi = ''
				return
			}
			console.log('打印保存',this.dataList)
			let res = await this.$http('techcomp/ria/commonProcessor!commonMethod.action', {
				"dataStores": {},
				"parameters": {
					"sSheetCode": "",
					"mapParams":  {
						"sId": this.formData.sId,
						"sTotalInboundTonnageQty": this.dataList.sTotalInboundTonnageQty,
						"sGoodsOwnerConfirmQty":  this.dataList.sGoodsOwnerConfirmQty,
						"sTotalIssueAdjustmentQty":  this.dataList.sTotalIssueAdjustmentQty,
						"sAbnormalReport":  this.dataList.sAbnormalReport,
						"sUntreatedRemark": this.dataList.sUntreatedRemark,
						"sInfluenceOfTheEpidemicType": this.dataList.sInfluenceOfTheEpidemicType,
						"sMessageDeliverQty": this.dataList.sMessageDeliverQty,
						"sMessageReplenishmentQty": this.dataList.sMessageReplenishmentQty,
						"sTotalQty": this.dataList.sTotalQty,
						"sTotalErpQty": this.dataList.sTotalErpQty
					},
					"_parameters": "sSheetCode,mapParams",
					"_parameterTypes": "string,string",
					"dcID": "wmssupvis",
					"_boId": "wmssupvis_ifsSupervisorForMiniAppBO_bo",
					"_methodName": "saveOrUpdateWmsSuperviseStockBalanceInfo",
					"_methodParameterTypes": "String,String"
				}
			});
			if (showResult2) {
				if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
					// uni.showToast({
					// 	title: '保存成功',
					// 	icon: 'none',
					// 	success: () => {
					// 		setTimeout(() => {
					// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pSupervisionWarehouse/inventoryManagement/index')
					// 			let iPage = getCurrentPages()[iIndex]
					// 			iPage.$vm.isReload = false
					// 			uni.navigateBack({
					// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
					// 			})
					// 		}, 500)
					// 	}
					// });
					this.$refs.mpopup.open({
						type:'success',
						content:'保存成功',
						timeout:2000,
					});
					setTimeout(() => {
						let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pSupervisionWarehouse/inventoryManagement/index')
						let iPage = getCurrentPages()[iIndex]
						iPage.$vm.isReload = false
						uni.navigateBack({
							delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						})
					}, 500)
				} else {
					// uni.showToast({
					// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
					// 	icon: 'none',
					// 	mask: true
					// });
					this.$refs.mpopup.open({
						type:'warn',
						content: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						timeout:2500,
						isClick:false
					});
				}
			}
		},
		async save() {
			console.log('打印传值',this.dataList.sTotalInboundTonnageQty,
			this.dataList.sGoodsOwnerConfirmQty,
			this.dataList.sTotalIssueAdjustmentQty,
			this.dataList.sAbnormalReport,
			this.dataList.sInfluenceOfTheEpidemicType,
			this.dataList.sUntreatedRemark)
			// if (this.dataList.sTotalInboundTonnageQty == '' || !this.dataList.sGoodsOwnerConfirmQty == '' || !this.dataList.sTotalIssueAdjustmentQty == '' || !this.dataList.sAbnormalReport == '' || !this.dataList.sInfluenceOfTheEpidemicType == '' || !this.dataList.sUntreatedRemark == '') {
			// 	uni.showToast({
			// 		title: '红色字体为必录项，请检查！',
			// 		icon: 'none'
			// 	});
			// 	return
			// }
			this.savehousing2()
		},
	}
};
</script>
<style>
page {
	background-color: #f1f5f7;
}
</style>
<style lang="scss" scoped>
@import '../../common/style/nav.scss';
</style>
<style lang="scss" scoped>
.bottom-btn {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.new-page {
	.block {
		// margin: 0 10rpx;
		width: 100% !important;
		.cnd-button {
			width: 100% !important;
		}
	}
}
/deep/.cnd-field-item .cnd-field-label {
	width: 248rpx!important;
}
/deep/.textareas .cnd-field-value{
	background: whitesmoke!important;
	padding: 12upx 20upx!important;
}
/deep/.textarea{
	height: 204rpx;
}
/deep/.blue .cnd-field-label {
	color: rgb(0, 72, 255)!important;
}
// /deep/.cnd-field-value{
// 	padding-left:20rpx;
// 	background: rgb(255, 255, 245);
// }
.scroll-Y{
    display: block;
    overflow: scroll;
}
</style>
