<template>
	<view>
		<view class="bottomMargin">
			<view class="tab">
				<cnd-tabs :length="tabList.length">
					<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
					@getActive="changeTab(item.status)"></cnd-tab>
				</cnd-tabs>
			</view>
			<view class="list-container" v-if="curIndex == 1">
				<storeOcr ref="store" :info="info" :list="list" :showTos="'2'" :i="curIndex" :index="curIndex"></storeOcr>
			</view>
			<view class="list-container1" v-if="curIndex == 2">
				<idPhoto ref="photo" :formData="formData" :sIds="sId" :showTos="'1'" :i="curIndex" :index="curIndex"></idPhoto>
			</view>
			<view class="function-box new-page">
				<view class="block">
					<cnd-button color="primary" size="block" icon="no" @clickEvent="save">提交</cnd-button>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import CndTab from '@/components/tabs/tab.vue';
	import CndTabs from '@/components/tabs/tabs.vue';
	import storeOcr from './components/store-ocr.vue'
	import idPhoto from './components/idPhoto.vue'
	import CndButton from "@/components/button/button";
	export default {
		components: {
			CndTab,
			CndTabs,
			storeOcr,
			idPhoto,
			CndButton
		},
		data() {
			return {
				sId: 'ff80808180500b940180503a096200de',
				curIndex: 1,
				isReload: true,
				tabList: [{
						title: '随车小票',
						status: 1
					},
					{
						title: '证件照片',
						status: 2
					}
				],
				formData: {
					parameter: '',
					status:1,
				},
				addressObj:{},
				info:{
					// sApproverId: "ff8080817ddfc219017de17a4507004b",
					// sArtId: "4028808378abb8ac0178af384a48002e",
					// sArtName: "打包原料",
					// sCarNo: "闽S42001",
					// sCode: "YYD2022042000131",
					// sCreateDate: 1650418122000,
					// sCreator: "15252040606",
					// sDeliveryDate: "2022-04-20",
					// sDeliveryParty: "宁献文",
					// sDeliveryPartyPhoneNumber: "15252040606",
					// sDriverPhoneNumber: "15252040606",
					// sGoodsOwnerId: "4028808378abb8ac0178af359e020022",
					// sGoodsOwnerName: "天津建发钢铁再生资源有限公司",
					// sId: "ff80808180414c6601804495fee6016b",
					// sInNotifyCode: "SHD2022042000192",
					// sInNotifyDetailId: "ff80808180414c660180449635bb016d",
					// sInNotifyId: "ff80808180414c660180449635b8016c",
					// sModifier: "18850229880",
					// sModifyDate: 1650418137000,
					// sRemark: "",
					// sSheetStatus: "20",
					// sUserPhoneNumber: "15252040606",
					// sVersion: 1,
					// sWarehouseAddress: "包头市九原区南绕城与盛达路交叉路口（昆都仑区人民政府附近）",
					// sWarehouseId: "ff8080816f897a41016f8d32a4b800cd",
					// sWarehouseName: "建发钢铁物流(包头废钢库)",
					// sWeight: 25.8,
				},
				list:[
					// {
					// 	sApproverId: "ff8080817ddfc219017de17a4507004b",
					// 	sArtId: "4028808378abb8ac0178af384a48002e",
					// 	sArtName: "打包原料",
					// 	sCarNo: "闽S42001",
					// 	sCode: "YYD2022042000131",
					// 	sCreateDate: 1650418122000,
					// 	sCreator: "15252040606",
					// 	sDeliveryDate: "2022-04-20",
					// 	sDeliveryParty: "宁献文",
					// 	sDeliveryPartyPhoneNumber: "15252040606",
					// 	sDriverPhoneNumber: "15252040606",
					// 	sGoodsOwnerId: "4028808378abb8ac0178af359e020022",
					// 	sGoodsOwnerName: "天津建发钢铁再生资源有限公司",
					// 	sId: "ff80808180414c6601804495fee6016b",
					// 	sInNotifyCode: "SHD2022042000192",
					// 	sInNotifyDetailId: "ff80808180414c660180449635bb016d",
					// 	sInNotifyId: "ff80808180414c660180449635b8016c",
					// 	sModifier: "18850229880",
					// 	sModifyDate: 1650418137000,
					// 	sRemark: "",
					// 	sSheetStatus: "20",
					// 	sUserPhoneNumber: "15252040606",
					// 	sVersion: 1,
					// 	sWarehouseAddress: "包头市九原区南绕城与盛达路交叉路口（昆都仑区人民政府附近）",
					// 	sWarehouseId: "ff8080816f897a41016f8d32a4b800cd",
					// 	sWarehouseName: "建发钢铁物流(包头废钢库)",
					// 	sWeight: 25.8,
					// 	chandi: '包头'
					// },
					// {
					// 	sApproverId: "ff8080817ddfc219017de17a4507004b",
					// 	sArtId: "4028808378abb8ac0178af384a48002e",
					// 	sArtName: "打包原料",
					// 	sCarNo: "闽D332154",
					// 	sCode: "YYD2022041800126",
					// 	sCreateDate: 1650276333000,
					// 	sCreator: "15252040606",
					// 	sDeliveryDate: "2022-04-18",
					// 	sDeliveryParty: "宁献文",
					// 	sDeliveryPartyPhoneNumber: "18850229560",
					// 	sDriverPhoneNumber: "15252040606",
					// 	sGoodsOwnerId: "4028808378abb8ac0178af359e020022",
					// 	sGoodsOwnerName: "天津建发钢铁再生资源有限公司",
					// 	sId: "ff808081803b8e8e01803c2276da0018",
					// 	sInNotifyCode: "SHD2022041800189",
					// 	sInNotifyDetailId: "ff808081803b8e8e01803c2324e80024",
					// 	sInNotifyId: "ff808081803b8e8e01803c2324e50023",
					// 	sModifier: "18850229880",
					// 	sModifyDate: 1650276378000,
					// 	sRemark: "",
					// 	sSheetStatus: "20",
					// 	sUserPhoneNumber: "15252040606",
					// 	sVersion: 1,
					// 	sWarehouseAddress: "包头市九原区南绕城与盛达路交叉路口（昆都仑区人民政府附近）",
					// 	sWarehouseId: "ff8080816f897a41016f8d32a4b800cd",
					// 	sWarehouseName: "建发钢铁物流(包头废钢库)",
					// 	sWeight: 18.85,
					// 	chandi: '建发钢铁物流'
					// },
				],
				addressObj: {}
			}
		},
		onLoad(options) {
			// options.items =  this.encodeSearchKey(options.items)
  			// this.doorAddress = JSON.parse(decodeURIComponent(options.items));
			this.addressObj = JSON.parse(decodeURIComponent(options.addressObj))
		},
		onShow(){
			// let pages = getCurrentPages();
			// let currPage = pages[pages.length - 1]; // 当前页的实例
			// this.addressObj = currPage.$vm.addressObj
			// if (this.addressObj.status) {
			// 	this.formData.status =  this.addressObj.status
			// 	this.curIndex = this.addressObj.status
			// }
			// this.$nextTick(() => {
			// 	this.$refs.me.mescroll.triggerDownScroll()
			// 	this.$refs.me.mescroll.scrollTo(0, 300)
			// })
		},
		methods: {
			// async signPdf() {
			// 	let pdfFildId = ''
			// 	let signImgId = '';
			// 	let projectId = '';
			// 	uni.navigateTo({
			// 		url: `./SignPdf?pdfFildId=${pdfFildId}&signImgId=${signImgId}`
			// 	});
			// },
			async sign() {
			},
			// tab切换
			changeTab(event) {
				// if(event == 1){
				// 	uni.navigateTo({
				// 		url: `/pAppointmentDelivery/bookingDelivery/idPhoto?showTo=1&sId=ff808081802195420180221341880047&sSheetStatus=${item.sSheetStatus}`
				// 	})
				// }
				// if(event == 2){
				// 	uni.navigateTo({
				// 		url: `/pAppointmentDelivery/bookingDelivery/map?showTo=1&sId=ff808081802195420180221341880047&sSheetStatus=${item.sSheetStatus}`
				// 	})
				// }
				this.formData.status = event
				this.curIndex = event
				// this.$nextTick(() => {
				// 	this.$refs.me.mescroll.triggerDownScroll()
				// 	this.$refs.me.mescroll.scrollTo(0, 300)
				// })
			}
		}
	}
</script>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss" scoped>
	.tab{
		margin: 16rpx 0;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.custom .navbar .action {
		width: 33%;
		justify-content: space-between;
		margin-left: 24upx;
	}
	/deep/.custom .navbar .content{
		    width: calc(100% - 574upx)
	}
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.list-container1{
		background: #fff;
	}
	/deep/.list-content-container.alignLeft .title-wrapper {
		width: 184rpx;
		min-width: 184rpx;
	}
	/deep/.list-content-container.alignLeft .title-wrapper text  {
		width: 184rpx;
	}
	/deep/.list-content .title-wrapper{
		width: 100rpx!important;
		min-width: 100rpx!important;
	}
	/deep/.list-content .title-wrapper text{
		width: 100rpx!important;
	}
	.bottomMargin{
		padding-bottom: 100rpx;
	}
	
	/deep/.cnd-field-item .cnd-field-label {
		width: 130rpx!important;
	}
	/deep/.titlelab .cnd-field-label {
		width: 96rpx!important;
	}
	/deep/.titlelab .cnd-field-item{
		padding: 10rpx 0 10rpx 18rpx!important;
	}
	// /deep/.titlelab.cnd-field-item .cnd-field-label {
	// 	width: 96rpx!important;
	// }
	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		border: 1px solid #dedede;
		padding: 10rpx;
		padding-right: 6rpx;
		border-radius: 14rpx;
	}
</style>
