<template>
	<view>
		<cnd-navbar color="white" isBack>
			<block slot='content'>单据查询</block>
		</cnd-navbar>
		<view class="list-container">
			<mescroll-item ref="me" :formData="formData" :warehouse="warehouse"></mescroll-item>
		</view>
	</view>
</template>
<script>
	import CndNavbar from '@/components/navbar/cnd-navbar'
    import MescrollItem from './components/mescroll-item.vue'
	
	export default {
		name: 'cnd-tabs-demo',
		data() {
			return {
				currentIndex5: null,
				stateList: [],
				badge:'no',
				dataList5: [],
                formData: {
					parameter: '',
					status: '',
					scrollHeight: 0,
				},
				sId: [],
				sGoodsOwnerId:'',
				sGoodsOwnerName:'',
				show: false,
				userInfo: {},
				roleNameStatus: {},
				sWarehouseId: '',
				warehouse: [],
				
			}
		},
		components: {
			CndNavbar,
            MescrollItem,
			
		},
		onShow(){
			// this.$nextTick(() => {
			// 	this.$refs.me.mescroll.triggerDownScroll()
			// 	this.$refs.me.mescroll.scrollTo(0, 300)
			// })
			this.userInfo = uni.getStorageSync("userInfo");
			let warehouse = this.userInfo.warehouse
			let _b = [{name: '--所有仓库--', id: 'quanbu'}]
			warehouse = _b.concat(warehouse);
			this.warehouse = warehouse.map(ele => {
				return{
					value: ele.id,
					label: ele.name
				}
			})
			
		},
		mounted() {
			// this.sState()
			this.roleNameStatus = uni.getStorageSync('roleNameStatus')
			// for(let i in this.userInfo.role){
			// 	if(this.userInfo.role[i].roleName == this.roleNameStatus.driver && this.userInfo.role.length <= 1 || this.userInfo.role[i].roleName == this.roleNameStatus.securityStaff && this.userInfo.role.length <= 1){
			// 		this.formData.scrollHeight = 420
			// 	}else{
			// 		this.formData.scrollHeight = 570
			// 	}
			// }
		},
		methods: {
			
			
		}
	}
</script>

<style>
	page {
		background-color: #F1F5F7;
	}
</style>

<style lang="scss" scoped>
	$cnd-demo-margin-h: 32rpx;
	$cnd-demo-margin-v: 20rpx;
	$cnd-demo-wrapper-padding: 20rpx;
	$cnd-demo-border-radius: 16rpx;
	
	.cnd-tabs-demo {
		.demo-box {
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			margin: auto;
			// background-color: $gray-0;
			border-radius: 0;
		
			
			.demo-wrapper {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				box-sizing: border-box;
				padding: $cnd-demo-wrapper-padding 0 $cnd-demo-wrapper-padding 0;
				
				&.block {
					display: block;
				}
			}
		}
	}
	.demo-wrapper  .scroll-container.scrollable {
		overflow: initial;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.container{
		padding:24upx 0 0 0!important;
	}
	/deep/.navbar.custom.navbar.action {
		width: 33%!important;
		justify-content: space-between!important;
		margin-left: 24upx!important;
	}
	/deep/.cnd-field {
		margin: 0!important;
	}

	/deep/.cnd-field-item .cnd-field-label {
		width: 96upx!important;
	}

	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		padding-right: 0!important;
	}
	/deep/.cssfl {
		width: 50%;
		float: left;
	}
	/deep/.cnd-field-item {
		height: 95upx!important;
		// line-height: 65upx!important;
		padding: 32upx!important;
	}
	/deep/.cnd-button.contained {
		height: auto !important;
		width: auto !important;
		margin: 16upx 36upx 16upx 10upx !important;
		border-radius: 14upx !important;
		font-size: 28upx !important;
		padding: 8upx 22upx !important;
	}
	.uni-input-placeholder {
		color: black!important;
	}
</style>
