<template>
	<view>
		<view class="bottomMargin">
			<view class="tab">
				<cnd-tabs :length="tabList.length">
					<cnd-tab class="contentsTab" v-for="(item, index) in tabList" :key="index" v-model="curIndex" :index="item.status" :title="item.title"
					@getActive="changeTab(item.status)"></cnd-tab>
				</cnd-tabs>
			</view>
			<view class="list-container" v-show="curIndex == 1">
				<storeLoc :formData="formData" ref="store" :info="info" :warehouse="addressObj" :list="list" :showTos="'2'" :i="curIndex" :index="curIndex"></storeLoc>
			</view>
			<view class="list-container1" v-show="curIndex == 2">
				<idPhoto ref="photo" :formData="formData" :sIds="sId" :showTos="'1'" :i="curIndex" :index="curIndex"></idPhoto>
			</view>
			<view class="function-box new-page" v-if="!formData.sId">
				<view class="block">
					<cnd-button color="primary" size="block" icon="no" @clickEvent="save">提交</cnd-button>
				</view>
			</view>
			<view class="function-box new-page" v-if="formData.sId && formData.statusEdit == 'true' || formData.carform == 'false'">
				<view class="block">
					<cnd-button color="primary" size="block" icon="no" @clickEvent="modify">修改</cnd-button>
				</view>
			</view>
		</view>
		<my-popup ref="mpopup" :isdistance="true"></my-popup>
	</view>
</template>

<script>
	import CndTab from '@/components/tabs/tab.vue';
	import CndTabs from '@/components/tabs/tabs.vue';
	import storeLoc from './components/store-loc.vue'
	import idPhoto from './components/idPhoto.vue'
	import CndButton from "@/components/button/button";
	export default {
		components: {
			CndTab,
			CndTabs,
			storeLoc,
			idPhoto,
			CndButton,
		},
		data() {
			return {
				sId: 'ff80808180500b940180503a096200de',
				curIndex: 1,
				isReload: true,
				tabList: [{
						title: '随车小票',
						status: 1
					},
					{
						title: '证件照片',
						status: 2
					}
				],
				formData: {
					parameter: '',
					status:1,
					numsQty: '',
					numsQtx: '',
					sId: '',
					statusEdit: 'true',
					process: '-1',
					carform: 'true',
				},
				addressObj:{},
				info:{
					// sCoilNo: "",
					// sPlaceOrigin: "",
					// sProductName: "",
					// sQtx: 0,
					// sQty: 0,
					// sSpecifications: "",
					// sTextureMaterial: "",
				},
				list:[
					// {
					// 	"sPlaceOrigin":"",
					// 	"sProductName":"",
					// 	"sTextureMaterial":"",
					// 	"sSpecifications":"",
					// 	"sQty":0,
					// 	"sQtx":0,
					// 	"sCoilNo":""
					// }
				],
				addressObj: {},
				photoImg:{},
				infodetailImg:{},
				getDelivery:{},
				sIsFinish: true,
				// statusEdit:true,
				type: 'default'
			}
		},
		onLoad(options) {
			let {
				sId,
				statusEdit,
				process,
				carform
			} = options;
			this.formData.process = process //是否加工预约单查询数据，'0':是，否则：通用预约单查询数据；默认通用预约单查询
			this.formData.statusEdit = statusEdit;//是否允许修改，true：是，false：否
			this.formData.sId = sId; //是否新增预约单，没有sId则是新增
			this.formData.carform = carform;//是否要修改全部预约单信息，true：是，false：否（该权限给业务管理，目前只可以改车牌号）；默认true
			// options.itemthis.formData.sId = sId;s =  this.encodeSearchKey(options.items)
  			// this.doorAddress = JSON.parse(decodeURIComponent(options.items));
			if (!this.formData.sId) {
				this.addressObj = JSON.parse(decodeURIComponent(options.addressObj))
			}
			console.log('仓库',this.addressObj,this.formData)
            uni.$on('actions', e => {
				this.list = e;
			})
			uni.$on('onsQty', e => {
				// this.info.sQty = e;
				this.formData.numsQty = e
			})
			uni.$on('onsQtx', e => {
				// this.info.sQtx = e;
				this.formData.numsQtx = e
				console.log('onsQtx',this.info.sQtx)
			})
		},
		async onShow(){
			
			
			// uni.$on('onsQty', e => {
			// 	this.info.sQty = e;
			// })
			// uni.$on('onsQtx', e => {
			// 	this.info.sQtx = e;
			// 	console.log('onsQtx',this.info.sQtx)
			// })
			// let pages = getCurrentPages();
			// let currPage = pages[pages.length - 1]; // 当前页的实例
			// this.addressObj = currPage.$vm.addressObj
			// if (this.addressObj.status) {
			// 	this.formData.status =  this.addressObj.status
			// 	this.curIndex = this.addressObj.status
			// }
			// this.$nextTick(() => {
			// 	this.$refs.me.mescroll.triggerDownScroll()
			// 	this.$refs.me.mescroll.scrollTo(0, 300)
			// })
		},
		async mounted() {
			if (this.formData.sId) {
				await this.getList();
				this.formData.numsQtx = this.info.sQtx
				this.formData.numsQty = this.info.sQty
				this.addressObj = this.info
			}

			let pages = getCurrentPages();
			let currPage = pages[pages.length - 1]; // 当前页的实例
			if(currPage.$vm.addressObj){
				this.addressObj = currPage.$vm.addressObj
			
				console.log('打印', this.addressObj)
			}
			// await this.getInfo()
		},
		methods: {
			hide() {
				this.$refs.uToast.hide();
			},
			async getList() {
				if (this.formData.process == '0') {
					let res = await this.$http(
						"techcomp/ria/commonProcessor!commonMethod.action", {
							dataStores: {},
							parameters: {
								"sInbillId":this.formData.sId,
								"_parameters":"sInbillId",
								"_parameterTypes":"string",
								"dcID":"wmsis",
								"_boId":"wmsis_ifsWmsInBillBO_bo",
								"_methodName":"queryInbillDetail",
								"_methodParameterTypes":"String"
							},
						}
					);
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						let list =
							JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
						console.log("明细查询数据-process", list);
						this.list = list.pojoList
						this.info = list;
					} else {
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2500,
							isClick:false
						});
					}
				} else{
					let res = await this.$http(
						"techcomp/ria/commonProcessor!commonMethod.action", {
							dataStores: {},
							parameters: {
								"sBoardTicketId":this.formData.sId,
								"_parameters":"sBoardTicketId",
								"_parameterTypes":"string",
								"dcID":"wmsis",
								"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
								"_methodName":"queryBoardTicketDetail",
								"_methodParameterTypes":"String"
							},
						}
					);
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						let list =
							JSON.parse(res.dataStores.result.rowSet.primary[0].resultData) || [];
						console.log("明细查询数据", list);
						this.list = list.pojoList
						this.info = list;
					} else {
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2000,
							isClick:false
						});	
					}
				}
				
			},
			// 保存接口
			async save(showResult = true) {
				// this.formList.sUserPhoneNumber = uni.getStorageSync("j_phone");
				// if (showResult) {
				// 	if (
				// 		!this.formList.sWarehouseName ||
				// 		!this.formList.sDeliveryDate ||
				// 		!this.formList.sArtName ||
				// 		!this.formList.sWeight ||
				// 		!this.formList.sDeliveryParty ||
				// 		!this.formList.sDeliveryPartyPhoneNumber ||
				// 		!this.formList.sCarNo ||
				// 		!this.formList.sDriverPhoneNumber ||
				// 		!this.formList.sThicknessRange
				// 	) {
				// 		uni.showToast({
				// 			title: "红色字体为必录项，请检查！",
				// 			icon: "none",
				// 		});
				// 		return;
				// 	}
				// }
				if (!this.info.sId) {
					this.info = this.$refs.store.infos;
					 uni.$on('actions', e => {
						this.list = e;
					})
					// this.list = this.$refs.store.list;
					// this.$refs.photo.getInfo()
					this.photoImg = this.$refs.photo.infoImg;
					
					this.infodetailImg = this.$refs.store.infodetailImg
				}
				let numImg = []
				numImg = numImg.concat(this.photoImg.imgList)
				numImg = numImg.concat(this.photoImg.imgList2)
				numImg = numImg.concat(this.photoImg.imgList3)
				numImg = numImg.concat(this.photoImg.imgList4)
				if (this.infodetailImg) {
					numImg = numImg.concat(this.infodetailImg.imgList)
				}
				
				numImg = numImg.map(ele => {
					return{
						"fid": ele.sId
					}
				})
				console.log('打印保存list',this.list )
				console.log('打印保存info',this.info )
				console.log('打印保存photoImg',this.photoImg )
				console.log('打印保存infodetailImg',this.infodetailImg)
				console.log('打印保存numImg',numImg )
				uni.showLoading({
					title: '请稍候...',
					mask: true
				});
				// return
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores":{},
						"parameters":{
							// "_boId":"wmsis_ifsWmsInBillBO_bo",
							// "_methodName":"doCreateInbill",
							"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
							"_methodName":"doCreateBoardTicket",
							"_methodParameterTypes":"String",
							"_parameterTypes":"string",
							"_parameters":"mapParams",
							"dcID":"wmsis",
							"mapParams":{
								"pojoList":this.list,
								"filesinfo":numImg,
								"sReceiveTime":this.info.sReceiveTime,
								"sGoodsOwnerId":this.info.sGoodsOwnerId,
								"sGoodsOwnerName":this.info.sGoodsOwnerName,
								"sVehicleVesselNo":this.info.sVehicleVesselNo,
								"sQty":this.formData.numsQty,
								"sQtx":this.formData.numsQtx,
								"sWarehouseId":this.info.sWarehouseId,
								"sWarehouseName":this.info.sWarehouseName
							}
						}
					}
				);
				if (showResult) {
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						// uni.showToast({
						// 	title: "预约成功",
						// 	icon: "none",
						// 	success: () => {
						// 		uni.hideLoading();
						// 		setTimeout(() => {
						// 			let iIndex = getCurrentPages().findIndex(
						// 				(ele) => ele.route === "pages/index/index"
						// 			);
						// 			let iPage = getCurrentPages()[iIndex];
						// 			iPage.$vm.isReload = false;
						// 			uni.navigateBack({
						// 				delta: iIndex === -1 ? 1 : getCurrentPages()
						// 					.length - iIndex - 1,
						// 			});
						// 		}, 500);
						// 	},
						// });
						this.$refs.mpopup.open({
							type:'success',
							content:'预约修改成功',
							timeout:2000,
						});
						uni.hideLoading();
						setTimeout(() => {
							let iIndex = getCurrentPages().findIndex(
								(ele) => ele.route === "pages/index/index"
							);
							let iPage = getCurrentPages()[iIndex];
							iPage.$vm.isReload = false;
							uni.navigateBack({
								delta: iIndex === -1 ? 1 : getCurrentPages()
									.length - iIndex - 1,
							});
						}, 500);
					} else {
						uni.hideLoading();
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2500,
							isClick:false
						});	
					}
				}
			},
			// 修改接口
			async modify(showResult = true) {
				// if (!this.info.sId) {
					this.info = this.$refs.store.infos;
					 uni.$on('actions', e => {
						this.list = e;
					})
					// this.list = this.$refs.store.list;
					// this.$refs.photo.getInfo()
					this.photoImg = this.$refs.photo.infoImg;
					
					this.infodetailImg = this.$refs.store.infodetailImg
				// }
				let numImg = []
				numImg = numImg.concat(this.photoImg.imgList)
				numImg = numImg.concat(this.photoImg.imgList2)
				numImg = numImg.concat(this.photoImg.imgList3)
				numImg = numImg.concat(this.photoImg.imgList4)
				if (this.infodetailImg) {
					numImg = numImg.concat(this.infodetailImg.imgList)
				}
				
				numImg = numImg.map(ele => {
					return{
						"fid": ele.sId
					}
				})
				console.log('打印保存list',this.list )
				console.log('打印保存info',this.info )
				console.log('打印保存photoImg',this.photoImg )
				console.log('打印保存infodetailImg',this.infodetailImg)
				console.log('打印保存numImg',numImg )
				uni.showLoading({
					title: '请稍候...',
					mask: true
				});
				// return
				let res = await this.$http(
					"techcomp/ria/commonProcessor!commonMethod.action", {
						"dataStores":{},
						"parameters":{
							"_boId":"wmsis_ifsWmsBoardTicketBO_bo",
							"_methodName":"updateBoardTicket",
							"_methodParameterTypes":"String",
							"_parameterTypes":"string",
							"_parameters":"mapParams",
							"dcID":"wmsis",
							"mapParams":{
								"pojoList":this.list,
								"filesinfo":numImg,
								"sReceiveTime":this.info.sReceiveTime,
								"sGoodsOwnerId":this.info.sGoodsOwnerId,
								"sGoodsOwnerName":this.info.sGoodsOwnerName,
								"sVehicleVesselNo":this.info.sVehicleVesselNo,
								"sQty":this.formData.numsQty,
								"sQtx":this.formData.numsQtx,
								"sWarehouseId":this.info.sWarehouseId,
								"sWarehouseName":this.info.sWarehouseName,
								"sId":this.info.sId
							}
						}
					}
				);
				if (showResult) {
					if (res.dataStores.result.rowSet.primary[0].resultCode == 0) {
						// uni.showToast({
						// 	title: "预约修改成功",
						// 	icon: "none",
						// 	success: () => {
						// 		uni.hideLoading();
						// 		setTimeout(() => {
						// 			let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
						// 			let iPage = getCurrentPages()[iIndex]
						// 			iPage.$vm.isReload = false
						// 			uni.navigateBack({
						// 				delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
						// 			})
						// 		}, 500)
								
						// 	},
						// });
						this.$refs.mpopup.open({
							type:'success',
							content:'预约修改成功',
							timeout:2000,
						});
						uni.hideLoading();
						setTimeout(() => {
							let iIndex = getCurrentPages().findIndex(ele => ele.route === 'pages/queryProgress/index')
							let iPage = getCurrentPages()[iIndex]
							iPage.$vm.isReload = false
							uni.navigateBack({
								delta: iIndex === -1 ? 1 : getCurrentPages().length - iIndex - 1
							})
						}, 500)
					} else {
						uni.hideLoading();
						// uni.showToast({
						// 	title: `${res.dataStores.result.rowSet.primary[0].resultMsg}`,
						// 	icon: "none",
						// 	mask: true,
						// });
						this.$refs.mpopup.open({
							type:'warn',
							content:`${res.dataStores.result.rowSet.primary[0].resultMsg}`,
							timeout:2500,
							isClick:false
						});	
					}
				}
			},
			// tab切换
			changeTab(event) {
				// if(event == 1){
				// 	uni.navigateTo({
				// 		url: `/pAppointmentDelivery/bookingDelivery/idPhoto?showTo=1&sId=ff808081802195420180221341880047&sSheetStatus=${item.sSheetStatus}`
				// 	})
				// }
				// if(event == 2){
				// 	uni.navigateTo({
				// 		url: `/pAppointmentDelivery/bookingDelivery/map?showTo=1&sId=ff808081802195420180221341880047&sSheetStatus=${item.sSheetStatus}`
				// 	})
				// }
				this.formData.status = event
				this.curIndex = event
				// this.$nextTick(() => {
				// 	this.$refs.me.mescroll.triggerDownScroll()
				// 	this.$refs.me.mescroll.scrollTo(0, 300)
				// })
			}
		}
	}
</script>
<style>
	page {
		background-color: #F1F5F7;
	}
</style>
<style lang="scss" scoped>
	.tab{
		margin: 16rpx 0;
	}
	// #ifdef MP-WEIXIN
		.contentsTab{
			display: contents !important;
		}
	// #endif
	/deep/.custom .navbar .action {
		width: 33%;
		justify-content: space-between;
		margin-left: 24upx;
	}
	/deep/.custom .navbar .content{
		    width: calc(100% - 574upx)
	}
	.bottom-btn {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.list-container1{
		background: #fff;
	}
	/deep/.list-content-container.alignLeft .title-wrapper {
		width: 184rpx;
		min-width: 184rpx;
	}
	/deep/.list-content-container.alignLeft .title-wrapper text  {
		width: 184rpx;
	}
	/deep/.list-content .title-wrapper{
		width: 100rpx!important;
		min-width: 100rpx!important;
	}
	/deep/.list-content .title-wrapper text{
		width: 100rpx!important;
	}
	.bottomMargin{
		padding-bottom: 100rpx;
	}
	
	/deep/.cnd-field-item .cnd-field-label {
		width: 130rpx!important;
	}
	/deep/.titlelab .cnd-field-label {
		width: 96rpx!important;
	}
	/deep/.titlelab .cnd-field-item{
		padding: 10rpx 0 10rpx 18rpx!important;
	}
	// /deep/.titlelab.cnd-field-item .cnd-field-label {
	// 	width: 96rpx!important;
	// }
	/deep/.cnd-field-item .cnd-field-value .cnd-field-value-body {
		border: 1px solid #dedede;
		padding: 10rpx;
		padding-right: 6rpx!important;
		border-radius: 14rpx;
	}
	/deep/.disabledInput .cnd-field-value .cnd-field-value-body{
		background: whitesmoke!important;
		// padding: 12upx 20upx!important;
	}
	/deep/.cell{
		height: 40rpx!important;
		line-height: 40rpx!important;
	}
</style>
